<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_SharePoint_SharePointDataSource" Codebehind="~/CMSWebParts/SharePoint/SharePointDatasource.ascx.cs" %>
<%@ Register Src="~/CMSWebParts/SharePoint/SharePointDatasource_files/SharePointDatasource.ascx"
    TagName="SPDataSource" TagPrefix="cms" %>
<cms:SPDataSource ID="SPDataSource" runat="server" />
