﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/SharePoint/SharePointDataSourceV2.ascx.cs" Inherits="CMSWebParts_SharePoint_SharePointDataSourceV2" %>
<%@ Register Src="~/CMSWebParts/SharePoint/SharePointDatasource_files/SharePointDatasourceV2.ascx"
    TagName="SPDataSource" TagPrefix="cms" %>

<cms:SPDataSource ID="SPDataSource" runat="server" />
