.FRCA{
   
   .main-nav{
      li{
         margin-left: 10px;
         padding-left: 10px;
         a{
            font-size:rem-calc(13.5);
         }
         ul{
            li{
               margin: 0;
               padding-left: 0;
            }
         }
          a.button.small{
            padding-left:10px;
            padding-right: 10px;
          }
      }
   } 

   .site-header {
      .utility-nav{
         padding:2px 0;
         li{
            margin-left: .5rem;
            a{
               font-size: 12px;
               letter-spacing: 0;
            }
            .sub-nav-group{
               a{
                  font-size: 12px;
               }
            }
         }
         
         .province-dd-wrap{
            .accessible-megamenu{
               margin-left: 0;
               .sub-nav-group{
                  li{
                     margin-left: 0 !important;                     
                  }
               }
            }
         }         
      }
   }

   .flexpanel .nav-back{
      width: 148px;
   }

   .donate-bar {
      p{
         font-size: 14px;
         position: relative;
         top: 2px;
      }
      label{
         font-size: 13px;
         margin-right: 15px;
      }
      input[type=text]{
         margin-right: 15px;
      } 
   }

   td[data-content="Type de service"]{
      min-width: 122px;
   }

   td[data-content="Adresse"]{
      min-width: 210px;
   }
   td[data-content="Dist."]{
      min-width: 80px;
   }
   td[data-content="Téléphone"]{
      min-width: 165px;
   }

   /* Desktop Social Share */

   .addthis_button_facebook_like{
   background: url("/crc/images/socialshare-fb-fr.svg") 0px 1px no-repeat;
   width: 59px !important;
   height: 28px !important;
   margin: 0 3px 0 0;

      & > *{
         opacity: 0 !important;
      }
   }

   @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
     .addthis_button_facebook_like{
      margin-top:-1px;
     }
   }

   .addthis_button_tweet{
      background: url("/crc/images/socialshare-twitter.svg") no-repeat;
      width: 72px !important;
      height: 28px !important;
      background-size: 69px;

      & > *{
         opacity: 0;
      }
   }
   .addthis_button_email{
      background: url("/crc/images/socialshare-send-fr.svg") no-repeat;
      width: 64px !important;
      height: 28px !important;
      margin-right: 1px;

      background-size: 62px;

      & > *{
         opacity: 0
      }
   }
   .addthis_counter{
      background: url("/crc/images/socialshare-share-fr.svg") no-repeat;
      width: 80px !important;
      height: 21px;

      & > *{
         opacity: 0
      }
   }
   .crc-rss{
      text-align: right;
      margin-right: 11px;
   }

}