body.Gecko11,
body.IE10,
body.IE9,
body.IE8{   
   .donate-now .main-content .form-container .donate-form fieldset ul.price-points li input[type=text]{
      padding: 0 5px;
   }
   
}


 
body.IE8{
   min-width: 1024px;
}
.IE8{
   font-size:14px;
   .column,
   .columns {
      padding-left: 18px;
      padding-right: 18px;
   }

   .content img{
      width: inherit !important;  /* Make images fill their parent's space. Solves IE8. */
      max-width: 100% !important; /* Add !important if needed. */
      height: auto !important;
   }

   select { 
      font-family:Helvetica, Arial !important; 
      color: #000000;
      padding: 0;
      border-radius: 0;
      background: #fff;
   }
   select option {
      font-family:Helvetica, Arial !important; 
   }

   [class*="block-grid-"] > li {
      padding: 0 10px 0px;
   }

   .inline-list > li {
      margin-left: 13px;
   }
   
   .donate-site-main ul.donate-select-nav li a span{
      position: static;
   }

   .donate-now .form-container{
      background-repeat: no-repeat;
   }
   // header fixes //
   .site-header .social-icons li {
      margin-left: 10px;
   }
   .site-header .utility-nav a {
      font-size: 13px;
   }
   .donate-bar .row {
      padding: 7px 0;
   }
   // end header fixes //
   ul.pagination li{
      padding:5px;
   }
   ul.pagination li a, ul.pagination li button {
      display: inline-block;
      padding: 4px 10px 4px;
   }
   .svg,
   [xmlns="http://www.w3.org/2000/svg"],
   .site-header .province-dd-wrap span {
     display: none;
   }
   
   .ros-banner{
      border-top: 1px solid #efefef;
      position: fixed;
      z-index: 1000000000000000000000000000;
   }

   h1{
      line-height: 1.3;
   }
   .row{
      max-width: 1100px;
   }
   .site-main .row,
   .site-footer .row{
      height: auto;
   }
	.slick-dots-wrapper{
		background-color: #efefef;
	} 

	.hide-for-large-up{
		display: none;
	}

	.flexpanel{
		display: none !important;
	}
	
	.cta.twitter{
   	display: block;
   	overflow: hidden;
   	width: 100%;
   	clear: both;
	}

	
	.main-nav{
		ul.inline-list{
			overflow: visible;
		}
		li{
			position: relative;
           a{
              font-size:15px;
           }
		} 
		.sub-nav{
			right: 0 !important;
			top: 100%;
           z-index: 10000000000000000000000000000;
		}
	}
	li.province-dd{
		.sub-nav{
			top: 20px;
		}
	}
	.ctas {
      padding: 20px 0;
      display: block;
      overflow: hidden;
      display: block;
      width: 100%;
   }
   
   .donate-bar{
      height: 46px;
      padding-bottom: 10px;
      padding-top:7px;
      overflow: hidden;
      display: inline-block;
      width: 100%;
      .row{
         padding: 0;
      }
   }
   
   
   .slick-dots-wrapper ul.slick-dots li button {
      padding: 0 20px;
      .vertical-align{
         position: static;      
      }
      .icon{
         display: none !important;
      }
   }
   
   .social-widget.page-share,
   .subscribe img,
   .crc-rss{
      display: none !important;
   }
   .rich-text img{
      width:auto !important;
   }
  
}