@media only screen and (max-width: 59.438em) { //1024px
  .site-main.home{
    margin-top: -15px;
  }
  // Mobile Header
  .top-bar{
    border-bottom:1px solid $dark-border-color;
    height: 48px;
    overflow: hidden;
    a{
      display: block;
      height: 48px;
      font-size: 1.2rem;
      img{
         position: relative;
         top: -2px;
      }
    }
    .menu-btn{
      border-bottom: 1px solid $dark-border-color;
      a{
         color:$white;
         text-transform: uppercase;
         font-weight: bold;
         padding-left: 20px;
         background: url("/crc/images/mobile-preloader.svg") 10px center no-repeat;
         transition: all 500ms ease;
         -webkit-transition: all 500ms ease;
         -moz-transition: all 500ms ease;
         -ms-transition: all 500ms ease;
         -o-transition: all 500ms ease;
      }
      &.loaded{ 
        a{
          background: none !important;
          padding-left: 0px;
        }
      }
    }
    .menu-icon{
      background-color:$white;
      border-top:1px solid $border-color;
      border-left:1px solid $border-color;
    }
    .donate{
      background:$primary-color;
      border-top:1px solid $primary-color;
      a{
        color:$white;
        text-transform: uppercase;
        font-weight: bold;
      }

    }
  }

  // Mobile Footer
  .mobile-footer{
    p{
      font-size: rem-calc(14);
    }

    nav{
      ul {
        margin-left: 0;
        li{
          list-style: none;
          margin-left: 0;
          border-bottom:1px solid $white;
          background: $mobile-buttons;
          text-align: center;
          &:last-child{ background-color: $primary-color; }
          a, span{
            @include navLinks(14);
            color: $white;
            font-weight:bold;
            text-align:center;
            padding:0.75em 0; 
            display: block;
          }
          span.has-tip{
            opacity:0.5;
            display: inline-block;

            &:hover{
              color:#fff;
            }
          }
        }
      }
    }
    .province-dd-wrap{

      ul{
        margin-bottom: 0px;
        border-top:1px solid $white;
        li{
          
          &.province-dd{
            position: relative;
            text-align: center;
            background-color: $mobile-buttons !important;
            cursor: pointer;

            li{
              background: $mobile-provinceBG;
            }

            &:before{
              content:"";
              background: url("/crc/images/chevron-tri.svg") no-repeat center center ;
              position: absolute;
              right: 10px;
              top: 12px;
              width: 20px;
              height: 20px;
              z-index: 100;
              transition: transform 300ms ease;
              -webkit-transition: transform 300ms ease;
              -moz-transition: transform 300ms ease;
              -ms-transition: transform 300ms ease;
              -o-transform: rotate(31deg);
              -webkit-transform: rotate(31deg);
              -moz-transform: rotate(31deg);
              -ms-transform: rotate(31deg);
              -o-transform: rotate(31deg);
            }

            ul{
              display: none;
            }

            &.open{
              ul{
                display: block; 
              }
              &:before{ 
                top:9px;
                transform: rotate(1deg);
                -webkit-transform: rotate(1deg);
                -moz-transform: rotate(1deg);
                -ms-transform: rotate(1deg);
                -o-transform: rotate(1deg);
              }
            }
          }

          &:last-child{
            background: $mobile-provinceBG;
          }
        }
      }
      
      .btn-province-dd{
          display: inline-block;
          padding:0 30px;
        & > span{
          color: $white;
          font-weight:bold;
          text-transform: inherit;
          font-size: rem-calc(14);
          padding:0.75em 0; 
          display: inline-block;
        }
        a{
          display: inline-block;
        }
      }
    }

    ul.social{
      width: 100%;
      margin: 34px auto 26px;
      display: inline-block;
      text-align: center;
      li{
         float: none;
         display: inline-block;
         vertical-align: top;
         margin: 0;
      }
    }

    .subscribe{
      padding: 30px 5% 30px;
      h3{
         font-weight: 600;
         font-size: 20px;
         line-height: 1.35;
      }
      a.button{
         display: block;
         width: 100%;
         text-align: center;
         margin: 0;
      }
    }

  }

  .panel{
    margin-bottom: 1em;
  }

  #feedbackify{ display:none;}
  .slick-dots-wrapper{display:none;}
}

@media #{$small-only} {
  .top-bar a{
    font-size: 0.86rem;
  }
  .articles{
    article{
      img{
        margin-bottom: 20px !important;
      }
       div:last-child{
        padding-left: 0px;
       }
    }
  }
  
}

@media #{$medium-only} {
  .large-3{
    padding-top:15px;
  }
}

