
body{
  font-size: rem-calc(14);
  font-family: $font-family-sans-serif;

} 

h1, .h1{
 font-size:rem-calc(25);
 line-height:rem-calc(32);
 font-weight:600;
}

h2, .h2{
 font-size:rem-calc(18);
 line-height:rem-calc(28);
 font-weight:600;
 margin-bottom: 15px;
 margin-top: 0px;
}
h3, .h3{
 font-size:rem-calc(16);
 line-height:rem-calc(22);;
 font-weight:700;
 color: $heading-color;
 //margin-bottom: 20px;
 margin-top: 0px;
}
h4, .h4{
 font-size:rem-calc(14);
 line-height:rem-calc(20);
 font-weight:600;
 color: $heading-color;
 margin-bottom: 20px;
 margin-top: 0px;
}

h5, .h5{
 font-size:rem-calc(13);
 line-height:rem-calc(18);
 font-weight:700;
 color: $heading-color;
 margin-bottom: 20px;
 margin-top: 0px;
} 

h6, .h6{
 font-size:rem-calc(13);
 line-height:rem-calc(18);
 font-weight:600;
 color: $heading-color;
 margin-bottom: 20px;
 margin-top: 0px;
}

.panel h3{
  color: $primary-color;
  padding-top: 1em;
  margin-bottom: 0;
}

ul, 
form{
   margin: 0;
   padding: 0;
}

p{
  font-size: rem-calc(14);
  margin: 0 0 1rem;
}
a{
  text-decoration:none;
  &:hover{
    text-decoration: none;
  }
  p{
    color: $body-font-color;
  }
  h3{
    color:$primary-color;
  }
}

.fa-chevron-right:before {
  font-size: 11px;
}