//$small:
$medium: 40.063em;
$large: 59.438em;

$slider-extra-breakpoint:  65.313em;

$border-color: #e0e0e0; // light grey
$dark-border-color:#959595; // #3d3e3f; // dark grey
$key-line: #e0e0e0; // color for lines above left nav, separators

$footer-color: #3d3e3f; // dark grey
$light-color: #ffffff; // white (light color for font on dark bg)

$hr: #e0e0e0;
$mobile-buttons: #757678; // medium grey footer nav on mobile


// Headings
$heading-color: #383838; // dark grey
$body-font-color: #414244; // dark grey
$left-nav-color: #2b2b2b; // dark grey

// Backgrounds
$cta-with-bg: #e0e0e0; // light grey
$twitter-bg: #F7F7F7; // light blue
$donate-bar-bg: #3a7ba6; // medium blue
$donate-bar-variant-bg: #ececec; //light grey
$donate-bar-variant-font: #363636;
$side-nav-bg: #ededed;
$side-nav-active: #d8d8d8; // medium grey
$side-nav-active-child: #fff; //light grey
$side-nav-hover: #f8f8f8; // lighter grey
$pagination: #757678; // dark grey
$main-nav-drop-hover: #ededed; //light grey
$home-slider: #eff0ed; // light grey
$home-slider-headings: #757678; // dark grey

$panel-bg: #ececec;
$disabled: #b2b2b2;

$inputBorder: #d8d9db;

/*Table*/

$table-border-color: #bfbfbf; // darkish grey
$table-header: #e7e7e7; // light grey
$table-row: #f0f0f0; // lightish grey

//Mobile Nav

$mobileBg: #3d3e3f;
$mobile-border: #757678;
$mobile-back: #e0e1dc;
$mobile-provinceBG: #9e9fa1;

$currentBg: #535456;


//Promo Banner
$bannerBg: #3d3e40;
$main-nav-sub: #757678;