@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,500);
@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
@import "settings", 
// "foundation/components/accordion", 
//  "foundation/components/alert-boxes",  
"foundation/components/block-grid", //  "foundation/components/breadcrumbs",
//  "foundation/components/button-groups", 
"foundation/components/buttons",
"foundation/components/clearing", //  "foundation/components/dropdown",
//  "foundation/components/dropdown-buttons",
//  "foundation/components/flex-video",
"foundation/components/forms",
"foundation/components/visibility",
"foundation/components/grid",
"foundation/components/inline-lists", //  "foundation/components/joyride",
//  "foundation/components/keystrokes", 
"foundation/components/labels", //  "foundation/components/magellan",
//  "foundation/components/orbit",
"foundation/components/pagination", //  "foundation/components/panels",
//  "foundation/components/pricing-tables",
//  "foundation/components/progress-bars",
//  "foundation/components/reveal",
//  "foundation/components/side-nav",
//  "foundation/components/split-buttons", 
//  "foundation/components/sub-nav",
//  "foundation/components/switches",
//  "foundation/components/tables",
//  "foundation/components/tabs",
//  "foundation/components/thumbs",
"foundation/components/tooltips",
"foundation/components/top-bar", //  "foundation/components/type",
"foundation/components/offcanvas";
@import "mixins",
"variables",
"typography",
"components/buttons",
"components/forms",
"components/sideNav",
"components/breadcrumbs",
"components/pagination",
"components/slickSlider",
"components/accordion",
"components/banner",
"components/gmaps",
"components/search",
"components/socialShare",
"components/tables",
"components/twitterWidget",
"components/promoBanner",
"components/shareTheLove",
"components/rightRailCTA",
"components/mobileNav",
"components/mainNav",
"components/donate",
"components/quiz",
"components/richText",
"components/videos",
"mobile",
"french",
"ie8";
body,
html {
    &.stationary {
        overflow: hidden;
    }
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.columns,
.column {
    -ms-overflow-style: none;
}

p {
    font-size: rem-calc(14);
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: scale-color($primary-color, $lightness: -20%);
        &:after {
            text-decoration: none;
        }
    }
    p {
        color: $body-font-color;
    }
    img {
        @include imgLinksHover(); // adds the fade transition to/from on hover.
    }
}

hr {
    border-color: $hr;
}

.offscreen {
    position: absolute;
    left: -999em;
}

.caption {
    font-size: 13px;
    color: #ccc;
    display: inline-block;
    padding: 5px 0.9375em;
    display: block;
}

// tooltip Styles
.tooltip {
    background: rgba(0, 0, 0, 0.6);
}

.nub {
    opacity: 0.7;
}

// One off classes
.block {
    display: block;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 500;
}

.border-top {
    border-top: 1px solid $key-line;
    padding-top: 16px !important;
}

.border-bottom {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $key-line;
}

.border-top-bottom {
    border-top: 1px solid $key-line;
    border-bottom: 1px solid $key-line;
}

/* Text meant only for screen readers. */
.sr-only {
    border: 0;
    clip: rect( 1px, 1px, 1px, 1px );
    clip-path: inset( 50% );
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal;
}

// Intro text area styles
.intro {
    display: block;
    border-bottom: 1px solid $key-line;
    padding-bottom: 16px;
}

.intro-wrap {
    margin-bottom: 20px;
}

// Site Header
.site-header {
    height: 185px;
    .logo {
        width: 220px;
        height: 64px;
        position: absolute;
        top: 55px;
        left: 20px;
        body.FRCA & {
            width: 245px;
        }
        svg {
            width: 100%;
            height: auto;
        }
        a img:hover {
            opacity: 1;
        }
        // @media only screen and (max-width: 65.313em) {
        //   top:70px;
        // }
    }
    .row {
        height: 185px;
        .row {
            height: auto;
        }
    }
    .utility-nav {
        margin-top: 8px;
        .utility-nav {
            border-right: 2px solid #e0e0e0;
        }
        li {
            @include navLinks(12.5);
            text-transform: inherit;
            letter-spacing: 0.5px;
            line-height: 1;
        }
        a {
            @include navLinks(12.5);
            &:hover {
                @include navLinksHover();
            }
        }
        nav {
            li {
                &:last-child {
                    padding-right: 1em;
                }
            }
            span[data-tooltip] {
                opacity: 0.5;
            }
        }
        .inline-list {
            margin-left: 0;
            z-index: 73;
            position: relative;
        }
        .social-icons {
            a {
                @include imgLinksHover();
            }
        }
    }
    .province-dd-wrap {
        span {
            position: relative;
            top: -1px;
            left: 2px;
        }
        ul {
            float: right;
            list-style: none;
            margin-top: 8px;
            margin-right: 10px;
            margin-left: 10px;
            position: relative;
            li {
                line-height: 1;
                &:last-child {
                    border-right: none;
                    padding-right: 0;
                }
            }
        }
        .sub-nav {
            position: absolute;
            right: 0;
            top: 30px;
        }
    }
    .social-icons li {
        margin-left: 0.5rem;
        max-width: 30px;
    }
    .search {
        margin-top: 10px;
        position: relative;
        input[type="text"] {
            width: 200px;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            transition: all .5s ease;
            position: absolute;
            right: 36px;
            height: 34px;
            padding: 0 10px;
            &:focus {
                width: 350px;
            }
        }
        a {
            &.search-btn {
                @include imgLinksHover();
                display: block;
                right: 2px;
                top: 3px;
                width: 24px;
                height: 24px;
                position: relative;
                // img {
                //     display: inline-block;
                //     max-width: 100%;
                // }
            }
        }
        .svg-wrapper {
            width: 24px;
            height: 24px;
        }
    }
    .drp-down {
        margin-top: 3px;
        padding-left: 15px;
        ul {
            li {
                list-style: none;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}

a.mobile-logo {
    display: block;
    width: 170px;
    position: relative;
    height: 50px;
    margin: 25px 0;
    body.FRCA & {
        width: 188px;
    }
    svg {
        width: 100%;
        height: auto;
    }
}

// Site Footer
.site-footer {
    .copyright {
        background: $footer-color;
        color: $white;
        padding: 18px 0;
    }
    p {
        margin-bottom: 0;
        position: relative;
        font-size: rem-calc(13);
        float: left;
    }
    ul {
        margin-bottom: 0;
    }
    a {
        color: inherit;
        font-size: rem-calc(13);
        &:hover {
            @include navLinksHover();
        }
    }
}

// Site Main
.site-main {
    //min-height: 550px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

// Mobile Footer
.mobile-footer {
    margin-top: 1.250em;
    .text-center {
        padding-bottom: 10px;
    }
}

.site-main {
    display: block;
}

// Home Page
.home {
    .site-main {
        padding-top: 0;
    }
}

// @media #{$medium-only} {
//     .home .site-main {
//         padding-top: 0;
//     }
// }
.donate-bar {
    background-color: $donate-bar-bg;
    &.grey {
        background-color: $donate-bar-variant-bg;
        p,
        input[type=radio]+label,
        input[type=text] {
            color: $donate-bar-variant-font;
            font-weight: 500;
            border-color: $hr;
        }
    }
    .row {
        padding: 0.5rem 0;
        .right {
            padding-right: 0.9375rem;
        }
        .left {
            padding-left: 0.9375rem;
        }
    }
    p {
        margin-bottom: 0;
        color: $white;
        font-size: rem-calc(17);
        margin-top: 3px;
        @media only screen and (max-width: 1000px) {
            font-size: rem-calc(14);
            margin-top: 4px;
        }
    }
    a {
        margin-bottom: 0;
    }
    input {
        margin-bottom: 0;
        border-color: #fff;
        &[type="text"] {
            width: 90px;
            height: 30px;
            line-height: 15px;
            font-size: 12.5px;
            float: left;
            margin: 1px 20px 0 0;
            @include transition(width, 200ms);
            &:focus {
                width: 110px;
                border-color: #fff;
            }
        }
        &[type="radio"] {
            cursor: pointer;
            +label {
                margin-right: 1.1rem;
                color: $white;
                cursor: pointer;
            }
        }
    }
    .form {
        float: right;
    }
}

.slider {
    img {
        width: 100%;
    }
}

.panel {
    padding: 2px;
    border: 1px solid $border-color;
    h3,
    p {
        padding-left: 16px;
        padding-right: 16px;
    }
    img {
        width: 100%;
    }
}

.subscribe {
    background: $border-color;
    padding: 1.563em; // 15px
    @media #{$large-up} {
        -webkit-box-shadow: inset 0 0 0 2px #fff;
        -moz-box-shadow: inset 0 0 0 2px #fff;
        box-shadow: inset 0 0 0 2px #fff;
    }
    .svg-wrapper {
        width: 55px;
        height: 55px;
        vertical-align: top;
    }
    h2 {
        font-size: rem-calc(25);
        color: $heading-color;
        font-weight: 400;
        width: 70%;
        padding-top: 2px;
        margin-left: 12px;
        margin-bottom: 34px;
        display: inline-block;
    }
    p {
        padding-left: 0;
    }
    hr {
        margin: 10px 0 24px;
        border-top: 1px solid $primary-color;
        opacity: 0.4;
    }
    @media #{$small-only} {
        h3 {
            text-align: center;
            display: block;
        }
    }
}

// CTAs
section {
    &.ctas {
        padding: 2em 0;
    }
}

// Fully clickable CTAs
a.cta {
    margin-bottom: 15px;
    display: block;
    @include transition(all);
    p span {
        color: $primary-color;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #000;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
    }
    i {
        font-size: 12px;
    }
    &:hover {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
        @include transition(box-shadow, 200ms);
        text-decoration: none;
        h3 {
            text-decoration: underline;
            color: scale-color($primary-color, $lightness: -20%);
            &:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
        p {
            text-decoration: none;
            span {
                text-decoration: underline;
                color: scale-color($primary-color, $lightness: -20%);
            }
        }
        img {
            opacity: 1;
        }
    }
}

.cta {
    &.bg {
        background-color: $cta-with-bg;
    }
}

.panel {
    @media #{$small-only} {
        height: auto !important;
    }
    h3 {
        font-size: 1.2rem;
        font-weight: 400;
        margin-left: 0em;
        line-height: 1.35;
        margin-bottom: 20px;
    }
    img {
        padding: 0;
    }
    p {
        margin-bottom: 15px;
        &:empty {
            border: 1px solid red;
            display: none;
        }
    }
}

.home .panel h3 {
    font-size: rem-calc(23);
    padding-left: 16px;
}

// Listing pages
.featured-list {
    a {
        display: block;
        img {
            margin: 0 0 20px 0;
        }
    }
}

// Stacks of CTAs
.listing {
    padding-bottom: 1em;
    h3 {
        margin-top: -4px;
    }
    p {
        margin-bottom: 0;
        a {
            margin-top: 10px;
        }
    }
    a {
        margin-bottom: 0;
        display: inline-block;
        i {
            font-size: 12px;
        }
    }
    &:first-child.row .border-top {
        border: none;
    }
    &.no-borders {
        article {
            border: none !important;
            padding: 2em 0;
        }
        &:first-child article {
            padding-top: 0;
        }
    }
    article {
        padding: 1.2em 0;
        border-top: 1px solid $key-line !important;
        a {
            width: 100%;
        }
        &:first-child {
            border: none !important;
        }
        &:after {
            content: ".";
            display: block;
            height: 0;
            font-size: 0;
            clear: both;
            visibility: hidden;
        }
        border:none;
    }
    &:after {
        content: ".";
        display: block;
        height: 0;
        font-size: 0;
        clear: both;
        visibility: hidden;
    }
    article.full-repeater{
        p {
            margin-bottom: 15px;
        }
        .icon {
            padding: 15px 30px;
        }
    }
    @media #{$large-up} {
        .large-4 {
            padding-left: 0px;
        }
    }
    .desc {
        a * {
            margin-bottom: 0;
        }
        a:first-child {
            margin: -3px 0 10px 0; // Negative margin applied to horizontally align image & title due to line-height
            font-size: 1rem;
        }
        &.large-12 {
            padding-left: 0px;
        }
    }
    &:after {
        content: ".";
        display: block;
        height: 0;
        font-size: 0;
        clear: both;
        visibility: hidden;
    }
    &:first-child {
        border: none;
    }
    @media #{$medium-up} {
        img {
            width: 100%;
        }
    }
    @media #{$small-only} {
        .desc {
            padding-left: 0;
        }
        img {
            margin-bottom: 1em;
        }
    }
}

.grid {
    .row {
        padding-bottom: 20px;
    }
}

//Listing Modules
.news {
    margin-bottom: 20px;
    article {
        margin-bottom: 15px;
        * {
            margin-bottom: 0;
        }
    }
    a {
        i {
            font-size: 0.68em;
        }
    }
}

// Search Listing
.search-results {
    article {
        @extend .border-bottom;
    }
}

// CTA Block
body .right-rail .intro-cta {
    padding: 25px 15px 25px 15px !important;
    margin-bottom: 20px;
    p {
        font-weight: 600;
        font-size: rem-calc(18);
        margin-bottom: 30px;
    }
    &.light {
        background: white;
        p {
            color: $heading-color;
        }
    }
    &.dark {
        background: $heading-color;
        p {
            color: white;
        }
    }
    * {
        margin: 0px;
    }
    .button {
        &:after {
            right: 12px;
        }
    }
}

// Main Content styles
main {
    a {
        font-weight: 600;
    }
    ul {
        list-style: none;
        padding: 0 0 1em 1em;
        margin: 0;
        li {
            font-size: rem-calc(14);
            padding-bottom: 0.5em;
            list-style-image: url("/crc/images/red-bullet.png");
        }
        &.no-bullet {
            padding-left: 0;
            li {
                list-style-image: none;
            }
        }
    }
    ol {
        padding: 0 0 1em 2.5em;
        margin: 0;
        li {
            font-size: rem-calc(14);
            padding-bottom: 0.5em;
        }
    }
    input[type="text"],
    input[type="email"] {
        height: 40px;
        margin-bottom: 20px;
    }
}

// Lists | block grid
[class*="block-grid-"]>li {
    text-indent: 0;
    &:before {
        content: '';
    }
}

// Lists | Programs & Services
.program-services {
    li {
        text-align: center;
        padding: 10px 2% 40px 2%;
        img {
            margin-bottom: 10px;
        }
        p,
        a {
            color: $primary-color;
            font-weight: 600;
            margin-bottom: 0;
        }
        &:hover a {
            text-decoration: underline;
            line,
            path,
            line {
                fill: red;
            }
        }
    }
}

.small-cta {
    article {
        @extend .border-bottom;
        padding-bottom: 10px;
        img {
            margin-bottom: 20px;
        }
    }
}

.course-details {
    .duration {
        font-style: italic;
    }
    .description {
        margin-top: 15px;
        img {
            // max-width:50%;
        }
    }
}

// nested links ie: targetting elements other than text in a link
.nested-links {
    a {
        p {
            color: $primary-color;
            margin-top: 5px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

ul.pdf-list {
    padding-left: 0;
    li {
        background: url("/crc/images/icon-pdf.png") no-repeat;
        padding-left: 25px;
        list-style-image: none;
    }
}

.img-full img {
    width: 100%;
    margin: 0;
}

.panel-wrap {
    background: $panel-bg;
    padding: 15px;
    margin-bottom: 20px;
    ul {
        //padding: 0;
        li {
            //list-style: none;
            // padding-left: 20px;
            // padding-left: 3px;
            // list-style-position: inside;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    p:last-child {
        margin-bottom: 0px;
    }
}


/* --- ROS Banner --- */

.ros-banner {
    text-align: center;
    bottom: 0;
    left: 0;
    padding: 3px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: white;
    box-shadow: 1px 1px 7px #ccc;
    -moz-box-shadow: 1px 1px 7px #ccc;
    -ms-box-shadow: 1px 1px 7px #ccc;
    -o-box-shadow: 1px 1px 7px #ccc;
}

.column,
.columns {}

@media #{$small-only} {
    .columns>.panel-wrap,
    .column>.panel-wrap {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
    }
}

//Kentico styles
.live-site .cmsdesk-widget-title {
    display: none !important;
}

// Spinning Keyframe animation
@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.EditMode .WebPartContent .columns {
    float: none;
}

.EditMode,
.DesignMode {
    .site-container.desktop .donate-site-header .contact-us {
        position: relative;
        width: 300px;
        float: right;
        top: -200px;
    }
    .site-container .donate-site-header {
        nav.donate-nav {
            display: block !important;
        }
        .logo {
            position: relative;
        }
        .donate-desktop-title {
            position: relative
        }
    }
}


/* Tax Calculator - inherited from 2013*/

.tax-calculator {
    min-height: 400px;
    padding: 30px 5%;
    @media #{$medium-only} {
        padding: 30px 20px 0;
    }
    @media #{$large-up} {
        padding: 50px 100px 0;
    }
}

.tax-calculator aside {
    background: #f5f5f5;
    padding: 20px;
    margin: 0;
    width: 100%;
}

.tax-calculator aside {
    display: block;
    overflow: hidden;
}

.tax-calculator aside dl {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.tax-calculator aside dl.top-border {
    border-top: 1px solid #bcbcbc;
    padding-top: 20px;
}

.tax-calculator aside dt {
    float: left;
    width: 60%;
    font-size: .9em;
    font-weight: 400;
}

.tax-calculator .first-time-donor-intro {
    padding-top: 60px !important;
}

.tax-calculator .first-time-donor {
    padding-top: 10px;
}

.tax-calculator aside dd {
    float: right;
    width: 35%;
    font-size: .9em;
    font-weight: 400;
    text-align: right;
}

.tax-calculator input[type=text] {
    width: 100%;
    display: block;
    padding: 5px;
    margin-bottom: 18px;
    @media #{$large-up} {
        width: 50%;
    }
}

.tax-calculator input[type=radio] {
    margin-right: 5px;
}

.tax-calculator select {
    width: 100%;
    display: block;
    padding: 3px;
    margin-bottom: 18px;
    @media #{$large-up} {
        width: 50%;
    }
}

.tax-calculator label {
    color: #000;
    font-size: 1em;
    display: block;
    margin-bottom: 0;
    text-align: left;
    font-weight: 600;
    cursor: pointer;
}

.tax-calculator .radio-buttons-container {
    display: block;
    clear: both;
}

.tax-calculator .donate-now {
    border: 1px solid red;
    padding: 20px;
    font-size: 1.2em;
    margin-top: 60px;
    text-align: center;
}

.tax-calculator .donate-now p {
    font-weight: 700;
    text-align: center;
}

.tax-calculator .donate-now>a {
    margin: 15px auto 0;
    display: inline-block;
}

.tax-calculator .donate-now>a:after {
    background-image: none;
}

.tax-calculator input[type=button],
.tax-calculator .donate-now>a {
    padding: 12px 20px;
    font-size: 14px;
}

.tax-calculator .footnote {
    border-top: 1px solid #bcbcbc;
    margin-top: 50px;
    padding-top: 50px;
    font-size: .8em;
}

.svg-wrapper {
    display: inline-block;
    position: relative;
    svg {
        position: relative;
        width: 100%;
        height: auto;
    }
    &.twitter,
    &.facebook,
    &.instagram {
        width: 30px;
        height: 30px;
        padding: 0;
        background: none;
        border: none;
        margin: 0;
    }
}

svg {
  .st0 {
    display: block !important;
  }
}

