<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Community_MediaLibrary_GroupMediaLibraryDataSource" Codebehind="~/CMSWebParts/Community/MediaLibrary/GroupMediaLibraryDataSource.ascx.cs" %>
<%@ Register TagPrefix="cms" Namespace="CMS.MediaLibrary" Assembly="CMS.MediaLibrary" %>
<cms:MediaLibraryDataSource ID="srcMedia" runat="server" />
