﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.Controls.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.Controls" Assembly="CMS.Controls" %><h2><a href="<%# GetDocumentUrl() %>"><%# GetDate("PressReleaseDate") %> - <%# Eval("PressReleaseTitle",true) %></a></h2>
<p><em><%# Eval("PressReleaseSummary") %></em></p>