﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_AdminControls_Controls_Class_FormBuilder_FormComponents"
    Codebehind="FormComponents.ascx.cs" %>

<asp:Panel runat="server" ID="pnlFormComponents" CssClass="form-components">
    <cms:LocalizedHeading ID="headComponents" runat="server" ResourceString="formbuilder.components" Level="3" EnableViewState="false" CssClass="components-heading" />
</asp:Panel>
