<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_CRC_WebParts_ArchiveFilter"
    Codebehind="~/CMSWebParts/CRC/WebParts/ArchiveFilter.ascx.cs" %>
<cms:QueryRepeaterWithEffect id="repItems" runat="server" />
