<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_CRC_WebParts_RegionFilter" Codebehind="~/CMSWebParts/CRC/WebParts/RegionFilter.ascx.cs" %>
<asp:Label ID="lblInfo" runat="server" Visible="false" CssClass="InfoLabel" />
<cms:BasicRepeater ID="rptCategoryList" runat="server" />
<asp:Literal ID="ltlList" runat="server"></asp:Literal>