<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSPages_Ecommerce_GetProduct" Codebehind="GetProduct.aspx.cs" %>

<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title>Get product</title>
</head>
<body>
    <form id="form1" runat="server">
        <asp:Label ID="lblInfo" runat="server" EnableViewState="false" Visible="false" />
    </form>
</body>
</html>
