@import '_settings.scss';
@import 'react-select/scss/default';

:local(.photos-form-container) {
  background: #ececec;
  margin: 30px 0;
  padding: 25px;
  border: 1px solid #bdbdbd;

  hr {
    border: 1px solid #bdbdbd;
    margin: 14px 0;
  }
}

:local(.description) {
  color: #414244;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 15px;
}

:local(.photos-form) {
  input[type="text"],
  input[type="email"] {
    padding: 8px 12px;
    font-size: 14px;
  }
  // button[type="submit"] {
  //   padding: 8px 30px 8px 15px;
  //   &:after {
  //     right: 15px;
  //   }
  // }

  button {
    // border-radius: 3px;
    // padding: 8px 30px 8px 24px;
    // margin: 0 0 1.35rem;
    margin-top: 26px;
    &:after{
      right: 17px;
    }
  }

  button[type="submit"]:disabled {
    background-color: #c9c9c9;
  }

  @media #{$small-only} {
    button {
      width: 100%;
    }
  }
}

:local(.footer-description) {
  font-size: 12px;
  font-style: italic;
}

:local(.fields) {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;

  @media #{$small-only} {
    flex-direction: column;
    margin-bottom: 15px;
  }
}

:local(.form-success) {
  input[type="submit"] {
    background-image: url('../../../crc/images/download.png');
    background-repeat: no-repeat;
    background-size: 13px 12px;
    background-position: 87% center;
    padding-right: 47px;
  }
}
