<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Badges_FormControls_BadgeSelector" Codebehind="BadgeSelector.ascx.cs" %>

<cms:CMSDropDownList ID="drpBadges" runat="server" CssClass="DropDownField" />
