<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/CMSMasterPages/UI/EmptyPage.master"
    Inherits="CMSModules_Content_Attachments_DirectFileUploader_FileUploader" Title="File Uploader"
    ValidateRequest="false" EnableEventValidation="false" Codebehind="FileUploader.aspx.cs" %>

<asp:Content ID="cntBody" runat="server" ContentPlaceHolderID="plcContent">
    <asp:Panel ID="pnlUploaderElem" runat="server">
    </asp:Panel>
</asp:Content>
