<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/CMSMasterPages/LiveSite/EmptyPage.master"
    Inherits="CMSModules_Content_Attachments_DirectFileUploader_PublicFileUploader" Title="File Uploader"
    ValidateRequest="false" Theme="Default" EnableEventValidation="false" Codebehind="PublicFileUploader.aspx.cs" %>

<asp:Content ID="cntBody" runat="server" ContentPlaceHolderID="plcContent">
    <asp:Panel ID="pnlUploaderElem" runat="server">
    </asp:Panel>
</asp:Content>
