<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_SocialMedia_Twitter_TwitterFollowButton" Codebehind="~/CMSWebParts/SocialMedia/Twitter/TwitterFollowButton.ascx.cs" %>
<asp:Literal runat="server" ID="ltlFollowButtonCode" EnableViewState="false" />