﻿<%@ Page Language="C#" AutoEventWireup="true" Codebehind="AnalyticsLog.aspx.cs" Inherits="CMSModules_WebAnalytics_Pages_Content_AnalyticsLog" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Analytics Log</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
