﻿<%@ Page Language="C#" AutoEventWireup="true" Codebehind="Main.aspx.cs" Inherits="CMSAPIExamples_Pages_Main" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <title>CMS API Examples</title>
</head>
<frameset border="0" cols="304,*" runat="server" id="colsFrameset">
    <frame runat="server" id="frmMenu" name="menu" noresize="noresize" frameborder="0" />
    <frame name="content" runat="server" noresize="noresize" frameborder="0" />
</frameset>
