<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Friends_Controls_RequestFriendship" Codebehind="RequestFriendship.ascx.cs" %>
<cms:LocalizedHyperlink ID="lnkFriendsRequest" runat="server" Visible="true" CssClass="RequestFriend" EnableViewState="false" />