﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_StrandsRecommender_StrandsRecommendations" Codebehind="~/CMSWebParts/StrandsRecommender/StrandsRecommendations.ascx.cs" %>
<asp:Label ID="lblError" runat="server" CssClass="ErrorLabel Strands" Visible="false" EnableViewState="false" />     

<div class="strandsRecs" runat="server" ID="strandsRecs" ></div>