﻿.banner .caption {
  position:absolute;
  right:10px;
  top:55px;
  width:460px;
}

.banner .caption h1, .banner .caption h2, .banner .caption h3, .banner .caption h4, .banner .caption p {
  color:rgba(255, 255, 255, 1);
  font-weight:400;
}