@import '_settings.scss';

:local(.banner-set) {
  padding: 20px 0;

  .banner-160 {
    width: 190px;
  }
  .banner-120 {
    width: 180px;
  }
  .banner-468 {
    width: 498px;
  }
  .banner-300 {
    width: 330px;
  }
  .banner-728 {
    width: 758px;
  }
  .banner-125 {
    width: 185px;
  }
}

:local(.banner-list) {
  margin: 30px -15px 0;
}

:local(.banner) {
  // float: left;
  padding: 0 15px;
  margin-bottom: 30px;
}

:local(.banner-title) {
  font-weight: 600;
}

:local(.codes) {
  padding-top: 30px;
}

:local(.label) {
  text-align: left;
  display: inline-block;
  margin-bottom: .5rem;
  font-size: 14px;
  text-align: left;
  font-weight: 600;
}
