<% if (typeof root === "undefined"){ %>
<div class="title">
    <a href="<%= url %>" class="nav-back nav-title" tabindex="-1">Back</a>
</div>
<% } %>
<div class="nav-group-inner">
    <ul>

        <% if( !hideLink ) {%>
        <li>
            <a href="<%= url %>" class="nav-child cp-track" data-event="generic-event" data-category="navigation" data-action="mobile main nav" data-label="<%= title %>" tabindex="-1"><%= title %></a>
        </li>
        <% }%>

        <% _.each( children, function(child, index) { %>
        <li>
            <a href="<%= child.url %>" data-index="<%= index %>"
               class="nav-child <% if( !_.isEmpty(child.children)) { %> has-child <% } %> cp-track" data-event="generic-event" data-category="navigation" data-action="mobile main nav" data-label="<%= child.title %>" tabindex="-1">
                <%= child.title %>
            </a>
        </li>
        <% }); %>
    </ul>

</div>

