<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Wireframe_Forms_CheckBox" Codebehind="~/CMSWebParts/Wireframe/Forms/CheckBox.ascx.cs" %>
<asp:Literal  runat="server" ID="ltlChk" EnableViewState="false" />
<cms:EditableWebPartProperty runat="server" id="ltlText" CssClass="WireframeText" PropertyName="Text" Type="TextBox" />