﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="PersonaInformation.ascx.cs" Inherits="CMSModules_Personas_Controls_PersonaInformation" %>

<div id="divPersonaInfoContent" runat="server">
    <asp:Image runat="server" ID="imgPersonaImage" />
    <asp:Label runat="server" ID="lblPersonaName" CssClass="form-control-text" />
</div>