﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="PersonaContactCounter.ascx.cs" Inherits="CMSModules_Personas_Controls_PersonaContactCounter" %>

<h4>
    <span runat="server" ID="lblCount" style="margin-right: 2em;"></span>
    <span runat="server" ID="lblRatio"></span>
</h4>