:local(.container) {
  text-align: center;
}

:local(.button) {
  font-size: 14px;
  padding-left: 37px !important;
  padding-right: 29px !important;

  &:after {
    left: 23px !important;
    top: 40% !important;
    transform: rotate(180deg) !important;
  }
}