<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Content_Controls_Dialogs_YouTube_YouTubeSizes" Codebehind="YouTubeSizes.ascx.cs" %>
<asp:HiddenField runat="server" ID="hdnWidth" />
<asp:HiddenField runat="server" ID="hdnHeight" />
<asp:PlaceHolder runat="server" ID="plcSizes" />