<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Content_Controls_Dialogs_YouTube_YouTubeColors" Codebehind="YouTubeColors.ascx.cs" %>
<asp:HiddenField runat="server" ID="hdnColor1" />
<asp:HiddenField runat="server" ID="hdnColor2" />
<asp:PlaceHolder runat="server" ID="plcColors" />