<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Navigation_cmstabcontrol" Codebehind="~/CMSWebParts/Navigation/cmstabcontrol.ascx.cs" %>
<cms:CMSTabControl ID="tabElem" runat="server" />
