<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Navigation_cmstreeview" Codebehind="~/CMSWebParts/Navigation/cmstreeview.ascx.cs" %>
<cms:CMSTreeView ID="treeView" runat="server" />
