<%@ Control Language="C#" AutoEventWireup="true"
            Inherits="CMSModules_Newsletters_Controls_SubscriberFilter" Codebehind="SubscriberFilter.ascx.cs" %>

<div class="form-condition-cell-generated">
    <cms:CMSDropDownList ID="filter" runat="server" />
</div>
<div class="form-value-cell-generated">
    <cms:CMSTextBox ID="txtEmail" runat="server" />
</div>