.donate-salary {
  text-align:center;
  font-size:160%;
  margin:auto;
  text-align:center;
}
.donate-salary .top {
  background-image:url(../images/bg-calc-top.png);
  background-repeat:no-repeat;
  background-position:top center;
  display:block;
  width:100%;
  height:89px;
}
.donate-salary h2, 
.donate-salary h3,
.donate-salary h4 {
  font-family: 'Cabin', sans-serif;
  text-transform:uppercase;
}
.donate-salary h2 {
  color:#FF0000;
  font-size:33px;
  line-height:145%;
}
.donate-salary.fr h2 {
  font-size:29px;
}
.donate-salary h2 span {
  display:block;
  font-size:81px;
  padding-bottom:10px;
  *line-height:78%;
}
.donate-salary.fr h2 span {
  font-size:66px;
}
.donate-salary .step2 h2 {
  font-size:34px;
  line-height:110%;
  letter-spacing:-0.055em;
  margin-top:10px;
}

.donate-salary .step2 h3 {
  margin-bottom:10px;
}

.donate-salary .step2 h4 {
  margin-bottom:0px;
}

.donate-salary .step2 ul {
    padding: 0;
}

.donate-salary.fr .step2 h2 {
  font-size:29px;
  *font-size:28px;
  line-height:110%;
  letter-spacing:-0.055em;
  margin-top:10px;
}
.donate-salary .step2 h2 span {
  font-size:60px;
}
.donate-salary.fr .step2 h2 span {
  font-size:60px;
}
.donate-salary .step2 h2.price, .donate-salary .step2 h2.price span {
  font-size:45px;
  *font-size:45px;
  letter-spacing:0;
  *letter-spacing:-2px;
  *line-height:178%;
}
.donate-salary.fr .step2 h2.price, .donate-salary.fr .step2 h2.price span {
  font-size:45px;
  letter-spacing:-0.055em;
}
.donate-salary h3 {
  font-size:28px;
  *font-size:26px;
  color:#747678;
  line-height:110%;
  font-weight:600;
  margin:auto;
}
.donate-salary.fr h3 {
  font-size:22px;
}
.donate-salary .c-col2 h3 {
  font-size:45px;
}
.donate-salary h4 {
  font-size:24px;
  color:#747678;
  line-height:110%;
  text-transform:none;
  letter-spacing:0.055em;
}
.donate-salary .step2 h4 {
  text-align:left;
}
.donate-salary.fr .step2 h4 {
  letter-spacing:0;
}
.donate-salary h5 {
  font-size:23px;
  color:#747678;
  line-height:110%;
  text-transform:uppercase; 
}
.donate-salary .step2 h5 {
  font-size:23px;
  color:#747678;
  line-height:110%;
  text-transform:uppercase; 
  text-align:left;
}
.donate-salary .divider {
  background-image:url(../images/divider-calc-title.png);
  background-repeat:repeat-x;
  display:block;
  height:3px;
  margin:10px auto !important;
  width:100%;
}
.donate-salary p {
  line-height:140%;
  font-size:14px;
  color:#747678;
  font-family: 'Cabin', sans-serif;
  font-weight:600;
  margin:auto;
}

.donate-salary h3, .donate-salary h4, .donate-salary h5{
	font-weight:600;
}

.donate-salary p.red {
    color: #FF0000;
}

.donate-salary .step2 p {
  text-align:left;
}
.donate-salary .txt-center,
.donate-salary .step2 p.txt-center {
  text-align:center;
}
.donate-salary p.small{
  font-size:11px;
  font-weight:400;
}
.donate-salary p a {
  color:#424242;
  text-decoration:underline;
  font-size:90%;
}
.donate-salary ul {
  margin:10px 0;
  display:table;
}
.donate-salary ul,
.donate-salary ul li {
  text-align:left;
  font-size:13px;
  list-style:none;
  background-image:none;
}
.donate-salary ul li {
  padding:9px 0;
  margin:0;
  display:block;
  clear:both;
}
.donate-salary ul li.has-pretty-child span {
  margin:3px 0 0;
  display:block;
    padding-left: 40px;
}
.donate-salary ul li input[type="radio"]{
}
.donate-salary select {
	position: absolute;
  padding:15px 0;
}
.donate-salary .step2 {
  display:none;
}
.donate-salary .fancy-select {
  width:260px;
  margin:10px auto 0;
}
.donate-salary .fancy-select form {
  margin:0;
}
.donate-salary .input {
  border:1px solid #424242;
  padding:0 15px;
  margin-top:2px;
}
.donate-salary .box input {
  border:0;
  border-bottom:1px solid #424242;
  width:50%;
}
/*
.donate-salary .button {
  background-color:#FF0000;
  border:1px solid #FF0000;
  color:#FFF;
  text-transform:uppercase;
  text-align:center;
  height:25px;
  line-height:23px;
  font-size:14px;
  font-family: 'Cabin', sans-serif;
  margin:10px auto;
  display:block;
  clear:both;
} 
*/
.donate-salary .step2 .button {
  *line-height:19px;
}
.donate-salary .button:hover {
  background-color:#747678;
  border:1px solid #747678;
  color:#FFF;
  text-decoration:none;
}
.donate-images {
  display:table-cell;
  vertical-align:bottom;
  text-align:center;
}
.main-content .donate-images img, .donate-salary  .donate-images img{
  margin:10px 1px !important;
}
.c-col1,
.c-col2,
.c-col3 {
  display:table-cell;
  vertical-align:middle;
  width:100%;
  overflow:hidden;
  *display:block;
  *float:left;
}
.c-col1 {
  width:238px;
}
.c-col2 {
  width:50px;
}
.c-col3 {
  width:156px;
}
.c-col2 {
  margin:0 0;
}
/* TIERED WIDTHS */
.donate-salary .w465, .W465 {
  max-width:465px;
  margin:auto;
}
.donate-salary .w457, .W457 {
  max-width:457px;
  margin:auto;
}
.donate-salary .w449 {
  max-width:449px;
  margin:auto;
}
.donate-salary .w395 {
  max-width:395px;
}
.donate-salary .w355 {
  max-width:355px;
}
.donate-salary .w322 {
  max-width:322px;
}
.donate-salary .w294 {
  max-width:294px;
}
.donate-salary .w260 {
    width:260px;
}
/*FANCY INPUTS*/
span.customSelect {
  font-size:14px;
  text-transform:uppercase;
  font-weight:bold;
  background-color: #FFF;
  color:#747678;
  padding:0;
  border:1px solid #9FDBEA;
}
span.customSelect.changed {
  background-color: #f0dea4;
}
.customSelectInner {
  background:url(../images/form/customSelect-arrow.png) no-repeat center right;
  padding:5px 0;
  width:260px !important;
  color:#747678;
  border:1px solid #9FDBEA;
}
.customSelect.customSelectOpen {
  background-color: #FFF;
  color:#747678;
  border:1px solid #9FDBEA;
}
.customSelect.customSelectFocus {
  background-color: #FFF;
  color:#747678;
  border:1px solid #9FDBEA;
}

.prettycheckbox,
.prettyradio {
    padding:0;
    margin:0;
    float:left;
}

.prettycheckbox a,
.prettyradio a{
    width: 30px;
    height: 30px;
    background: url(../images/form/prettyCheckable-blue.png) top left no-repeat;
    display: block;
    float: left;
    cursor: pointer;
    margin:0;
}

.prettyradio a {background-position: 0 -120px;}

.prettycheckbox a:focus,
.prettyradio a:focus {outline: 0 none;}

.prettycheckbox a:focus{background-position: 0 -30px;}
.prettyradio a:focus{background-position: 0 -150px;}

.prettycheckbox a.checked{ background-position: 0 -60px; }
.prettyradio a.checked { background-position: 0 -180px; }

.prettycheckbox a.checked:focus{ background-position: 0 -90px; }
.prettyradio a.checked:focus { background-position: 0 -210px; }

.prettycheckbox label,
.prettyradio label {
  display: block;
  float: left;
  margin: 6px 5px;
  cursor: pointer;
}

.prettycheckbox.disabled a,
.prettyradio.disabled a,
.prettycheckbox.disabled label,
.prettyradio.disabled label{
  cursor:not-allowed;
}

.prettycheckbox.disabled a {
  background-position: 0 -240px;
}

.prettyradio.disabled a {
  background-position: 0 -270px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  .donate-salary .fancy-select {margin-top:-40px;}
 .donate-salary select {
   position:relative !important;
   top:51px;
   left:1px;
}
}

@media only screen and (max-width: 40em){
.donate-salary .step2  img {
    margin: 10px 1px !important;
    display: inline-block !important;
    padding: 0 !important;
}

.donate-salary .step2 h2 {
    font-size: 19px !important;
}

.donate-salary .step2 h2 span {
    font-size: 35px !important;
}

.donate-salary h2 span {
    font-size: 50px !important;
}

.donate-salary .step2 h2.price, .donate-salary .step2 h2.price span {
    font-size: 50px !important;
    letter-spacing: 0;
}

.donate-salary .top {
    display:none;
}
}
