@import '_settings.scss';

:local(.lightbox-item) {
  background: none;
  padding: 0;
  border: 0;
  width: 100%;

  &:hover, &:focus {
    background: none;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 132px;
  }

  @media #{$small-only} {
    img {
      height: 300px;
    }
  }
  @media #{$medium-only} {
    img {
      height: 210px;
    }
  }
}

:local(.credits) {
  font-size: 12px;
  font-style: italic;
  line-height: 17px;
  color: #414244;
  margin-bottom: 15px;
}

:local(.download-text) {
  color: #414244;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 4.6px;
}

:local(.download-link) {
  font-size: 14px;
  margin-right: 20px;
  font-weight: 400;
}

:local(.zoom-icon) {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #E2130A;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  & > i {
    font-size: 14px;
  }
}
