<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Search_cmssearchdialog" Codebehind="~/CMSWebParts/Search/cmssearchdialog.ascx.cs" %>

<cms:CMSSearchDialog ID="srchDialog" runat="server" />
&nbsp;
