﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Search_GoogleSearch"
    Codebehind="~/CMSWebParts/Search/GoogleSearch.ascx.cs" %>
<asp:Literal runat="server" ID="ltlGoogleSearch" />