﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="community_group.ascx.cs" Inherits="CMSModules_ImportExport_Controls_Export_Site_community_group" %>
<%@ Register Src="~/CMSModules/ImportExport/Controls/Export/Site/media_library.ascx" TagName="MediaLibrarySettings"
    TagPrefix="cms" %>
<cms:MediaLibrarySettings runat="server" ID="mlSettings"/>