<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_ImportExport_Controls_Export_Site_forums_forum" Codebehind="forums_forum.ascx.cs" %>
<asp:Panel runat="server" ID="pnlCheck" CssClass="wizard-section">
    <div class="content-block-50">
        <cms:CMSCheckBox ID="chkObject" runat="server" />
    </div>
</asp:Panel>
