﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ContactIsAnonymous.ascx.cs"
    Inherits="CMSModules_Settings_FormControls_ContactIsAnonymous" %>
<cms:CMSDropDownList ID="list" runat="server" CssClass="DropDownField" />
