﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="GoToExternalURL.ascx.cs"
    Inherits="CMSModules_Settings_FormControls_GoToExternalURL" %>
<cms:CMSTextBox ID="txtURL" runat="server" />
<cms:LocalizedButton ID="btnSelect" runat="server" ButtonStyle="Default" />
