<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Settings_FormControls_SelectTrailingSlash" Codebehind="SelectTrailingSlash.ascx.cs" %>
<cms:CMSDropDownList ID="drpSlash" runat="server" CssClass="DropDownField" />
