<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Settings_FormControls_SelectCaseCheck" Codebehind="SelectCaseCheck.ascx.cs" %>
<cms:CMSDropDownList ID="drpSelectCaseCheck" runat="server" CssClass="DropDownField" />
