﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SelectDefaultPage.ascx.cs" Inherits="CMSModules_Settings_FormControls_SelectDefaultPage" %>
<cms:CMSDropDownList runat="server" ID="drpDefaultType" CssClass="DropDownField" />