
/* 2014 Ebola Infographic */
.container.infographic-ebola {
  width: 970px;
  margin: 25px auto 2em auto;
  padding: 0;
  /*font-family: arial, helvetica, sans-serif;*/
  font-family: 'Cabin', sans-serif;
  font-size: 1.5em;
  text-align: left;
}

.infographic-ebola h1,
.infographic-ebola h2,
.infographic-ebola h3,
.infographic-ebola h4 {
  line-height: 1.15;
  font-family: 'Cabin', sans-serif;
  font-weight: 700!important;
  text-transform: uppercase;
  color: #fff;
}

.infographic-ebola h4 {
  margin-bottom: 1.5em;
  font-size: 1.2em;
  text-transform: uppercase;
}

.infographic-ebola p,
.infographic-ebola li {
  line-height: 1.2;
  font-weight: 300;
  font-size: 1rem;
}

.infographic-ebola strong {
  display: block;
  font-weight: 700;
}


.infographic-ebola .banner {
  background-color: #ed1d24;
  color: #fff;
  text-align: center;
      min-height: 0;
}

  .infographic-ebola .banner h1 {
    margin: .5em auto;
    font-size: 2.5em;
  }

  .infographic-ebola .banner h2 {
    margin: .5em auto;
    font-size: 1.6em;
    font-weight: 100!important;
  }

  .infographic-ebola .banner h3 {
    font-size: 1.5em;
  }

  .infographic-ebola .banner a:link,
  .infographic-ebola .banner a:visited,
  .infographic-ebola .banner a:hover {
    color: #ffffff;
  }

  

.infographic-ebola .content {
  padding: 1em 1em .5em 1em;
}

  .infographic-ebola .content.blue {
    background-color: #e1f2f6;
  }

  .infographic-ebola .content.grey {
    background-color: #ededee;
  }


.infographic-ebola .small-block-grid-4 li,
.infographic-ebola .small-block-grid-1 li {
  background: none;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  font-size: 1rem;
}

  .infographic-ebola .symptoms .small-block-grid-4 img {
    display: block;
    height: 125px;
    margin: 0 auto .5em auto;
  }

  .infographic-ebola .symptoms .indent {
    display: block;
    margin-left: 32px;
  }



.infographic-ebola .text-lower {
  text-transform: lowercase;
}


.infographic-ebola .definition {
  padding: 1em 2em .25em 2em;
}

.infographic-ebola .definition img {
  margin-top: -30px;
}

.infographic-ebola .definition p {
  font-size: 1.2em;
}


.infographic-ebola .transmitted {
  padding: 2em 2em 1em 2em;
}

  .infographic-ebola .transmitted > div {
    display: table-cell;
    padding: 0;
    vertical-align: middle;
  }

  .infographic-ebola .transmitted li img {
    position: relative;
    left: 25%;
  }

  .infographic-ebola .transmitted .grid-right li img {
    left: -25%;
  }

  .infographic-ebola .transmitted .grid-left li span {
    display: inline-block;
    margin: .5em 35px 0 0;
  }

  .infographic-ebola .transmitted .grid-right li span {
    display: inline-block;
    margin: .5em 0 0 35px;
  }


.infographic-ebola .circle {
  position: relative;
  display: table;
  width: 270px;
  height: 270px;
  margin: 0 auto;
  padding: 2em;
  background-color: #ed1d24;
  border-radius: 50%;
  z-index: 5;
}

  .infographic-ebola.fr .circle {
    width: 320px;
    height: 320px;
  }

  .infographic-ebola .circle h3 {
    display: table-cell;
    vertical-align: middle;
    line-height: 1.25;
    font-weight: 100!important;
    font-size: 1.8rem;
  }





.infographic-ebola .media-object {
  display: block;
  overflow: auto;
  margin-bottom: .5em;
}

  .infographic-ebola .media-icon {
    float: left;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: .5em;
  }

    .infographic-ebola .media-icon.dk-blue {
      background-color: #005a70;
    }

    .infographic-ebola .media-icon.med-blue {
      background-color: #007f93;
    }

    .infographic-ebola .media-icon.light-blue {
      background-color: #74acbc;
    }

  .infographic-ebola .media-text p {
    margin-bottom: .25em;
    font-size: 1.2em;
    text-transform: uppercase;
  }

    .infographic-ebola .media-text strong {
      display: block;
    }

.infographic-ebola em {
  font-size: 1.6rem;
}


.infographic-ebola .map {
  height: 420px;
  background-image: url('/crc/infographics/images/ebola/map-west-africa.gif');
  background-size: 70%;
  background-position: top right;
  background-repeat: no-repeat;
}

  .infographic-ebola.fr .map {
    background-image: url('/crc/infographics/images/ebola/map-west-africa-fr.gif');
  }

  .infographic-ebola .map .large-7 {
    position: relaive;
    height: 100%;
  }

  .infographic-ebola .map h4 {
    color: #000;
    font-weight: 100!important;
  }

  .infographic-ebola .map small {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: 12px;
    line-height: 22px;
  }



.infographic-ebola .keys-header {
  margin-top: 1em;
  border-bottom: 2px dotted #ed1d24;
   padding-top: 1rem;
}

  .infographic-ebola .keys-header > div:first-child,
  .infographic-ebola .keys-text > div:first-child {
    border-right: 2px dotted #ed1d24;
  }

  .infographic-ebola .keys-header,
  .infographic-ebola .keys-text {
    text-align: center;
  }

  .infographic-ebola .keys-text {
    margin-bottom: 1em;
  }

  .infographic-ebola .keys-header h3,
  .infographic-ebola .keys-text h4 {
    color: #ed1d24;
  }

  .infographic-ebola .keys-header h3 {
    margin: 1.5em 0;
    font-weight: 700!important;
    font-size: 1.6rem;
  }

  .infographic-ebola .keys-text h4 {
    margin-bottom: 0;
    text-transform: none;
    font-size: 1.53em;
    font-weight: 100!important;
  }

    .infographic-ebola .keys-text  h4 a {
      color: #ed1d24;
    }

  .infographic-ebola .keys-text-wrapper {
    min-height: 80px;
    margin: 1em auto;
    padding: 0 1.5em;
  }

    .infographic-ebola .keys-text-wrapper a {
      color: #333;
    }

    .infographic-ebola.fr .keys-text-wrapper {
      padding: 0 .5em;
    }
  
    .infographic-ebola.fr .keys-text-wrapper p {
      font-size: 1.6rem;
    }


.infographic-ebola .response img {
  margin-bottom: 1em;
}

  .infographic-ebola .response div:nth-child(2) p {
    margin-top: -12px; /* To get text below icons to align */
  }
  .infographic-ebola .response p {
   font-size: 1.6rem;
  }

.infographic-ebola .help {
  padding-left: 2em;
  padding-right: 2em;
}

  .infographic-ebola .help-methods {
    padding-top: 1em;
    border-top: 2px dotted #fff;
  }

  .infographic-ebola .help-methods img {
    max-height: 55px;
    max-width: 110px;
    margin-bottom: .5em;
  }

  .infographic-ebola .help-methods a:link,
  .infographic-ebola .help-methods a:visited,
  .infographic-ebola .help-methods a:hover,
  .infographic-ebola .help-methods a:active,
  .infographic-ebola a > h3:hover {
    text-decoration: none;
    color: #fff;

  }

  .infographic-ebola .help-methods a:hover {
    opacity: .7;
  }

  .infographic-ebola .help-methods img {
    box-shadow: none;
  }

  .infographic-ebola .help-share {
    position: relative;
  }
.infographic-ebola .help-donate p, .infographic-ebola .help-share p, .infographic-ebola .help-learn p, .infographic-ebola .help-join p {
  font-size: 1.6rem;
}

.infographic-ebola .share-popup {
  display: none;
  position: absolute;
  top: -80px!important;
  left: 10%;
  width: 80% !important;
  margin: 0;
  padding: 1em;
  background-color: #ededee;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
     -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
          box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
}

  .infographic-ebola .share-popup:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #ededee;
    border-width: 15px;
    margin-left: -15px;
  }

.infographic-ebola .social-widget {
  position: relative;
  width: 100%;
}

  .infographic-ebola .addthis_toolbox {
    width: 100%!important;
    margin-top: 0;
  }

  .infographic-ebola .social-widget .addthis_pill_style {
    margin: .25em 0 0 10px;
  }

