/* line 1, ../scss/ebola.scss */
.infographic-ebola {
  /* Typography resets */
  /* Default Link Styles */
  /* Default paragraph styles */
  /* Default header styles */
  /* Helpful Typography Defaults */
  /* Lists */
  /* Unordered Lists */
  /* Ordered Lists */
  /* Definition Lists */
  /* Abbreviations */
  /* Blockquotes */
  /* Microformats */
  /*
   * Print styles.
   *
   * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
  */
}
/* line 5, ../scss/ebola.scss */
.infographic-ebola meta.foundation-version {
  font-family: "/5.4.5/";
}
/* line 8, ../scss/ebola.scss */
.infographic-ebola meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}
/* line 12, ../scss/ebola.scss */
.infographic-ebola meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}
/* line 16, ../scss/ebola.scss */
.infographic-ebola meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}
/* line 20, ../scss/ebola.scss */
.infographic-ebola meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}
/* line 24, ../scss/ebola.scss */
.infographic-ebola meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}
/* line 28, ../scss/ebola.scss */
.infographic-ebola meta.foundation-data-attribute-namespace {
  font-family: false;
}
/* line 31, ../scss/ebola.scss */
.infographic-ebola html, .infographic-ebola body {
  height: 100%;
}
/* line 34, ../scss/ebola.scss */
.infographic-ebola *,
.infographic-ebola *:before,
.infographic-ebola *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 41, ../scss/ebola.scss */
.infographic-ebola html,
.infographic-ebola body {
  font-size: 100%;
}
/* line 45, ../scss/ebola.scss */
.infographic-ebola body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
}
/* line 57, ../scss/ebola.scss */
.infographic-ebola a:hover {
  cursor: pointer;
}
/* line 60, ../scss/ebola.scss */
.infographic-ebola img {
  max-width: 100%;
  height: auto;
}
/* line 64, ../scss/ebola.scss */
.infographic-ebola img {
  -ms-interpolation-mode: bicubic;
}
/* line 67, ../scss/ebola.scss */
.infographic-ebola #map_canvas img,
.infographic-ebola #map_canvas embed,
.infographic-ebola #map_canvas object,
.infographic-ebola .map_canvas img,
.infographic-ebola .map_canvas embed,
.infographic-ebola .map_canvas object {
  max-width: none !important;
}
/* line 75, ../scss/ebola.scss */
.infographic-ebola .left {
  float: left !important;
}
/* line 78, ../scss/ebola.scss */
.infographic-ebola .right {
  float: right !important;
}
/* line 81, ../scss/ebola.scss */
.infographic-ebola .clearfix:before, .infographic-ebola .clearfix:after {
  content: " ";
  display: table;
}
/* line 84, ../scss/ebola.scss */
.infographic-ebola .clearfix:after {
  clear: both;
}
/* line 87, ../scss/ebola.scss */
.infographic-ebola .hide {
  display: none;
}
/* line 90, ../scss/ebola.scss */
.infographic-ebola .antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 94, ../scss/ebola.scss */
.infographic-ebola img {
  display: inline-block;
  vertical-align: middle;
}
/* line 98, ../scss/ebola.scss */
.infographic-ebola textarea {
  height: auto;
  min-height: 50px;
}
/* line 102, ../scss/ebola.scss */
.infographic-ebola select {
  width: 100%;
}
/* line 105, ../scss/ebola.scss */
.infographic-ebola .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
}
/* line 112, ../scss/ebola.scss */
.infographic-ebola .row:before, .infographic-ebola .row:after {
  content: " ";
  display: table;
}
/* line 115, ../scss/ebola.scss */
.infographic-ebola .row:after {
  clear: both;
}
/* line 117, ../scss/ebola.scss */
.infographic-ebola .row.collapse > .column,
.infographic-ebola .row.collapse > .columns {
  padding-left: 0;
  padding-right: 0;
}
/* line 121, ../scss/ebola.scss */
.infographic-ebola .row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}
/* line 124, ../scss/ebola.scss */
.infographic-ebola .row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}
/* line 131, ../scss/ebola.scss */
.infographic-ebola .row .row:before, .infographic-ebola .row .row:after {
  content: " ";
  display: table;
}
/* line 134, ../scss/ebola.scss */
.infographic-ebola .row .row:after {
  clear: both;
}
/* line 136, ../scss/ebola.scss */
.infographic-ebola .row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
}
/* line 140, ../scss/ebola.scss */
.infographic-ebola .row .row.collapse:before, .infographic-ebola .row .row.collapse:after {
  content: " ";
  display: table;
}
/* line 143, ../scss/ebola.scss */
.infographic-ebola .row .row.collapse:after {
  clear: both;
}
/* line 146, ../scss/ebola.scss */
.infographic-ebola .column,
.infographic-ebola .columns {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}
/* line 153, ../scss/ebola.scss */
.infographic-ebola [class*="column"] + [class*="column"]:last-child {
  float: right;
}
/* line 156, ../scss/ebola.scss */
.infographic-ebola [class*="column"] + [class*="column"].end {
  float: left;
}
@media only screen {
  /* line 160, ../scss/ebola.scss */
  .infographic-ebola .small-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }
  /* line 165, ../scss/ebola.scss */
  .infographic-ebola .small-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }
  /* line 170, ../scss/ebola.scss */
  .infographic-ebola .small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }
  /* line 175, ../scss/ebola.scss */
  .infographic-ebola .small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }
  /* line 180, ../scss/ebola.scss */
  .infographic-ebola .small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }
  /* line 185, ../scss/ebola.scss */
  .infographic-ebola .small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }
  /* line 190, ../scss/ebola.scss */
  .infographic-ebola .small-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }
  /* line 195, ../scss/ebola.scss */
  .infographic-ebola .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }
  /* line 200, ../scss/ebola.scss */
  .infographic-ebola .small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }
  /* line 205, ../scss/ebola.scss */
  .infographic-ebola .small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }
  /* line 210, ../scss/ebola.scss */
  .infographic-ebola .small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }
  /* line 215, ../scss/ebola.scss */
  .infographic-ebola .small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }
  /* line 220, ../scss/ebola.scss */
  .infographic-ebola .small-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }
  /* line 225, ../scss/ebola.scss */
  .infographic-ebola .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }
  /* line 230, ../scss/ebola.scss */
  .infographic-ebola .small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }
  /* line 235, ../scss/ebola.scss */
  .infographic-ebola .small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }
  /* line 240, ../scss/ebola.scss */
  .infographic-ebola .small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }
  /* line 245, ../scss/ebola.scss */
  .infographic-ebola .small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }
  /* line 250, ../scss/ebola.scss */
  .infographic-ebola .small-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }
  /* line 255, ../scss/ebola.scss */
  .infographic-ebola .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }
  /* line 260, ../scss/ebola.scss */
  .infographic-ebola .small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }
  /* line 265, ../scss/ebola.scss */
  .infographic-ebola .small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }
  /* line 270, ../scss/ebola.scss */
  .infographic-ebola .small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }
  /* line 275, ../scss/ebola.scss */
  .infographic-ebola .small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
  /* line 280, ../scss/ebola.scss */
  .infographic-ebola .column,
  .infographic-ebola .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }
  /* line 287, ../scss/ebola.scss */
  .infographic-ebola .small-1 {
    width: 8.33333%;
  }
  /* line 290, ../scss/ebola.scss */
  .infographic-ebola .small-2 {
    width: 16.66667%;
  }
  /* line 293, ../scss/ebola.scss */
  .infographic-ebola .small-3 {
    width: 25%;
  }
  /* line 296, ../scss/ebola.scss */
  .infographic-ebola .small-4 {
    width: 33.33333%;
  }
  /* line 299, ../scss/ebola.scss */
  .infographic-ebola .small-5 {
    width: 41.66667%;
  }
  /* line 302, ../scss/ebola.scss */
  .infographic-ebola .small-6 {
    width: 50%;
  }
  /* line 305, ../scss/ebola.scss */
  .infographic-ebola .small-7 {
    width: 58.33333%;
  }
  /* line 308, ../scss/ebola.scss */
  .infographic-ebola .small-8 {
    width: 66.66667%;
  }
  /* line 311, ../scss/ebola.scss */
  .infographic-ebola .small-9 {
    width: 75%;
  }
  /* line 314, ../scss/ebola.scss */
  .infographic-ebola .small-10 {
    width: 83.33333%;
  }
  /* line 317, ../scss/ebola.scss */
  .infographic-ebola .small-11 {
    width: 91.66667%;
  }
  /* line 320, ../scss/ebola.scss */
  .infographic-ebola .small-12 {
    width: 100%;
  }
  /* line 323, ../scss/ebola.scss */
  .infographic-ebola .small-offset-0 {
    margin-left: 0% !important;
  }
  /* line 326, ../scss/ebola.scss */
  .infographic-ebola .small-offset-1 {
    margin-left: 8.33333% !important;
  }
  /* line 329, ../scss/ebola.scss */
  .infographic-ebola .small-offset-2 {
    margin-left: 16.66667% !important;
  }
  /* line 332, ../scss/ebola.scss */
  .infographic-ebola .small-offset-3 {
    margin-left: 25% !important;
  }
  /* line 335, ../scss/ebola.scss */
  .infographic-ebola .small-offset-4 {
    margin-left: 33.33333% !important;
  }
  /* line 338, ../scss/ebola.scss */
  .infographic-ebola .small-offset-5 {
    margin-left: 41.66667% !important;
  }
  /* line 341, ../scss/ebola.scss */
  .infographic-ebola .small-offset-6 {
    margin-left: 50% !important;
  }
  /* line 344, ../scss/ebola.scss */
  .infographic-ebola .small-offset-7 {
    margin-left: 58.33333% !important;
  }
  /* line 347, ../scss/ebola.scss */
  .infographic-ebola .small-offset-8 {
    margin-left: 66.66667% !important;
  }
  /* line 350, ../scss/ebola.scss */
  .infographic-ebola .small-offset-9 {
    margin-left: 75% !important;
  }
  /* line 353, ../scss/ebola.scss */
  .infographic-ebola .small-offset-10 {
    margin-left: 83.33333% !important;
  }
  /* line 356, ../scss/ebola.scss */
  .infographic-ebola .small-offset-11 {
    margin-left: 91.66667% !important;
  }
  /* line 359, ../scss/ebola.scss */
  .infographic-ebola .small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }
  /* line 366, ../scss/ebola.scss */
  .infographic-ebola .column.small-centered,
  .infographic-ebola .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  /* line 372, ../scss/ebola.scss */
  .infographic-ebola .column.small-uncentered,
  .infographic-ebola .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
  /* line 378, ../scss/ebola.scss */
  .infographic-ebola .column.small-centered:last-child,
  .infographic-ebola .columns.small-centered:last-child {
    float: none;
  }
  /* line 382, ../scss/ebola.scss */
  .infographic-ebola .column.small-uncentered:last-child,
  .infographic-ebola .columns.small-uncentered:last-child {
    float: left;
  }
  /* line 386, ../scss/ebola.scss */
  .infographic-ebola .column.small-uncentered.opposite,
  .infographic-ebola .columns.small-uncentered.opposite {
    float: right;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 390, ../scss/ebola.scss */
  .infographic-ebola .medium-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }
  /* line 395, ../scss/ebola.scss */
  .infographic-ebola .medium-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }
  /* line 400, ../scss/ebola.scss */
  .infographic-ebola .medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }
  /* line 405, ../scss/ebola.scss */
  .infographic-ebola .medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }
  /* line 410, ../scss/ebola.scss */
  .infographic-ebola .medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }
  /* line 415, ../scss/ebola.scss */
  .infographic-ebola .medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }
  /* line 420, ../scss/ebola.scss */
  .infographic-ebola .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }
  /* line 425, ../scss/ebola.scss */
  .infographic-ebola .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }
  /* line 430, ../scss/ebola.scss */
  .infographic-ebola .medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }
  /* line 435, ../scss/ebola.scss */
  .infographic-ebola .medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }
  /* line 440, ../scss/ebola.scss */
  .infographic-ebola .medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }
  /* line 445, ../scss/ebola.scss */
  .infographic-ebola .medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }
  /* line 450, ../scss/ebola.scss */
  .infographic-ebola .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }
  /* line 455, ../scss/ebola.scss */
  .infographic-ebola .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }
  /* line 460, ../scss/ebola.scss */
  .infographic-ebola .medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }
  /* line 465, ../scss/ebola.scss */
  .infographic-ebola .medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }
  /* line 470, ../scss/ebola.scss */
  .infographic-ebola .medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }
  /* line 475, ../scss/ebola.scss */
  .infographic-ebola .medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }
  /* line 480, ../scss/ebola.scss */
  .infographic-ebola .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }
  /* line 485, ../scss/ebola.scss */
  .infographic-ebola .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }
  /* line 490, ../scss/ebola.scss */
  .infographic-ebola .medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }
  /* line 495, ../scss/ebola.scss */
  .infographic-ebola .medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }
  /* line 500, ../scss/ebola.scss */
  .infographic-ebola .medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }
  /* line 505, ../scss/ebola.scss */
  .infographic-ebola .medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
  /* line 510, ../scss/ebola.scss */
  .infographic-ebola .column,
  .infographic-ebola .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }
  /* line 517, ../scss/ebola.scss */
  .infographic-ebola .medium-1 {
    width: 8.33333%;
  }
  /* line 520, ../scss/ebola.scss */
  .infographic-ebola .medium-2 {
    width: 16.66667%;
  }
  /* line 523, ../scss/ebola.scss */
  .infographic-ebola .medium-3 {
    width: 25%;
  }
  /* line 526, ../scss/ebola.scss */
  .infographic-ebola .medium-4 {
    width: 33.33333%;
  }
  /* line 529, ../scss/ebola.scss */
  .infographic-ebola .medium-5 {
    width: 41.66667%;
  }
  /* line 532, ../scss/ebola.scss */
  .infographic-ebola .medium-6 {
    width: 50%;
  }
  /* line 535, ../scss/ebola.scss */
  .infographic-ebola .medium-7 {
    width: 58.33333%;
  }
  /* line 538, ../scss/ebola.scss */
  .infographic-ebola .medium-8 {
    width: 66.66667%;
  }
  /* line 541, ../scss/ebola.scss */
  .infographic-ebola .medium-9 {
    width: 75%;
  }
  /* line 544, ../scss/ebola.scss */
  .infographic-ebola .medium-10 {
    width: 83.33333%;
  }
  /* line 547, ../scss/ebola.scss */
  .infographic-ebola .medium-11 {
    width: 91.66667%;
  }
  /* line 550, ../scss/ebola.scss */
  .infographic-ebola .medium-12 {
    width: 100%;
  }
  /* line 553, ../scss/ebola.scss */
  .infographic-ebola .medium-offset-0 {
    margin-left: 0% !important;
  }
  /* line 556, ../scss/ebola.scss */
  .infographic-ebola .medium-offset-1 {
    margin-left: 8.33333% !important;
  }
  /* line 559, ../scss/ebola.scss */
  .infographic-ebola .medium-offset-2 {
    margin-left: 16.66667% !important;
  }
  /* line 562, ../scss/ebola.scss */
  .infographic-ebola .medium-offset-3 {
    margin-left: 25% !important;
  }
  /* line 565, ../scss/ebola.scss */
  .infographic-ebola .medium-offset-4 {
    margin-left: 33.33333% !important;
  }
  /* line 568, ../scss/ebola.scss */
  .infographic-ebola .medium-offset-5 {
    margin-left: 41.66667% !important;
  }
  /* line 571, ../scss/ebola.scss */
  .infographic-ebola .medium-offset-6 {
    margin-left: 50% !important;
  }
  /* line 574, ../scss/ebola.scss */
  .infographic-ebola .medium-offset-7 {
    margin-left: 58.33333% !important;
  }
  /* line 577, ../scss/ebola.scss */
  .infographic-ebola .medium-offset-8 {
    margin-left: 66.66667% !important;
  }
  /* line 580, ../scss/ebola.scss */
  .infographic-ebola .medium-offset-9 {
    margin-left: 75% !important;
  }
  /* line 583, ../scss/ebola.scss */
  .infographic-ebola .medium-offset-10 {
    margin-left: 83.33333% !important;
  }
  /* line 586, ../scss/ebola.scss */
  .infographic-ebola .medium-offset-11 {
    margin-left: 91.66667% !important;
  }
  /* line 589, ../scss/ebola.scss */
  .infographic-ebola .medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }
  /* line 596, ../scss/ebola.scss */
  .infographic-ebola .column.medium-centered,
  .infographic-ebola .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  /* line 602, ../scss/ebola.scss */
  .infographic-ebola .column.medium-uncentered,
  .infographic-ebola .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
  /* line 608, ../scss/ebola.scss */
  .infographic-ebola .column.medium-centered:last-child,
  .infographic-ebola .columns.medium-centered:last-child {
    float: none;
  }
  /* line 612, ../scss/ebola.scss */
  .infographic-ebola .column.medium-uncentered:last-child,
  .infographic-ebola .columns.medium-uncentered:last-child {
    float: left;
  }
  /* line 616, ../scss/ebola.scss */
  .infographic-ebola .column.medium-uncentered.opposite,
  .infographic-ebola .columns.medium-uncentered.opposite {
    float: right;
  }
  /* line 620, ../scss/ebola.scss */
  .infographic-ebola .push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }
  /* line 625, ../scss/ebola.scss */
  .infographic-ebola .pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }
  /* line 630, ../scss/ebola.scss */
  .infographic-ebola .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }
  /* line 635, ../scss/ebola.scss */
  .infographic-ebola .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }
  /* line 640, ../scss/ebola.scss */
  .infographic-ebola .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }
  /* line 645, ../scss/ebola.scss */
  .infographic-ebola .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }
  /* line 650, ../scss/ebola.scss */
  .infographic-ebola .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }
  /* line 655, ../scss/ebola.scss */
  .infographic-ebola .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }
  /* line 660, ../scss/ebola.scss */
  .infographic-ebola .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }
  /* line 665, ../scss/ebola.scss */
  .infographic-ebola .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }
  /* line 670, ../scss/ebola.scss */
  .infographic-ebola .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }
  /* line 675, ../scss/ebola.scss */
  .infographic-ebola .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }
  /* line 680, ../scss/ebola.scss */
  .infographic-ebola .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }
  /* line 685, ../scss/ebola.scss */
  .infographic-ebola .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }
  /* line 690, ../scss/ebola.scss */
  .infographic-ebola .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }
  /* line 695, ../scss/ebola.scss */
  .infographic-ebola .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }
  /* line 700, ../scss/ebola.scss */
  .infographic-ebola .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }
  /* line 705, ../scss/ebola.scss */
  .infographic-ebola .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }
  /* line 710, ../scss/ebola.scss */
  .infographic-ebola .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }
  /* line 715, ../scss/ebola.scss */
  .infographic-ebola .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }
  /* line 720, ../scss/ebola.scss */
  .infographic-ebola .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }
  /* line 725, ../scss/ebola.scss */
  .infographic-ebola .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }
  /* line 730, ../scss/ebola.scss */
  .infographic-ebola .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }
  /* line 735, ../scss/ebola.scss */
  .infographic-ebola .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 740, ../scss/ebola.scss */
  .infographic-ebola .large-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }
  /* line 745, ../scss/ebola.scss */
  .infographic-ebola .large-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }
  /* line 750, ../scss/ebola.scss */
  .infographic-ebola .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }
  /* line 755, ../scss/ebola.scss */
  .infographic-ebola .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }
  /* line 760, ../scss/ebola.scss */
  .infographic-ebola .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }
  /* line 765, ../scss/ebola.scss */
  .infographic-ebola .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }
  /* line 770, ../scss/ebola.scss */
  .infographic-ebola .large-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }
  /* line 775, ../scss/ebola.scss */
  .infographic-ebola .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }
  /* line 780, ../scss/ebola.scss */
  .infographic-ebola .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }
  /* line 785, ../scss/ebola.scss */
  .infographic-ebola .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }
  /* line 790, ../scss/ebola.scss */
  .infographic-ebola .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }
  /* line 795, ../scss/ebola.scss */
  .infographic-ebola .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }
  /* line 800, ../scss/ebola.scss */
  .infographic-ebola .large-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }
  /* line 805, ../scss/ebola.scss */
  .infographic-ebola .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }
  /* line 810, ../scss/ebola.scss */
  .infographic-ebola .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }
  /* line 815, ../scss/ebola.scss */
  .infographic-ebola .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }
  /* line 820, ../scss/ebola.scss */
  .infographic-ebola .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }
  /* line 825, ../scss/ebola.scss */
  .infographic-ebola .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }
  /* line 830, ../scss/ebola.scss */
  .infographic-ebola .large-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }
  /* line 835, ../scss/ebola.scss */
  .infographic-ebola .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }
  /* line 840, ../scss/ebola.scss */
  .infographic-ebola .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }
  /* line 845, ../scss/ebola.scss */
  .infographic-ebola .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }
  /* line 850, ../scss/ebola.scss */
  .infographic-ebola .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }
  /* line 855, ../scss/ebola.scss */
  .infographic-ebola .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
  /* line 860, ../scss/ebola.scss */
  .infographic-ebola .column,
  .infographic-ebola .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }
  /* line 867, ../scss/ebola.scss */
  .infographic-ebola .large-1 {
    width: 8.33333%;
  }
  /* line 870, ../scss/ebola.scss */
  .infographic-ebola .large-2 {
    width: 16.66667%;
  }
  /* line 873, ../scss/ebola.scss */
  .infographic-ebola .large-3 {
    width: 25%;
  }
  /* line 876, ../scss/ebola.scss */
  .infographic-ebola .large-4 {
    width: 33.33333%;
  }
  /* line 879, ../scss/ebola.scss */
  .infographic-ebola .large-5 {
    width: 41.66667%;
  }
  /* line 882, ../scss/ebola.scss */
  .infographic-ebola .large-6 {
    width: 50%;
  }
  /* line 885, ../scss/ebola.scss */
  .infographic-ebola .large-7 {
    width: 58.33333%;
  }
  /* line 888, ../scss/ebola.scss */
  .infographic-ebola .large-8 {
    width: 66.66667%;
  }
  /* line 891, ../scss/ebola.scss */
  .infographic-ebola .large-9 {
    width: 75%;
  }
  /* line 894, ../scss/ebola.scss */
  .infographic-ebola .large-10 {
    width: 83.33333%;
  }
  /* line 897, ../scss/ebola.scss */
  .infographic-ebola .large-11 {
    width: 91.66667%;
  }
  /* line 900, ../scss/ebola.scss */
  .infographic-ebola .large-12 {
    width: 100%;
  }
  /* line 903, ../scss/ebola.scss */
  .infographic-ebola .large-offset-0 {
    margin-left: 0% !important;
  }
  /* line 906, ../scss/ebola.scss */
  .infographic-ebola .large-offset-1 {
    margin-left: 8.33333% !important;
  }
  /* line 909, ../scss/ebola.scss */
  .infographic-ebola .large-offset-2 {
    margin-left: 16.66667% !important;
  }
  /* line 912, ../scss/ebola.scss */
  .infographic-ebola .large-offset-3 {
    margin-left: 25% !important;
  }
  /* line 915, ../scss/ebola.scss */
  .infographic-ebola .large-offset-4 {
    margin-left: 33.33333% !important;
  }
  /* line 918, ../scss/ebola.scss */
  .infographic-ebola .large-offset-5 {
    margin-left: 41.66667% !important;
  }
  /* line 921, ../scss/ebola.scss */
  .infographic-ebola .large-offset-6 {
    margin-left: 50% !important;
  }
  /* line 924, ../scss/ebola.scss */
  .infographic-ebola .large-offset-7 {
    margin-left: 58.33333% !important;
  }
  /* line 927, ../scss/ebola.scss */
  .infographic-ebola .large-offset-8 {
    margin-left: 66.66667% !important;
  }
  /* line 930, ../scss/ebola.scss */
  .infographic-ebola .large-offset-9 {
    margin-left: 75% !important;
  }
  /* line 933, ../scss/ebola.scss */
  .infographic-ebola .large-offset-10 {
    margin-left: 83.33333% !important;
  }
  /* line 936, ../scss/ebola.scss */
  .infographic-ebola .large-offset-11 {
    margin-left: 91.66667% !important;
  }
  /* line 939, ../scss/ebola.scss */
  .infographic-ebola .large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }
  /* line 946, ../scss/ebola.scss */
  .infographic-ebola .column.large-centered,
  .infographic-ebola .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  /* line 952, ../scss/ebola.scss */
  .infographic-ebola .column.large-uncentered,
  .infographic-ebola .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
  /* line 958, ../scss/ebola.scss */
  .infographic-ebola .column.large-centered:last-child,
  .infographic-ebola .columns.large-centered:last-child {
    float: none;
  }
  /* line 962, ../scss/ebola.scss */
  .infographic-ebola .column.large-uncentered:last-child,
  .infographic-ebola .columns.large-uncentered:last-child {
    float: left;
  }
  /* line 966, ../scss/ebola.scss */
  .infographic-ebola .column.large-uncentered.opposite,
  .infographic-ebola .columns.large-uncentered.opposite {
    float: right;
  }
  /* line 970, ../scss/ebola.scss */
  .infographic-ebola .push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }
  /* line 975, ../scss/ebola.scss */
  .infographic-ebola .pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }
  /* line 980, ../scss/ebola.scss */
  .infographic-ebola .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }
  /* line 985, ../scss/ebola.scss */
  .infographic-ebola .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }
  /* line 990, ../scss/ebola.scss */
  .infographic-ebola .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }
  /* line 995, ../scss/ebola.scss */
  .infographic-ebola .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }
  /* line 1000, ../scss/ebola.scss */
  .infographic-ebola .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }
  /* line 1005, ../scss/ebola.scss */
  .infographic-ebola .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }
  /* line 1010, ../scss/ebola.scss */
  .infographic-ebola .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }
  /* line 1015, ../scss/ebola.scss */
  .infographic-ebola .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }
  /* line 1020, ../scss/ebola.scss */
  .infographic-ebola .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }
  /* line 1025, ../scss/ebola.scss */
  .infographic-ebola .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }
  /* line 1030, ../scss/ebola.scss */
  .infographic-ebola .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }
  /* line 1035, ../scss/ebola.scss */
  .infographic-ebola .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }
  /* line 1040, ../scss/ebola.scss */
  .infographic-ebola .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }
  /* line 1045, ../scss/ebola.scss */
  .infographic-ebola .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }
  /* line 1050, ../scss/ebola.scss */
  .infographic-ebola .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }
  /* line 1055, ../scss/ebola.scss */
  .infographic-ebola .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }
  /* line 1060, ../scss/ebola.scss */
  .infographic-ebola .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }
  /* line 1065, ../scss/ebola.scss */
  .infographic-ebola .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }
  /* line 1070, ../scss/ebola.scss */
  .infographic-ebola .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }
  /* line 1075, ../scss/ebola.scss */
  .infographic-ebola .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }
  /* line 1080, ../scss/ebola.scss */
  .infographic-ebola .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }
  /* line 1085, ../scss/ebola.scss */
  .infographic-ebola .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
}
/* line 1089, ../scss/ebola.scss */
.infographic-ebola .text-left {
  text-align: left !important;
}
/* line 1092, ../scss/ebola.scss */
.infographic-ebola .text-right {
  text-align: right !important;
}
/* line 1095, ../scss/ebola.scss */
.infographic-ebola .text-center {
  text-align: center !important;
}
/* line 1098, ../scss/ebola.scss */
.infographic-ebola .text-justify {
  text-align: justify !important;
}
@media only screen and (max-width: 40em) {
  /* line 1102, ../scss/ebola.scss */
  .infographic-ebola .small-only-text-left {
    text-align: left !important;
  }
  /* line 1105, ../scss/ebola.scss */
  .infographic-ebola .small-only-text-right {
    text-align: right !important;
  }
  /* line 1108, ../scss/ebola.scss */
  .infographic-ebola .small-only-text-center {
    text-align: center !important;
  }
  /* line 1111, ../scss/ebola.scss */
  .infographic-ebola .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  /* line 1114, ../scss/ebola.scss */
  .infographic-ebola .small-text-left {
    text-align: left !important;
  }
  /* line 1117, ../scss/ebola.scss */
  .infographic-ebola .small-text-right {
    text-align: right !important;
  }
  /* line 1120, ../scss/ebola.scss */
  .infographic-ebola .small-text-center {
    text-align: center !important;
  }
  /* line 1123, ../scss/ebola.scss */
  .infographic-ebola .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 1126, ../scss/ebola.scss */
  .infographic-ebola .medium-only-text-left {
    text-align: left !important;
  }
  /* line 1129, ../scss/ebola.scss */
  .infographic-ebola .medium-only-text-right {
    text-align: right !important;
  }
  /* line 1132, ../scss/ebola.scss */
  .infographic-ebola .medium-only-text-center {
    text-align: center !important;
  }
  /* line 1135, ../scss/ebola.scss */
  .infographic-ebola .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 1138, ../scss/ebola.scss */
  .infographic-ebola .medium-text-left {
    text-align: left !important;
  }
  /* line 1141, ../scss/ebola.scss */
  .infographic-ebola .medium-text-right {
    text-align: right !important;
  }
  /* line 1144, ../scss/ebola.scss */
  .infographic-ebola .medium-text-center {
    text-align: center !important;
  }
  /* line 1147, ../scss/ebola.scss */
  .infographic-ebola .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* line 1150, ../scss/ebola.scss */
  .infographic-ebola .large-only-text-left {
    text-align: left !important;
  }
  /* line 1153, ../scss/ebola.scss */
  .infographic-ebola .large-only-text-right {
    text-align: right !important;
  }
  /* line 1156, ../scss/ebola.scss */
  .infographic-ebola .large-only-text-center {
    text-align: center !important;
  }
  /* line 1159, ../scss/ebola.scss */
  .infographic-ebola .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 1162, ../scss/ebola.scss */
  .infographic-ebola .large-text-left {
    text-align: left !important;
  }
  /* line 1165, ../scss/ebola.scss */
  .infographic-ebola .large-text-right {
    text-align: right !important;
  }
  /* line 1168, ../scss/ebola.scss */
  .infographic-ebola .large-text-center {
    text-align: center !important;
  }
  /* line 1171, ../scss/ebola.scss */
  .infographic-ebola .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  /* line 1174, ../scss/ebola.scss */
  .infographic-ebola .xlarge-only-text-left {
    text-align: left !important;
  }
  /* line 1177, ../scss/ebola.scss */
  .infographic-ebola .xlarge-only-text-right {
    text-align: right !important;
  }
  /* line 1180, ../scss/ebola.scss */
  .infographic-ebola .xlarge-only-text-center {
    text-align: center !important;
  }
  /* line 1183, ../scss/ebola.scss */
  .infographic-ebola .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  /* line 1186, ../scss/ebola.scss */
  .infographic-ebola .xlarge-text-left {
    text-align: left !important;
  }
  /* line 1189, ../scss/ebola.scss */
  .infographic-ebola .xlarge-text-right {
    text-align: right !important;
  }
  /* line 1192, ../scss/ebola.scss */
  .infographic-ebola .xlarge-text-center {
    text-align: center !important;
  }
  /* line 1195, ../scss/ebola.scss */
  .infographic-ebola .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 99999999em) {
  /* line 1198, ../scss/ebola.scss */
  .infographic-ebola .xxlarge-only-text-left {
    text-align: left !important;
  }
  /* line 1201, ../scss/ebola.scss */
  .infographic-ebola .xxlarge-only-text-right {
    text-align: right !important;
  }
  /* line 1204, ../scss/ebola.scss */
  .infographic-ebola .xxlarge-only-text-center {
    text-align: center !important;
  }
  /* line 1207, ../scss/ebola.scss */
  .infographic-ebola .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  /* line 1210, ../scss/ebola.scss */
  .infographic-ebola .xxlarge-text-left {
    text-align: left !important;
  }
  /* line 1213, ../scss/ebola.scss */
  .infographic-ebola .xxlarge-text-right {
    text-align: right !important;
  }
  /* line 1216, ../scss/ebola.scss */
  .infographic-ebola .xxlarge-text-center {
    text-align: center !important;
  }
  /* line 1219, ../scss/ebola.scss */
  .infographic-ebola .xxlarge-text-justify {
    text-align: justify !important;
  }
}
/* line 1222, ../scss/ebola.scss */
.infographic-ebola div,
.infographic-ebola dl,
.infographic-ebola dt,
.infographic-ebola dd,
.infographic-ebola ul,
.infographic-ebola ol,
.infographic-ebola li,
.infographic-ebola h1,
.infographic-ebola h2,
.infographic-ebola h3,
.infographic-ebola h4,
.infographic-ebola h5,
.infographic-ebola h6,
.infographic-ebola pre,
.infographic-ebola form,
.infographic-ebola p,
.infographic-ebola blockquote,
.infographic-ebola th,
.infographic-ebola td {
  margin: 0;
  padding: 0;
}
/* line 1245, ../scss/ebola.scss */
.infographic-ebola a {
  color: #2ba6cb;
  text-decoration: none;
  line-height: inherit;
}
/* line 1249, ../scss/ebola.scss */
.infographic-ebola a:hover, .infographic-ebola a:focus {
  color: #258faf;
}
/* line 1251, ../scss/ebola.scss */
.infographic-ebola a img {
  border: none;
}
/* line 1255, ../scss/ebola.scss */
.infographic-ebola p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}
/* line 1262, ../scss/ebola.scss */
.infographic-ebola p.lead {
  font-size: 1.21875rem;
  line-height: 1.6;
}
/* line 1265, ../scss/ebola.scss */
.infographic-ebola p aside {
  font-size: 0.875rem;
  line-height: 1.35;
  font-style: italic;
}
/* line 1271, ../scss/ebola.scss */
.infographic-ebola h1, .infographic-ebola h2, .infographic-ebola h3, .infographic-ebola h4, .infographic-ebola h5, .infographic-ebola h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}
/* line 1280, ../scss/ebola.scss */
.infographic-ebola h1 small, .infographic-ebola h2 small, .infographic-ebola h3 small, .infographic-ebola h4 small, .infographic-ebola h5 small, .infographic-ebola h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}
/* line 1285, ../scss/ebola.scss */
.infographic-ebola h1 {
  font-size: 2.125rem;
}
/* line 1288, ../scss/ebola.scss */
.infographic-ebola h2 {
  font-size: 1.6875rem;
}
/* line 1291, ../scss/ebola.scss */
.infographic-ebola h3 {
  font-size: 1.375rem;
}
/* line 1294, ../scss/ebola.scss */
.infographic-ebola h4 {
  font-size: 1.125rem;
}
/* line 1297, ../scss/ebola.scss */
.infographic-ebola h5 {
  font-size: 1.125rem;
}
/* line 1300, ../scss/ebola.scss */
.infographic-ebola h6 {
  font-size: 1rem;
}
/* line 1303, ../scss/ebola.scss */
.infographic-ebola .subheader {
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: normal;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}
/* line 1310, ../scss/ebola.scss */
.infographic-ebola hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}
/* line 1318, ../scss/ebola.scss */
.infographic-ebola em,
.infographic-ebola i {
  font-style: italic;
  line-height: inherit;
}
/* line 1323, ../scss/ebola.scss */
.infographic-ebola strong,
.infographic-ebola b {
  font-weight: bold;
  line-height: inherit;
}
/* line 1328, ../scss/ebola.scss */
.infographic-ebola small {
  font-size: 60%;
  line-height: inherit;
}
/* line 1332, ../scss/ebola.scss */
.infographic-ebola code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  color: #333333;
  background-color: #f8f8f8;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  padding: 0.125rem 0.3125rem 0.0625rem;
}
/* line 1343, ../scss/ebola.scss */
.infographic-ebola ul,
.infographic-ebola ol,
.infographic-ebola dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
}
/* line 1352, ../scss/ebola.scss */
.infographic-ebola ul {
  margin-left: 1.1rem;
}
/* line 1354, ../scss/ebola.scss */
.infographic-ebola ul.no-bullet {
  margin-left: 0;
}
/* line 1356, ../scss/ebola.scss */
.infographic-ebola ul.no-bullet li ul,
.infographic-ebola ul.no-bullet li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
  list-style: none;
}
/* line 1363, ../scss/ebola.scss */
.infographic-ebola ul li ul,
.infographic-ebola ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}
/* line 1367, ../scss/ebola.scss */
.infographic-ebola ul.square li ul, .infographic-ebola ul.circle li ul, .infographic-ebola ul.disc li ul {
  list-style: inherit;
}
/* line 1369, ../scss/ebola.scss */
.infographic-ebola ul.square {
  list-style-type: square;
  margin-left: 1.1rem;
}
/* line 1372, ../scss/ebola.scss */
.infographic-ebola ul.circle {
  list-style-type: circle;
  margin-left: 1.1rem;
}
/* line 1375, ../scss/ebola.scss */
.infographic-ebola ul.disc {
  list-style-type: disc;
  margin-left: 1.1rem;
}
/* line 1378, ../scss/ebola.scss */
.infographic-ebola ul.no-bullet {
  list-style: none;
}
/* line 1382, ../scss/ebola.scss */
.infographic-ebola ol {
  margin-left: 1.4rem;
}
/* line 1384, ../scss/ebola.scss */
.infographic-ebola ol li ul,
.infographic-ebola ol li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}
/* line 1390, ../scss/ebola.scss */
.infographic-ebola dl dt {
  margin-bottom: 0.3rem;
  font-weight: bold;
}
/* line 1393, ../scss/ebola.scss */
.infographic-ebola dl dd {
  margin-bottom: 0.75rem;
}
/* line 1397, ../scss/ebola.scss */
.infographic-ebola abbr,
.infographic-ebola acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222222;
  cursor: help;
}
/* line 1404, ../scss/ebola.scss */
.infographic-ebola abbr {
  text-transform: none;
}
/* line 1406, ../scss/ebola.scss */
.infographic-ebola abbr[title] {
  border-bottom: 1px dotted #dddddd;
}
/* line 1410, ../scss/ebola.scss */
.infographic-ebola blockquote {
  margin: 0 0 1.25rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #dddddd;
}
/* line 1414, ../scss/ebola.scss */
.infographic-ebola blockquote cite {
  display: block;
  font-size: 0.8125rem;
  color: #555555;
}
/* line 1418, ../scss/ebola.scss */
.infographic-ebola blockquote cite:before {
  content: "\2014 \0020";
}
/* line 1420, ../scss/ebola.scss */
.infographic-ebola blockquote cite a,
.infographic-ebola blockquote cite a:visited {
  color: #555555;
}
/* line 1424, ../scss/ebola.scss */
.infographic-ebola blockquote,
.infographic-ebola blockquote p {
  line-height: 1.6;
  color: #6f6f6f;
}
/* line 1430, ../scss/ebola.scss */
.infographic-ebola .vcard {
  display: inline-block;
  margin: 0 0 1.25rem 0;
  border: 1px solid #dddddd;
  padding: 0.625rem 0.75rem;
}
/* line 1435, ../scss/ebola.scss */
.infographic-ebola .vcard li {
  margin: 0;
  display: block;
}
/* line 1438, ../scss/ebola.scss */
.infographic-ebola .vcard .fn {
  font-weight: bold;
  font-size: 0.9375rem;
}
/* line 1442, ../scss/ebola.scss */
.infographic-ebola .vevent .summary {
  font-weight: bold;
}
/* line 1444, ../scss/ebola.scss */
.infographic-ebola .vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 0.0625rem;
}
@media only screen and (min-width: 40.063em) {
  /* line 1452, ../scss/ebola.scss */
  .infographic-ebola h1, .infographic-ebola h2, .infographic-ebola h3, .infographic-ebola h4, .infographic-ebola h5, .infographic-ebola h6 {
    line-height: 1.4;
  }
  /* line 1455, ../scss/ebola.scss */
  .infographic-ebola h1 {
    font-size: 2.75rem;
  }
  /* line 1458, ../scss/ebola.scss */
  .infographic-ebola h2 {
    font-size: 2.3125rem;
  }
  /* line 1461, ../scss/ebola.scss */
  .infographic-ebola h3 {
    font-size: 1.6875rem;
  }
  /* line 1464, ../scss/ebola.scss */
  .infographic-ebola h4 {
    font-size: 1.4375rem;
  }
  /* line 1467, ../scss/ebola.scss */
  .infographic-ebola h5 {
    font-size: 1.125rem;
  }
  /* line 1470, ../scss/ebola.scss */
  .infographic-ebola h6 {
    font-size: 1rem;
  }
}
/* line 1478, ../scss/ebola.scss */
.infographic-ebola .print-only {
  display: none !important;
}
@media print {
  /* line 1482, ../scss/ebola.scss */
  .infographic-ebola * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  /* line 1489, ../scss/ebola.scss */
  .infographic-ebola a,
  .infographic-ebola a:visited {
    text-decoration: underline;
  }
  /* line 1493, ../scss/ebola.scss */
  .infographic-ebola a[href]:after {
    content: " (" attr(href) ")";
  }
  /* line 1496, ../scss/ebola.scss */
  .infographic-ebola abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /* line 1499, ../scss/ebola.scss */
  .infographic-ebola .ir a:after,
  .infographic-ebola a[href^="javascript:"]:after,
  .infographic-ebola a[href^="#"]:after {
    content: "";
  }
  /* line 1504, ../scss/ebola.scss */
  .infographic-ebola pre,
  .infographic-ebola blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }
  /* line 1509, ../scss/ebola.scss */
  .infographic-ebola thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  /* line 1513, ../scss/ebola.scss */
  .infographic-ebola tr,
  .infographic-ebola img {
    page-break-inside: avoid;
  }
  /* line 1517, ../scss/ebola.scss */
  .infographic-ebola img {
    max-width: 100% !important;
  }
  @page {
    /* line 1, ../scss/ebola.scss */
    .infographic-ebola {
      margin: 0.5cm;
    }
  }
  /* line 1523, ../scss/ebola.scss */
  .infographic-ebola p,
  .infographic-ebola h2,
  .infographic-ebola h3 {
    orphans: 3;
    widows: 3;
  }
  /* line 1529, ../scss/ebola.scss */
  .infographic-ebola h2,
  .infographic-ebola h3 {
    page-break-after: avoid;
  }
  /* line 1533, ../scss/ebola.scss */
  .infographic-ebola .hide-on-print {
    display: none !important;
  }
  /* line 1536, ../scss/ebola.scss */
  .infographic-ebola .print-only {
    display: block !important;
  }
  /* line 1539, ../scss/ebola.scss */
  .infographic-ebola .hide-for-print {
    display: none !important;
  }
  /* line 1542, ../scss/ebola.scss */
  .infographic-ebola .show-for-print {
    display: inherit !important;
  }
}
/* line 1544, ../scss/ebola.scss */
.infographic-ebola [class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0 -0.625rem;
}
/* line 1548, ../scss/ebola.scss */
.infographic-ebola [class*="block-grid-"]:before, .infographic-ebola [class*="block-grid-"]:after {
  content: " ";
  display: table;
}
/* line 1551, ../scss/ebola.scss */
.infographic-ebola [class*="block-grid-"]:after {
  clear: both;
}
/* line 1553, ../scss/ebola.scss */
.infographic-ebola [class*="block-grid-"] > li {
  display: block;
  height: auto;
  float: left;
  padding: 0 0.625rem 1.25rem;
}
@media only screen {
  /* line 1560, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-1 > li {
    width: 100%;
    list-style: none;
  }
  /* line 1563, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-1 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1565, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }
  /* line 1568, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-2 > li {
    width: 50%;
    list-style: none;
  }
  /* line 1571, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-2 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1573, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }
  /* line 1576, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-3 > li {
    width: 33.33333%;
    list-style: none;
  }
  /* line 1579, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-3 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1581, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }
  /* line 1584, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-4 > li {
    width: 25%;
    list-style: none;
  }
  /* line 1587, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-4 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1589, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }
  /* line 1592, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-5 > li {
    width: 20%;
    list-style: none;
  }
  /* line 1595, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-5 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1597, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }
  /* line 1600, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-6 > li {
    width: 16.66667%;
    list-style: none;
  }
  /* line 1603, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-6 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1605, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }
  /* line 1608, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-7 > li {
    width: 14.28571%;
    list-style: none;
  }
  /* line 1611, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-7 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1613, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }
  /* line 1616, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-8 > li {
    width: 12.5%;
    list-style: none;
  }
  /* line 1619, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-8 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1621, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }
  /* line 1624, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-9 > li {
    width: 11.11111%;
    list-style: none;
  }
  /* line 1627, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-9 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1629, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }
  /* line 1632, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-10 > li {
    width: 10%;
    list-style: none;
  }
  /* line 1635, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-10 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1637, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }
  /* line 1640, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-11 > li {
    width: 9.09091%;
    list-style: none;
  }
  /* line 1643, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-11 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1645, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }
  /* line 1648, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-12 > li {
    width: 8.33333%;
    list-style: none;
  }
  /* line 1651, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-12 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1653, ../scss/ebola.scss */
  .infographic-ebola .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 1656, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-1 > li {
    width: 100%;
    list-style: none;
  }
  /* line 1659, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-1 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1661, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }
  /* line 1664, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-2 > li {
    width: 50%;
    list-style: none;
  }
  /* line 1667, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-2 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1669, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }
  /* line 1672, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-3 > li {
    width: 33.33333%;
    list-style: none;
  }
  /* line 1675, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-3 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1677, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }
  /* line 1680, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-4 > li {
    width: 25%;
    list-style: none;
  }
  /* line 1683, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-4 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1685, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }
  /* line 1688, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-5 > li {
    width: 20%;
    list-style: none;
  }
  /* line 1691, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-5 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1693, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }
  /* line 1696, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-6 > li {
    width: 16.66667%;
    list-style: none;
  }
  /* line 1699, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-6 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1701, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }
  /* line 1704, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-7 > li {
    width: 14.28571%;
    list-style: none;
  }
  /* line 1707, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-7 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1709, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }
  /* line 1712, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-8 > li {
    width: 12.5%;
    list-style: none;
  }
  /* line 1715, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-8 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1717, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }
  /* line 1720, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-9 > li {
    width: 11.11111%;
    list-style: none;
  }
  /* line 1723, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-9 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1725, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }
  /* line 1728, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-10 > li {
    width: 10%;
    list-style: none;
  }
  /* line 1731, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-10 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1733, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }
  /* line 1736, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-11 > li {
    width: 9.09091%;
    list-style: none;
  }
  /* line 1739, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-11 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1741, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }
  /* line 1744, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-12 > li {
    width: 8.33333%;
    list-style: none;
  }
  /* line 1747, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-12 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1749, ../scss/ebola.scss */
  .infographic-ebola .medium-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 1752, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-1 > li {
    width: 100%;
    list-style: none;
  }
  /* line 1755, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-1 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1757, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }
  /* line 1760, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-2 > li {
    width: 50%;
    list-style: none;
  }
  /* line 1763, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-2 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1765, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }
  /* line 1768, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-3 > li {
    width: 33.33333%;
    list-style: none;
  }
  /* line 1771, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-3 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1773, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }
  /* line 1776, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-4 > li {
    width: 25%;
    list-style: none;
  }
  /* line 1779, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-4 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1781, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }
  /* line 1784, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-5 > li {
    width: 20%;
    list-style: none;
  }
  /* line 1787, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-5 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1789, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }
  /* line 1792, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-6 > li {
    width: 16.66667%;
    list-style: none;
  }
  /* line 1795, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-6 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1797, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }
  /* line 1800, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-7 > li {
    width: 14.28571%;
    list-style: none;
  }
  /* line 1803, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-7 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1805, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }
  /* line 1808, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-8 > li {
    width: 12.5%;
    list-style: none;
  }
  /* line 1811, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-8 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1813, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }
  /* line 1816, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-9 > li {
    width: 11.11111%;
    list-style: none;
  }
  /* line 1819, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-9 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1821, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }
  /* line 1824, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-10 > li {
    width: 10%;
    list-style: none;
  }
  /* line 1827, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-10 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1829, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }
  /* line 1832, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-11 > li {
    width: 9.09091%;
    list-style: none;
  }
  /* line 1835, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-11 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1837, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }
  /* line 1840, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-12 > li {
    width: 8.33333%;
    list-style: none;
  }
  /* line 1843, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-12 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 1845, ../scss/ebola.scss */
  .infographic-ebola .large-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}
