<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr valign="top">
        <td align="center"><!-- banner table -->
            <p>Having trouble viewing the newsletter? <a href="http://www.artsetobicoke.com/CMSModules/Newsletters/CMSPages/GetNewsletterIssue.aspx?issueId={%IssueID%}">View</a> this newsletter online.</p>
            <table height="150" width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                <tr>
                    <td><a href="mailto:info@artsetobicoke.com"><img src="http://artsetobicoke.com/ArtsEtobicoke/media/Photo-Galleries/art-amplify/Toolkits/new-header-newsletter.jpg" style="width: 600px; height: 150px;" alt="" /></a></td>
                </tr>
                </tbody>
            </table>
            <!-- Issue Intro -->
            <table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                <tr>
                    <td width="1" bgcolor="#ffffff"><img height="1" width="1" alt="" src="http://artsetobicoke.com/ArtsEtobicoke/media/Newsletter/imgSpace.gif" /></td>
                    <td width="1" bgcolor="#ffffff"><img height="1" width="1" alt="" src="http://artsetobicoke.com/ArtsEtobicoke/media/Newsletter/imgSpace.gif" /></td>
                    <td width="15" bgcolor="#ffffff"><img height="1" width="1" alt="" src="http://artsetobicoke.com/ArtsEtobicoke/media/Newsletter/imgSpace.gif" /></td>
                    <td width="566" bgcolor="#ffffff">$$IssueIntroImage:566:$$</td>
                    <td width="15" bgcolor="#ffffff"><img height="1" width="1" alt="" src="http://artsetobicoke.com/ArtsEtobicoke/media/Newsletter/imgSpace.gif" /></td>
                    <td width="1" bgcolor="#ffffff"><img height="1" width="1" alt="" src="http://artsetobicoke.com/ArtsEtobicoke/media/Newsletter/imgSpace.gif" /></td>
                    <td width="1" bgcolor="#ffffff"><img height="1" width="1" alt="" src="http://artsetobicoke.com/ArtsEtobicoke/media/Newsletter/imgSpace.gif" /></td>
                </tr>
                </tbody>
            </table>
            <!-- content table -->
            <table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                <tr>
                    <td width="1" bgcolor="#f0f0f0"><img height="1" width="1" alt="" src="http://artsetobicoke.com/ArtsEtobicoke/media/Newsletter/imgSpace.gif" /></td>
                    <td width="1" bgcolor="#ffffff"><img height="1" width="1" alt="" src="http://artsetobicoke.com/ArtsEtobicoke/media/Newsletter/imgSpace.gif" /></td>
                    <td width="596" bgcolor="#ffffff">$$Content:596:600$$</td>
                    <td width="1" bgcolor="#ffffff"><img height="1" width="1" alt="" src="http://artsetobicoke.com/ArtsEtobicoke/media/Newsletter/imgSpace.gif" /></td>
                    <td width="1" bgcolor="#f0f0f0"><img height="1" width="1" alt="" src="http://artsetobicoke.com/ArtsEtobicoke/media/Newsletter/imgSpace.gif" /></td>
                </tr>
                </tbody>
            </table>

            <!-- footer sponsors -->
            <table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                <tr>
                    <td align="center" colspan="3"><br />
                        <p>$$CopyRight:300:60$$ | {%UnsubscribeLink%}</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>