<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Settings_Pages_GetSettings" Codebehind="GetSettings.aspx.cs" %>

<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title>Settings Export</title>
</head>
<body>
    <form id="form1" runat="server">
    </form>
</body>
</html>
