// image paths
$baseImagePath: "/crc/blog/img";
$UiImagePath: $baseImagePath + "/ui/";

// fonts
$baseFontFamily: 'Open Sans', sans-serif;
$baseFontSize: 92.5%;
$baseLineHeight: 1.5;
 
// base colors
$baseColorRed01: #ee0000;
$baseColorRed02: #822433;

$baseColorGray01: #ebece9 ;
$baseColorGray02: #747678 ;
$baseColorGray03: #333333;
$baseColorGray04: #e0e1dd;

$baseColorBlue01: #c8e6ee;
$baseColorBlue02: #2A9AF9;


// component colors
$PageHeaderBackgroundColor: $baseColorGray01;
$DefaultTextColor: $baseColorGray03;
$DefaultBorderWidth: 1px;
$DefaultBorderColor: $baseColorGray04;

@mixin clean-ul()
{
  list-style: none;
  margin: 0;

  li {
    margin: 0;
  }
}

@mixin border-radius($args...)
{
  -webkit-border-radius: $args;
  -moz-border-radius: $args;
  border-radius: $args;
}

@mixin css-box-shadow($args...){
  -moz-box-shadow: $args;
  -webkit-box-shadow: $args;
  box-shadow: $args;
}

@function resolveBackgroundImage($imageName) {
  @return #{"url('" + $UiImagePath + $imageName + "')"};
}