.float-right {
  float: right;
}

.float-left {
  float: left;
}

.position-relative {
  position: relative;
}

.block {
  display: block;
  width: 100%;
}

.color-red {
  color: $baseColorRed01;
}

.twitter-handle {

  font-size: 0.9em;
  padding: 0 4px 0 12px;
  margin-left: 12px;
  background: resolveBackgroundImage("bkg-pipe-grey.png") no-repeat left center;

  span {
    background: resolveBackgroundImage('icon-twitter.png') no-repeat left center;
    padding-left: 26px;
  }
}

ul.horizontal-list, .horizontal-list ul {

  overflow: hidden;
  @include clean-ul();

  li {
    float: left;
    margin: 0 0 0 4px;
  }

}

.uppercase {
  text-transform: uppercase;
}

li.subscribe-link{
  @media #{$small-only} {
	text-align: center;  
  }
}

a.icon-link {

  color: $DefaultTextColor;
  text-decoration: none;

  display: block;
  border: none !important;

  span {
    /*
	    background: resolveBackgroundImage("bkg-arrow-right.png") no-repeat scroll right 2px;
		 padding: 0 16px 0 0;
	 */
    background: none;
    padding: 0;
    
  }

  &:hover span {
    background-position: right -15px;
  }

  &:hover {
    color: $baseColorRed01;
  }

  &.large {
    font-size: 1em;
    margin: 0 0 22px 0;
    padding-left: 40px;
  }

  &.rss {
    background: resolveBackgroundImage("bkg-rss-sprite.png") no-repeat;
    background-position: 5px top;

    &:hover {
      background-position: 5px -44px;
    }
  }
  

  &.subscribe {
    background: resolveBackgroundImage("bkg-subscribe-sprite.png") no-repeat;
    background-position: 0 top;
    
	 @media #{$small-only} {
	 	margin: 0;
	 	display: inline-block;
	 	width: auto;
	 }

    &:hover {
      background-position: 0 -44px;
    }
  }

}

.drop-down-list {

  position: relative;

  .header {
    padding: 0;
    margin: 8px 0 0 0;
    padding: 0 12px 0 0;

    color: #fff;
    background: $baseColorRed02;

    font-size: 1.1em;
    font-weight: normal;
    cursor: default;

    span {
      display: block;
      padding: 4px 10px 5px;
      background: resolveBackgroundImage("bkg-arrow-down.png") no-repeat right center;
    }
  }

  .body {
    position: absolute;
    background: $baseColorGray01;
    width: 100%;
    z-index: 10;
    border-bottom: solid $DefaultBorderWidth #cbcbcb;
    @include css-box-shadow(0px 5px 5px -3px #cbcbcb);

    ul {
      @include clean-ul();
      width: 100%;

      li {
        display: block;
        border-bottom: solid $DefaultBorderWidth #fff;

        a {
          display: block;
          text-decoration: none;
          color: $DefaultTextColor;
          font-size: 1em;
          text-transform: uppercase;
          padding: 10px 14px;

          &:hover {
            color: $baseColorRed02;
          }
        }

        &:last-child, &.last {
          border: none;
        }
      }
    }
  }

}

.cta {

  margin: 32px 0;
  clear: both;
  
  @media #{$small-only} {
	  margin: 0 0 25px;
	  display: block;
	  overflow: hidden;
	  float: none;  
  }
  .header {
    text-transform: uppercase;
    margin: 0;

    span {
      display: block;
    }
  }

  .body {
    position: relative;
    padding: 12px 0 0 0;
  }

  &.plain-text {
	  
  	  @media #{$small-only} {
	  	  padding: 10px 0 0;
	  }

    .header {

      border-bottom: solid $DefaultBorderWidth $DefaultBorderColor;

      span {
        padding: 2px 0;
      }
    }

    .body {

      p {
        margin: 0 0 6px 0;
      }
    }
  }

  &.toggle {

    .header {
      span {
        cursor: pointer;
        background: resolveBackgroundImage("bkg-plus-sprite.png") no-repeat right 0;
      }

      &:hover {

        color: $baseColorRed02;

        span {
          background-position: right -22px;
        }
      }
    }

    &.open {
      .header {
        span {
          background: resolveBackgroundImage("bkg-minus-sprite.png") no-repeat right 0;
        }

        &:hover {
          span {
            background-position: right -22px;
          }
        }
      }
    }
  }

  &.with-theme {

    padding: 10px;

    .body {
      padding: 0;
    }

    &.blue-theme {
      background: $baseColorBlue01 resolveBackgroundImage("bkg-cta-blue-theme.png") no-repeat right bottom;
      padding-bottom: 16px;
      overflow: hidden;
      @media #{$small-only} {
			background: $baseColorBlue01;
			text-align: center;
			padding: 15px;
			input.textbox{
				font-size: 1.1em;
				text-align: center;
			}
			.right{
				float: none !important;
				padding: 10px 0 0;
				a{
					width: 100%;
					clear: both;
					display: block;
					span{
						text-align: center;
						background-image: none;
					}
				}
			}
		}
    }
  }

  // recent blog post widget
  .post-header {
    margin: 0 0 12px 0;
    h4 {
      margin: 0 0 2px 0;
    }
  }
}

ul.links {
  @include clean-ul();

  li {
    margin: 5px 0;
  }

  a {
    text-decoration: none;
    color: $baseColorGray02;

    &:hover {
      color: $baseColorRed01;
    }

    &:before {
      content: "> ";
    }
  }
}

.section {

  margin: 0 0 40px 0;

  .section-header {

    margin: 0;
    padding: 0;
    color: #fff;

    font-size: 0.9em;
    font-weight: normal;
    text-transform: uppercase;

    border-bottom: solid $DefaultBorderWidth $DefaultBorderColor;	

    span {
      background: $baseColorGray02;
      display: inline-block;
      padding: 6px 15px;
    }
    @media #{$small-only} {
		 span{
			 display: none;
		 }
	 }
  }

  .section-body {

    overflow: hidden;
    padding: 20px;

    .section-content {
      padding: 0 20px;
    }

    &.divide {

      .per-20 {
        width: 20%;
      }

      .per-80 {
        width: 80%;
      }
    }

  }

  &.featured {
	  

    .section-header {

      span {
        background: $baseColorGray03;
      }

    }

    .section-body {
      border: solid $DefaultBorderWidth $DefaultBorderColor;
      border-top: none;
    }
  }

  &.no-padding {
    .section-body {
      padding: 0;
    }
  }

  &.top-bottom-padding {
    .section-body {
      padding: 20px 0;
    }
  }
}

p.h2{
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.blog-post {

  overflow: hidden;

  .post-header {

    h1, h2 {
      margin: 0 0 5px 0;
    }

    margin: 0 0 16px 0;
  }

  .post-body {
    overflow: hidden;
  }

  .post-metadata {
    margin: 0;
	@media #{$small-only}{
		font-size: 0.9em;
		padding: 5px 0 2px;
	} 
  }

  .post-image {
    img {
      display: block;
      width: 100%;
    }

    .photo-credit {
      display: block;
      color: $baseColorGray02;
      text-align: center;
      font-style: italic;
      font-size: 0.9em;
      margin-top: 6px;
    }
  }

  .blog-post-listing & {

    &.with-thumbnail {

      .post-header {
        padding-right: 20px;
      }

      .post-body {
        float: left;
        width: 66%;
        @media #{$small-only} {
            float: none;
            width: 100%;  
        }

        .post-content {
          padding-right: 10px;
        }
      }

      .post-image {
        float: left;
        width: 34%;
        padding-left: 4%;   
      }
    }
    .post-image-inline{
       display: block;
       padding: 0 0 15px;
       img{
          max-width: 50%;
       }
    }
    .post-footer{
      @media #{$small-only} {
        display: none;
      }
    }
  }

  .blog-post-listing.left-right-padding & {

    padding: 25px 20px 15px;
    border-bottom: solid $DefaultBorderWidth $DefaultBorderColor;
    
    @media #{$small-only} {
       padding: 25px 0 15px;
    }

    &:first-child {
      padding-top: 0;
    }

  }

  &.featured {  	 
	
    .post-body {

      .post-content {
        float: right;
        width: 45%;
        p {
          padding-left: 16px;
        }
        
        @media #{$small-only}{
			  float: none;
			  width: 100%;
			  clear: both;
			  display: block;
			  p{
				  padding: 0;
			  }
		  }
      }

      .post-image {
        float: left;
        width: 52%;
        
		  @media #{$small-only}{
			  float: none;
			  width: 100%;
			  clear: both;
			  display: block;
			  img{
				  max-width: 60%;
				  margin-bottom: 15px;
			  }
		  }
      }
    }

    &.no-image {
      .post-body {
        .post-content {
          width: 100%;
          float: none;
          p {
            padding-left: 0;
          }
        }
        .post-image {
          display: none;
        }
      }
    }

    .post-footer {
      margin-top: 16px;
      padding-top: 16px;
      border-top: solid $DefaultBorderWidth $DefaultBorderColor;
      
		  @media #{$small-only}{
			  display: none;
		  }	
    }

  }

  &.detail {

    padding: 0 20px 32px;
    @media #{$small-only} {
      padding: 0 0 30px;        
    }
    h1{
      padding-top: 20px;
      margin-top: 10px;
      border-top: solid 1px #e0e1dd;
    }

    @media #{$large-up} {
      h1{
        padding-top: 0;
        margin-top: 0;
        border: none;
      }
    }

    .post-body {

      padding-bottom: 20px;

      img {
        width: auto;
        max-width: 100%;
        height: auto;
        margin: 0;
      }

      .wordpress-export {
        img {
          display: block;
        }
      }

    }

    .post-footer {
      margin-top: 16px;
      padding-top: 16px;
      border-top: solid $DefaultBorderWidth $DefaultBorderColor;
      @media #{$small-only} {
	      border: none;
	      margin: 0;	
	      padding-top: 8px;      
	   }
    }
  }

  .post-categories, .post-tags {

    margin: 4px 0 6px;
    overflow: hidden;

    .header {
      font-weight: bold;
      span {
        padding: 0 2px 0 0;
      }
    }

    ul {
      padding: 0;
      li {
        margin: 0 8px 8px 0;
      }
    }
  }

  .post-categories {
  }

  .post-tags {
  }

  .post-footer {
    overflow: hidden;
    clear: both;
  }

  .post-linked-info {
    overflow: hidden;
    margin: 2px 0;
  }

  .post-author {

    margin-top: 48px;

    .author-name {
      margin: 0;
    }

  }
}

.button {

  text-decoration: none;
  display: inline-block;
  font-size: 0.85em;

  background: $baseColorGray04;
  border: none;
  @include border-radius(3px);
  cursor: pointer;
  outline: none;

  span {
    display: block;
    padding: 4px 8px;
  }

  &:hover {
    color: #fff;
    background: $baseColorGray02;
  }
  
  &:active {
    background: $baseColorGray03;
  }

  &.large {
    text-transform: uppercase;
    font-size: 1em;

    span {
      padding: 6px 10px;
    }
  }

  &.red  {
    background: $baseColorRed01;
    color: #fff;

    &:hover {
      background: $baseColorRed02;
    }
  }

  &.arrow-right {
    padding-left: 6px;
    padding-right: 12px;
    span {
      background: resolveBackgroundImage("bkg-arrow-right-white.png") no-repeat right center;
      padding-right: 16px;
    }
  }

}


.form-input {

  margin: 0 0 8px 0;

  &.text {
    background: #fff;
    border: solid 1px #bcbdbc;
    padding: 8px;

    &.with-button {

      position: relative;
      padding-right: 28px;

      .btn {

        display: block;

        position: absolute;
        width: 26px;
        height: 26px;
        top: 6px;
        right: 6px;

        overflow: hidden;
        text-indent: -999em;

        cursor: pointer;
        border: none;

        &.search {
          background: #fff resolveBackgroundImage("bkg-search-blog.png") no-repeat center center;
          opacity: 0.8;
          &:hover{
             opacity: 1;
          }
        }
      }
    }
  }

  &.right {
    text-align: right;
  }

  input[type='text'], .textbox {

    width: 100%;
    margin: 0;
    padding: 0;

    border: 0;
    outline: none;
    font-size: 15px;
  }
}

.content-pager {

  position: relative;
  display: table;
  margin: 0 auto;

  ul {

    li {

      overflow: hidden;
      margin: 0 0 1px;
      font-size: 14px;
      font-weight: 600; 
      a {
        display: block;
        float: left;
        margin: 0 2px;
        padding: 4px 12px;
        background: #777;
        color: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-decoration: none;
        font-weight: 600;
      
         @media #{$small-only} {
            padding: 4px 8px; 
         }
         
        &.page-active {
          text-decoration: none;
          background-color: #ee0000 !important;
          cursor: default !important;
        } 
        &:hover{
           background-color: #ee0000;
           color: #fff;
        }
      }
      
      &.dots{
         a{
            background-color: #fff;
            color: #999;
            &:hover{
               color: #555;
            }
         }
      }
      
      &.next{
         
      }
      &.previous{
         
      }

      &.bg-sprite {
         display: none !important;
         position: relative;
         top: 5px;

        a {

          padding: 0px 7px;
          text-indent: -999em;
          background: resolveBackgroundImage("bkg-pager-sprite.png") no-repeat;

          &.page-first {
            background-position: 0px 0px;
          }

          &.page-prev {
            background-position: -12px 0px;
          }

          &.page-next {
            background-position: -22px 0px;
          }

          &.page-last {
            background-position: -36px 0px
          }

        }

        a:hover {

          &.page-first {
            background-position: 0px -20px;
          }

          &.page-prev {
            background-position: -12px -20px;
          }

          &.page-next {
            background-position: -22px -20px;
          }

          &.page-last {
            background-position: -36px -20px
          }

        }
      }
    }
  }
}

.page-comments {

  padding: 0 0 36px 0;

  #disqus_thread {

    a {
      color: $baseColorRed01;
    }
  }
}

.slideshow {

  .slides{

    .slide {
      width: auto;
      max-width: 100%;
      height: auto;
      margin: 4px 0;
    }
  }
}

.loader {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 50%;
  margin-left: -8px;
  overflow: hidden;
  background: resolveBackgroundImage("loading.gif") no-repeat left top;
  display: none;
}