.slideshow{
	display: block;
	padding-bottom: 30px;
	@media #{$small-only} {
		display: block;
		padding-bottom: 60px;	
		margin: 0 0 30px;
		border-bottom: 3px solid #f7f7f7;
   }
  .slides{
    position: relative;
    ul{
      display: none;
    }
    .slide{
      position: relative;
      background-color: #000000;//#5856d6;
      text-align: center;
      height: 440px;
      /*max-width: 660px;*/
		width: 100%;
		max-width: 100%;
      overflow: hidden;
		@media #{$medium-only} {			
			width: 100%;
			max-width: 100%;
		}
      img{ 
        height: 440px;
        max-height: 100%;
        display: inline !important;
        max-width: none;
        vertical-align: middle;
        margin-bottom: 0.25em;
      }
      .slide-content{
        padding: 16px 88px 16px 16px;
        position: absolute;
        width: 100%;
        min-height: 10px;
        left: 0;
        margin-left: 0; 
        bottom: 0;
        background-color: #000000;
        background-color: rgba(0,0,0,0.5);
        color: #FEFEFE;
        text-align: left;
        font-size: 14px;
      }      
      
		@media #{$small-only} {
			width: 100%;
			max-width: 100%;
			height: 360px;
			line-height: 360px;
			img{
				height: auto;
				max-width: 100%;
			}
			.slide-content{
				position: absolute;
				bottom: 0;
				width: 100%;
				padding: 10px 15px;
				line-height: 17px;
				font-size: 13px;
				left: 0;
				height: auto;
				margin: 0;
				width: 100%;
	 		   overflow: hidden;
	 		   text-align: center;
			}
		}
		
    }
    .slider-pagination{
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      width: 120px;
      height: 30px;
      color: #FEFEFE;
      position: absolute;
      right: 0;
      text-align: right;
      bottom: 8px;
      font-size: 14px;
      @media #{$small-only} {
	   	text-align: center;
	   	color: #444;
	   	bottom: -46px; 
	   	width: 100%;
	   	display: block; 
			font-size: 13px;
	   }
      .previous, .next{
        cursor: pointer;
        div{
          width: 34px;
          height: 34px;
          display: inline-block;
          vertical-align: middle;
				 
			
        }
      }
      
      .previous{
	     @media #{$small-only} {
			padding: 0 10px 0 0;
	     }
        div{
          background: url('../img/ui/slider-arrow-left.png') no-repeat;
			 @media #{$small-only} {
			 	background-color: #999; 
			 	border-radius: 3px;
			 	&:hover{
				 	background-color: #777;
			 	}
			 }
        }
      }
      
      .next{
	     @media #{$small-only} {
	     	padding: 0 0 0 10px;
	     }
        div{
          background: url('../img/ui/slider-arrow-right.png') no-repeat;
          @media #{$small-only} {
			 	background-color: #999; 
			 	border-radius: 3px;
			 	&:hover{
				 	background-color: #777;
			 	}
			 }
        }
      }
          
      
          
    }
  }
}
//IE8
.no-csstransforms3d{
  .slideshow .slides .slide .slide-content{
    background: transparent url(../img/ui/black-alpha-pixel.png);
  }
}