html {
    background-color: #747678;
    @media #{$small-only} {
        background-color: #efefef;
    }
}

html,
body {
    height: 100%;
}

body {
    color: $DefaultTextColor;
    background: none;
}

a {
    color: $DefaultTextColor;
    &:hover {
        color: $baseColorRed01;
    }
}

.ros-banner {
    text-align: center;
    bottom: 0;
    left: 0;
    padding: 3px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: white;
    box-shadow: 1px 1px 7px #ccc;
    -moz-box-shadow: 1px 1px 7px #ccc;
    -ms-box-shadow: 1px 1px 7px #ccc;
    -o-box-shadow: 1px 1px 7px #ccc;
}

#page-header {
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    // @media #{$medium-only} { 
    // 	height: 100px;		
    // }
    @media #{$large-up} {
        background: $PageHeaderBackgroundColor;
        padding: 16px 0;
        height: auto;
        border-bottom: none;
    }
    div.logo {
        width: 100%;
        position: relative;
        margin: 25px 0;
        a.blog-logo {
            display: block;
            position: relative;
            top: 0;
            left: 0;
            width: 170px;
            img {
                width: 100%;
                height: auto;
            }
            body.FRCA & {
                width: 188px;
            }
        }
        span.main-logo {
            display: block;
            font-size: 1.8em;
            font-weight: normal;
            color: $DefaultTextColor;
            position: absolute;
            top: 15px;
            left: 200px;
            line-height: 20px;
            @media #{$large-up} {
                line-height: 28px;
            }
            body.FRCA & {
                left: 215px;
            }
            span {
                font-weight: bold;
            }
            a {
                color: $DefaultTextColor;
                display: block;
                text-decoration: none;
                display: inline-block;
            }
        }
        @media #{$large-up} {
            margin: 0;
            top: 40px;
            a.blog-logo {
                left: 5px;
                width: 220px;
                body.FRCA & {
                    width: 245px;
                }
            }
            span.main-logo {
                font-size: 2.6em;
                left: 265px;
                body.FRCA & {
                    left: 285px;
                }
            }
        }
    }
    .search-box {
        width: 240px;
        float: right;
    }
    .social-media-links {
        overflow: hidden;
        margin: 30px 0 0 0;
        ul {
            margin: 0 0 16px 0;
            li {
                margin: 0 0 0 .5rem;
                &.header {
                    margin: 0;
                    padding-top: 8px;
                    h5 {
                        font-size: 0.9em;
                        font-weight: normal;
                    }
                }
            }
        }
    }
    .language-toggle {
        position: absolute;
        top: -16px;
        right: 10px;
        a {
            display: block;
            background: $baseColorGray02;
            color: #fff;
            font-size: 0.9em;
            text-transform: uppercase;
            text-decoration: none;
            @include border-radius(0 0 6px 6px);
            span {
                display: block;
                padding: 6px 12px 7px;
            }
            &:hover {
                background: $baseColorRed02;
            }
        }
    }
}

a.social-media-icon {
    background: resolveBackgroundImage("social-media-icons-sprite.png") no-repeat center bottom;
    width: 30px;
    height: 30px;
    display: block;
    overflow: hidden;
    text-indent: -999em;
    &.facebook {
        background-position: 0 bottom;
    }
    &.twitter {
        background-position: -30px bottom;
    }
    &.linkedin {
        background-position: -60px bottom;
    }
    &.youtube {
        background-position: -90px bottom;
    }
    &.flickr {
        background-position: -120px bottom;
    }
}

.svg-wrapper { 
  width: 30px;
  height: 30px;
  padding: 0;
  background: 0 0;
  border: none;
  margin: 0;
  display: inline-block;

  &.linkedin {
    path {
      fill: #0a6c9b !important;
    }
  }

  & svg {
      width: 100%;
      height: auto;
  }
}

.mobile-searchbox {
    padding: 15px;
    background: #f7f7f7;
    border: 1px solid #e7e7e7;
    margin: 0 0 20px;
    position: relative;
    top: -6px;
    .form-input.text.with-button {
        margin: 0;
    }
}

#navigation-bar {
    background: resolveBackgroundImage("bkg-main-navigation.png") repeat-x left top;
    height: 45px;
    .main-navigation {
        ul {
            li {
                margin: 0;
                border-right: solid $DefaultBorderWidth #fff;
                line-height: 45px;
                height: 45px;
                &:first-of-type {
                    border-left: solid $DefaultBorderWidth #fff;
                }
                &.donate {
                    float: right;
                    border: none;
                }
                a {
                    display: block;
                    padding: 0 22px;
                    font-size: 1.2em;
                    line-height: 47px;
                    height: 45px;
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        background: resolveBackgroundImage("bkg-main-navigation-hover.png") repeat-x left top;
                    }
                }
                &.donate {
                    padding: 5px;
                    line-height: 35px;
                    height: 35px;
                    a {
                        height: 35px;
                        line-height: 36px;
                        background: #822433;
                        border-radius: 3px;
                        &:hover {
                            background: #9c2a3c;
                        }
                    }
                }
            }
        }
    }
}

.mobile-blog-navigation {
    background: #3d3e40;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
    height: 52px;
    width: 100%;
    display: block;
    ul {
        padding: 0;
        margin: 0;
        height: 52px;
        display: block;
        width: 100%;
        li {
            line-height: 52px;
            height: 52px;
            float: left;
            background: 0;
            margin: 0;
            padding: 0;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            list-style: none;
            a {
                display: block;
                color: #fff;
                text-decoration: none !important;
                height: 52px;
            }
            &.menu {
                width: 30%;
                a:hover {
                    background-color: #222;
                }
            }
            &.search {
                width: 20%;
                background-color: #fff;
                &:hover {
                    img {
                        opacity: 0.7;
                    }
                }
            }
            &.donate {
                width: 50%;
                a {
                    background-color: #ee0000;
                    &:hover {
                        background-color: #cc0000;
                    }
                }
            }
        }
    }
}

.flexpanel {
    ul {
        padding: 10px 0 0 !important;
        li {
            margin: 0;
            a {
                text-decoration: none !important;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.search-result {
    @media #{$small-only} {
        #right-rail {
            display: none;
        }
        #page-body {
            padding-bottom: 60px;
        }
    }
    @media #{$medium-only} {
        #right-rail {
            display: none;
        }
    }
}

#page-body {
    background: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 500px;
    @media #{$large-up} {
        padding-bottom: 80px;
    }
    .info-links {
        @include clean-ul();
    }
    #right-rail {
        font-size: 0.95em;
    }
    .internal-page {
        padding-top: 30px;
    }
    .main-content-header {
        margin: 0 0 34px 0;
        @media #{$small-only} {
            margin: 0 0 20px;
        }
    }
    .form {
        &.newsletter {
            table {
                width: 80%;
                th {
                    width: 30%;
                    background: none;
                    color: #000;
                    font-weight: bold;
                    font-size: 1.1em;
                    text-align: right;
                    padding: 10px 6px 6px 6px;
                    span,
                    label {}
                }
                td {
                    width: 70%;
                    input {
                        width: 100%;
                        padding: 4px 2px;
                    }
                    .text-error {
                        color: $baseColorRed01;
                    }
                }
            }
            p {
                &.text-error {
                    text-align: right;
                    font-style: italic;
                }
            }
            label {
                font-size: 1em;
                font-weight: 600;
                padding: 10px 0 5px;
                margin: 0;
                display: block;
                text-align: left;
                @media #{$medium-up} {
                    padding: 16px 0;
                    text-align: right;
                }
            }
            input {
                padding: 10px;
                border: 1px solid #ccc;
                background: #fff;
                width: 100%;
                margin: 0 0 14px;
                overflow: hidden;
                font-size: 1.1em;
                @media #{$medium-up} {
                    margin: 8px 0;
                }
                &:focus {
                    border-color: #999;
                }
            }
            .required,
            .text-error {
                color: $baseColorRed01;
                font-size: 0.9em;
            }
            p.required {
                text-align: left;
                margin: 0;
                float: none !important;
                @media #{$medium-up} {
                    text-align: right;
                    float: right !important;
                }
            }
            .button {
                text-decoration: none;
                text-transform: uppercase;
                display: inline-block;
                padding: 6px 32px 6px 14px;
                float: right;
                border: none;
                @include border-radius(6px);
                cursor: pointer;
                outline: none;
                background: $baseColorRed01 resolveBackgroundImage('bkg-arrow-right-white.png') no-repeat 90% center;
                color: #fff;
                margin: 4px 0 30px;
                &:hover {
                    background-color: $baseColorRed02;
                }
            }
        }
    }
}

.blog-post .post-categories li:first-of-type,
.blog-post .post-tags li:first-of-type {
    @media #{$small-only} {
        display: block;
        float: none;
        clear: both;
        color: #444;
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 600;
        span {
            font-weight: 600;
        }
    }
}

.post-content {
    img {
        max-width: 100%;
        width: auto !important;
        height: auto !important;
    }
}

.post-author {
    @media #{$small-only} {
        background: #f7f7f7;
        border: none !important;
        &.section.featured .section-body {
            border: none;
        }
        &.section.featured {
            .section-header {
                border: none;
                span {
                    display: block;
                    background: none;
                    padding: 15px;
                    color: #444;
                    font-size: 18px;
                    text-transform: capitalize;
                    font-weight: 600;
                }
            }
            .section-body {
                padding: 15px;
                padding-top: 0;
            }
            .per-20 {
                display: none;
            }
            .per-80 {
                float: none;
                width: 100%;
                display: block;
                .section-content {
                    padding: 0;
                    .author-name {
                        font-size: 18px;
                    }
                }
            }
        }
        .twitter-handle {
            margin: 0;
            background: none;
            padding: 5px 0 10px;
            display: block;
        }
    }
}

#page-footer {
    padding: 0;
    background-color: #efefef;
    color: #fff;
    .row {
        background: none;
        min-height: 0;
        padding-top: 24px;
        padding-bottom: 24px;
        @media #{$large-up} {
            //  background: resolveBackgroundImage("red-cross-logo-footer.png") no-repeat 98% 20px;
            background: url('/crc/images/logo.2017.svg') no-repeat 100%;
            background-size: 150px 100%;
        }
        @media #{$small-only} {
            padding-bottom: 0;
            padding-top: 14px;
        }
    }
    .social-media-links {
        padding: 0 0 15px;
        @media #{$large-up} {
            display: none;
        }
        .float-right {
            float: none;
            li {
                color: #333;
                line-height: 30px;
                font-weight: normal;
                margin: 0 1px 0 0;
                h5 {
                    line-height: 30px;
                    font-weight: 600;
                    padding-right: 5px;
                    font-size: 13px;
                }
                &.header {
                    //float: none;
                    //clear: both;
                    line-height: 1;
                    margin: 0 0 0;
                }
                &:nth-child(5) {
                    margin-left: 6px;
                    margin-right: 7px;
                }
            }
        }
    }
    #footer-legal-info {
        background: none;
        color: #666;
        padding: 0 0 30px;
        text-transform: none;
        @media #{$large-up} {
            padding: 20px 200px 30px 0;
        }
        a {
            color: #ee0000;
            display: block;
            padding: 0 0 25px;
            @media #{$large-up} {
                display: none;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .copyright {
        display: block;
        clear: both;
        overflow: hidden;
    }
    a {
        color: #dddddd;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    h4 {
        margin: 0;
        border-bottom: solid $DefaultBorderWidth #fff;
        font-size: 1.1em;
        text-transform: uppercase;
        margin-bottom: 15px;
        span {
            display: block;
            padding: 2px 0;
        }
    }
    ul {
        @include clean-ul();
        li {
            margin: 8px 0;
        }
    }
}

// table styles for page-body
#page-body table {
    width: 100%;
    font-size: 1em;
    th,
    td {}
    th {
        color: $baseColorRed01;
        background: #fbfbfb;
        padding: 6px;
    }
    td {
        padding: 6px;
    }
    tfoot {
        td {
            padding: 6px;
        }
    }
}

.media-item-caption,
.image-with-caption+p {
    margin: 4px 0 16px;
    font-style: italic;
}

.alignright {}

.alignleft {}

.aligncenter {}

blockquote {
    padding: 20px;
    background: $baseColorGray01;
    margin: 32px 0;
    font-style: italic;
    font-size: 1.1em;
}

span.imgLeft {
    overflow: hidden;
    float: left;
    display: block;
    margin: 3px 16px 16px 0
}

span.imgRight {
    overflow: hidden;
    float: right;
    display: block;
    margin: 3px 0 16px 16px
}

span.imgCenter {
    display: block;
    margin: 6px auto;
    text-align: center;
}

// AddThis Social Share
#at4m-dock {
    width: 45px !important;
    height: 50px !important;
    position: fixed;
    border: 113px;
    right: 0px;
    left: inherit !important;
    bottom: 150px;
    border: none !important;
    background: url('/crc/images/social-share.svg') no-repeat !important;
    * {
        opacity: 0 !important;
    }
}

#at4m-dock-toggle {
    display: none;
}

// French CSS override
.FRCA {
    #page-header {
        h5.main-logo {
            background-image: resolveBackgroundImage("red-cross-logo-fr.png");
        }
    }
    #page-footer {
        .row {
            @media #{$large-up} {
                // background: resolveBackgroundImage("red-cross-logo-footer-fr.png") no-repeat 98% 20px;
                background-image: url('/crc/images/logo-fr.2017.svg');
            }
        }
        #footer-legal-info {
            background: none;
        }
    }
}

// IE7 override
.IE7 {
    .form-input.text.with-button .btn {
        font-size: 0;
    }
}

// Quiz
#quiz #thankyou,
#quiz .hide,
#quiz .pages,
#quiz-content {
    display: none;
}

.incorrect {
    border: 1px solid red;
    background: #ffdede;
    padding: 5px;
    margin-bottom: 10px;
}

.correct {
    border: 1px solid #44ab00;
    background: url(/crc/images/correct.png) 98% 50% no-repeat #f3fff3;
    padding: 5px;
    margin-bottom: 10px;
}

#quiz .option>div {
    padding: 5px;
}

#quiz .option>div,
#quiz .hide,
.pages {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.explaination hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25rem 0 1.1875rem;
    height: 0;
}