﻿<%@ Page Language="C#" Codebehind="SearchTask_Report.aspx.cs"
    Inherits="CMSModules_SmartSearch_SearchTask_Report"
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/Dialogs/ModalDialogPage.master"
    Title="Smart search - task report" %>

<asp:Content ID="cntBody" runat="server" ContentPlaceHolderID="plcContent">
    <asp:Label runat="server" ID="lblReport" EnableViewState="false"></asp:Label>
</asp:Content>
