﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="EditVerificationCheckList.ascx.cs" Inherits="CMSApp.CRC.FormControls.EditVerificationCheckList" %>
<asp:CheckBoxList ID="lstEditVerification" runat="server">
</asp:CheckBoxList>