﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CRC.FormControls.FlickrPhotoSetSelector" Codebehind="FlickrPhotoSetSelector.ascx.cs" %>
<asp:DropDownList runat="server" ID="ddlPhotoSets" />