﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="HiddenFieldCurrentLanguage.ascx.cs" Inherits="CMSApp.CRC.FormControls.HiddenFieldCurrentLanguage" %>
<asp:HiddenField runat="server" ID="hidLanguage"/>