﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MultiBranchSelector.ascx.cs" Inherits="CMSApp.CRC.FormControls.MultiBranchSelector" %>
<asp:ListBox runat="server" ID="lbBranches" SelectionMode="Multiple" Rows="10" style="height:150px;width:400px" />