﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="RadioButtonsControl.ascx.cs"
    Inherits="CMSApp.CRC.FormControls.RadioButtonsControl" %>
<cms:CMSRadioButtonList ID="list" runat="server" />
