﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="CodeName.ascx.cs" Inherits="CMSFormControls_System_CodeName" %>
<cms:CMSTextBox ID="textbox" runat="server" /><span class="info-icon"><asp:Label runat="server" ID="spanScreenReader" CssClass="sr-only"></asp:Label><cms:CMSIcon runat="server" id="iconHelp" enableviewstate="false" 
    class="icon-question-circle" aria-hidden="true"></cms:CMSIcon></span>