﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ObjectBindingControl.ascx.cs" Inherits="CMSFormControls_System_ObjectBindingControl" %>
<cms:CMSCheckBox runat="server" id="chkBindObject"/>
