﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ObjectCategorySelector.ascx.cs" Inherits="CMSFormControls_System_ObjectCategorySelector" %>
<%@ Register Src="~/CMSFormControls/Selectors/BasicAutocompleteDropdown.ascx" TagName="Selector" TagPrefix="cms" %>
<cms:Selector ID="drpCategory" runat="server" />