<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_MediaLibrary_MediaLibraryDataSource" Codebehind="~/CMSWebParts/MediaLibrary/MediaLibraryDataSource.ascx.cs" %>
<%@ Register TagPrefix="cms" Namespace="CMS.MediaLibrary" Assembly="CMS.MediaLibrary" %>
<cms:MediaLibraryDataSource ID="srcMediaLib" runat="server" />
