label{
  display: block;
  padding: 7px 0;
  @include breakpoint(medium down) {
    width: 89%;
  }
  p{
    float: left;
    width: 95%;
    margin-top: -1px;
    font-weight: normal;
    font-family: $body-font-family;
    @include breakpoint(medium down) {
      width: 85%;
    }
  }
  &.error{
    margin-bottom:30px;
    color: $crc-red;
    font-family: $body-font-family;
    font-weight: normal;
  }
}

input{
  width: 45%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid $form-inputs;
  margin-bottom:30px;
  padding-left: 10px;
  padding-right: 10px;

  &::-ms-clear {
    display: none;
  }
  &[type="file"]{
    border: none;
    line-height: rem-calc(14);
  }
  &[type="submit"]{
    border: none;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 32px 12px 32px;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 0.75rem;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0;

  }
  &.error{
    border: 3px solid $crc-red;
    margin-bottom:0;
  }
  @include breakpoint(medium down){
    width:100%;
  }
}

textarea{
  border: 1px solid $form-inputs;
  border-radius: 5px;
  margin-bottom:30px;
  width: 100%;
  height: 100px;
  padding: 10px;
  &.error{
    border: 3px solid $crc-red;
    margin-bottom:0;
  }
}

:root input[type=checkbox] {
  /* original check box are push outside the viexport */
  position: absolute;
  left: -1000em;
  &:hover{
    cursor: pointer;
  }
}

:root input[type=checkbox] + label:before {
  content: "";
  display: inline-block;
  width  : 23px;
  height : 23px;
  margin : 0 .5em 0 0;
  float:left;
  background: url("/CRCTimeline/UI/img/checkbox.png") no-repeat 0 0;

  /* The following is used to adjust the position of
     the check boxes on the text baseline */

  vertical-align: bottom;
  position: relative;
  bottom: 0px;
  &:hover{
    cursor: pointer;
  }
}

:root input[type=checkbox]:checked + label:before {
  background-position: 0 -26px;
}

:root input[type=checkbox]:focus + label:before {
  outline: -webkit-focus-ring-color auto 5px;;
}



.field{
  &.left{
    float:left;
    width:48%;
    padding-right: 3%;
    input{
      width:100%;
    }
    @include breakpoint(medium down){
      width:100%;
      padding-right:0;
    }
  }
}

.checkbox{
  margin-bottom: 53px;
  label{
    display: inline;
  }
}

.text-area{
  width:100%;
}

.file-uploader{
  .browse{
    @extend button;
    @extend .grey-btn;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  input.error{
    margin-bottom: 0;
  }
  .error{
    margin-top: -30px;
    margin-bottom: 0;
  }
}

.file-upload{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}


.file-upload:focus + label{
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.file-uploaded{
  font-style: italic;
  margin-left: 30px;
}

.btn-field {

  position: relative;
  display: inline-block;
  
  &:hover {

    .btn-loader:after {
      background: #d50000;
    }
    
  }

  &.processing {
    .btn-loader {
      display: block;
    }
  }

  .btn-loader {

    display: none;
    
    position: absolute;
    top: 50%;
    right: 6px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    border-radius: 50%;

    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);

    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    transform: translateZ(0);

    &:before {
      width: 50%;
      height: 50%;
      background: white;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
    }

    &:after {

      background: $crc-red;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

    }

  }

}



@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

