.gallery {
    &.container {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, .5);
        justify-content: center;
        align-items: center;
        padding: 10px;
        z-index: 11;
        &.closed {
            display: none;
        }
    }
    .content {
        position: relative;
        background: #EFF0ED;
        margin: 0;
        height: auto;
        width: auto;
        max-height: 90%;
        z-index: 12;
        padding: 40px;
        padding-bottom: 44px;
    }
    .close {
        background: url("/CRCTimeline/UI/img/icon-x.png") #ee0000 50% 50% no-repeat;
        border-radius: 100%;
        position: absolute;
        left: -30px;
        top: -20px;
        padding: 14px 20px 15px 20px;
        height: 37px;
        margin-left: 10px;
    }
    .direction {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .next {
        right: 7px;
        &::after {
            content: ' ';
            background: url("/CRCTimeline/UI/img/icon-arrow-forward.png") transparent 50% 50% no-repeat;
            display: inline-block;
            width: 13px;
            height: 10px;
            margin-left: 4px;
        }
    }
    .previous {
        right: 90px;
        &::before {
            content: '';
            background: url("/CRCTimeline/UI/img/icon-arrow-back.png") transparent 50% 50% no-repeat;
            display: inline-block;
            width: 13px;
            height: 10px;
            margin-right: 4px;
        }
    }
    .arrow-direction {
        position: absolute;
        top: 50%;
        padding: 10px;
        &.next {
            right: 0;
            &::after {
                background-image: url('/CRCTimeline/UI/img/icon-angle-forward.png');
                height: 30px;
                width: 20px;
            }
        }
        &.previous {
            left: 0;
            text-align: left; //Safari bug???
            &::before {
                background-image: url('/CRCTimeline/UI/img/icon-angle-back.png');
                height: 30px;
                width: 20px;
            }
        }
    }
    .figure {
        margin: 0;
        margin-bottom: 30px;
        .image {
            max-height: calc(100vh - 300px);
        }
        .caption {
            margin-top: 20px;
            margin-bottom: -15px;
            font-family: "Open Sans", Arial, sans-serif;
            text-align: left;
        }
    }
    .image-count {
        font-size: 12px;
        font-weight: 700;
        padding: 14px 32px;
        position: absolute;
        bottom: 0;
        left: 9px;
        .value {
            display: inline-block;
        }
        .text {
            display: inline-block;
            ;
            text-transform: uppercase;
            margin-right: 5px;
        }
    }
}