@import 'slick-carousel/slick/slick.scss';

/* custom styles for generic slider */
.slider-container {
  @include breakpoint(medium down) {
    background-color: $home-slider;
  }
}

.home-slider {
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);

  .slide {
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  @include breakpoint(medium down) {
    box-shadow: none;
    border-bottom: 1px solid $light-gray;
    .slick-dots-wrapper {
      display: none;
    }
    .slick-slide {
      //  width: 100% !important;
      //  height: auto !important;
      .caption-container {
        //position: absolute;
      }

      .caption {
        h1 {
          text-align: left;
          font-size: rem-calc(30);
          max-width: 100%;
        }
        p {
          text-align: left;
          font-size: rem-calc(16);
          max-width: 100%;
          margin-top: 5px;
          margin-bottom: 15px;
        }
        .arrow {
          float: left;
          color: inherit;
          margin-bottom: 30px;
          &:hover {
            color: inherit;
          }
          &:after {
            content: '';
            background-image: url("/CRCTimeline/UI/img/icon-arrow-forward.png");
            position: absolute;
            right: -20px;
            padding-top: 1px;
            transition: right 100ms ease-out;
            width: 13px;
            height: 10px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

.supporting-asset-viewer {
  .slick-list {
    &:focus {
      border: none !important;
    }
  }
  @include breakpoint(medium only) {
    .slick-next,
    .slick-prev {
      transform: translateY(-150%);
    }
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  z-index: 2;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;

  img {
    width: 100%;
  }
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

// slides

.slider {
  // overflow: hidden;
  // max-height:620px;
  background-color: $home-slider;
}

.slick-slide {
  position: relative;
  &:hover {
    cursor: pointer;
    img {
      opacity: 1;
    }
  }

  @media #{$large-up} {
    &.gradient-light {
      .caption {
        h1 {
          color: $heading-color;
        }
      }
      &.gradient-left {
        .caption {
          text-align: left !important;
        }
        &:after {
          backface-visibility: hidden;
          top: 0;
          left: 0;
          background: -webkit-linear-gradient(
            right,
            rgba(255, 0, 0, 0),
            rgba(255, 255, 255, 0.8)
          ); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(
            left,
            rgba(255, 0, 0, 0),
            rgba(255, 255, 255, 0.8)
          ); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(
            left,
            rgba(255, 0, 0, 0),
            rgba(255, 255, 255, 0.8)
          ); /* For Firefox 3.6 to 15 */
          background: linear-gradient(
            to left,
            rgba(255, 0, 0, 0),
            rgba(255, 255, 255, 0.8)
          );
        }
      }
      &.gradient-right {
        .row {
          left: 50%;
        }
        .caption {
          text-align: right !important;
          right: 0;
        }
        &:after {
          backface-visibility: hidden;
          top: 0;
          right: 0;
          background: -webkit-linear-gradient(
            left,
            rgba(255, 0, 0, 0),
            rgba(255, 255, 255, 0.8)
          ); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(
            right,
            rgba(255, 0, 0, 0),
            rgba(255, 255, 255, 0.8)
          ); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(
            right,
            rgba(255, 0, 0, 0),
            rgba(255, 255, 255, 0.8)
          ); /* For Firefox 3.6 to 15 */
          background: linear-gradient(
            to right,
            rgba(255, 0, 0, 0),
            rgba(255, 255, 255, 0.8)
          );
        }
      }
    }
    &.gradient-dark {
      .caption {
        h1 {
          color: $white;
        }
      }
      &.gradient-left {
        .caption {
          text-align: left !important;
        }
        &:after {
          backface-visibility: hidden;
          top: 0;
          left: 0;
          background: -webkit-linear-gradient(
            right,
            rgba(255, 0, 0, 0),
            rgba(0, 0, 0, 0.8)
          ); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(
            left,
            rgba(255, 0, 0, 0),
            rgba(0, 0, 0, 0.8)
          ); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(
            left,
            rgba(255, 0, 0, 0),
            rgba(0, 0, 0, 0.8)
          ); /* For Firefox 3.6 to 15 */
          background: linear-gradient(
            to left,
            rgba(255, 0, 0, 0),
            rgba(0, 0, 0, 0.8)
          );
        }
      }
      &.gradient-right {
        .caption {
          text-align: right !important;
          right: 0;
        }
        &:after {
          backface-visibility: hidden;
          top: 0;
          right: 0;
          background: -webkit-linear-gradient(
            left,
            rgba(255, 0, 0, 0),
            rgba(0, 0, 0, 0.8)
          ); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(
            right,
            rgba(255, 0, 0, 0),
            rgba(0, 0, 0, 0.8)
          ); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(
            right,
            rgba(255, 0, 0, 0),
            rgba(0, 0, 0, 0.8)
          ); /* For Firefox 3.6 to 15 */
          background: linear-gradient(
            to right,
            rgba(255, 0, 0, 0),
            rgba(0, 0, 0, 0.8)
          );
        }
      }
    }
  }
  @media only screen and (min-width: 970px) {
    &.gradient-light.gradient-right .caption {
      right: 65px;
    }
  }
  @media only screen and (min-width: 1100px) {
    &.gradient-light.gradient-right .caption {
      right: 100px;
    }
  }
  @media only screen and (min-width: 1160px) {
    &.gradient-light.gradient-right .caption {
      right: 0;
    }
  }

  .text-light {
    .caption {
      h1,
      p {
        color: $white;
      }
    }
    a.next,
    a.arrow,
    span.arrow {
      color: $white;
      &:after {
        content: '';
        background-image: url("/CRCTimeline/UI/img/icon-arrow-white.png");
        position: absolute;
        right: -20px;
        padding-top: 1px;
        transition: right 100ms ease-out;
        width: 13px;
        height: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
      @include breakpoint(large) {
        &.red,
        &.grey {
          padding: 10px 30px 10px 10px;
          border-radius: 5px;
          top: 35px;
          &:after {
            right: 12px;
          }
        }

        &.red {
          background: #ee0000;
        }

        &.grey {
          background: #f0f1ee;
          color: #494242;
          &:after {
            background-image: url('/CRCTimeline/UI/img/icon-arrow-forward.png');
          }
        }
      }
    }
    @include breakpoint(medium down) {
      h1,
      p {
        color: #383838 !important;
      }
    }
  }

  .caption {
    backface-visibility: hidden;
    text-align: center;
    z-index: 5000;

    @media #{$large-up} {
      position: absolute;
      top: 40%;
      -webkit-transform: translateY(-60%);
      -moz-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
      transform: translateY(-60%);
      position: absolute;
      display: inline-block;
      text-align: left !important;
    }
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }
    h1 {
      font-size: rem-calc(20);
      line-height: rem-calc(29);
      color: $heading-color;
      margin-bottom: 20px;
      @media only screen and (min-width: 952px) and (max-width: 1350px) {
        font-size: rem-calc(44);
        line-height: rem-calc(47);
        max-width: 600px;
      }
      @media screen and (min-width: 1351px) {
        font-size: rem-calc(57);
        line-height: rem-calc(60);
        max-width: 600px;
      }
    }
    p {
      max-width: 450px;
      margin-top: -5px;
      margin-bottom: 5px;
    }
  }
}

// slick buttons
.slick-dots-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 4;
  &#slick-dots-count-1 {
    ul.slick-dots li {
      width: 10%;
    }
  }
  &#slick-dots-count-2 {
    ul.slick-dots li {
      width: 50%;
    }
  }
  &#slick-dots-count-3 {
    ul.slick-dots li {
      width: 33%;
    }
  }
  &#slick-dots-count-4 {
    ul.slick-dots {
      max-width: rem-calc(1300);
      li {
        width: 25%;
      }
    }
  }

  ul.slick-dots {
    max-width: $row-width;
    margin: 0 auto;
    padding: 0;
    height: 100px;
    li {
      padding: 0;
      float: left;
      position: relative;
      list-style: none;
      height: 50px;
      border-left: 1px solid $border-color;
      text-align: left;
      font-size: 1rem;
      line-height: 1.25;
      &:first-of-type {
        border-left: none;
      }
      &.slick-active {
        button {
          color: $home-slider-active-btn;
          &:hover {
            color: $home-slider-active-btn;
            top: 0px;
            border-top: 6px solid transparent;
          }
        }
      }

      &:before {
        content: '';
      }
      button {
        color: $header-color;
        text-transform: uppercase;
        background-color: transparent;
        font-weight: bold;
        letter-spacing: .5px;
        font-size: rem-calc(13);
        margin: 0;
        border: none;
        border-top: 6px solid transparent;
        padding: 0 15px;
        height: 50px;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        border-radius: 0;
        @include transition(all, 0.125s, ease);
        text-align: left;
      }

      .vertical-align {
        @include vertical-align;
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
      .icon {
        left: 18px;
        max-width: 50px;
        padding-right: 0;
      }

      &:hover button {
        color: $crc-red;
        top: -6px;
        border-top-color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
      }
      span {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        padding-left: 60px;
      }
      img,
      svg {
        max-width: 47px;
        margin-right: 1rem;
        float: left;
      }
    }
  }
}

.slick-next,
.slick-prev {
  display: none !important;
}

//next prev Mobile only
@media only screen and (max-width: $large) {
  .slick-prev,
  .slick-next {
    display: block !important;
    text-indent: -999em;
    position: absolute;
    width: 24px;
    height: 36px;
    transition: top 0.25s;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0;
    padding: 12px;

    &:hover {
      background-color: transparent;
    }
  }
  .slick-prev {
    background: url("/CRCTimeline/UI/img/slider-arrow-left.png") no-repeat
      transparent;
    left: 0;
    z-index: 10;
  }

  .slick-next {
    background: url("/CRCTimeline/UI/img/slider-arrow-right.png") no-repeat
      transparent;
    right: 0;
  }
}
