// Import Crimson Text | Google Fonts
//@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,600,400italic);

// Import Libre Baskerville | Google Fonts
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);

// Import Open Sans | Google Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

body {
  font-size: rem-calc(15);
  font-family: $body-font-family;
  color: $body-font-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

h1 {
  font-size: rem-calc(50);
  line-height: rem-calc(66);
  font-weight: bold;
  @include breakpoint(small only){
    font-size: rem-calc(40);
    line-height: rem-calc(50);
  }
}

h2 {
  font-size: rem-calc(26);
  line-height: rem-calc(38);
}

h3 {
  font-size: rem-calc(17);
  line-height: rem-calc(26);
  font-weight: bold;
}

h4 {
  font-size: rem-calc(14);
  line-height: rem-calc(22);
}

h5 {
  font-size: rem-calc(12);
  line-height: rem-calc(18);
}

h6 {
  font-size: rem-calc(12);
  line-height: rem-calc(18);
  opacity: 0.6;
  margin-top: 1rem;
}

p {
  font-size: rem-calc(15);
  line-height: rem-calc(25);
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
  p {
    color: $body-font-color;
  }
}

blockquote {
  font-size: rem-calc(26);
  line-height: rem-calc(38);
  font-family: $blockquote-font-family;
  color: $blockquote-color;
  font-style: italic;
  margin: 50px 0;
}

figcaption, caption {
  font-size: rem-calc(14);
  line-height: rem-calc(18);
  margin-bottom: rem-calc(50);
  margin-top: 10px;
  font-family: $figcaption-font-family;
}

label{
  font-family: $header-font-family;
  font-weight: bold;
  color: $dark-gray;
  font-size: rem-calc(15);
}