﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.Controls.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.Controls" Assembly="CMS.Controls" %><h4><%# Eval("Title") %></h4>
<div style="float: left; padding: 4px 10px 10px 0;"><%# GetImageByUrl(Eval("Image"),147,148) %></div>
<%# Eval("BodyText") %>