﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="IndexTypeSelector.ascx.cs" Inherits="CMSModules_SmartSearch_FormControls_IndexTypeSelector" %>
<cms:CMSDropDownList ID="drpIndexType" CssClass="DropDownField" runat="server" />
