<%@ Master Language="C#" AutoEventWireup="true" Inherits="CMSMasterPages_UI_TabsHeaderVertical"
    Codebehind="TabsHeaderVertical.master.cs" %>

<%@ Register Src="~/CMSAdminControls/UI/Development/DevTools.ascx" TagName="DevTools"
    TagPrefix="cms" %>
<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title>TabsVerticalHeaderMasterPage</title>
    <style type="text/css">
        body
        {
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body class="<%=mBodyClass%>">
    <form id="form1" runat="server">
    <asp:PlaceHolder runat="server" ID="plcManager" />
    <asp:PlaceHolder runat="server" ID="plcStatus" EnableViewState="false" />
    <asp:Panel runat="server" ID="pnlBody" CssClass="TabsPageHeader">
        <asp:Panel runat="server" ID="pnlTabsContainer" CssClass="VerticalTabsPanel" EnableViewState="false">
            <asp:Panel runat="server" ID="pnlTabs" CssClass="VerticalTabsTabs">
                <asp:Panel runat="server" ID="pnlVertical" CssClass="TabsVertical">
                    <cms:UITabs ID="tabControlElem" ShortID="t" runat="server" TabControlLayout="Vertical" />
                </asp:Panel>
            </asp:Panel>
        </asp:Panel>
    </asp:Panel>
    <cms:DevTools ID="devElem" runat="server" />
    </form>
    <asp:PlaceHolder runat="server" ID="plcAfterForm"></asp:PlaceHolder>
</body>
</html>
