<%@ Master Language="C#" AutoEventWireup="true" Inherits="CMSMasterPages_UI_Tree" Codebehind="Tree.master.cs" %>

<%@ Register Src="~/CMSAdminControls/UI/Trees/TreeBorder.ascx" TagName="TreeBorder" TagPrefix="cms" %>
<%@ Register Src="~/CMSAdminControls/UI/Development/DevTools.ascx" TagName="DevTools"
    TagPrefix="cms" %>

<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title>LeftTreeMenuMasterPage</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }
    </style>
</head>
<body class="TreeBody <%=mBodyClass%>">
    <form id="form1" runat="server">
        <asp:PlaceHolder runat="server" ID="plcManager" />
        <asp:ContentPlaceHolder ID="plcMenu" runat="server" />
        <asp:Panel runat="server" ID="pnlBody" CssClass="ContentTree">
            <cms:TreeBorder ID="borderElem" runat="server" FramesetName="colsFrameset" />
            <div id="treeAreaMenu" class="TreeArea tree-area-menu" runat="server">
                <asp:PlaceHolder runat="server" ID="plcStatus" EnableViewState="false" />
                <asp:ContentPlaceHolder ID="plcBeforeTree" runat="server" />
                <div class="TreeAreaTree">
                    <asp:ContentPlaceHolder ID="plcTree" runat="server" />
                </div>
            </div>
        </asp:Panel>
        <cms:DevTools ID="devElem" runat="server" />
    </form>
    <asp:PlaceHolder runat="server" ID="plcAfterForm"></asp:PlaceHolder>
</body>
</html>
