<%@ Master Language="C#" AutoEventWireup="true" Inherits="CMSMasterPages_UI_UIPage"
    Codebehind="UIPage.master.cs" %>

<%@ Register Src="~/CMSAdminControls/UI/Development/DevTools.ascx" TagName="DevTools"
    TagPrefix="cms" %>
<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title>Modal UI Page</title>
    <asp:Literal ID="ltlHeadElements" runat="server" Visible="false" EnableViewState="false" />
    <style type="text/css">
        html, body
        {
            margin: 0px;
            padding: 0px;
            height: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body id="bodyElem" runat="server">
    <form id="form1" runat="server">
    <asp:PlaceHolder runat="server" ID="plcManager" />
    <asp:ContentPlaceHolder ID="plcBeforeBody" runat="server" />
    <asp:Panel ID="pnlBody" runat="server" CssClass="PageBody">
        <cms:CMSUpdateProgress ID="up" runat="server" HandlePostback="true" />
        <asp:PlaceHolder runat="server" ID="plcLabels" />
        <asp:ContentPlaceHolder ID="plcContent" runat="server" />
    </asp:Panel>
    <cms:DevTools ID="devElem" runat="server" />
    </form>
</body>
</html>
