﻿<%@ Page Language="C#" AutoEventWireup="true" Codebehind="Tab_CustomFields.aspx.cs" Inherits="CMSModules_ContactManagement_Pages_Tools_Contact_Tab_CustomFields"
    MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" Theme="Default" Title="Contact edit - Custom fields" %>

<asp:Content ContentPlaceHolderID="plcContent" ID="content" runat="server">
    <cms:DataForm ID="formCustomFields" runat="server" IsLiveSite="false" />
</asp:Content>