<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Syndication_Basic_RSSRepeater" Codebehind="~/CMSWebParts/Syndication/Basic/RSSRepeater.ascx.cs" %>
<cms:RSSRepeater ID="rssRepeater" runat="server" />
