<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Syndication_Basic_XMLRepeater" Codebehind="~/CMSWebParts/Syndication/Basic/XMLRepeater.ascx.cs" %>
<cms:XMLRepeater ID="xmlRepeater" runat="server" />