﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/Membership/Users/ResetPassword.ascx.cs" Inherits="CMSWebParts_Membership_Users_ResetPassword" %>
<%@ Register src="~/CMSModules/Membership/Controls/ResetPassword.ascx" tagname="ResetPassword" tagprefix="cms" %>
<cms:ResetPassword ID="resetPassitem" runat="server" />
