<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" AutoEventWireup="true"
    Inherits="CMSModules_Modules_Pages_Class_General"
    Title="Class- Edit- General" Theme="Default" Codebehind="General.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="plcContent" runat="Server">
    <cms:UIForm ID="editElem" runat="server" ObjectType="cms.class" />
</asp:Content>
