<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_MediaLibrary_Controls_Filters_FolderTree" Codebehind="FolderTree.ascx.cs" %>
<%@ Register Src="~/CMSModules/MediaLibrary/Controls/MediaLibrary/FolderTree.ascx" TagName="FolderTree"
    TagPrefix="cms" %>
<cms:FolderTree ID="folderTree" runat="server" ShortID="t" />
