﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.Controls.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.Controls" Assembly="CMS.Controls" %><li>
    <a target="_blank" href='<%# Eval("Url") %>'>
        <%# GetImage("Thumbnail", 157,157, 94,ValidationHelper.GetString(Eval("Title"),"")) %>
        <p>

            <%# Eval("Title") %>
        </p>
    </a>
</li>

