﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/DashBoard/ObjectsRecycleBin.ascx.cs" Inherits="CMSWebParts_DashBoard_ObjectsRecycleBin" %>
<%@ Register Src="~/CMSModules/Objects/Controls/ObjectsRecycleBin.ascx" TagPrefix="cms" TagName="RecycleBin" %>

<cms:RecycleBin runat="server" ID="recBin" />
