﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/Ecommerce/RemainingAmountForFreeShipping.ascx.cs" Inherits="CMSWebParts_Ecommerce_RemainingAmountForFreeShipping" %>

<cms:cmsupdatepanel id="upnlAjax" runat="server">
    <ContentTemplate>
        <asp:Label ID="lblText" runat="server" CssClass="SmallTextLabel" EnableViewState="false" />
    </ContentTemplate>
</cms:cmsupdatepanel>
