﻿.EditMode .large-feature-cta .WebPart.EditorWidget,
.small-cta2 .WebPart.EditorWidget,
.EditMode .large-feature-cta .EditorWidgets .WebPart,
.small-cta2 .EditorWidgets .WebPart
{
    width: 325px;
    float: none;
    clear: both;
}

    .EditMode .large-feature-cta .WebPart.EditorWidget .standard-column,
    .EditMode .large-feature-cta .EditorWidgets .WebPart .standard-column
    {
        margin-left: 10px;
    }

.EditMode .who-we-are .webzone-sub-page-banner
{
    width: 620px;
    float: left;
    overflow: hidden;
}

.EditMode .where-we-work .webzone-sub-page-banner
{
    width: 520px;
    float: left;
    overflow: hidden;
}

.EditMode .WebPartZone.WebPartZone_SideCta.EditorWidgetZone
{
    float: left;
    width: 330px;
}

.EditMode .where-we-work .side-cta
{
    width: 430px;
    float: left;
}

.EditMode .who-we-are .webzone-side-cta
{
    width: 330px;
    float: left;
}

.EditMode .home .courses-cta iframe, .EditMode .home .courses-cta textarea
{
    width: 150px !important;
}

.EditMode .home .courses-cta div
{
    width: 150px !important;
    clear: both;
}

.EditMode .home .community-cta textarea
{
    width: 295px !important;
}

.EditMode .WebPartContent article.wide-cta2
{
    width: 520px;
}

.EditMode .medium-cta .WebPart.EditorWidget,
.EditMode .small-cta .WebPart.EditorWidget,
.EditMode .small-cta .EditorWidgets .WebPart,
.EditMode .medium-cta .EditorWidgets .WebPart
{
    width: 265px;
    float: left;
}

.EditMode .main-content .medium-cta .EditorWidgets .WebPart,
.EditMode .main-content .small-cta .EditorWidgets .WebPart,
.EditMode .main-content .small-cta2 .EditorWidgets .WebPart
{
    float: none;
}

    .EditMode .main-content .medium-cta .EditorWidgets .WebPart article,
    .EditMode .main-content .small-cta .EditorWidgets .WebPart article,
    .EditMode .main-content .small-cta2 .EditorWidgets .WebPart article
    {
        float: none;
        clear: none;
    }

.EditMode .medium-cta .WebPart article,
.EditMode .medium-cta .EditorWidgets .WebPart article
{
    width: 224px;
    clear: both;
}

.EditMode .cmsdesk-widget-title
{
    display: none;
}

.WarningLabel, .WarningLabel strong a
{
    color: #8a6d3b;
    display: block;
    padding-bottom: 10px;
    text-align: left;
}

.duplicate-title.alert
{
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.duplicate-title.alert-warning
{
    border-color: #a94442;
}

.alert-input-warning
{
    border-color: #a94442 !important;
}

.duplicate-title .duplicate-link
{
    display: none;
}
