/* 
    Document   : ie
    Created on : 13-Sep-2012, 1:30:53 PM
    Author     : derny
*/

/* Search Form */
.IE7 form.search { top: 38px; }
.IE7 form.search input { margin-right: 5px; padding: 2px 5px; }

/* Social Icons */
.IE7 ul.social-icons li a:hover { filter: alpha(opacity=75); }
.IE8 ul.social-icons li a:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; }
.IE7 .addthis_toolbox { margin-top: -15px; }

/* Main Menu */
.IE7 nav.main-menu { margin-top: 0; display: block; }
.IE7.FRCA nav.main-menu > ul#menuElem > li.donate, .IE8.FRCA nav.main-menu > ul#menuElem > li.donate { width: 130px !important; }
.IE7.FRCA nav.main-menu ul#menuElem > li > a, .IE8.FRCA nav.main-menu ul#menuElem > li > a  { font-size: 0.95em !important; }

/* Slider */
.IE7 #slider { margin-top : 30px; }
/*.IE7 .rsTmb h6 { margin-top: -20px !important;} */
#slider .rsTmb p { font-size: 0.94em; }

/* Donate Bar */
.IE7 #donate-bar .heading-text4, .IE8 #donate-bar .heading-text4
{
    font-size: 1.2em; padding-left: 6px; line-height: 1.3; padding-left: 75px;
}
.FRCA.IE9 #donate-bar .heading-text4
{
    padding-left:21px;
}

.FRCA.IE7 #donate-bar .heading-text4, .FRCA.IE8 #donate-bar .heading-text4 { font-size: 1.2em; padding-left: 6px;/*line-height: 1.3; padding-left: 75px;*/ }
/*.FRCA.IE7 #donate-bar h4, .FRCA.IE8 #donate-bar h4 { padding-left: 8px; font-size: 1.1em; line-height: 1.6; } */
.IE7 .quick-donate { padding-top: 3px; }
.IE8 .quick-donate .submit-btn { margin-top: -2px; }
.FRCA.IE7 .quick-donate, .FRCA.IE8 .quick-donate
{
    left:577px
}
/* Submit Buttons */
.IE7 .submit-btn { border: none; }
.IE9 .submit-btn { padding: 5px 3px 2px 4px !important; }

/* Share-Print buttons */
.IE7 ul.ps, .IE8 ul.ps, .IE9 ul.ps { bottom: 0; }
.IE7 ul.ps li, .IE8 ul.ps li { width: 85px; }

/* Home page CTA's */
.IE7 .home p, .IE8 .home p, .IE7 .home a, .IE8 .home a { font-weight: 400; }
.IE7 .large-feature-cta {margin-left: -20px;}

/* Footer */
/*.IE7 footer .branding, .IE8 footer .branding { padding-top: 150px; } */
/* .branding padding removed during footer redesign*/
.IE8 #tweet-id-2 { width: 163px; }
.IE8 #tweet-id-1 { border-right: none; }
.FRCA footer .branding, .FRCA footer .branding { font-size: 0.9em;}

/* Fix for Grids */
.IE7 li.last, .IE8 li.last { margin-right: 0; }

/* Programs */
.IE7 .program a { padding: 12px 15px 0 0; }
.IE7 .program a.active { padding: 12px 15px 15px 0; }
.IE7 .story-grid article.first, .IE8 .story-grid article.first { padding-left: 0; }
.IE7 .story-grid article.last, .IE8 .story-grid article.last { padding-right: 0; border-right: 0; }

/* Search Results */
.IE7 .search-results .result.last, .IE8 .search-results .result.last { border-bottom: none; padding-bottom: 0; }

/* Breadcrumbs */
.IE7 .breadcrumbs, .IE7 span.bc-close { margin-top: 5px; }
ul.breadcrumbs li { background: url('../images/bc-divider-ww.png') right -1px no-repeat; height: 23px; line-height: 22px; }
ul.breadcrumbs li.parent { background: url('../images/bc-divider-wg.png') right -1px no-repeat; }
ul.breadcrumbs li.current { height: 23px; line-height: 22px; }
span.bc-close {  float: left; background: url('../images/bc-close.png') -1px 1px no-repeat; display: block; height: 25px; width: 13px; }

/* Medium Cta's' */
.IE7 .main-content .medium-cta > article:first-child +*+*, .IE7 .main-content .medium-cta > article:first-child +*+*+*+*, .IE7 .main-content .medium-cta > article:first-child +*+*+*+*+*+*, .IE7 .main-content .medium-cta > article:first-child +*+*+*+*+*+*+*+*, .IE7 .main-content .medium-cta > article:first-child +*+*+*+*+*+*+*+*+*+*, .IE7 .main-content .medium-cta > article:first-child +*+*+*+*+*+*+*+*+*+*+*+* { clear: left; }
.IE8 .main-content .medium-cta > article:first-child +*+*, .IE8 .main-content .medium-cta > article:first-child +*+*+*+*, .IE8 .main-content .medium-cta > article:first-child +*+*+*+*+*+*, .IE8 .main-content .medium-cta > article:first-child +*+*+*+*+*+*+*+*, .IE8 .main-content .medium-cta > article:first-child +*+*+*+*+*+*+*+*+*+*, .IE8 .main-content .medium-cta > article:first-child +*+*+*+*+*+*+*+*+*+*+*+* { clear: left; }

/* Small Cta's */
.IE7 .main-content .small-cta > article:first-child +*+*, .IE7 .main-content .small-cta > article:first-child +*+*+*+*, .IE7 .main-content .small-cta > article:first-child +*+*+*+*+*+*, .IE7 .main-content .small-cta > article:first-child +*+*+*+*+*+*+*+*, .IE7 .main-content .small-cta > article:first-child +*+*+*+*+*+*+*+*+*+*, .IE7 .main-content .small-cta > article:first-child +*+*+*+*+*+*+*+*+*+*+*+* { clear: left; }
.IE8 .main-content .small-cta > article:first-child +*+*, .IE8 .main-content .small-cta > article:first-child +*+*+*+*, .IE8 .main-content .small-cta > article:first-child +*+*+*+*+*+*, .IE8 .main-content .small-cta > article:first-child +*+*+*+*+*+*+*+*, .IE8 .main-content .small-cta > article:first-child +*+*+*+*+*+*+*+*+*+*, .IE8 .main-content .small-cta > article:first-child +*+*+*+*+*+*+*+*+*+*+*+* { clear: left; }

/* Photo Gallery */
.IE7 .photo-gallery ul *:first-child+*+*, .IE7 .photo-gallery ul *:first-child+*+*+*+*+*, .IE7 .photo-gallery ul *:first-child+*+*+*+*+*+*+*+*, .IE7 .photo-gallery ul *:first-child+*+*+*+*+*+*+*+*+*+*+* { margin-right: 0; }
.IE8 .photo-gallery ul *:first-child+*+*, .IE8 .photo-gallery ul *:first-child+*+*+*+*+*, .IE8 .photo-gallery ul *:first-child+*+*+*+*+*+*+*+*, .IE8 .photo-gallery ul *:first-child+*+*+*+*+*+*+*+*+*+*+* { margin-right: 0; }
.IE7 .photo-gallery ul *:first-child +*+*+*, .IE7 .photo-gallery ul *:first-child+*+*+*+*+*+*, .IE7 .photo-gallery ul *:first-child+*+*+*+*+*+*+*+*+*, .IE7 .photo-gallery ul *:first-child +*+*+*+*+*+*+*+*+*+*+*+* { clear: left; }
.IE8 .photo-gallery ul *:first-child +*+*+*, .IE8 .photo-gallery ul *:first-child+*+*+*+*+*+*, .IE8 .photo-gallery ul *:first-child+*+*+*+*+*+*+*+*+*, .IE8 .photo-gallery ul *:first-child +*+*+*+*+*+*+*+*+*+*+*+* { clear: left; }

/* Links */
.IE7 a, .IE8 a { font-weight: normal !important; }
.IE7 .main-menu li a, .IE7 .left-column li a, .IE8 .main-menu li a, .IE8 .left-column li a { font-size: 1em !important; }

/* Miscellaneous */
.IE7 .job-filter select { margin-top: 10px; }
.IE7 #tweet-id-1 { width: 142px; border-right: none; }
.IE7 .banner h2{   margin-bottom: -10px; line-height: 50px; }
.IE7 .banner h1
{
    margin-top: 5px;
}
.IE7 .donationCTAContainer.mainContent ul.donationAmountOptions li.otherAmount input[type=radio],
.IE8 .donationCTAContainer.mainContent ul.donationAmountOptions li.otherAmount input[type=radio],
.IE9 .donationCTAContainer.mainContent ul.donationAmountOptions li.otherAmount input[type=radio] { margin-top: 0 !important; }


/* Donate */
.foundation INPUT[type='radio']{
    margin:0px 0 5px 0;
    float:left;
}
.donate-now INPUT[type=radio] + LABEL SPAN{
    display:none;
}
.foundation input[type="file"], .foundation input[type="checkbox"], .foundation input[type="radio"], .foundation select {
    margin:0;
}

.donate-now .CheckBoxField + LABEL SPAN{display:none;}
.donate-now .CheckBoxField{display:block; float:left;}

.donate-now .learn-more-panel{
    overflow:auto;
}

.donate-now .main-content .price-point-zone .price-point DIV SPAN{
    right:9px;
}
.donate-now .contact p{
    min-width:180px;
}

