﻿#uploadContainer {
            margin: 50px 0 0 50px;
        }

        #FileUploadControl {
        
        margin: 0 0 10px 0;
        display: block;
        
        }

        #Results {
            margin: 0 0 10px 0;
        }

        #instructions {

            width: 400px;
            margin-left: 50px;
        }

        h1 {
            margin-left: 50px;
        }

        #Results {
        
            margin-left:50px;
        
        }
