﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.Controls.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.Controls" Assembly="CMS.Controls" %><h6 class="q<%# Eval("NodeID") %> anchor" data-anchor="q<%# Eval("NodeID") %>"><%# Eval("Question") %></h6>
<%# Eval("Answer") %>
<a class="top" href="#">Back to Top</a>