﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.Controls.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.Controls" Assembly="CMS.Controls" %><div class="widget">
    <h5>FAQs</h5>
    <a href="/about-us/faqs?anchor=q<%# Eval("NodeID") %>"><%# Eval("Question") %></a>    
    <%# Eval("Answer") %>
    <a href="/about-us/faqs">See All FAQs</a>
</div>

