﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.Controls.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.Controls" Assembly="CMS.Controls" %><table>
  <tr>
    <td>The FAQ Question:</td>
    <td><%# Eval("Question") %></td>
  </tr>
  <tr>
    <td>The FAQ Answer:</td>
    <td><%# Eval("Answer") %></td>
  </tr>
</table>
