@import '_settings.scss';
@import 'react-select/scss/default';

:local(.select) {
  margin-bottom: 30px;

  -ms-overflow-style: scrollbar;

  .Select-control {
    border: 1px solid #d8d9db;
    background-color: #ffffff;
    border-radius: 0;
    height: 30px;
  }

  .Select-placeholder {
    color: #414244;
  }

  .Select-input > input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
}

:local(.category-label) {
  font-size: 14px;
  color: #414244;
  margin-bottom: 5px;
  font-weight: 600;
}

:local(.clear-filter) {
  border-radius: 6px;
  height: 43px;
  text-transform: uppercase;
  padding:  12px 15px;
  font-size: 14px;
  font-weight: 700;
  width: inherit;

  @media #{$medium-up} {
    width: initial;
    margin-top: 22px;
  }

  @media only screen and (min-width: 641px) and (max-width: 720px){
    padding: 5px;
  }
}

:local(.text) {
  color: #383838;
  font-size: 10px;
  font-weight: bold;
  line-height: 10px;
  padding-right: 5px;
}

:local(.dropdown-option){
  margin-left: 5px !important;
  display: flex !important;

  input[type='checkbox'] {
    margin-top: 4px !important; 
    margin-right: 6px !important;
  }

  p {
    flex: 2;
  }
}