<%@ Page Language="C#" MasterPageFile="Blank.master" AutoEventWireup="true" Inherits="CMSTemplates_BlankSiteASPX_root" Title="Untitled Page" ValidateRequest="false" Codebehind="root.aspx.cs" %>
<asp:Content ID="cntMain" ContentPlaceHolderID="plcMain" Runat="Server" />

