@import '_settings.scss';

// :local(.container) {
//   padding: 0 -15px;
// }

:local(.media-list) {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -15px;
}