﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.Controls.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.Controls" Assembly="CMS.Controls" %><%#IfEmpty(Eval("FileAttachment"), "no image", "<img alt='" + Eval("FileDescription") + "' src='" + GetFileUrl("FileAttachment") + "?maxsidesize=500' />")%>
