﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="cms_workflow.ascx.cs" Inherits="CMSModules_ImportExport_Controls_Import_cms_workflow" %>
<asp:Panel runat="server" ID="pnlCheck" CssClass="wizard-section">
    <cms:CMSCheckBox ID="chkObject" runat="server" />
</asp:Panel>
