﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ma_automationprocess.ascx.cs" Inherits="CMSModules_ImportExport_Controls_Import_ma_automationprocess" %>
<asp:Panel runat="server" ID="pnlCheck" CssClass="wizard-section">
    <cms:CMSCheckBox ID="chkObject" runat="server" />
</asp:Panel>
