﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.Controls.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.Controls" Assembly="CMS.Controls" %><div class="social-widget page-share">

<div class="addthis_toolbox addthis_default_style">
<a class="addthis_button_facebook_like" title="Send to Facebook in French"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_email"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript"> 
		  // set the options for addthis 
  var addthis_config = addthis_config || {};
</script>
<!--<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=canadianredcross"></script>-->

</div>