﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.Controls.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.Controls" Assembly="CMS.Controls" %><li <%# (DisplayIndex >= 6)? "class=\"column2"+ ((DisplayIndex == 6)? " reset" : "" )+"\"" : "class=\"column1\"" %>>
  <a href="<%# GetDocumentUrl() %>"><%# Eval("DocumentName") %></a>
</li>