﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.Controls.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.Controls" Assembly="CMS.Controls" %><li class="arrow <%# EvalText("LastURL").EndsWith(EvalText("CurrentPage")) ? "unavailable" : "" %>"><a href="<%# Eval("NextURL", true) %>">&raquo;</a></li>
</ul>
                        </div>

