﻿<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Departments_FormControls_DepartmentSectionsManager" Codebehind="DepartmentSectionsManager.ascx.cs" %>
<asp:Literal ID="ltlContent" runat="server" EnableViewState="false" Visible="false" />
<asp:Panel ID="pnlContent" runat="server">
</asp:Panel>
