<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Attachments_AttachmentsDataSource" Codebehind="~/CMSWebParts/Attachments/AttachmentsDataSource.ascx.cs" %>
<%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<cms:AttachmentsDataSource ID="srcAttach" runat="server" />