:local(.dialog) {
	display: display;
};

:local(.mask) {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

:local(.window) {
	display: inline-block;
	z-index: 101;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1rem;
	color: grey;
	background-color: #ffffff;
	padding: 30px;
	max-height: 90vh;
	max-width: 80vw;

	img {
		max-height: calc(90vh - 60px);
		max-width:  calc(80vw - 60px);
	}

	&:focus{
		outline: none;
	}

  .focus-trap:focus{
    outline: none;
    -webkit-appearance: none;
  }
};

:local(.close){
	position: absolute;
	left: -22px;
	top: -18px;
	border-radius:50%;
	font-weight: 600;
	padding: 9px 14px;
  outline: none;
  
  &:focus{
    outline: none;
    -webkit-appearance: none;
  }
}

:local(.sr-only) {
	display: none;
  &:focus{
    outline: none;
    -webkit-appearance: none;
  }
}