<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Newsletters_NewsletterUnsubscriptionWebPart" Codebehind="~/CMSWebParts/Newsletters/NewsletterUnsubscriptionWebPart.ascx.cs" %>

<cms:LocalizedLabel runat="server" ID="lblInfo" CssClass="InfoLabel" EnableViewState="false" Visible="false" />
<asp:Label runat="server" ID="lblError" CssClass="ErrorLabel" EnableViewState="false" Visible="false" />