﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Ecommerce_Checkout_InputFields_OrderNote" Codebehind="~/CMSWebParts/Ecommerce/Checkout/InputFields/OrderNote.ascx.cs" %>

<cms:CMSTextArea runat="server" ID="txtOrderNode" />