<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_REST_FormControls_SelectRESTServiceLevel"
    Codebehind="SelectRESTServiceLevel.ascx.cs" %>
<cms:CMSRadioButtonList ID="rblType" runat="server" RepeatDirection="Horizontal" CssClass="RadioButtonList" />