<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_SocialMedia_Pinterest_PinterestPinItButton"
    Codebehind="~/CMSWebParts/SocialMedia/Pinterest/PinterestPinItButton.ascx.cs" %>

<asp:Literal runat="server" ID="ltlPluginCode" EnableViewState="false" />