ul.breadcrumb{
  margin-left:0;
  li{
    border-top: 1px solid $dark-border-color;
    border-bottom: 1px solid $dark-border-color;
    margin-left:0;
    padding: 2px 15px 2px 20px;
    position:relative;
    font-size: rem-calc(14);
    &:before{
      content:'';
    }

    &:first-child{
      border-left: 1px solid $dark-border-color;
      padding: 2px 15px;
    }
    a{
      font-weight:400;
      margin-left: 10px;
      &.button{
        background:none;
        color:$primary-color !important;
        height:auto;
        padding:inherit;
        margin:inherit;
        &:after {
          content: url('../images/chevron.png');
          position: absolute;
          top: -3px;
          right: -10px;
        }
        &.small:after{
          right:-25px;
        }
      }
      &:after {
       content: url('../images/chevron.png');
       position: absolute;
       top: -1px;
       right: -10px;
      }
      &:hover{
        text-decoration: underline;
        color: scale-color($primary-color, $lightness: -20%);
      }
    }

  }
}