a.button, .button {
  @include navLinks(14);
  background-color: $primary-color;
  font-weight: bold;
  text-transform: uppercase;
  color: $white !important;
  padding: 12px 37px 12px 29px;
  position: relative;
  letter-spacing: 0.02em;
  border-radius: 6px;
  &:hover{
    text-decoration: none;
  }

  span {
    position: relative;
    display: inline-block;
    &:after {
      content: '';
      background: url("../images/chevron_right.svg") 0 0 no-repeat;
      width: 8px;
      height: 11px;
      position: absolute;
      right: -12px;
      top: 45%;
      margin-top: -5px;
    }
  }

  &.small {
    padding: 0.45rem 1.5rem;
    @include radius($button-radius);
    &:after {
      content: '';
      background: none;
    }
  }
}


label.button{
  cursor: pointer;

  input[type="submit"]{
    @include navLinks(14);
    font-weight: bold;
    text-transform: uppercase;
    color: $white !important;
    position: relative;
    letter-spacing: 0.02em;
    padding-right: 15px;
    background: url("../images/chevron_right.svg") right center no-repeat;
    border:none;
    cursor: pointer;
  }
}