input{
  &[type="text"]{
    //height: 1.875em;
    box-shadow:none;
    border:1px solid $inputBorder;
  }
}

.required{color:$primary-color;}

@media only screen and (min-width: $medium) {
  label{
      text-align: right;
    }
}