
// Service Detail Contact GMaps & Related Links

.gmaps {
  background: $panel-bg;
  border-top: 1px solid $border-color;
  margin-bottom: 20px;
  img{
    width: 100%;
  }
  *{
    margin: 0;
  }
  > div{
    padding: 15px;
  }
}


@media #{$small-only} {
  .gmaps {
    .desc{
      & > div:last-child{
        padding-top:15px;
      }
    } 
  }
}