.main-nav{
  position:absolute;
  top:125px;
  right:15px;
  li{
    border-left: 1px solid $border-color;
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 8px;
    float: left;
    //text-align: center;
    //max-width: 185px;
   // position: relative;
    .nav-wrap{
      display: table;
      table-layout: fixed;
    }

    &:first-child {
      border:none;
    }
    &:last-child{
      border:none;
      margin-top:0;
    }
    a{
      @include navLinks(14.5);
      font-weight: bold;
      &:hover{
        @include navLinksHover();
      }
    }
  }
}

.sub-nav{
  position: absolute;
  top: 38px;
  background-color: $white;
  width: 225px;
  box-shadow: 2px 2px 8px -5px #333333;
  border:1px solid $border-color;
  transition: all 0.3s ease;
  transform: translateY(-5px);
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  &.open{
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    transform: translateY(0px);
  }
  ul{
    list-style:none;
    margin-left:0; 
    li{
      border: none;
      padding: 0;
      margin: 0;
      line-height: 1.25;
      width: 100%;
      &:first-child{
        padding-top:10px;
      }
      &:last-child{
        padding-bottom:10px;
      }
      a{
        text-transform: none;
        font-weight:600;
        display:block;
        padding: 7px 20px;
        &:hover{
          background-color: $side-nav-hover;
        }
        &.current{
          background: #757678;
        }
      }
    }
  }
}