/*flexpanel*/
.flexpanel {
	position: fixed;
	top: 0;
	//right: -40%;
	width: 40%;
	max-width: 400px;
	height: 102%;
	padding: 0;
	margin: 0;
	z-index: 100000;
	transform: translateX(-280%);
	-webkit-transform: translateX(-280%);
	-moz-transform: translateX(-280%);
	-ms-transform: translateX(-280%);
	-o-transform: translateX(-280%);

	-webkit-transition: -webkit-transform 0.3s ease;
	-ms-transition: -ms-transform 0.3s ease;
	-moz-transition: -moz-transform 0.3s ease;
	-o-transition: -o-transform 0.3s ease;
	transition: transform 0.3s ease; 


	&.open{
		transform: translateX(0%);
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
	}

	.viewport-wrap {
		position: relative;
		width: 100%;
		min-width: 260px;
		height: 100%;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		transition: all 0.3s ease;
		z-index: 1; 
	}

	.viewport {
		width: 100%;
		height: 100%;
		position: relative;
		padding: 0;
		position: relative;
		box-sizing: border-box;
		background: $mobileBg ; 
	}

	.viewport.smooth {
	-webkit-overflow-scrolling: touch; 
	}

	.nav-group {
		top: 0;
		width: 100%;
		height: 100%;
		padding: 0;
		position: absolute;
		z-index: 1;
		-webkit-transition: -webkit-transform 0.25s ease;
		-moz-transition: -moz-transform 0.25s ease;
		transition: transform 0.25s ease;
		background: $mobileBg ; 
		padding:20px 0;
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%); 

		&.nav-active{
	        transform: translateX(0px);
	        -webkit-transform: translateX(0px);
	        -moz-transform: translateX(0px);
	        -ms-transform: translateX(0px);
	        -o-transform: translateX(0px);
	    }

	    &:nth-child(n+2) {
		    li{
		    	&:first-child{
		    		background: $home-slider-headings;
				  	margin: -1px -20px;
				  	padding: 0 20px;
		    	}
		    }  
		}

		.nav-group-inner{
			overflow: auto;
			height: 100%;
		}
		
	}

	ul{
		margin:0;
		padding: 0 20px;
	}
	li{
		list-style: none;
		border-bottom: 1px solid $mobile-border;
		&.current{
			background: $currentBg;
			  margin: -1px -20px;
			  padding: 0 20px;

			  a{
			  	opacity: 0.7;
			  }
		}
		a{
			color: white;
			font-weight: 600;
			display: block;
			padding: 20px;
			text-transform: uppercase;
			&:hover{
				text-decoration:none;
			}

		}
	}

	.nav-back{
		background: url("../images/mobile-black.svg") 20px center no-repeat $mobile-back;
		background-size: 27px;
		display: inline-block;
		width: 125px;
		text-align: right;
		padding: 15px 22px 15px;
		border-radius: 0px 6px 6px 0px;
		color: $mobileBg;
		font-size: rem-calc(16);
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 20px;
		&:hover{
			text-decoration:none;
		} 
	}

	.has-child{
		position: relative;
		&:after{
			content:"";
			background: url("../images/chevron_right.svg") right center no-repeat;	
			position: absolute;
			right: 5px;
			top: 20px;
			width: 20px;
  			height: 20px;
		}
	}

	.close{
		position: absolute;
		top: 20px;
		right: -43px;
		width: 50px;
		height: 50px;
		display: inline-block;
		text-align: center;
		background: #3d3e3f;
		color: #fff;
		font-size: 29px;
		font-weight: bold;
		padding-top: 1px;
		cursor: pointer;
		border-radius: 0px 6px 6px 0px;
	}

}


@media #{$large-up} {
	.flexpanel.open{
		transform: translateX(-280%);
		-webkit-transform: translateX(-280%);
		-moz-transform: translateX(-280%);
		-ms-transform: translateX(-280%);
		-o-transform: translateX(-280%);
	}
}