//pagination
ul.pagination{
  padding: 1em 0;
  display: inline-block;
  li{
    text-indent: 0;
    padding-left: 0;
    &:before{
      content:'';
    }
    a{
      background-color: $pagination;
      color:$white;
      &:hover{
        background: $pagination-link-current-active-bg;
        text-decoration: none;
      }
    }
    &.unavailable{
      a{
        background:none;
        &:hover{
          text-decoration:none;
        }
      }
      &.arrow a{
        background:scale-color($pagination, $lightness: 70%);
      }
      &.dots a:hover{
        cursor: pointer;
      }
    }
  }
  &:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden;}
}

.pagination-wrap{
  margin-bottom: 9px;
  padding-top: 10px;
  &.border-top{
    padding-top: 10px; 
  }
}
