.promo-banner{
	padding: 25px 2% 0px;
	background:$bannerBg;
	color: white;

	& > div{
		position: relative;
	}
	fieldset{
		border: none;
		margin:0;
		padding: 25px 0 0 0;
	}
	label{
		text-align: left;
		color: white;
		margin-bottom: 5px;
	}
	input[type="email"]{
		float: left;
		max-width: 313px;
		margin-bottom: 20px;
		margin-right: 20px;
	}
	input[type="submit"]{
		float: left;
		color: white;
		background: none;
		border: 2px solid white;
		text-transform: uppercase;
		padding: 9px 20px 8px;
		font-weight: 600;
		letter-spacing: 0.1em;
		cursor: pointer;
		border-radius: 3px;
		margin-bottom: 20px;
	}
	.closeBanner{
		position: absolute;
		right: 20px;
		top: -5px;
		font-size: 18px;
		border: 2px solid;
		width: 31px;
		height: 31px;
		text-align: center;
		padding: 0;
		line-height: 26px;
		border-radius: 50%;
		font-weight: 900;
		cursor: pointer;

		&:active{
			transform:scale(0.9);
		}
	}
}

@media #{$small-only} {
	.promo-banner{
		padding: 55px 2% 20px;
		fieldset{
			padding-top: 10px;
		}
		input[type="email"], input[type="submit"]{
			width: 100%;
			max-width: 900px;
			margin-right: 0px;
		}
		.closeBanner{
			top: -40px;
			right: 10px;
		}
	}
}