 .donation-CTA{
	h3 + ul{
	margin-top: -10px;
	}
	label{
		vertical-align: top;
		font-weight: 600;
	}
	ul{
		margin: 0;
		padding: 0;
	}
	li{
		text-indent: 0;
		padding: 0;
		margin-bottom: 10px;
		list-style: none;

		&:before{
			display:none;
		}
		input[type="radio"]{
			margin: 5px 0 0 0;
		}
		&.otherAmount{
			margin-bottom: 20px;
			width: 100%;
			*{
				float: left;
			}
			input[type="radio"]{
				margin-top: 14px;
			}
			label{
				margin-top: 9px;
			}
			span{
				margin-top: 0;

				span{
					margin:10px 5px 0 0;
				}
			}
			input[type="text"]{
				max-width: 70px;
				height: 40px;
				//float: right;
				margin: 0;
			}
		}		
	}
}

.email-CTA{
	input[type="email"] + span.error{
		margin-top: -15px;
		margin-bottom: 20px;
		display: block;
		background: no-repeat;
		color: $primary-color;
		font-style: normal;
		padding:0;
	}
}

.testimonial-CTA {
	padding: 20px;
	margin: 0 auto 20px auto;
	max-width: 350px;
	width: 100%;

	.quotes{
		position: relative;
		width: 90%;
		margin: 0 auto;
		&:before{
			content:'';
			position: absolute;
			top: -20px;
			left: -25px;
			background: url("../images/icon-quote.svg") no-repeat 0 0;
			width: 20px;
			height: 20px;
		}
		&:after{
			content:'';
			position: absolute;
			bottom: 20px;
			right: -20px;
			background: url("../images/icon-quote.svg") no-repeat 0 0;
			width: 20px;
			height: 20px;
			transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
		}
	}
}

.story-CTA{
	margin: 0 auto 20px auto;
	max-width: 350px;
	width: 100%;
	img {
		margin-bottom: 10px;
	}
	.h2{
		margin-bottom: 10px;
	}
	p{
		margin-bottom: 5px;
	}
}

.text-CTA{
	margin: 0 auto 20px auto;
	max-width: 350px;
	width: 100%;
}