.share-the-love{
	max-width: 960px;
	//min-width: 960px;
	margin: 0 auto 20px auto;
	&:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden;}
	

	#header-banner {
	  background: #ff0000;
	  padding: 40px 55px 30px;
	}
}

.share-the-love #header-banner{
    background:  #ff0000;
    padding: 40px 55px 30px;
}
.share-the-love #header-banner p{
    font-family: 'Cabin', sans-serif;
    font-size:rem-calc(16) ;
    color: #ffffff;
}
.share-the-love #header-banner p strong{
    color:#ffffff;
}
.share-the-love #header-banner img{
    display: block;
    margin: 0 auto;
    padding: 0 0 30px;
}
.share-the-love .stl-quote{
    position:relative;
    padding-top: 10px;
    max-height:339px;
}

.share-the-love .stl-quote img{
    height: 339px;
    width: 700px;
}
.share-the-love .quote-text{
    position: absolute;
    top: 20px;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9);
    width:350px;
    height:300px;
}
.share-the-love .quote-text.left{
    left: 20px;
}
.share-the-love .quote-text.right{
    right: 20px;
}
.share-the-love .quote-text p{
   color:#797979;
   font-family: 'Covered By Your Grace', cursive;
   font-size: rem-calc(14) ;
   padding: 20px;
}
.share-the-love .quote-text p span{
    float: left;
    margin: 10px 0px 0px 0px;
}


@media (max-width:977px){
    
    .share-the-love {
        max-width: 731px;
        img{
            height: auto;
        }
        .small-3{
            display: none;
        }
        .small-9{
            margin: 0 auto;
            float: none;
            width: 100%; 
        }
    }
}

@media (max-width:750px){
    .share-the-love {
        .quote-text{
            position: static;
            width: 100%;
            height: auto;

            *{
                font-size: 16px !important;
                padding: 25px 0 !important;
                margin-bottom: 0px; 
            }
        }
        .stl-quote {
            max-height: none;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}