
ul.side-nav{
  margin-left:0;
  max-width: 15.313em; //240px
  padding-left:0;
  li{
    list-style: none;
    margin: 0;
    padding-left:0;
    padding-bottom:0;
    &:before{
      content:'';
    }
    a{
      background: url("../images/img-chevron.png") no-repeat 10px 11px;
      color: $body-font-color;
      font-size: rem-calc(14);
      font-weight:500;
      margin-left: 0;
      padding: 5px 28px;
      display: inherit;
      &:hover{
        text-decoration:underline;
      }
      &::before{
        padding-right: 0.5em;
        padding-left: 0.5em;
      }
    }
    &.active{
      background-color: $side-nav-active-child;
      padding: 0;
      margin-bottom: 15px;
      a{
        background: url("../images/img-chevron-down.png") no-repeat 10px 13px;
        background-color:$side-nav-active;
        display:block;
        font-weight:600;
        &:hover{
          background-color:$side-nav-active;
        }
        &::before {

        }
      }
      ul{
        display:block;
        margin-left:0;
        padding-bottom:0;
        margin-bottom:0;
        padding-left: 0;
        li{
          padding-bottom:0;
          margin-bottom:0;
          margin-top:0;
          &.active{
            border-top: 2px solid $white;
            border-bottom: 2px solid $white;
            a{
              background: url("../images/img-chevron-down.png") no-repeat 30px 13px;
              padding-left: 46px;
              font-weight: 700;
            }
            ul{
              li{
                display:block;
                a{
                  background-image: none;
                  padding-left: 48px;
                  font-weight: normal;
                }
                &.active{
                  border:none;
                  a{
                    font-weight: 700;
                    background-color: $side-nav-hover;
                    text-decoration: none;

                    &:hover{
                      text-decoration:underline;
                    }
                  }
                }
              }

            }
          }

          a{
            background-image:none;
            background-color: $side-nav-active-child;
            padding-left:29px;
            font-weight:500;
            text-indent: -18px;
            &:hover{
              background-color: $side-nav-hover;
            }
            &::before{
              content: "";
            }
            &:last-child{
              padding-bottom:10px;
            }
          }

        }
      }
    }
    ul{
      display: none;
      li{
        list-style-image:none;
        ul{
          li{
            display:none;
          }
        }
      }
    }
  }
}