// slides

.slider{
  overflow: hidden;
  max-height:710px;
}

.slick-slide {
  position: relative;
  &:hover {
    cursor: pointer;
    img {
      opacity: 1;
    }
  }
  &:after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
  }
  @media #{$large-up}{

    &.gradient-light {
      .caption {
        h1 {
          color: $heading-color;
        }
      }
      &.gradient-left {
        .caption {
          text-align: left !important;
        }
        &:after {
          backface-visibility: hidden;
          top: 0;
          left: 0;
          background: -webkit-linear-gradient(right, rgba(255, 0, 0, 0), rgba(255, 255, 255, 0.8)); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(left, rgba(255, 0, 0, 0), rgba(255, 255, 255, 0.8)); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(left, rgba(255, 0, 0, 0), rgba(255, 255, 255, 0.8)); /* For Firefox 3.6 to 15 */
          background: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(255, 255, 255, 0.8));
        }
      }
      &.gradient-right {
        .row{
          left:50%;
        }
        .caption {
          text-align: right !important;
          right:0;

        }
        &:after {
          backface-visibility: hidden;
          top: 0;
          right: 0;
          background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0), rgba(255, 255, 255, 0.8)); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(right, rgba(255, 0, 0, 0), rgba(255, 255, 255, 0.8)); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(right, rgba(255, 0, 0, 0), rgba(255, 255, 255, 0.8)); /* For Firefox 3.6 to 15 */
          background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 255, 255, 0.8));
        }
      }
    }
    &.gradient-dark {
      .caption {
        h1 {
          color: $white;
        }
      }
      &.gradient-left {
        .caption {
          text-align: left !important;
        }
        &:after {
          backface-visibility: hidden;
          top: 0;
          left: 0;
          background: -webkit-linear-gradient(right, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8)); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(left, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8)); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(left, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8)); /* For Firefox 3.6 to 15 */
          background: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8));
        }
      }
      &.gradient-right {
        .caption {
          text-align: right !important;
          right:0;
        }
        &:after {
          backface-visibility: hidden;
          top: 0;
          right: 0;
          background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8)); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(right, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8)); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(right, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8)); /* For Firefox 3.6 to 15 */
          background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8));
        }
      }

    }
  }
  @media only screen and (min-width: 970px) {
    &.gradient-light.gradient-right .caption {
      right: 65px;
     }
  }
  @media only screen and (min-width: 1100px) {
    &.gradient-light.gradient-right .caption {
      right: 100px;
    }
  }
  @media only screen and (min-width: 1160px) {
    &.gradient-light.gradient-right .caption {
      right: 0;
    }
  }
  .row {
    position: static;
    height:100%;
    max-height: 600px;
    @media only screen and (max-width: $small) {
      min-height: 155px;
    }
    @media only screen and (max-width: $large) {
      background-color: $home-slider;
    }
    .columns{
      height: 100%;
    }
    @media #{$large-up}{
      position: absolute;
      top: 0;
      left:0;
      margin-left: 0;
      border:10000px solid red;
    }
    @media only screen and (min-width: 1160px) {
     // margin-left: -600px;
    }
  }


  .caption {
    backface-visibility: hidden;
    text-align: center !important;
    z-index: 5000;
    @media #{$large-up}{
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      position: absolute;
      display: inline-block;
      text-align: left !important;
    }
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }
    h1 {
      font-size: rem-calc(20);
      line-height: rem-calc(24);
      color: $heading-color;
      @media #{$large-up}{
        font-size: rem-calc(58);
        line-height: rem-calc(74);
        max-width: 600px;
      }
    }
  }
}

// slick buttons
.slick-dots-wrapper{
  background-color:rgba(255,255,255,0.8);
  position:absolute;
  bottom:0;
  width:100%;
  height:103px;
  z-index: 4;
  &#slick-dots-count-1{
    ul.slick-dots li{
      width:10%;
    }
  }
  &#slick-dots-count-2{
    ul.slick-dots li{
      width:50%;
    }
  }
  &#slick-dots-count-3{
    ul.slick-dots li{
      width:33%;
    }
  }
  &#slick-dots-count-4{
    ul.slick-dots{
      max-width:rem-calc(1300);
      li{
        width:25%;
      }
    }
  }

  ul.slick-dots{
    max-width: $row-width;
    margin:0 auto;
    li{
      padding:0;
      float:left;
      position: relative;
      list-style: none;
      &.slick-active button{
        color:$primary-color;
        border-bottom: 7px solid;
        height: 110px;
        line, path, circle{
          stroke: $primary-color;
        }
        polygon{
          fill: $primary-color;
        }
      }

      &:before{
        content:'';
      }
      button{
        background-color:transparent;
        color:$heading-color;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 0;
        border-right:1px solid $border-color;
        height: 110px;
        width: 100%;
        padding: 30px 10px;
        text-align: left;

        font-size:1rem;
        //@include transition(margin, 100ms, ease-out);
        @media only screen and (max-width: 65.313em){
          font-size:0.8rem;
        }
        &:hover{
          color:$primary-color;
          margin-top: -5px;
          border-bottom: 11px solid;
          height: 113px;
          border-top: 5px solid rgba(255, 255, 255, 0.8);
          //@include transition(margin, 100ms, ease-in);
         // @include transition(border-bottom, 100ms, ease-in);
         // @include transition(border-width, 100ms, ease-in);

          line, path, circle{
            stroke: $primary-color;
          }
          polygon{
            fill: $primary-color;
          }
        }
        span{
          display: table-cell;
          vertical-align: middle;
          position: relative;
          padding-left: 60px;
        }
        img, svg{
          max-width: 47px;
          margin-right: 1rem;
          float: left;
        }
      }
      &:last-child button{
        border-right:none;
      }
    }
  }
}


.slick-next, .slick-prev{
  display: none !important;
}

//next prev Mobile only
@media only screen and (max-width: $large) {
  .slick-prev, .slick-next {
    display: block !important;
    text-indent: -999em;
    position: absolute;

    &:hover{
      background-color: transparent;
    }
  }
  .slick-prev {
    background: url("../images/slider-arrow-left.svg") no-repeat transparent;
    left: 3%;
    top: 33%;
    @media #{$small-only}{
      top: 25%;
    }
  }

  .slick-next {
    background: url("../images/slider-arrow-right.svg") no-repeat transparent;
    right: 3%;
    top: 33%;
    @media #{$small-only}{
      top: 25%;
    }
  }
  
  
}