/* Stephan's original table styles
table{
	border-top: 1px solid $table-border-color;
	border-bottom: 1px solid $table-border-color;
	border-left: 1px solid $table-border-color;
	padding: 0;
	width: 100%;
	margin-bottom: 20px;

	th, td, {
		padding: 15px 10px;
		text-align: left;
		vertical-align: top;
		border-right: 1px solid $table-border-color;
	}

	th{
		background: $table-header;
	}

	tr{

		&:nth-child(2n){
			background: $table-row;
		}
	}

	td{
		p:last-child{
			margin-bottom:0;
		}
		a{
			&:hover{
				font-weight:600;
				text-decoration: underline;
			}
		}
	}

}*/

table{
  border-top: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;
  border-left: 1px solid $table-border-color;
  padding: 0;
  width: 100%;
  margin-bottom: 20px;

  th, td, {
	padding: 15px 10px;
	text-align: left;
	vertical-align: top;
	border-right: 1px solid $table-border-color;
  }

  th{
	background: $table-header;
  }

  tr{
	&:nth-child(2n){
	  background: $table-row;
	}
  }

  td{
	p:last-child{
	  margin-bottom:0;
	}
	a{
	  &:hover{
		font-weight:600;
		text-decoration: underline;
	  }
	}
  }

}

.jobs-list.no-more-tables th {
  color: $primary-color;
  &:hover{
	cursor: pointer;
  }
  &:after{
	width: 0;
	height: 0px;
	display: inline-block;
	border-top: 5px solid transparent;
	border-left: 5px solid $primary-color;
	border-bottom: 5px solid transparent;
	margin-left: 7px;
	content:' ';
  }
  &.headerSortDown{
	&:after{
	  border-top: 5px solid $primary-color;
	  border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	}

  }
}
	
@media #{$small-only} {

	/*--- Tables ---*/
	.no-more-tables table{
		min-width: 284px !important;
	}

	 /* Force table to not be like tables anymore */

	.no-more-tables table, 
	.no-more-tables thead, 
	.no-more-tables tbody, 
	.no-more-tables th, 
	.no-more-tables td{
		display: block !important;
		border: none;
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	.no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.no-more-tables tr {
	  border:1px solid $table-border-color;
	  display: block;
	  margin-bottom: 10px;
		border-borrom:0;
	}

	/*
	Label the data
	*/
	.no-more-tables td:before { 
		content: attr(data-content);
	 }


	.no-more-tables td {
	  /* Behave  like a "row" */
	  position: relative;
	  padding-left: 40%;
	  white-space: normal;
	  text-align:left;
	  padding-top: 5px;
	  padding-bottom: 15px;
	  margin-top:-10px;
	  border-bottom:1px solid $table-border-color;

	  &:before {
		/* Now like a table header */
		position: relative;
		/*transform: translate( -140%, 25px);
		-webkit-transform: translate( -140%, 25px);
		-moz-transform: translate( -140%, 25px);
		-ms-transform: translate( -140%, 25px);
		-o-transform: translate( -140%, 25px);
		
		webkit-transform: translate( -140%, 113%);
		-moz-transform: translate( -140%, 113%);
		-ms-transform: translate( -140%, 113%);
		-o-transform: translate( -140%, 113%);
		*/
		/* Top/left values mimic padding */
  			position: relative;
			/* top: 21px; */
			left: -60%;
			width: 50%;
			text-align: left;
			font-weight: bold;
			display: block;
			margin: 0;
			padding: 0;
			transform: translateY(100%);
			-moz-transform: translateY(100%);
			-ms-transform: translateY(100%);
			-webkit-transform: translateY(100%);
			-o-transform: translateY(100%);
	  }
	  &:last-child{
		border-bottom:none;
	  }
	}
}