﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="MessageTypeFilter.ascx.cs" Inherits="CMSModules_Chat_Controls_UI_ChatMessage_MessageTypeFilter" %>

<cms:CMSDropDownList ID="ddlMessageTypeFilter" runat="server" CssClass="ContentDropdown" EnableViewState="false" />
