<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Viewers_Documents_cmscalendar" Codebehind="~/CMSWebParts/Viewers/Documents/cmscalendar.ascx.cs" %>

<cms:CMSCalendar ID="calItems" runat="server" DayField="DocumentModifiedWhen" />
