<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Viewers_Documents_cmsdocumentviewer" Codebehind="~/CMSWebParts/Viewers/Documents/cmsdocumentviewer.ascx.cs" %>

<cms:CMSViewer ID="viewElem" runat="server" />
<cms:CMSRepeater ID="repElem" runat="server" />

