﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Viewers_Documents_cmsuniview"
    Codebehind="~/CMSWebParts/Viewers/Documents/cmsuniview.ascx.cs" %>
<cms:CMSEditModeButtonAdd ID="btnAdd" runat="server" Visible="False" />
<cms:CMSUniView runat="server" ID="uniView" />
