<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Viewers_Documents_randomdocument" Codebehind="~/CMSWebParts/Viewers/Documents/randomdocument.ascx.cs" %>
<cms:CMSRepeater ID="repElem" runat="server" />
