/* 2014 Infographic - Foundation Fixes */
.infographic {font-size: 120%!important;}
.large-2.columns {width:16.66667%;}
.large-3.columns {width:25%;}
.large-4.columns {width:33.33333%;}
.large-5.columns {width:41.66667%;}
.large-6.columns {width:50%;}
.large-7.columns {width:58.33333%;}
.large-8.columns {width:66.66667%;}

.large-offset-1 {margin-left:8.33333%!important;}

.small-block-grid-4 > li {width:25%; height: 220px;}

.infographic .transmitted li span {
	display: inline-block;
	width: 200px;
}

.infographic .transmitted .grid-right li img {
	left: -25px;
}

.infographic .transmitted .grid-left li img {
    left: 0;
}

.infographic .map,
.infographic.fr .map {
  height: 100%;
  background-image: none;
}

.infographic .map img {
	margin: -20px -20px 0 0;
}

.infographic .map small {
  display: block;
  text-align: right;
  position: relative;
}