﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SelectObjectColumn.ascx.cs" Inherits="CMSFormControls_Selectors_SelectObjectColumn" %>
<cms:CMSDropDownList ID="drpColumn" runat="server" />
