<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_TaggingCategories_TagCloud" Codebehind="~/CMSWebParts/TaggingCategories/TagCloud.ascx.cs" %>
<div class="TagCloud">
    <asp:Literal runat="server" ID="ltlTags" EnableViewState="false" />
</div>