﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="EmailTemplateTypeFilter.ascx.cs"
    Inherits="CMSModules_EmailTemplates_Filters_EmailTemplateTypeFilter" %>
<cms:CMSDropDownList ID="drpEmailType" runat="server" CssClass="DropDownField" />
