.clr {clear:both;height:0;}

/* main container */
.jScrollbar1		{width:500px;height:209px;overflow:hidden;position:relative;
					border:1px solid #F0F0F0;background:#F8F8F8;padding:10px;}
	/* text container */
	.jScrollbar1 .jScrollbar_mask {
		width:450px;
		position:relative;
		top:0;
	}
		.jScrollbar1 .jScrollbar_mask p { /* paragraphs */
			margin:0;
			padding:0;
			color:#2B2B2B;
			font-size:12px;
		}
		
	.jScrollbar1 .jScrollbar_draggable { /* slider container */
		float:left;
		width:13px;
		height:209px;
		overflow:hidden;
		background:transparent;
		position:relative
	}
	
	.jScrollbar1 .jScrollbar_draggable a.draggable { /** draggable **/
		position:relative;
		background-color:#000;
		display:block;
		height:70px;
		width:13px;
		cursor:s-resize
	}