/*
HTML5 Reset :: http://html5reset.org/
----------------------------------------------------------
We have learned much from/been inspired by/taken code where offered from:
Eric Meyer :: http://ericmeyer.com
HTML5 Doctor :: http://html5doctor.com
and the HTML5 Boilerplate :: http://html5boilerplate.com
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong,
sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header,
hgroup, menu, nav, section, time, mark, audio, video
{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}

article, aside, figure, footer, header, hgroup, nav, section	{display: block;}
img, object, embed												{max-width: 100%;}
ul						{list-style: none;}
blockquote, q			{quotes: none;}
blockquote:before,
blockquote:after,
q:before, q:after		{content: ''; content: none;}
a						{margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
del						{text-decoration: line-through;}
abbr[title], dfn[title]	{border-bottom: 1px dotted #000; cursor: help;}
table					{border-collapse: collapse; border-spacing: 0;}
th						{font-weight: bold; vertical-align: bottom;}
td						{font-weight: normal; vertical-align: top;}
hr						{display: block; height: 1px; border: 0; border-top: 1px solid #eee; margin: 1em 0; padding: 0;}
input, select			{vertical-align: middle;}
pre						{white-space: pre;white-space: pre-wrap; white-space: pre-line;word-wrap: break-word;}

input[type="radio"]		{vertical-align: text-bottom;}
input[type="checkbox"]	{vertical-align: bottom;}
select, input, textarea	{font: 99% sans-serif;}
table					{font-size: inherit; font: 100%;}
a, a:hover, a:active	{outline: none;}
small					{font-size: 85%;}
strong, th				{font-weight: bold;}
td, td img				{vertical-align: top;}
sub, sup				{font-size: 75%; line-height: 0; position: relative;}
sup						{top: -0.5em;}
sub						{bottom: -0.25em;}
pre, code, kbd, samp	{font-family: monospace, sans-serif;}
.clickable, label, input[type=button],
input[type=submit], button 				{cursor: pointer;}
button, input, select, textarea			{margin: 0;}
.ie button								{width: auto; overflow: visible;}
.ie7 img								{-ms-interpolation-mode: bicubic;}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* Site Elements
-------------------------------------------------------------------------------*/
body							{font: 13px Helmet, Freesans, helvetica, arial sans-serif;-webkit-font-smoothing:antialiased;}
body, select, input, textarea	{color: #333;}

a		{color: #03f;text-decoration: none;}
a:hover	{}
a:link	{-webkit-tap-highlight-color: #fcd700;}

::-moz-selection	{background: #fcd700; color: #fff; text-shadow: none;}
::selection			{background: #fcd700; color: #fff; text-shadow: none;}

ins		{background-color: #fcd700; color: #000; text-decoration: none;}
mark	{background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* backgrounds */
.bg-white	{background: #fff;}
.bg-light	{background: #f4f4f4;}
.bg-red		{background: #ed1c24;}


/* Text/Fonts/Icons
-------------------------------------------------------------------------------*/
.heading	{font-family: 'Open Sans Condensed', sans-serif;text-transform:uppercase;}

/* colours & text styles */
.red	{color:#ed1c24;}
.black	{color:#333;}
.white	{color:#fff;}
.upper	{text-transform:uppercase;}
.emboss	{text-shadow:0 -1px 0 #999, 0 1px 1px #fff;}
.hand	{font-family: 'Coming Soon', cursive;text-shadow:1px 3px 7px #000;}

i.icon-help			{display:block;height:20px;width:20px;background: url(../img/button-sprite.png) -220px -100px no-repeat;cursor:pointer;}
i.icon-close		{height:20px;width:20px;background: url(../img/button-sprite.png) -240px -100px no-repeat;cursor:pointer;}
i.icon-close.red	{background-position: -260px -100px;}

/* Main Site-Specific Styles
-------------------------------------------------------------------------------*/
/*
general page elements */
body		{overflow:hidden;} /* no scrolling! */
#background	{background: url(../img/bg-grey.jpg) no-repeat center center;
				width:101%;height:101%;position:fixed;left:-2px;top:-2px;z-index:0;overflow:hidden;
				-webkit-background-size: cover;
				   -moz-background-size: cover;
					-ms-background-size: cover;
					 -o-background-size: cover;
						background-size: cover;}

#background2{background: url(../img/bg-color.jpg) no-repeat center center;
				width:100%;height:100%;position:fixed;left:-2px;top:-2px;z-index:1;overflow:hidden;display:none;
				-webkit-background-size: cover;
				   -moz-background-size: cover;
					-ms-background-size: cover;
					 -o-background-size: cover;
						background-size: cover;}

.container		{position:relative;width:960px;margin:0 auto;}
.spacer			{margin-top:175px;}
nav				{z-index:2;}
section			{z-index:3;}
#preloader		{display:none;}
#loading-box		{position:fixed;height:214px;width:480px;margin:-107px 0 0 -240px;top:50%;left:50%;text-align:center;
						-webkit-box-shadow: 0px 0px 142px RGBA(0,0,0,1), 0px 0px 17px RGBA(0,0,0,0.6);
						   -moz-box-shadow: 0px 0px 142px RGBA(0,0,0,1), 0px 0px 17px RGBA(0,0,0,0.6);
								box-shadow: 0px 0px 142px RGBA(0,0,0,1), 0px 0px 17px RGBA(0,0,0,0.6);}
.fr #loading-box	{height:246px;margin-top:-123px;}
#loading-box p	{font-size:23px;padding:24px 32px 4px;text-align:left;}
.fr #loading-box p	{padding-bottom:14px;}

/*
Button Styles */
.button					{display:block;height:50px;width:320px;background: url(../img/button-sprite.png) 0 0 no-repeat;
	font-family:'Open Sans Condensed', sans-serif;color:#fff;text-transform:uppercase;line-height:42px;text-indent: 15px;
	font-weight: normal;font-size: 18px;margin:8px 0 20px 32px;}
.button:hover			{background-position: 0 -175px;text-shadow: 0 0 20px #666;}
.button.donate			{background-position: 0 -50px;}
.button.donate:hover	{background-position: 0 -225px;}
.photoButton			{display:block;width:110px;height:45px;background: url(../img/button-sprite.png) -110px -100px no-repeat;
	font-family:'Open Sans Condensed', sans-serif;color:#fff;text-transform:uppercase;line-height:42px;text-indent: 17px;
	font-weight: normal;font-size: 12px;text-shadow: 0 0 20px #666;position:absolute;left:-1px;}
.photoButton:hover			{background-position: -110px -275px;}
.photoButton.donate			{background-position: 0 -100px;height:55px;width:55px;font-size:17px;line-height:19px;padding:15px 30px 0 18px;text-indent:0;}
.photoButton.donate:hover	{background-position: 0 -275px;}
.photoButton i.icon-help		{position:absolute;top:10px;right:24px;}

.ie7 .button.loading,
.ie7 .photoButton.loading,
.ie8 .button.loading,
.ie8 .photoButton.loading,
.ie7 #tooltip,
.ie8 #tooltip	{background-image: url(../img/button-sprite-oldie.gif);} /* ie7-8 loading transparent png w/fade in fix */

/*
header */
#site-head		{position:fixed;top:0;left:0;background:#f4f4f4;height:152px;width:100%;z-index:10;
					-webkit-box-shadow: 0 5px 45px #333;
					   -moz-box-shadow: 0 5px 45px #333;
							box-shadow: 0 5px 45px #333;}
	#site-head .logo	{position:absolute;background:url(../img/logo.2017.svg) top left no-repeat; height:112px; width:168px;float:left;margin:0;
							top:20px;left:20px; display:block;}
	.fr #site-head .logo	{background-image: url(../img/logo-fr.2017.svg);}
	#site-head h1		{padding-top:28px;margin-left:230px;overflow:hidden;text-indent:-999em;display:block;}
	.en #site-head h1	{background: url(../img/title-en.png) top left no-repeat;height:50px; width:507px;position:relative;top:28px;left:-3px;}
	.fr #site-head h1	{background: url(../img/title-fr.png) top left no-repeat;height:50px; width:650px;position:relative;top:28px;left:-3px;}
	#site-head p		{font-family: 'Open Sans Condensed', sans-serif; font-size:20px;line-height:20px;margin-left:230px;}

/*
modals */
section.modal		{display:none;position:absolute;width:380px;background:#fff;top:182px;left:15px;
						-webkit-box-shadow: 0 0 32px RGBA(0,0,0,0.6);
						   -moz-box-shadow: 0 0 32px RGBA(0,0,0,0.6);
								box-shadow: 0 0 32px RGBA(0,0,0,0.6);}
	.modal i.icon-close	{position:absolute;top:14px;right:15px;z-index:11;}
	.modal header		{display:block;position:relative;background:#ed1c24;font-family:'Open Sans Condensed', sans-serif;text-transform:uppercase;height:auto;
							-webkit-box-shadow: none;
							   -moz-box-shadow: none;
									box-shadow: none;}
		.modal header h2	{color:#fff;font-size:29px;font-weight:normal;padding: 20px 35px 5px;}
		.fr .modal header h2	{padding:20px 28px 5px;}
		.modal header h3	{padding:0 25px 15px 35px;color:#131313;font-size:20px;line-height:22px;margin-top:-4px;}
		.fr #puzzle-solved header h3	{padding:0 15px 15px 28px;font-size:16px;}
	.modal article		{margin:10px 20px 20px;}
		.modal article p	{font-size:14px;color:#666;line-height:18px;margin:14px 0 -5px 15px;}
	.modal footer		{background:#EEE;}
		.modal footer p		{font-family:'Open Sans Condensed', sans-serif;text-transform:uppercase;color:#555;font-size:15px;
								line-height:20px;margin-left:37px;margin-bottom:-7px;padding-top:10px;}
		.fr .modal footer p	{font-size:12px;}
		.modal footer a		{margin:14px 9px 26px 34px;display:inline-block;}

	.viewport				{height:289px;overflow: hidden; position: absolute;}
	.overview				{position: absolute; left: 0; top: 0;padding-bottom:20px;}
	section.modal			{height:569px;}
	#family-story article	{height:289px;}
	#puzzle-solved article	{height:289px;}
	.modal article p		{padding-right:45px;}
	section.modal article	{/*overflow-y:scroll;*/margin:2px 2px 0 20px;padding:0;}
	.scrollbar				{display:block;}
	.modal footer			{position:absolute;left:0;bottom:0;width:100%;}
	.modal footer p			{}
/*
content section */
#content		{height:1200px;width:400px;position:absolute;top:0;left:0;display:none;}
	#content p		{margin:15px 50px 0 33px;font-size:13px;line-height:18px;}
	.fr #content p	{margin-right:45px;margin-top:10px;}
	#content p.hand	{font-size:27px;margin-top:30px;line-height:35px;}
	.fr #content p.hand	{line-height:34px;margin-top:15px;}
	#content strong	{display:block;margin-bottom:3px;}

/*
puzzle section */
#puzzle			{height:1200px;width:460px;position:absolute;top:0;right:85px;background:url(../img/testhand1.png) top left no-repeat;display:none;}
	#puzzle .wrap		{position:absolute;top:39px;left:30px;background:#000;height:403px;width:403px;box-shadow:0 0 3px #000;}
	#puzzle .wrap img	{}
	.fr .social-title	{position:absolute;top:453px;right:20px;width:183px;height:33px;background: url(../img/share-fr.png) top left no-repeat;}
	#puzzle .social		{position:absolute;top:494px;right:23px;}
#puzzleBtns		{position:absolute;top:195px;right:-10px;width:110px;height:400px;display:none;}
	.photoButton.donate	{top:0;}
	#btnShuffle			{top:66px;}
	#btnSolve			{top:106px;}
	#btnHelp			{top:146px;}
	#tooltip			{position:absolute;right:6px;top:357px;height:150px;width:320px;z-index:3;display:none;
							background: url(../img/button-sprite.png) 0 -350px no-repeat;}
		#tooltip span			{display:block;font-size:14px;line-height:19px;margin:61px 50px 0 30px;color:#505050;}
		#tooltip i.icon-close	{position:absolute;top:60px;right:25px;}


#charity-info		{font-size:10px;color:#aaa;position:fixed;bottom:0;left:0;z-index:2;padding:10px;}

/* tinyScrollbar */

.viewport		{ width: 95%; }
	.overview			{ list-style: none; }

.scrollbar		{ background: transparent url(../img/bg-scrollbar-track-y.png) no-repeat 0 0;
					position:relative;background-position: 0 0;float:right;width:15px; }
	.track				{ background: transparent url(../img/bg-scrollbar-trackend-y.png) no-repeat 0 100%;
							height:100%;width:15px;position:relative;z-index:3; }
	.thumb				{ background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
							height:20px;width:25px;cursor:pointer;overflow:hidden;position:absolute;top:0;left:-5px;z-index:4; }
	.thumb .end			{ background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
							overflow:hidden;height:5px;width:25px;}
	.scrollbar.disable	{ display: none; }
	.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }


/* CSS3 Transitions & Animations
-------------------------------------------------------------------------------*/
#background{
	-webkit-transition: height 5200ms cubic-bezier(0.490, 0.220, 0.450, 0.985), width 5200ms cubic-bezier(0.490, 0.220, 0.450, 0.985), -webkit-transform 1s ease-in;
	   -moz-transition: height 5200ms cubic-bezier(0.490, 0.220, 0.450, 0.985), width 5200ms cubic-bezier(0.490, 0.220, 0.450, 0.985), -moz-transform 1s ease-in;
		-ms-transition: height 5200ms cubic-bezier(0.490, 0.220, 0.450, 0.985), width 5200ms cubic-bezier(0.490, 0.220, 0.450, 0.985), -ms-transform 1s ease-in;
			transition: height 5200ms cubic-bezier(0.490, 0.220, 0.450, 0.985), width 5200ms cubic-bezier(0.490, 0.220, 0.450, 0.985), transform 1s ease-in;
	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
			transform: translateZ(0);
}

#background.zoom{
	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
			transform: translateZ(0);
}


#puzzle{
	-webkit-transition: top 1.05s ease-in-out, right 1.12s ease-in, -webkit-transform 1.15s ease-in-out;
	   -moz-transition: top 1.05s ease-in-out, right 1.12s ease-in, -moz-transform 1.15s  ease-in-out;
		-ms-transition: top 1.05s ease-in-out, right 1.12s ease-in, -ms-transform 1.15s  ease-in-out;
			transition: top 1.05s ease-in-out, right 1.12s ease-in, transform 1.15s  ease-in-out;
}
#puzzle.flipped {
	-webkit-transform: rotateZ(40deg);
	   -moz-transform: rotateZ(40deg);
		-ms-transform: rotateZ(40deg);
			transform: rotateZ(40deg);
}
#puzzle.shifted{top:1500px;right:-85px;}
#background.zoom {height:111%;width:111%;}
.ie #background.zoom {height:101%;width:101%;}


/* Media queries
-------------------------------------------------------------------------------*/
@media screen and (max-height: 750px) {
	.spacer				{margin-top:115px !important;}
	#puzzle, #content	{height:800px;}
	#content p			{margin-top:5px;}
	#content .button	{margin-bottom:5px;}
	#puzzleBtns			{top:138px !important;}
	section.modal 		{top:122px !important;}
	#tooltip			{top:298px !important;}
	.modal i.icon-close	{top:26px;}
	body				{overflow-y: scroll;height:750px;}
}
@media screen and (max-height: 850px) {
	#site-head			{height:112px;position:absolute;}
	#site-head .logo	{top:0;}
	.fr #site-head h1,
	.en #site-head h1	{padding-top:8px;top:8px;}
	.spacer				{margin-top:130px;}
	#puzzleBtns			{top:148px;}
	section.modal 		{top:136px;}
	#tooltip			{top:308px;}
}
/* Responsive IE8
-------------------------------------------------------------------------------*/
.ie-resp-728 .spacer			{margin-top:115px !important;}
.ie-resp-728 #puzzle,
.ie-resp-728 #content			{height:800px;}
.ie-resp-728 #content p			{margin-top:5px;}
.ie-resp-728 #content p.hand	{margin-top:45px;font-size:24px;line-height:35px;}
.ie-resp-728 #content .button	{margin-bottom:5px;}
.ie-resp-728 #puzzleBtns		{top:138px !important;}
.ie-resp-728 section.modal 		{top:122px !important;}
.ie-resp-728 #tooltip			{top:298px !important;}
.ie-resp-728 .modal i.icon-close	{top:26px;}
body.ie-resp-728				{overflow-y: scroll;height:750px;}
.ie8 .ie-resp-728 #background2	{filter: none; -ms-filter: none;}
/* .ie-resp-728 #donate-text		{display:none;} */
.ie-resp-728 #site-head			{height:112px;position:absolute;}
.ie-resp-728 #site-head .logo	{top:0;}
.ie-resp-728.fr #site-head h1,
.ie-resp-728.en #site-head h1	{padding-top:8px;top:8px;}
.ie-resp-728 .spacer			{margin-top:130px;}
.ie-resp-728 #puzzleBtns		{top:148px;}
.ie-resp-728 section.modal 		{top:136px;}
.ie-resp-728 #tooltip			{top:308px;}

.ie-resp-890 #site-head			{height:112px;position:absolute;}
.ie-resp-890 #site-head .logo	{top:0;}
.ie-resp-890.fr #site-head h1,
.ie-resp-890.en #site-head h1	{padding-top:8px;top:8px;}
.ie-resp-890 .spacer			{margin-top:130px;}
.ie-resp-890 #puzzleBtns		{top:148px;}
.ie-resp-890 section.modal 		{top:136px;}
.ie-resp-890 #tooltip			{top:308px;}
.ie8 .ie-resp-890 #background2	{filter: none; -ms-filter: none;}

/* ie7 JS engine too slow for responsive - defaults to small screen w/scrollbar */
.ie7 #site-head				{height:112px;position:absolute;}
.ie7 #site-head .logo		{top:0;}
.ie7 .fr #site-head h1,
.ie7 .en #site-head h1		{padding-top:8px;top:8px;}
.ie7 .spacer				{margin-top:115px !important;}
.ie7 #puzzle, #content		{height:800px;}
.ie7 #content p				{margin-top:5px;}
.ie7 #content p.hand		{margin-top:45px;font-size:24px;line-height:35px;}
.ie7 #content .button		{margin-bottom:5px;}
.ie7 #puzzleBtns			{top:138px !important;}
.ie7 section.modal 			{top:122px !important;}
.ie7 #tooltip				{top:298px !important;}
.ie7 .modal i.icon-close	{top:26px;}
.ie7 body					{overflow-y: scroll;height:750px;}
.ie7 #background2			{display:none !important;}
/* .ie7 #donate-text			{display:none;} */