<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Forums_FormControls_ForumLayoutSelector" Codebehind="ForumLayoutSelector.ascx.cs" %>

<cms:CMSDropDownList ID="drpLayouts" runat="server" CssClass="DropDownField" />