﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebparts/Forums/ForumSubscriptionApproval.ascx.cs" Inherits="CMSWebParts_Forums_ForumSubscriptionApproval" %>
<%@ Register Src="~/CMSModules/Forums/Controls/SubscriptionApproval.ascx" TagName="SubscriptionApproval"
    TagPrefix="cms" %>
<cms:SubscriptionApproval ID="subscriptionApproval" runat="server" />

