<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Forums_ForumBreadcrumbs" Codebehind="~/CMSWebParts/Forums/ForumBreadcrumbs.ascx.cs" %>
<%@ Register src="~/CMSModules/Forums/Controls/ForumBreadcrumbs.ascx" tagname="ForumBreadcrumbs" tagprefix="cms" %>
<cms:ForumBreadcrumbs ID="ctrlForumBreadcrumbs" runat="server" />
