﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="GeneratedCodePreview.ascx.cs" Inherits="CMSAdminControls_UI_Development_GeneratedCodePreview" %>

<cms:ExtendedTextArea ID="txtCode" runat="server" EnableViewState="false" ReadOnly="true"
    EditorMode="Advanced" Language="CSharp" Width="85px" Height="565px" />
