<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Ecommerce_Controls_PaymentGateways_PayPalForm" Codebehind="PayPalForm.ascx.cs" %>

<cms:LocalizedHeading ResourceString="PayPalForm.Title" runat="server" EnableViewState="false" Level="4" />
<cms:LocalizedLabel ResourceString="PayPalForm.InfoMessage" runat="server" EnableViewState="false" CssClass="InfoLabel" />