﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.Controls.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.Controls" Assembly="CMS.Controls" %><article class="<%# DisplayIndex % 3 == 0 ? " first" : ""%><%#  (DataItemIndex==(DataRowView.DataView.Count-1)) ? " last" : "" %>">
        <div class="link-text"><a href="<%# GetDocumentUrl() %>"><%# Eval("NewsTitle") %></a></div> 
</article>