<%@ Page Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Messaging_CMSPages_MessageUserSelector_Header" MasterPageFile="~/CMSMasterPages/LiveSite/Dialogs/TabsHeader.master" Theme="Default" EnableEventValidation="false" Codebehind="MessageUserSelector_Header.aspx.cs" %>
