﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DropDownList.ascx.cs" Inherits="CMSApp.CRCTimeline.FormControl.DropDownList" %>
<asp:DropDownList runat="server" ID="ddlList" CssClass="form-control" />