<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Blogs_FormControls_PingedUrls" Codebehind="PingedUrls.ascx.cs" %>
<br />
<asp:Panel ID="pnlPingedValues" runat="server" EnableViewState="false" Visible="false">
    <cms:LocalizedLabel ID="lblTitle" runat="server" ResourceString="blogs.trackbacks.pinged" DisplayColon="true" />
</asp:Panel>
