.btn-select {
	width: 100%;
	border: none;
	outline: none;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	background: $white;
	color: $red;
	text-transform: uppercase;
	height: 5rem;
	margin-left: 2px;
	margin-right: 2px;
	padding: 0;
	font-weight: 600;

	@include breakpoint(medium down) {
		height: auto;
		box-shadow: none;
		text-decoration: underline;
		width: auto;
	}
	@include breakpoint(large up) {
		&:hover{
			box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1);
		}
		
		.donate-v2 & {
			height: 4.8rem;
		}
	}
}

.btn-complete {
	width: 100%;
	height: 70px;
	border: none;
	outline: none;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	font-size: 2.2rem;
	font-weight: 700;
	text-transform: uppercase;
	background: $red;
	color: $white;

	&[disabled] {
		background: $grey-lighter;
		color: $black;
	}

	@include breakpoint(medium down) {
		width: 90%;
		&[disabled] {
			background: $grey-disabled;
			color: $black;
		}
	}
	
	@include breakpoint(large) {
		.donate-v2 & {
			height: 4.8rem;
			padding-left: 0;
			padding-right: 0;
			width: 100%;
		}
	}
}

.btn-reset {
	color: #b9b9b9;
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: uppercase;
	color: $grey-dark;
	border: 0;
	background: none;
	padding: 0;
}

.btn-close {
	border: none;
	background: none;
	padding: 0.6rem 1rem;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	line-height: 1;

	&:focus,
	&:hover {
		color: $black;
	}

	&-tooltip {
		top: 0;
		right: 0;
	}
}

.btn-array {
	background-color: $white;
	border: 1px solid $grey-lighter;
	display: block;
	width: 324px;
	height: 48px;
	margin-bottom: 1.6rem;
	font-size: 1.8rem;
	color: $red;
	font-weight: 700;
	transition: all 0.4s ease;
	outline: 0;

	&:hover{
		box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1);
	}

	@include breakpoint(medium down) {
		width: 25%;
		margin: 0 0.5rem;

		&:first-of-type {
			margin-left: 0;
		}
		&:last-of-type{
			margin-right: 0;
		}
	}

	@include breakpoint(small down) {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}

.array-selected {
	border: 2px solid #EE0000;
}




