html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: $open-sans;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1.4;
	color: $black;
	background: $grey-light;
}

body.body-v2 {
	background: $white;
}

h1 {
	font-size: 5rem;
	font-weight: 400;
	font-family: $yesteryear;
	color: $white;

	@include breakpoint(medium down) {
		font-size: 4rem;
	}
	@include breakpoint(320px down) {
		font-size: 3.5rem;	
	}
}

h2 {
	font-size: 3rem;
	line-height: 1.4;
	color: $red;

	@include breakpoint(680px down) {
		font-size: 1.9rem;
	}
}

h2.p1 {
	font-size: 2rem;
	color: $white;

	@include breakpoint(680px down) {
		font-size: 1.6rem;
	}
	@include breakpoint(320px down) {
		font-size: 1.5rem;	
	}
}

a {
	color: rgba($black, 0.6);
	text-decoration: underline;
	&:hover {
		color: rgba($black, 0.6);
	}
}

.condensed {
	font-family: $open-sans-condensed;
	font-weight: 700;
}
.thin {
	font-family: $open-sans;
	font-weight: 700;
	font-size: 1.1rem;
}

img {
	width: 100%;
	display: inline-block;
}

label{
	// margin-right: 0.6rem;
}

input {
	font-weight: 600;
	color: $black;
	width: 100%;
	max-width: 9rem;
	border: 0.01rem solid #cacaca;
	text-transform: uppercase;
}

/* clear form placeholders on focus */
input:focus::-webkit-input-placeholder {
  color: white;
}
input:focus:-moz-placeholder { /* Firefox 18- */
  color: white;
}
input:focus::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
input:focus:-ms-input-placeholder {
  color: white;
}

.donate-v2 {
	input {
		font-size: 1.8rem;
		max-width: 8.5rem;
	}
}

input#user-amount::-webkit-outer-spin-button,
input#user-amount::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

input#user-amount {
	-moz-appearance:textfield;
}

html:lang(en) {
	input {
		padding: 0.6rem 0.6rem 0.6rem 1.8rem;	
	}
}

html:lang(fr) {
	input {
		padding: 0.6rem 2rem 0.6rem 0.6rem;
	}
}

footer {
	font-size: 1rem;
	color: rgba($black, 0.6);
	padding-bottom: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	font-weight: 600;
}

