.row {
	@include breakpoint(large down){
		max-width: 100%;
	}
}

.container {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	padding: 0 1.5rem 2rem;

	@include breakpoint(medium down){
		padding: 2rem 0;
	}
}

.header {
	width: 100%;
	height: 100vh;
	background-image: url('/crc/holiday-2017/assets/Holiday-background.jpg');
	background-size: cover;
	background-position: bottom;

	map {
		area {
			cursor: pointer;
			border: 4px solid $red;
		}
	}

}

.logo-social {
	width: 100%;
	height: 7.4rem;
	
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	padding: 20px 10px 0;
}

.logo {
	// position: absolute;
	display: inline-block;
	img {
		height: 4.4rem;
		width: 10.5rem;
	}
}
.social-icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 14rem;
	color: $white;
	line-height: 1;
	text-transform: uppercase;

	p {
		margin-bottom: 0;
	}

	a {
		display: inline-block;
		margin: 0 0.6rem;
	}

	img {
		width: 2rem;
		height: 2rem;
		opacity: 0.7;
		transition: all 0.2s ease-in-out;

		&:hover {
			opacity: 1;
		}
	}
}

.header-content {
	position: relative;
	width: 100%;
	max-width: calc(457*2px);
	margin: 0 auto;
	text-align: center;
	height: calc(100% - 74px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	@include breakpoint(small) {
		h1 {
			line-height: 1;
		}
	}
}

.donate {
	height: 100vh;
	margin-top: 3rem;
}

.slide-in {
	@include breakpoint(medium down){
		padding-bottom: 15rem;
		height: auto;
	}
}

.content {
	max-width: 100%;
	margin-left: 0;
  margin-right: 0;
  background: $white;
  padding: 2rem;
}

.donate{
	background: $grey-light;
}

.donate-v2 {
	background: $white;
}

.flex-container{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}

.panel-right {
	width: 41%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	@include breakpoint(small down) {
		width: 100%;
	}
}

.panel-left {
	border-right: 1px solid $grey-lighter;
	padding-right: 2rem;
	padding-left: 0;
	width: 58.3333%;

	@include breakpoint(medium down){
		width: 100%;
		padding-right: 0;
		border-right: 0;
	}
}

.donate-v2 {
	background: $white;

	footer {
		background: $white;
	}

	@include breakpoint(large up) {
		.panel-left {
			width: 66.66667%;
		}
		.panel-right {
			width: 33.33333%;
		}
		.region {
			position: absolute;
			-webkit-writing-mode: vertical-rl;
			-ms-writing-mode: tb-rl;
			writing-mode: vertical-rl;
			-webkit-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
			text-align: right;
			left: 0;
			top: 1.2rem;
			background-color: $grey-lighter;
			padding-top: 5px;
    	padding-bottom: 5px;
		}
		.vertical-padding {
			position: relative;
			padding-bottom: 1rem;
		}
	}
}

.label {
	font-family: $open-sans-condensed;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 700;
	color: $grey;
}
.mobile-label {
	margin: 1rem 0 0;
}
.item-array {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	@include breakpoint(small down){
		flex-wrap: wrap;
		flex-direction: column;
	}
}

.item-container {
	position: relative;
	cursor: pointer;
	min-height: 17.5rem;
	width: 33.33333%;
	margin: 2px;

	@include breakpoint(small down){
		width: 100%;
	}
}

.item {
	font-family: $open-sans-condensed;
	perspective: 1000px;
	-webkit-backface-visibility: hidden;
	
	.added {
		.front{
		  -webkit-transform: rotateY(180deg);
		  -moz-transform: rotateY(180deg);
		  -o-transform: rotateY(180deg);
		  transform: rotateY(180deg);
		}
		.back{
		  -webkit-transform: rotateY(0deg);
		  -moz-transform: rotateY(0deg);
		  -o-transform: rotateY(0deg);
		  -ms-transform: rotateY(0deg);
		  transform: rotateY(0deg);

		}
	}
	
}
.back,
.front {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 15%;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	min-height: 17.5rem;
	width: 100%;
	
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.6s ease;
	transform: rotateY(0deg);
	transform-style: preserve-3d;

	@include flex;
	@include flex-align(right, middle);
	@include flex-direction(column);
	
	&:hover,
	&:focus,
	&:active {
		box-shadow: 0px 0px 2px 2px #9a9a9a; 
	}

}

@media only screen 
and (min-width: 769px)
and (max-width: 1024px){
	.item-container,
	.back,
	.front {
		min-height: 30rem;
	}
}

@media only screen 
and (min-width: 480px)
and (max-width: 768px){
	.item-container,
	.back,
	.front {
		min-height: 22rem;
	}
}

@media only screen 
and (min-width: 1024px){
	.donate-v2 {
		.item-container {
			margin-left: 1rem;
			margin-right: 1rem;
		}
	}
}


.front {
	z-index: 2;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.added {
  .front{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  .back{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);

  }
}

.check {
	width: 22px;
	height: 22px;
	padding: 0 3px;
	background: $white;
	border: 1px solid $grey;

	position: absolute;
	top: 1rem;
	right: 1rem;

	img {
		width: 14px;
		height: 19px;
	}
}

.gift-amount{
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.2;
	color: $red;
	margin-bottom: 0;
}

.gift-name {
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1.2;
	text-transform: uppercase;
	color: $grey;
	text-align: center;
}

.gift-detail {
	width: 95%;
	font-size: 1.4rem;
	line-height: 1.2;
	color: $white;
	text-align: center;
}

.select-buttons{
	font-family: $open-sans;
	color: $red;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 1.5rem;
	padding-left: 0.7rem;
	padding-right: 0.9375rem;

	display: flex;
	justify-content: space-between;
	align-items: stretch;
	@include breakpoint(medium down) {
		width: 50%;
		justify-content: flex-start;
		align-items: center;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 2rem;
	}
	@include breakpoint(small down) {
		width: 100%;
	}
}

.select-all {
	width: 32%;
	margin: 0 auto;
	@include breakpoint(medium down) {
		width: auto;
	}
	.donate-v2 & {
		@include breakpoint(large up) {
			width: 31%;
			margin-left: 0.8rem;
		}
		float: left;
	}
}

.user-defined-amount {
	width: 66%;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 0.6rem;

	label{
		width: 75%;
	}

	.currency-symbol {
		width: 25%;
	}

	@include breakpoint(medium down) {
		width: 100%;
		padding: 0.5rem;
		justify-content: space-between;
	}
}

.user-defined-amount-v2{
	border: 1px solid $grey-lighter;
	width: 324px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;

	.currency-symbol {
		input{
			border: 0;
			text-align: center;
		}
	}

	@include breakpoint(medium down){
		width: 100%;
		margin-right: 0.5rem;
		.currency-symbol,
		input {
			width: 100%;
			max-width: 100%;
		}
	}
	@include breakpoint(small down){
		margin-right: 0;
	}
}

html:lang(en) {
	.currency-symbol{
		position: relative;
		display: block;

		&:after {
			display: block;
			content: "$";
			position: absolute;
			height: 100%;
			top: 0.6rem;
			left: 0.5rem;
			font-size: 1.8rem;
			font-weight: 600;
			// padding: 0.3rem 0;
			color: $red;
		}
	}
}

html:lang(fr) {
	.currency-symbol{
		position: relative;
		display: block;

		&:after {
			display: inline-block;
			content: "$";
			position: absolute;
			height: 100%;
			top: 0.6rem;
			right: 0.5rem;
			font-size: 1.8rem;
			font-weight: 600;
			// padding: 0.3rem 0;
			color: $red;
		}
	}
}

.v1-tooltips {
	width: 100%;
	height: 12rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

.mobile-tooltips {
	position: relative;
	width: 100%;
	background: $white;
	padding: 2rem 2rem 1rem 1rem;
	border: 1px solid rgba(10, 10, 10, 0.25);
	display: none;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s ease;
}

.v2-progress {
	position: relative;
	margin-bottom: 3rem;
	height: 10rem;
}

.v2-tooltips {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 83%;
	height: 6rem;
	background: $grey-lighter;
	padding: 0.8rem;
}

.checkout {
	&-row {
		@include breakpoint(medium down) {
			position: fixed;
			z-index: 99;
			left: 0;
			right: 0;
			bottom: -30rem;
			width: 100%;
			border-right: none;
			-webkit-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
		}
		&.initialize {
			bottom: 0;
		}
		@include breakpoint(large up) {
			padding-top: 1rem;
		}
	}

	&-mobile {

		@include breakpoint(medium down) {
			width: 50%;
			border-right: none;
			color: $white;
			background: #333;

			.donation-total {
				// float: initial;
				width: 50%;
			}
			
			.total {
				font-size: 1.8rem;
				line-height: 1.26;
			}

			.active {
				color: $white;
			}
		}
		@include breakpoint(small down) {
			padding-right: 0 !important;

			.donation-total {
				width: 100%;
			}
		}
	}
}

.donate-v2 {
	.checkout-mobile {
		border-right: 0;
		@include breakpoint(large up) {
			padding-right: 4rem;

		}
	}
}

.complete-mobile {
	align-items: flex-end;

	@include breakpoint(medium down) {
		width: 50%;
		justify-content: center;
		align-items: center;
		font-size: 1.2rem;

		.btn-complete {
			height: 40px;
			font-size: 1.1rem;
		}
	}

	@include breakpoint(medium) {
		.donate-v2 & {
			padding-top: 0.9375rem;
			padding-bottom: 0.9375rem;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.donation-total {
	// float: right;
	width: 40%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	p{
		margin-bottom: 0;
	}
}

.total {
	font-size: 3.2rem;
	line-height: 1;
	color: $grey-dark;
	font-weight: 700;
}

.gift-array {
	padding-left: 2rem;
	
	p{
		width: 100%;
	}

	@include breakpoint(medium down) {
		padding-left: 0;

		&-mobile{
			
		}
	}
}

.array-btns-group{
	padding-top: 2rem;

	@include breakpoint(medium down) {
		display: flex;
		justify-content: center;
		align-items: center;		
	}
}


.match-flex {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.match{
	width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-right: 2rem;
	padding-left: 2rem;

	@include breakpoint(medium down) {
		display: none !important;
	}

	&-copy {
		width: 70%;
		p{
			margin-bottom: 0;
		}
	}

	&-icon{
	  max-width: 30%;
	  min-width: 80px;
	  @include breakpoint(medium down) {
	  	max-width: 15%;
	  }
	}

	&-mobile {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2rem;
		font-weight: 700;
		width: 100%;
	}
}


.match-v2 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	border-top: 1px solid $grey;
	border-bottom: 1px solid $grey;

	@include breakpoint(medium down) {
		display: none !important;
	}

	&-copy {
		width: 90%;
		p {
			margin-bottom: 0;
		}
	}

	&-icon{
	  max-width: 10%;
	  padding: 0 1rem;
	  display: block;
	}
}





