.text-center {
	@include breakpoint(medium down) {
		padding-left: 0.625rem;
		padding-right: 0.625rem;
	}
}
.margin-bottom {
	margin-bottom: 2rem;
}

.padding-left {
	padding-left: 0.9375rem;
}

.padding-around{
	padding: 0.9375rem;
}

.nopadding {
	&-left{
		padding-left: 0;
	}
	&-right {
		padding-right: 0;
	}
}

.red {
	color: $red;
}

.normal {
	font-weight: 400;
}

.vertical-padding {
	padding-top: 1rem;
	padding-bottom: 1rem;
	
	@include breakpoint(large up) {
		padding-bottom: 0
	}
}

.no-scroll {
	overflow: hidden;
}

.active {
	color: $black;
}

.white-bg {
	background: $white;

	&-desktop{
		background: $white;
		@include breakpoint(1024px down) {
			background: none;
		}
	}
}

.dark-bg {
	&-mobile {
		@include breakpoint(medium down) {
			background: #333;
		}
	}
}

.visible {
	visibility: visible;
	opacity: 1;
	transition: all 0.2s ease;
	display: block;
}







