.dialog {
	display: display;
};

.mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(10, 10, 10, 0.45);
	z-index: 100;
}

.window {
	display: inline-block;
	z-index: 101;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.4rem;
	text-align: center;
	color: $black;
	background-color: $grey-lighter;
	padding: 3rem;
	max-height: 90vh;
	width: 66rem;

	@include breakpoint(700px down){
		width: 90%;
	}
}

.btn-close {
	position: absolute;
	right: 1rem;
	top: 0;
	font-weight: 600;
	padding: 1rem;
  outline: none;
  border: 0;
  background: none;
  font-size: 2rem;
  color: $grey-dark;
}

.donate-head {
	font-size: 1.8rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.donate-box {
	display: flex;
	justify-content: center;
	align-items: stretch;
	padding-bottom: 1.8rem;

	@include breakpoint(small down){
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}
}

.donate-option {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

  width: 33.33%;
  margin: 0 0.5rem;
  padding: 2rem 1rem;
	background: #ffffff;
  border: none;
	-webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.6 ease;
	
	.donate-icon {
		width: 100%;
	}

	.donate-tagline {
		width: 100%;
	}
	
	.donate-icon,
	.donate-tagline {
		padding-left: 0.625rem;
		padding-right: 0.625rem;
	}

  img {
  	height: 5.2rem;
  	width: auto;
  	max-width: 100%;
  }

  p {
  	margin-bottom: 0;
  }

	&:hover,
	&:focus, 
	&:active {
		outline: 0;
		box-shadow: 0px 0px 2px 2px #9a9a9a; 
	}

  @include breakpoint(small down){
  	flex-direction: row;
  	justify-content: center;
  	padding-left: 0;
  	width: 100%;
  	margin: 0.5rem 0;

  	.donate-icon {
  		width: 25%;
  	}

  	.donate-tagline {
	  	text-align: left;
			width: 75%;
  	}
  }
}










