.wrapper {
	// position: absolute;
	width: 100%;
	// bottom: 18vh;
	// flex-grow: 1;

	@media only screen 
		and (min-width: 769px) 
	  and (max-width: 1280px) {
			width: 80%;
	}

	@media only screen 
		and (min-width: 1024px) 
	  and (max-height: 768px) {
			width: 80%;
	}

	@media only screen 
		and (min-width: 1024px) 
	  and (min-height: 400px) 
	  and (max-height: 767px){
			width: 65%;
	}

	// @media only screen 
	// 	and (min-width: 1281px)
	//   and (max-width: 1800px) {
	//   	width: 80%;
	//   	left: calc(50% - 35%);
	//   	bottom: 12vh;
	// }
	// @media only screen 
	// 	and (min-width: 1024px)
	//   and (max-height: 675px) {
	//   	width: 60%;
	//   	left: calc(50% - 30%);
	// 		bottom: 20vh
	// }
	// @media only screen 
	// 	and (min-width: 480px)
	//   and (max-width: 1280px) {
	// 		width: 70%;
	// 		left: calc(50% - 35%);
	// }
	// @media only screen 
 //  and (max-width: 768px) 
 //  and (max-height: 1024px){
	// 	width: 100%;
	// 	left: auto;
 //  }
	// @media only screen 
 //  and (max-width: 320px) {
	// 	width: 90%;
	// 	left: calc(50% - 45%);
 //  }
	// @media only screen 
	//   and (max-device-width: 667px) 
	//   and (max-device-height: 375px){
	// 	bottom: 31vh;
	// }
 //  @include breakpoint(small down) {
	// 	bottom: 16vh;	
 //  }
 //  @include breakpoint(320px down) {
	// 	bottom: 14vh;	
 //  }
}

.arrow-down{
  cursor: pointer;
	// position: absolute;
  // bottom: 10vh;
  // left: calc(50% - 30px);
	width: 60px;
	height: 60px;
	-moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  margin-bottom: 3rem;

  // @media only screen 
  // 	and (min-width: 780px)
  //   and (max-width: 1280px) {
  //   	bottom: 18vh;
  //   }
  // @media only screen 
  // 	and (min-width: 1281px)
  //   and (max-width: 1800px) {
		// bottom: 4vh;
  // }

  // @include breakpoint(medium down) {
  //   bottom: 10vh;	
  // }
  // @include breakpoint(small down) {
		// bottom: 8vh;	
  // }
  // @include breakpoint(320px down) {
		// bottom: 7vh;	
  // }
}

.item-click {
	position: relative;
	// width: 12.8rem;
	// height: 11.2rem;

	@include breakpoint(medium down) {
		border: 0;
	}

	&-containers {
		position: relative;
		width: 100%;
		// padding-bottom: calc(457/784*100%); /* height/width*size */
		// background-image: url('/crc/holiday-2017/assets/Holiday-foreground.png'); 
		// background-size: 100%;;
		// background-repeat: no-repeat;

		// html:lang(fr) & {
		// 	background-image: url('/crc/holiday-2017/assets/Holiday-foreground-fr.png');	
		// 	@media only screen 
		// 	and (max-width: 680px) { 
				// padding-bottom: calc(457/644*100%); /* height/width*size */
				// background-image: url('/crc/holiday-2017/assets/Holiday-foreground-fr-mobile.png');	
		// 	}
		// }

		// @media only screen 
	 //  and (max-width: 680px) { 
			// padding-bottom: calc(457/644*100%); /* height/width*size */
			// background-image: url('/crc/holiday-2017/assets/Holiday-foreground-mobile.png');	
		// }
	}
	
	&-1,
	&-2,
	&-3,
	&-4,
	&-5,
	&-6 {
	  position: absolute;
	  cursor: pointer;

		.add {
			// content: '';
			// background: url('/crc/holiday-2017/assets/ui/add.png');
			// background-repeat: no-repeat;
			// background-size: cover;
			width: 3.4rem;
			height: 3.4rem;
			border-radius: 100%;
			position: absolute;
			top: 5px;
			right: 5px;
			z-index: 2;
			-webkit-transform: scale(1);
			transform: scale(1);
			// transition: all 0.2s ease;

			-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
			-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			     -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
			-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
			-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			   -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			     -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			        transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

		  @include breakpoint(1025px up) {
				opacity: 0;
		  	-webkit-transform: scale(0);
		  	transform: scale(0);
		  }
	  }

	  @include breakpoint(1025px up) {
	  	&:hover,
	  	&:focus,
	  	&:active {

	  		.add{
					opacity: 1;
					-webkit-transform: scale(1);
					transform: scale(1);
					z-index: 2;
	  		}
	  	}

		  // &:hover:after,
		  // &:focus:after,
		  // &:active:after {
				// opacity: 1;
    // 		-webkit-transform: scale(1);
    // 		transform: scale(1);
    // 		z-index: 2;
			// }
		}
	}

	&-1 {
    top: 35%;
    left: 14%;
    width: 18%;
    height: 27%;
	}

	&-2 {
    top: 24%;
    left: 38%;
    width: 21%;
    height: 35%;
	}

	&-3 {
    top: 62%;
    left: 38%;
    width: 11%;
    height: 19%;
	}

	&-4 {
		top: 33%;
		left: 62%;
		width: 17%;
		height: 27%;
	}

	&-5 {
    top: 3%;
    left: 18%;
    width: 16%;
    height: 25%;
	}

	&-6 {
		top: 2%;
		left: 70%;
		width: 14%;
		height: 20%;
	}

	@include breakpoint(small down) {
			&-1 {
		  	width: 22%;
			}

			&-2 {
		    left: 47%;
			}

			&-3 {
		  	left: 44%;
			}

			&-4 {
				left: 75%;
			}

			&-5 {
		    left: 20%;
			}

			&-6 {
				left: 82%;
				.add{
					right: 0px;
					top: -11px;
				}
			}
	}
	@include breakpoint(1024px down) {	
			&-3 {
		  	.add {
		  		bottom: -16px;
		  		right: -20px;
		  		top: auto;
		  	}
			}

			&-4 {
				.add{
					bottom: 0;
					left: 0;
					top: auto;
					right: auto;
				}
			}

			&-5 {
		    .add {
		    	bottom: 0;
		    	left: 0;
		    	top: auto;
		    	right: auto;
		    }
			}

			&-6 {
				.add {
					right: -6px;
				}
			}
	}
}

@media only screen
and (min-width: 568px)
and (max-width: 667px)
and (max-height: 375px) {
	.header {
		height: auto;
	}

	.wrapper {
		position: relative;
		bottom: initial;
	}
	.header-content {
		height: calc(100% - 7.4rem);
	}
	.arrow-down {
		position: relative;
		bottom: initial;
	}
}
@media only screen
and (min-width: 639px)
and (max-width: 680px) {
 .item-click{
 		&-2{
 			left: 47%;
 		}
 		&-3 {
 			left: 44%;
 		}
 		&-4 {
 			left: 75%;
 		}
 		&-6 {
 			left: 83%;
 		}
 }
}	
@media only screen 
and (min-width: 668px)
and (max-width: 736px) 
and (max-height: 414px){
	.header {
		height: auto;
	}
	.wrapper {
		position: relative;
		bottom: initial;
	}
	.header-content {
		height: calc(100% - 7.4rem);
	}
	.arrow-down {
		position: relative;
		bottom: initial;
	}
}
