.circle-box{
	width: 100%;
	padding: 0 3rem;
}

.circle{
	position: relative;
	background: url('../assets/ui/world.png') center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
}

html:lang(fr) {
	.progress-line{
		.progressbar-text {
			p{
				line-height: 1;
			}
		}
	}
}
.progress-line{
	position: relative;
	height: 12rem;

	.progressbar-text {
		p {
			margin-bottom: 0;
		}
	}

	.indicator{
		height: 1.6rem;
		width: 3rem;
		position: absolute;
		top: 2.5rem;
		left: 0;
		transform-origin: -50% center 0px;
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
	}

	.box {
		height: 3.1rem;
		width: 3rem;
		position: absolute;
		left: 0;
		top: -0.6rem;
		transform-origin: -50% center 0px;
		transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-webkit-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		opacity: 1;
		visibility: visible;
		transform: scale(1);
		&-hide {
			opacity: 0;
			visibility: hidden;
			transform: scale(0);
		}
	}

	.truck {
		width: 60px;
		height: 39px;
		position: absolute;
		right: -5px;
		top: -0.9rem;
		opacity: 0;
		visibility: hidden;
		transform: scale(0);
		transition: all 0.5s ease;
		-moz-transition: all 0.5s linear;
		-webkit-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;

		&-visible {
			opacity: 1;
			visibility: visible;
			transform: scale(1);
		}
	}
}

.move {
	-webkit-animation: slide 0.5s linear;
	animation: slide 0.5s linear;
}

.mobile-progress-container {
	min-height: 6.6rem;
	position: relative;
	background: #dcdada;
	padding: 1rem;
}

.path-animate {
  stroke-dasharray: 100, 100;
  stroke-dashoffset: 92.5;
  -webkit-animation: dash 0.4s ease alternate;
  animation: dash 0.4s ease alternate;
}

.globe-animate {
	stroke-dasharray: 307.919, 307.919 !important;
  stroke-dashoffset: 295 !important;
  -webkit-animation: spin 0.4s linear;
	animation: spin 0.4s linear;
}

@keyframes spin {
  0% {
    stroke-dashoffset: 307.919;
  }
  50% {
    stroke-dashoffset: 295;
  }
	100% {
		stroke-dashoffset: 307.919;
	}
}

@keyframes dash {
  0% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 92.5;
  }
	100% {
		stroke-dashoffset: 100;
	}
}

@keyframes slide {
  0%  {
    transform: translateX(0);
  }
  
  // 15%, 70% {
  //   transform: translateX(0);
  // }
  
  90% {
    transform: translateX(170px);
    opacity: 0.4;
  }
  
  100% {
    transform: translateX(200px);
    opacity: 0;
    visibility: hidden;
  }
}





