// Fonts
$open-sans-condensed: 'Open Sans Condensed', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$yesteryear: 'Yesteryear', cursive;

// Colors
$red: #EE0000;

$black: #404040;

$white: #FFFFFF;

$grey: #767676;
$grey-light: #f8f8f8;
$grey-lighter: #e1e1e1;
$grey-dark: #9a9a9a;
$grey-disabled: #676767;