﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ImageSelectionControl.ascx.cs"
    Inherits="CMSFormControls_Media_ImageSelectionControl" %>
<cms:ImageSelector ID="imageSelector" runat="server" ShowClearButton="true" />
