<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSAdminControls_UI_System_PermissionMessage" Codebehind="PermissionMessage.ascx.cs" %>
<asp:Label runat="server" ID="lblPermission" EnableViewState="false" CssClass="PermissionMessage" />
