<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSPages_LiveIDLogin" Codebehind="LiveIDLogin.aspx.cs" %>

<!DOCTYPE html>
<html>
<head id="Head1" runat="server" enableviewstate="false">
    <title>Live id login</title>
</head>
<body>
    <form id="form1" runat="server">
    <asp:Literal ID="ltlScript" runat="server" EnableViewState="false" />
    </form>
</body>
</html>
