<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSPages_scheduler" Codebehind="scheduler.aspx.cs" %>

<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
<meta http-equiv="Pragma" content="no-cache" />

    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        This page is used for execution of scheduled tasks.
    </div>
    </form>
</body>
</html>
