<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSPages_unsubscribe" Theme="Default" Codebehind="unsubscribe.aspx.cs" %>

<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title>Unsubscribe</title>
</head>
<body>
    <form id="form1" runat="server">
            <asp:Label runat="server" id="lblInfo" CssClass="InfoLabel" EnableViewState="false" Visible="false" />
            <asp:Label runat="server" ID="lblError" CssClass="ErrorLabel" EnableViewState="false" Visible="false" />
    </form>
</body>
</html>
