<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSPages_WebFarmUpdater"
    Codebehind="WebFarmUpdater.aspx.cs" %>

<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title>Web Farm Updater</title>
</head>
<body>
    <form id="form1" runat="server">
    </form>
</body>
</html>
