<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_SocialMedia_Facebook_FacebookActivityFeed" Codebehind="~/CMSWebParts/SocialMedia/Facebook/FacebookActivityFeed.ascx.cs" %>
<cms:LocalizedLabel runat="server" CssClass="webpart-error-label" ID="lblErrorMessage" Visible="False"></cms:LocalizedLabel>
<asp:Literal runat="server" ID="ltlActivityFeed" EnableViewState="false" />