<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_SocialMedia_Facebook_FacebookFacepile" Codebehind="~/CMSWebParts/SocialMedia/Facebook/FacebookFacepile.ascx.cs" %>
<cms:LocalizedLabel runat="server" CssClass="webpart-error-label" ID="lblErrorMessage" Visible="False"></cms:LocalizedLabel>
<asp:Literal runat="server" ID="ltlFacePile" EnableViewState="false" />