<%@ Control Language="C#" AutoEventWireup="True" Inherits="CMSWebParts_SocialMedia_Facebook_FacebookSendButton" Codebehind="~/CMSWebParts/SocialMedia/Facebook/FacebookSendButton.ascx.cs" %>
<cms:LocalizedLabel runat="server" CssClass="webpart-error-label" ID="lblErrorMessage" Visible="False"></cms:LocalizedLabel>
<asp:Literal runat="server" ID="ltlSendButtonCode" />