<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_SocialMedia_Facebook_FacebookLikeBox" Codebehind="~/CMSWebParts/SocialMedia/Facebook/FacebookLikeBox.ascx.cs" %>
<cms:LocalizedLabel runat="server" CssClass="webpart-error-label" ID="lblErrorMessage" Visible="False"></cms:LocalizedLabel>
<asp:Literal runat="server" ID="ltlLikeBox" EnableViewState="false" Visible="True"/>