﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FindLocalBranchesResults.ascx.cs" Inherits="CMSApp.CRC.webparts.InYourCommunity.FindLocalBranchesResults" ViewStateMode="Disabled" %>
<%@ Import Namespace="CMSApp.CRC" %>
<%@ Import Namespace="CMSAppAppCode.Old_App_Code.CRC" %>
<%@ Register Src="~/CRC/webparts/Controls/CRCPager.ascx" TagPrefix="uc1" TagName="CRCPager" %>
<section class="iyc-result" id="iyc-result">
    <asp:PlaceHolder runat="server" ID="phResultPivotDescription">
        <p class="result-pivot" style="display: none;">
            <%# ResourceStringHelper.GetString(Variables.MaxDistance == 0 ? "CRC.IYC.BranchResultDescription" : "CRC.IYC.BranchResultPivotDescription", 
             defaultText:Variables.MaxDistance == 0 
                ? "Showing results near <strong class=\"result-pivot-location\">Cityname, Province</strong>.  Looking for services in a different location?  Enter a postal code or city and province in the field above."
                : "Showing results within <strong class=\"result-pivot-max-distance\">km</strong> of <strong class=\"result-pivot-location\">Cityname, Province</strong>.  Looking for services in a different location?  Enter a postal code or city and province in the field above.") %>
        </p>
        <p class="no-result-pivot" style="display: none;">
            <%# ResourceStringHelper.GetString(Variables.MaxDistance == 0 ? "CRC.IYC.BranchNoResultDescription" : "CRC.IYC.BranchNoResultPivotDescription", 
            defaultText:Variables.MaxDistance == 0 
            ? "Your search criteria returned 0 results near <strong class=\"result-pivot-location\">Cityname, Province</strong>.  Looking for services in a different location?  Enter a postal code or city and province in the field above."
            : "Your search criteria returned 0 results within <strong class=\"result-pivot-max-distance\">km</strong> of \"<strong class=\"result-pivot-location\">Cityname, Province</strong>\". Looking for services in a different location? Enter a postal code or city and province in the field above.") %>
        </p>
    </asp:PlaceHolder>
    <div class="no-more-tables">
        <asp:Repeater runat="server" ID="rptItems">
            <HeaderTemplate>
                <input type="hidden" data-value="search refinement" class="cp-refinement" />
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th><%# ResourceStringHelper.GetString("CRC.IYC.BranchInformation", defaultText:"Branch Information") %></th>
                            <th><%# ResourceStringHelper.GetString("CRC.IYC.ServicesOffered", defaultText:"Services Offered") %></th>
                        </tr>
                    </thead>
                    <tbody>
            </HeaderTemplate>
            <ItemTemplate>
                <tr>
                    <td data-content="<%# ResourceStringHelper.GetString("CRC.IYC.BranchInformation", defaultText:"Branch Information") %>">
                        <p><a href="<%# Eval("DocumentLiveUrl") %>" class="cp-track" data-event="generic-event" data-category="contact a branch" data-action="search result click" data-label='<%# Eval("Name") %>'><%# Eval("Name") %></a></p>
                        <p>
                            <%# TransformationHelper.ReplaceNewLine(Eval("BranchAddress") as string ?? string.Empty)%>
                        </p>
                        <p><%# TransformationHelper.AddClickToCall(TransformationHelper.ReplaceNewLine(Eval("BranchContact") as string ?? string.Empty)) %></p>
                        <p><%# Eval("Distance","{0:0 KM}") %></p>

                    </td>
                    <td data-content="<%# ResourceStringHelper.GetString("CRC.IYC.ServicesOffered", defaultText:"Services Offered") %>">
                        <asp:Repeater runat="server" ID="rptServices">
                            <HeaderTemplate>
                                <ul>
                            </HeaderTemplate>
                            <ItemTemplate>
                                <li>
                                    <a href="<%# Eval("DocumentLiveUrl") %>" class="cp-track" data-event="generic-event" data-category="contact a branch" data-action="search result click" data-label='<%# Eval("Name") %>'><%# Eval("Name") %></a>
                                </li>
                            </ItemTemplate>
                            <FooterTemplate>
                                </ul>
                            </FooterTemplate>
                        </asp:Repeater>
                    </td>
                </tr>
            </ItemTemplate>
            <FooterTemplate>
                </tbody>
            </table>
            </FooterTemplate>
        </asp:Repeater>
    </div>
    <uc1:CRCPager runat="server" ID="CRCPager" PageSize="10" GroupSize="10" IsLateBinding="true" />
</section>
