<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Messaging_MessagingInfoPanel" Codebehind="~/CMSWebParts/Messaging/MessagingInfoPanel.ascx.cs" %>
<asp:PlaceHolder ID="plcLinks" runat="server" EnableViewState="false" />
