﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="FormControlFieldEditor.ascx.cs" Inherits="CMSModules_FormControls_Controls_FormControlFieldEditor" %>
<%@ Register Src="~/CMSModules/AdminControls/Controls/Class/FieldEditor/FieldEditor.ascx"
    TagName="FieldEditor" TagPrefix="cms" %>

<cms:FieldEditor ID="fieldEditor" runat="server" IsLiveSite="false"/>