<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_SocialMedia_GooglePlus_GooglePlusBadge" Codebehind="~/CMSWebParts/SocialMedia/GooglePlus/GooglePlusBadge.ascx.cs" %>
<asp:Literal runat="server" ID="ltlPluginCode" EnableViewState="false" />