<%@ Control Language="C#" AutoEventWireup="true" Codebehind="CompanyMapping.ascx.cs" Inherits="CMSModules_ContactManagement_Controls_UI_DataCom_CompanyMapping" %>
<%@ Register Src="~/CMSModules/ContactManagement/Controls/UI/DataCom/ErrorSummary.ascx" TagName="ErrorSummary" TagPrefix="cms" %>
<cms:ErrorSummary ID="ErrorSummary" runat="server" EnableViewState="false" />