﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="BooleanFilter.ascx.cs" Inherits="CMSFormControls_Filters_BooleanFilter" %>
<cms:CMSDropDownList ID="drpConditionValue" runat="server" CssClass="ExtraSmallDropDown" />
