﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="NumberFilter.ascx.cs"
    Inherits="CMSFormControls_Filters_NumberFilter" %>
<div class="form-condition-cell-generated">
    <cms:CMSDropDownList ID="drpOperator" runat="server" />
</div>
<div class="form-value-cell-generated">
    <cms:CMSTextBox ID="txtText" runat="server" />
</div>