.accordion {
  margin-bottom: 20px;
  counter-reset: section;

  & > div:first-child {
    .question {
      border: none;
    }
  }
  .faq{
    padding-bottom:2em;
    position: relative;
    &:first-child{
      padding-top:16px;
      margin-top: -16px;
    }
    &.active{
      padding-bottom:1em;
    }
  }
  div {
    .question {
      padding: 5px 35px 5px 0px;
      &:after {
        content:url("/crc/images/right-chevron.png");
        position: absolute;
        right:5px;
        top:20px;
      }
      a {
        cursor: pointer;
        position: relative;
        text-decoration: none;
        font-weight:inherit;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .answer {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      margin-bottom: -10px;

      & > div {
        padding: 10px 1.5rem 10px 0px;
      }

      p {
        margin-top: 0px;
        padding-right: 42px;
      }
      a {
        display: inline-block;
      }
    }
    &.active{
      .question {
          &:after{
            content:url("/crc/images/down-chevron.png");
          }
      }
      .answer {
        height: auto;
        max-height: 1200px;
        opacity: 1;
      }
    }
  }
}