/*--- Banner ---*/

.banner{
  position:relative;
  margin-bottom: 20px;
  min-height: 150px;

  &:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden;}

  &.bottom {

    & > div{
      position: absolute;
      bottom: -1px;
      width: 100%;
      padding: 30px 15px 15px 15px;

      .content{
        font-weight: 600;
        font-size: rem-calc(18);
        p{
          font-size: rem-calc(18);
          font-weight: 600;
        }
      }

      &.light{
        background: url("/crc/images/gradient_white.png") 0 -15px repeat-x;

        .content{
          color: $heading-color;
        }

      }
      &.dark{
        background: url("/crc/images/gradient_black.png") 0 -19px repeat-x;

        .content{
          color: white;
        }
      }

      *{
        margin: 0px;  
      }

      a.button{
        margin: 2% 0 0 10px;
        float: right;

        &:after{
          right: 14px;
        }
      }
    }
  }

  &.contain-to-grid{
    background: none;
  }
}

@media #{$small-only} {

  .banner{
      margin-left: -0.9375rem;
      margin-right: -0.9375rem;


    &.bottom {

      & > div{
        position: static;
        padding: rem-calc(20 15);

        .column{
          padding: 0px;
        }

        a.button{
          width: 100%;
          margin-left: 0;
        }

        &.dark, &.light{
          background: $heading-color;
          .content{
            color:$white;
          }
        }
        p{
          margin-bottom: 10px;
          font-weight: 400;
        }
      }
    }


    &.contain-to-grid{
      margin-left: 0;
      margin-right: 0;
    }


  }

}

.banner-wrap{
  .banner{
    a.button{ 
      padding: 12px 27px 12px 17px;
      span{
        white-space:nowrap;
      }
    }
  }
}

/*--- Wistia ---*/

.wistia{
  margin-bottom:20px;
}

