ul.breadcrumb{
  margin-left:0;
  li{
    // border-top: 1px solid $dark-border-color;
    // border-bottom: 1px solid $dark-border-color;
    margin-left:0;
    padding: 2px 10px 2px 15px;
    position:relative;
    font-size: rem-calc(14);
    &:before{
      content:'';
    }
	.button.small{
		text-transform: none;
		font-size: 0.875rem;
		line-height:1.3;
        margin: 0px 4px 0px 0px;
	}
    &:first-child{
      // border-left: 1px solid $dark-border-color;
      padding: 2px 10px 2px 0;
    }

    a{
      font-weight:400;
      // margin-left: 10px;
      &.button{
        background:none;
        color:$primary-color !important;
        height:auto;
        padding:inherit;
        margin:inherit;
        &:after {
          content: url('/crc/images/chevron-right.svg');
          position: absolute;
          top: -3px;
          right: -5px;
        }
        &.small:after{
          right:-25px;
        }
      }
      &.double.button{
        background:none;
        color:$primary-color !important;
        height:auto;
        padding:inherit;
        margin:inherit;
        &:after {
          content: url('/crc/images/chevron-right.svg');
          position: absolute;
          top: 6px;
          right: -15px;
        }
        &.small:after{
          //right:-25px;
        }
      }
      &:after {
       content: url('/crc/images/chevron-right.svg');
       position: absolute;
       top: 2px;
       right: -5px;
      }
      &:hover{
        text-decoration: underline;
        color: scale-color($primary-color, $lightness: -20%);
      }
    }

    &:last-child a:after{
      content: '';
    }

  }
}