a.button, 
.button {
  @include navLinks(14);
  background-color: $primary-color;
  font-weight: bold;
  text-transform: uppercase;
  color: $white !important;
  padding: 12px 37px 12px 29px;
  position: relative;
  letter-spacing: 0.02em;
  border-radius: 6px;
  &:after {
    content: '';
    background: url("/crc/images/chevron_right.svg") 0 0 no-repeat;
    width: 8px;
    height: 11px;
    position: absolute;
    right: 23px;
    top: 50%;
    transform: translateY(-50%);
  }
  &:hover{
    text-decoration: none;
  }

  span {
    position: relative;
    display: inline-block;
  }

  &.small {
    padding:8px 25px 8px 15px;
    @include radius($button-radius);
    &:after {
      right: 12px;
      // top: 30%;
    }
    span {
      padding-right: 10px;
      &:after {
        top: 46%;
        right: -3px;
      }
    }
  }
  
  &.twitter{
     &:after{
        display: none;
     }
  }

  &.clicked{
    &:after {
      content: '';
      background: url("/crc/images/mobile-preloader.svg") 0 0 no-repeat;
      width: 31px;
      height: 25px;
      right: 3px;
      top: 20%;
      top: 22%;
      background-size: 21px;
    }
  }
  
}

