/* Used on Donate Now Pages */

.donate-site-header {
  .columns {
    .header-wrap {
      position: relative;
      height: 140px;
    }
  }
  .lang {
    position: absolute;
    right: 1px;
    top: 12px;
    a {
      color: #666;
      &:hover {
        text-decoration: underline;
        color: #222;
      }
    }
  }
  .contact-us {
    position: absolute;
    text-align: right;
    bottom: 15px;
    width: 100%;
    color: #666;
    padding-right: 1px;
    ul {
      padding: 0;
      margin: 0;
      text-align: right;
      li {
        display: inline-block;
        vertical-align: top;
        list-style: none;
        background: none;
        font-size: rem-calc(15);
        line-height: 1;
        color: #666;
        margin: 0 0 0 5px;
        padding: 0;
        a {
          color: #666;
          &:hover {
            color: #222;
          }
        }
        &.email {
          margin-left: 8px;
          i {
            font-size: rem-calc(18);
            position: relative;
            top: -2px;
          }
        }
      }
    }
  }
  .divider {
    background-color: #757779;
    height: 8px;
    position: absolute;
    bottom: -8px;
    width: 100%;
    z-index: 1;
  }
  .donate-nav {
    display: block;
    width: 100%;
    height: 68px;
    overflow: hidden;
    ul {
      margin: 0;
      padding: 0 10px;
      li {
        background: url('/CRC/images/bullet-grey.gif') no-repeat left center;
        list-style: none;
        float: left;
        margin: 0;
        padding: 0 25px;
        font-weight: 600;
        font-size: rem-calc(15);
        &:first-child {
          padding-left: 0;
          background: none;
        }
        a {
          padding: 0;
          line-height: 70px;
          display: block;
          color: $donate-bar-bg;
        }
      }
    }
  }
}

.desktop {
  .donate-site-main {
    padding-top: 0;
  }
}

.donate-site-main {
  padding: 45px 0 30px;
  display: block;
  overflow: hidden;
  @media #{$small-only} {
    padding: 26px 0 10px;
  }
  h1 {
    color: #444546;
    margin: 0 0 20px;
  }
  .cta {
    span.button {
      padding: 8px 37px 8px 29px;
    }
    h3,
    p {
      padding: 0 15px;
    }
    h3 {
      font-size: rem-calc(20);
      padding-top: 15px;
    }
    p.cta-button {
      margin: 0;
      font-weight: 700;
      font-size: rem-calc(14);
    }
    &:hover {
      p.cta-button span {
        background-color: #d62323;
        text-decoration: none !important;
      }
    }
  }
  .panel {
    position: relative;
    @media #{$small-only} {
      height: inherit !important;
    }
  }
  .donate-alert {
    background-color: $primary-color;
    display: inline-block;
    position: absolute;
    left: 1px;
    top: 1px;
    max-width: 40%;
    word-break: hyphenate;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem-calc(14);
    z-index: 1;
  }
  ul.donate-select-nav,
  ul.donate-price-points-nav {
    padding: 0;
    margin: 0;
    width: 102%;
    position: relative;
    left: -1%;
    overflow: hidden;
    display: none;
    li {
      list-style: none;
      background: none;
      width: 31.333% !important;
      float: left !important;
      vertical-align: top;
      margin: 0 1% 2% !important;
      padding: 0;
      height: auto !important;
      line-height: 1.25 !important;
      text-transform: uppercase;
      a {
        display: block;
        border: 1px solid #999;
        background: #fff;
        color: #666;
        padding: 0 10px;
        text-align: center;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        height: 70px;
        &:hover {
          background-color: $primary-color;
          border-color: $primary-color;
          color: #fff;
          text-decoration: none;
        }
        span {
          display: inline-block;
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
      &.active {
        a {
          background-color: $primary-color;
          border-color: $primary-color;
          color: #fff;
        }
      }
    }
  }
  ul.donate-price-points-nav {
    padding: 10px 0 5px !important;
    overflow: hidden;
    li {
      width: 15% !important;
      font-size: 17px;
      margin-bottom: 0 !important;
      &:nth-child(4),
      &.other {
        a {
          -webkit-border-radius: 6px 0 0 6px;
          -moz-border-radius: 6px 0 0 6px;
          border-radius: 6px 0 0 6px;
        }
      }
      a {
        padding: 0;
      }
      &.textinput {
        width: 30% !important;
        padding: 0 !important;
        position: relative;
        left: -3px;
        height: 70px;
        margin: 0 !important;
        padding: 0;
        &inactive {
          input {
            color: #e7e7e7;
          }
        }
        input {
          margin: 0;
          width: calc(100% + 12px);
          height: 70px;
          position: relative;
          left: -5px;
          border: 1px solid #999;
          -webkit-border-radius: 0 6px 6px 0;
          -moz-border-radius: 0 6px 6px 0;
          border-radius: 0 6px 6px 0;
          background-color: #e7e7e7;
          font-size: 17px;
          font-weight: 600;
          &.active,
          &:focus {
            background-color: #fff;
          }
        }
      }
    }
  }
}

/* DONATE PAGE */

.donate-now {
  font-size: 1.1em;
  font-family: "Open Sans", Arial, sans-serif;
  color: #414244;
}

.donate-now .banner.sub {
  max-height: 33px;
}

.donate-now h1 {
  background: none;
  height: auto;
  margin-left: 50px;
  padding-top: 40px;
  text-indent: 0;
  width: auto;
}

.donate-now h4 {
  font-size: 1.2em;
}

.donate-now header {
  padding-bottom: 25px;
}

.donate-now header .languageSwitchContainer a {
  font-size: 0.9em;
}

.donate-now header p {
  position: absolute;
  right: 0;
  top: 60px;
}

.donate-now ul.top-menu li a {
  font-size: .9em;
}

.donate-now header a:hover,
.donate-now header a img:hover {
  box-shadow: none;
}

.donate-now .logo {
  max-width: 200px;
}

.donate-now a {
  outline-color: none;
}

.donate-now hr {
  border-color: #e4e4e4;
  margin: 10px 0 30px;
}

.donate-now .banner.limited h1 {
  float: left;
  max-width: 535px;
}

.donate-now .banner.limited p {
  float: right;
  margin-top: 20px;
  color: #6a6b6d;
}

.donate-now .nav-donate-online {
  display: none;
}

.donate-now .nav-donate-now {
  display: block;
}

.donate-now .main-content.wide {
  width: 770px;
  border-top: 0 none;
  margin-top: 0;
  padding-top: 0;
}

.donate-now .main-content.full-width {
  width: 970px;
  margin-left: 0;
}

.donate-now .main-content.full-width .form-container {
  margin-top: 0px;
}

.donate-now .main-content.full-width .price-point-zone {
  padding: 0 23px;
}

.donate-now .main-content.full-width.main-content .price-point-zone .price-point div {
  width: 35%;
}

.donate-now .main-content.full-width.main-content .price-point-zone .price-point p {
  padding: 7px 0 0;
  margin: 10px 0;
}

.donate-now .main-content img {
  margin: 0 0 15px;
}

.donate-now .main-content img.background-image {
  padding: 0;
  position: absolute;
}

.donate-now .main-content a.learn-more-tab {
  position: absolute;
  right: -30px;
  top: 0;
  border-radius: 0 4px 4px 0;
  overflow: hidden;
  opacity: 0.8;
  transition: opacity 0.2s ease;
  img {
    margin: 0;
  }
  &:hover {
    cursor: pointer;
    opacity: 1;
    img {
      opacity: 1;
    }
  }
}

.donate-now .main-content .form-container {
  &.interactive {
    background-image: none;
  }
  height: 590px;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin-top: 0;
  padding: 30px;
  transition: all 0.5s ease-in-out;
}

.donate-now .main-content.full-width .form-container {
  background: url("/CRC/img/donate/donate-bg.jpg") repeat scroll 0 0 #ffffff;
}

.donate-now .main-content .tooltip {
  left: 0;
  position: static !important;
  width: auto;
  background: none !important;
  display: inline-block;
}

.donate-now .form-contents {
  position: relative;
  height: 460px;
}

.donate-now .main-content .form-container .donate-form {
  width: 48%;
  height: 100%;
  position: absolute;
  left: 0;
  background: #fff;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 2;
  padding: 5px 25px 10px;
}

.donate-now .learn-more-container-wrap {
  position: absolute;
  left: 48%;
  height: 100%;
  min-height: 100%;
  z-index: 1;
  width: 52%;
  overflow: hidden;
}

.donate-now .learn-more-container {
  position: absolute;
  top: 0;
  left: -100%;
  background: #fff;
  background: url("/CRC/images/vertical-gradient.png") repeat-y scroll 0 0
    rgba(255, 255, 255, 0.95);
  padding: 25px 0;
  width: 100%;
  width: calc(100% - 30px); // Minus the width of the Learn More btn
  height: 100%;
  min-height: 100%;
  z-index: 1;
}

.donate-now .main-content .form-container .donate-form .fieldset-fix {
  width: 100%;
  display: block;
  overflow: visible;
}

.donate-now .main-content .form-container .donate-form h2 {
  label {
    font-size: 15px;
    font-size: 1.5rem;
    padding: 10px 0 0;
    text-align: left;
    color: #333;
  }
  margin: 0 0 14px;
}

.donate-now .main-content .form-container .donate-form .btn-submit {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.11111rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  padding: 10px 0;
  background-color: #ee0000;
  border-color: #ee0000;
  height: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  i {
    display: none;
  }
}

.donate-now .main-content .form-container .donate-form .btn-submit.radius {
  border-radius: 3px;
}

.donate-now .main-content .form-container .donate-form .btn-submit.expand {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  margin: 20px 0;
  font-size: rem-calc(17);
}

.donate-now .main-content .form-container .donate-form .btn-submit.expand:hover {
  background-color: #de0303;
  border-color: #de0303;
}

.donate-now .main-content .form-container .donate-form fieldset {
  border: none;
  min-width: 0;
}

.donate-now .main-content .form-container .donate-form fieldset:first-child {
  margin: 0;
  padding: 0;
}

.donate-now .main-content .form-container .donate-form fieldset .no-padding {
  margin: 10px 0 0;
  padding: 0;
}

.donate-now .main-content .form-container .donate-form fieldset legend {
  display: none;
}

.donate-now .main-content .form-container .donate-form fieldset ul {
  padding: 0;
  margin: 0;
}

.donate-now .main-content .form-container .donate-form fieldset ul.checkboxes {
  padding-top: 16px;
}

// Checkboxes!
.donate-now .main-content .form-container .donate-form fieldset ul.checkboxes li {
  position: relative;
  span {
    display: inline-block;
  }
  input {
    position: absolute;
    left: 1px;
    top: 4px;
    margin: 0;
  }
  label {
    padding: 0 0 0 23px;
    display: block;
    margin: 0;
    text-align: left;
    width: 100%;
    cursor: pointer;
  }
}

.donate-now .main-content .form-container .donate-form fieldset ul li {
  list-style: none;
  padding-left: 0;
  background: none;
  height: 2em;
  margin: 0 0 5px;
}

.donate-now .main-content .form-container .donate-form fieldset ul li i.grey {
  color: #a5a4a4;
  padding: 4px 0 0;
  position: absolute;
}

.donate-now .main-content .form-container .donate-form fieldset ul.price-points {
  padding-top: 10px;
}

.donate-now .main-content .form-container .donate-form fieldset ul.price-points li input[type="text"] {
  display: inline-block;
  position: absolute;
  left: 100px;
  font-size: 0.9em;
  height: 30px;
  margin: 0;
  width: 100px;
  box-shadow: none;
  line-height: 30px;
  padding: 5px;
  color: #666;
  background-color: #f7f7f7;
}

.donate-now .main-content .form-container .donate-form fieldset button {
  margin: 2rem 0 1.11111rem;
  text-transform: uppercase;
  font-size: 1.3em;
}

.donate-now .main-content .price-point-zone {
  padding: 10px 0 25px;
  margin: 0 !important;
  min-height: 90px;
  max-width: none;
}

.donate-now .main-content .price-point-zone .price-point {
  position: relative;
}

.donate-now .main-content .price-point-zone .price-point div {
  float: left;
  width: 91px;
  position: relative;
  left: 18px;
  top: 0;
}

.donate-now .main-content .price-point-zone .show-hide-appeal {
  // min-height: 90px;
  &.appeal-desc {
    min-height: 0;
  }
}

.donate-now .main-content .price-point-zone .price-point div span {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 9px;
  width: 31px;
}

.donate-now .main-content.full-width .price-point-zone .price-point div span {
  right: 17px;
}

.donate-now .main-content .price-point-zone .price-point p {
  float: left;
  width: 210px;
  font-size: .86em;
  padding: 7px 0 0 27px;
  line-height: 22px;
  margin: 0 !important;
}

.donate-now .main-content .price-point-zone p {
  margin: 20px 0;
}

.donate-now .main-content .price-point-zone p.show-hide-appeal {
  font-size: 1.3em;
}

.donate-now .main-content.full-width .price-point-zone p.show-hide-appeal {
  font-size: 1.2em;
}

.donate-now .main-content .impact-zone h2 {
  padding: 0 0 15px;
  font-size: 1.3em;
  font-weight: 400;
}

.donate-now .main-content .impact p strong {
  font-size: 1.3em;
  color: #414244;
}

.donate-now .sub ul {
  margin-left: 0;
  line-height: 2.5em;
}

.donate-now .sub ul li {
  background: url("/crc/images/bullet-grey.gif") no-repeat scroll 0 50% #ffffff;
  /* float: left;*/
  display: inline;
  margin-left: 11px;
  padding-left: 15px;
}

.donate-now .sub ul li:first-child {
  background: none;
  margin-left: 0;
  padding-left: 0;
}

.donate-now .sub ul li a {
  color: #0270a4;
  font-size: 1.1em;
}

.donate-now .learn-more-container .close {
  font-size: 0.86em;
  position: absolute;
  right: 15px;
  text-transform: uppercase;
  top: 10px;
}

.donate-now .learn-more-container .close:hover {
  cursor: pointer;
}

.donate-now .learn-more-panel {
  color: #4d4d4d;
  font-size: 0.96em;
  height: 390px;
  margin: 20px auto 0;
  overflow: hidden;
  overflow-x: auto;
  padding: 0 25px;
  position: relative;
  width: 95%;
}

.donate-now .learn-more-panel ul {
  padding: 0;
  margin: 0;
}

.donate-now .learn-more-panel ul li {
  padding: 0;
  margin-top: 35px;
  &:first-child {
    margin-top: 0;
  }
  background: none !important;
  list-style-image: none !important;
}

.donate-now .learn-more-panel ul li ul li {
  margin: 10px 0 0;
  padding: 0 0 0 10px;
  background: url("/CRC/images/bullet-grey.gif") no-repeat scroll 0 8px
    rgba(0, 0, 0, 0) !important;
}

.donate-now body.IE .form input {
  min-height: 45px;
}

.donate-now body.IE .form text-area {
  min-height: 45px;
}

.donate-now body.IE .form input[type="submit"] {
  min-height: auto;
}

.donate-now input[type=radio] {
  vertical-align: top;
  margin-top: 9px;
}

.donate-now .checkbox input[type=checkbox] {
  margin-top: 10px;
  position: relative;
  top: -1px;
}

.donate-now .CheckBoxField + label,
.donate-now input[type=radio] + label {
  line-height: 1.5em;
  width: auto;
  margin: 0 0 10px;
  cursor: pointer;
}

.donate-now .CheckBoxField + label span,
.donate-now input[type=radio] + label span {
  width: 13px;
  height: 13px;
  display: block;
  margin: 5px 7px 0 0;
  float: left;
  background: url('/crc/images/bkg-forms-input.gif') no-repeat left bottom;
}

.donate-now .CheckBoxField + label span.value {
  width: auto;
  height: auto;
  float: left;
  text-align: left;
  display: inline-block;
  width: 80%;
  background: none;
  margin: 0;
}

.donate-now span.french-dollar + input {
  text-align: right;
}

.donate-now .CheckBoxField label.other-text {
  float: left;
}

.donate-now .CheckBoxField + label.checked,
.donate-now input[type=radio] + label.checked {
  color: #666;
}

.donate-now .CheckBoxField + label.checked span,
.donate-now input[type=radio] + label.checked span {
  background-position: right bottom;
}

.donate-now .CheckBoxField:hover + label,
.donate-now input[type=radio]:hover + label {
  color: #333;
}

.donate-now .CheckBoxField:hover + label span,
.donate-now input[type=radio]:hover + label span {
  background-position: right bottom;
}

.donate-now input[type=radio] + label {
  padding-top: 5px;
  padding-left: 6px;
  margin: 0 15px 0 0;
  display: inline-block;
  width: 80%;
}

.donate-now input[type=radio] + label span {
  margin: -2px 5px 10px 0;
  background: url('/crc/images/bkg-forms-input.gif') no-repeat left top;
  float: left;
}

.donate-now input[type=radio]:hover + label span {
  background-position: right top;
}

.donate-now input[type=radio]:checked + label span {
  background-position: right top;
}

.donate-now .CheckBoxField:checked + label span {
  background-position: right bottom;
}

.donate-now ul.checkboxes li:first-child {
  padding-bottom: 11px;
}

.donate-now input[type="checkbox"] + label {
  display: inline;
}

.donate-now .center {
  text-align: center;
}

.donate-site-main .left-column .nav-donate-online {
  display: none;
}

.donate-site-main .left-column .left-column ul.side-nav.border-top {
  padding-top: 0px !important;
}

/* ***************** 
   Left Column        
   -- Legacy code from CRC v1    
***************** */

.left-column {
  padding-top: 1px;
}

.left-column ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

.left-column ul h4 {
  color: #666;
  padding: 0 5px 15px 0;
  border-bottom: 1px solid #bcbcbc;
  margin: -5px 0 0 0;
}

.left-column ul li.heading {
  margin: 5px 0 5px 20px;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #666;
}

/* Unordered List styles */

.left-column ul li {
  list-style: none;
  background: none;
  padding: 0;
}

.left-column ul li ul {
  display: none;
  margin: 0;
}

.left-column ul li ul li ul {
  margin: 0 0 5px 0;
}

.left-column ul li.HighLighted > ul {
  display: block;
}

.left-column ul li ul li.HighLighted > a ul {
  background: #f6f6f6;
}

.left-column ul > li.HighLighted > a + ul {
  padding-bottom: 15px;
  border-bottom: 1px solid #bcbcbc;
}

/* Link Styles */

.left-column ul a,
.left-column ul span {
  padding: 5px 0;
  display: block;
  text-decoration: none;
}

.left-column ul > li > a,
.left-column ul > li > span {
  font-weight: 600;
  padding: 12px 5px 12px 20px;
  border-bottom: 1px solid #bcbcbc;
  font-size: 1em;
  background: url('/crc/images/l2_arrow.png') 10px 18px no-repeat;
}

.left-column ul:first-of-type {
  border-top: 1px solid #bcbcbc;
}

.left-column ul > li:last-child a {
  border-bottom: none;
}

.left-column ul > li > a:hover {
  background: url('/crc/images/l2_arrow_hover_g.png') 10px 17px no-repeat #ff0000;
  color: #fff;
}

.left-column ul > li.HighLighted > a,
left-column ul > li.HighLighted > span {
  padding: 12px 6px 12px 22px;
  width: 152px;
  color: #fff;
  margin: 0;
  background: url('/crc/images/l2_arrow_active.png') 10px 18px no-repeat #ff0000;
}

.left-column ul > li > ul > li > a {
  padding: 4px 10px 4px 30px;
  font-size: 1em;
  color: #666;
  border: none;
  background: url('/crc/images/l3_arrow.png') 22px 10px no-repeat;
}

.left-column ul > li > ul > li > a:hover {
  background-color: #ededed;
  color: #000;
}

.left-column ul > li > ul > li.HighLighted > a {
  background: url('/crc/images/l3_arrow.png') 22px 10px no-repeat #ededed;
}

.left-column ul > li > ul > li.HighLighted > a.children {
  background: url('/crc/images/l3_arrow_active.png') 20px 9px no-repeat #ededed;
}

.left-column ul > li > ul > li > a.selected {
  color: #000;
  font-weight: 600;
}

.left-column ul li ul li ul li a {
  padding: 3px 10px 3px 40px;
  border: none;
  font-size: 0.9em;
  color: #666;
  font-weight: normal;
}

.left-column ul li ul li ul li.HighLighted a,
.left-column ul li ul li ul li a:hover {
  color: #000;
}

.left-column ul > li > ul > li.HighLighted > a + ul {
  background: #f5f5f5;
  padding: 5px 0;
}

/* ***************** 
   Footer            
***************** */

.donate-site-footer {
  padding: 20px 0;
  border-top: 1px solid #e4e4e4;
  .donate-footer-nav {
    ul {
      text-align: right;
      margin: 0;
      padding: 0;
      line-height: 1;
      li {
        display: inline-block;
        background: none;
        list-style: none !important;
        margin: 0 0 0 10px;
        padding: 0;
      }
    }
  }
  p,
  li {
    font-size: rem-calc(13);
    color: #888;
    line-height: 1.4;
    margin: 0;
  }
  p.lang {
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    margin: 0 0 20px;
    a {
      padding: 10px 0;
      text-align: center;
      display: block;
      background-color: #757779;
      color: #fff;
      &:hover {
        background-color: #555;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

/* ***************** 
   Responsive Styles            
***************** */

.site-container {
  &.desktop {
    min-width: 960px;
    .donate-site-header {
      .logo,
      h1 {
        position: absolute;
        top: 55px;
      }
      .logo {
        left: 20px;
        width: 220px;
        height: 60px;
        img {
          width: 100%;
          height: auto;
          position: relative;
        }
        body.FRCA & {
          width: 245px;
        }
      }
      h1 {
        display: block !important;
        left: 275px;
        font-size: 26px;
        color: #444546;
        line-height: 19px;
        margin-top: 0;
        top: 80px;
        body.FRCA & {
          left: 304px;
        }
      }
    }
    // Left navigation template
    &.left-nav {
      .donate-site-main {
        padding-top: 20px;
      }
      .donate-nav {
        display: none;
      }
    }
    &.full-width {
      .left-column {
        display: none;
      }
      .donate-now {
        .learn-more-container-wrap {
          left: 38%;
        }
        .donate-form,
        .learn-more-container-wrap {
          width: 38%;
        }
      }
      // Alternate Template
      &.alternate {
        .donate-select-nav,
        .donate-price-points-nav {
          display: block;
        }
        .select2-container,
        .price-points {
          display: none;
        }
        .donate-form {
          width: 60%;
        }
        .learn-more-container-wrap {
          left: 60%;
          width: 30%;
        }
        .impact-zone {
          p {
            padding: 0 20%;
          }
        }
        .donate-now .main-content .form-container {
          height: auto;
          .btn-submit {
            margin: 15px 0 30px !important;
            width: auto;
            height: auto;
            padding: 20px 40px;
            line-height: 1;
            font-size: 22px;
            letter-spacing: 1px;
            i {
              display: inline-block !important;
              position: relative;
              top: -2px;
              left: 3px;
              font-size: 23px;
            }
          }
        }
      }
    }
    p.lang {
      display: none !important;
    }
  }
  /* Tablet / Mobile */
  &.tablet {
    p.cta-button {
      position: absolute;
      bottom: 15px;
      .button {
        margin-bottom: 0;
      }
      @media #{$small-only} {
        position: static;
      }
    }
    .panel {
      padding-bottom: 60px;
      @media #{$small-only} {
        padding-bottom: 15px;
      }
    }
    .left-column,
    .donate-nav {
      display: none !important;
    }
    .donate-site-header {
      .columns {
        .header-wrap {
          height: 90px;
          @media #{$large-up} {
            height: 140px;
          }
        }
      }
      .logo,
      h1 {
        position: absolute;
        top: 25px;
      }
      .logo {
        left: 15px;
        width: 170px;
        height: 50px;
        img {
          width: 100%;
          height: auto;
          position: relative;
        }
        body.FRCA & {
          width: 188px;
        }
      }
      h1 {
        left: 215px;
        font-size: 26px;
        color: #444546;
        line-height: 19px;
        margin-top: 0;
        top: 40px;
        body.FRCA & {
          left: 231px;
        }
      }
      @media #{$large-up} {
        .logo,
        h1 {
          top: 55px;
        }
        .logo {
          left: 20px;
          width: 220px;
          height: 60px;
          body.FRCA & {
            width: 245px;
          }
        }
        h1 {
          top: 80px;
          left: 275px;
          body.FRCA & {
            left: 304px;
          }
        }
      }
      .contact-us {
        ul {
          @media #{$small-only} {
            li {
              &.intro-title,
              &.email {
                display: none;
              }
              &.phone {
                a {
                  display: block;
                  border: 1px solid #efefef;
                  width: 50px;
                  height: 50px;
                  overflow: hidden;
                  text-align: center;
                  font-size: 40px;
                  i {
                    line-height: 54px;
                  }
                  &:hover {
                    text-decoration: none;
                    border-color: #999;
                  }
                }
              }
            }
          }
        }
        @media #{$small-only} {
          bottom: 25px;
        }
      }
    }
    .donate-site-footer {
      @media #{$small-only} {
        padding: 0 0 20px;
      }
      p,
      li {
        @media #{$small-only} {
          text-align: center;
        }
      }
      .donate-footer-nav {
        ul {
          @media #{$small-only} {
            text-align: center;
            padding-bottom: 20px;
            li {
              display: block;
              margin: 5px 0;
            }
          }
        }
      }
    }
  }
}

/* ************************************************ */

/* ***************** 
   Select2            
***************** */

.select2-container {
  position: relative;
  display: inline-block;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  -webkit-box-sizing: border-box;
  /* webkit */
  -khtml-box-sizing: border-box;
  /* konqueror */
  -moz-box-sizing: border-box;
  /* firefox */
  -ms-box-sizing: border-box;
  /* ie */
  box-sizing: border-box;
  /* css3 */
}

.select2-drop li.select2-result {
  height: auto !important;
}

.select2-container .select2-choice {
  display: block;
  height: 40px;
  padding: 5px;
  overflow: hidden;
  position: relative;
  border: 1px solid #c1c3c5;
  white-space: nowrap;
  line-height: 26px;
  color: #414244;
  text-decoration: none;
  background: #fff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select2-container.select2-drop-above .select2-choice {
  background: #fff;
  border-bottom-color: #aaa;
}

.select2-container .select2-choice span {
  margin-right: 30px;
  margin-left: 2px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 30px;
}

.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}

.select2-drop-mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9998;
  background-color: #fff;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* works in IE 8 */
  filter: "alpha(opacity=0)";
  /* expected to work in IE 8 */
  filter: alpha(opacity=0);
  /* IE 4-7 */
}

.select2-drop {
  overflow: hidden;
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}

.select2-container .select2-choice div {
  display: block;
  width: 40px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #efefef;
}

.select2-container .select2-choice div b {
  display: block;
  width: 100%;
  height: 100%;
  background: #ffffff url("/crc/images/icon-arrow-down.gif") no-repeat center center;
}

.select2-dropdown-open.select2-container-active div b {
  display: block;
  width: 100%;
  height: 100%;
}

.select2-search {
  display: none;
}

/* results */

.select2-results {
  max-height: 200px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.select2-results ul.select2-result-sub {
  margin: 0;
}

.select2-results ul.select2-result-sub > li .select2-result-label {
  padding-left: 20px;
}

.select2-results ul.select2-result-sub ul.select2-result-sub
  > li .select2-result-label {
  padding-left: 40px;
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub
  > li .select2-result-label {
  padding-left: 60px;
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub
  > li .select2-result-label {
  padding-left: 80px;
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub
  > li .select2-result-label {
  padding-left: 100px;
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub
  > li .select2-result-label {
  padding-left: 110px;
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub
  > li .select2-result-label {
  padding-left: 120px;
}

.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
  margin: 0 !important;
  padding: 8px !important;
  border-top: 1px solid #efefef;
  color: #666;
  cursor: pointer;
}

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}

.select2-results .select2-result-label {
  padding: 5px 7px 5px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select2-results .select2-highlighted {
  background: #efefef !important;
}

.select2-results .select2-highlighted:active {
  background: #ccc;
  color: #414244;
}

.select2-results li em {
  background: #feffde;
  font-style: normal;
}

.select2-results .select2-highlighted em {
  background: transparent;
}

.select2-results .select2-highlighted ul {
  background: white;
  color: #000;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
}

/* disabled look for disabled choices in the results dropdown */

.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-selected {
  display: none;
}

.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.select2-container.select2-container-disabled .select2-choice div {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}

.select2-offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
