
input{
  &[type="text"], &[type="email"], &[type="file"]{
    height: 40px;  
    box-shadow:none;
    border:1px solid $inputBorder;
    margin-bottom: 20px;
  }
}

input[type="submit"], input[type="reset"]{
	@include navLinks(14);
	font-weight: bold;
	text-transform: uppercase;
	color: $white !important;
	padding: 12px 37px 12px 29px;
	position: relative;
	letter-spacing: 0.02em;
	border-radius: 6px;
	background-color: $primary-color;
	border: none;
	cursor: pointer;
	white-space: normal;
}

label{
	cursor: auto;
}

label.button{
  cursor: pointer;
  padding: 0 25px 0 0;
  input[type="submit"]{
    @include navLinks(14);
    font-weight: bold;
    text-transform: uppercase;
    color: $white !important;
    position: relative;
    letter-spacing: 0.02em;
    padding-right: 15px;
    background: none;
    border:none;
    cursor: pointer;
    white-space: normal;
  }
}

.newsletter{
	label{
		margin-top: 9px;
		margin-bottom: 3px;
	}
}


.FormPanel{
	label{
		text-align: left;
		display: inline-block;
		margin-bottom: 5px;
	}

	input{
		display: block;
		margin-bottom: 10px;

		&[type="radio"], &[type="checkbox"]{
			display: inline-block;
			padding: 2px 0 0 0;
		}
	}

	.checkbox-fix{
		.editing-form-control-nested-control{
			display: inline-block;
			width: auto;
		}
	}

	button[title="Calendar"]{
		position: relative;
		background-color: transparent;
  		text-indent: -2000px;
  		padding: 0px 11px;
		&:after{
			content:"";
			width: 20px;
			height: 20px;
			background: url("/crc/images/icon-calendar.png") 0 0 no-repeat;
			position: absolute;
			top:0px;
			left:0px;
			z-index: 10;
		}
	}

	textarea, #p_lt_ContentZone_ph_p_lt_ContentZone_On_lineForm_viewBiz_TextBox_txtText{
		min-height: 100px;
	}

	.cke_chrome{
		width:100% !important; // Overwrite Inline Style
		margin-bottom: 10px;
	}

	// Overriding Inline Styles

	input[style], span[style] {
		margin-left: 0px !important;
		margin-top: 0px !important;  
	}

	//Phone Number

	#p_lt_ContentZone_ph_p_lt_ContentZone_On_lineForm_viewBiz_ncpphonenumber{
		input{
			width: 20%;
			display: inline-block;
			margin: 0 5px 10px 5px;
		}
	}

	.phone-number{
		@extend .clearfix; 

		*{
			float: left;
		}
		input{
			width:30.5%;
			margin: 0 1%;
		}
		label{
			display: none;
		}

		span{
			margin-top: 7px;
		}

	}
	@media only screen and (max-width: $medium) {
	  	.phone-number{
			input{
				width:29%;
				&:last-child{
					margin-right:0px;
				}
			}
		}
	}

}

.required{
	color:$primary-color;
}

// Validation Styles
.error, .text-error, span.error,{
  background: none;
  color: $primary-color;
  font-style: normal;
  padding: 0;
  font-size: 14px;
}

.Error + span{
	margin: -10px 0 10px 0;
}

.EditingFormErrorLabel{
	@extend .error;
	margin-bottom:20px;
	display:inline-block;
}

//specific to the email sign-up widget on the home page
.email-CTA input[type="text"] + span.error[style*="inline"], .email-CTA span.error + span.error[style*="inline"]{
  display: block !important; 
 }

.subscribe .error-group {padding-bottom:10px;}

@media only screen and (min-width: $medium) {
  label{
      text-align: right;
    }
}