.main-nav{
  position:absolute;
  top:128px;
  right:15px;
  li{
    border-left: 1px solid $border-color;
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 8px;
    float: left;
    &.currrent{
      a{
        color: $primary-color;
      }
      .sub-nav a{
        color: inherit;
      }
    }
    .nav-wrap{
      display: table;
      table-layout: fixed;
      a.open{
        padding-bottom:15px;
      }
    }

    &:first-child {
      border:none;
    }
    &:last-child{
      border:none;
      margin-top: 4px;
      .sub-nav.double{
        margin-left: -450px;
      }
    }
    &:nth-child(4){
      .sub-nav{
        margin-left: -105px;
      }
    }

    &.last{
      margin-top: 4px;
      .sub-nav.double,
      .sub-nav{
        margin-left: 0;
        right: 0;
      }       
    }
    a{
      @include navLinks(14.5);
      font-weight: bold;
      &.button.small{
         margin-bottom: 0;
         padding: 0.5rem 1.5rem;
        &:after{
          content:'';
          background:none;
        }
      }
      &:hover{
        @include navLinksHover();
      }
    }
  }
}

.sub-nav{
  position: absolute;
  top: 42px;
  margin-left:-17px;
  background-color: $white;
  width: 225px;
  box-shadow: 2px 2px 8px -5px #333333;
  border:1px solid $border-color;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  opacity: 0;
  visibility: hidden;
  z-index: 1000;  
  &.last{}
  
  &.double {
    width: 553px;
    &:after{
      width:553px;
    }
    ul {
      &:first-child {
        border-right: 1px solid $border-color;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 275px;
        li {
          padding-top: 0;
        }
      }
      li.l3 a {
        color: $main-nav-sub;
        padding-left: 32px;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  &:after{
    content: "";
    height:5px;
    width:101%;
    position: absolute;
    top:-5px;
    left:-1px;
    background-color:$primary-color;
  }
  &.open{
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  ul{
    list-style:none;
    margin-left:0; 
    li{
      border: none;
      padding: 0;
      margin: 0;
      line-height: 1.25;
      width: 100%;
      &:first-child{
        padding-top:10px;
      }
      &:last-child{
        padding-bottom:10px;
      }
      a{
        text-transform: none;
        font-weight:600;
        display:block;
        padding: 7px 20px;
        &:hover{
          background-color: $main-nav-drop-hover;
        }
        &.current{
          background-color: #757678;
        }
      }
    }
    &.sub-nav-group{
      float:left;
      max-width: 275px;
    }
  }
}
