

.flexpanel {
	position: fixed;
	top: 0;
	width: 40%;
	max-width: 400px;
	height: 102%;
	padding: 0;
	margin: 0;
	z-index: 1002 !important; 
	transform: translateX(-280%);
	-webkit-transform: translateX(-280%);
	-moz-transform: translateX(-280%);
	-o-transform: translateX(-280%);

	-webkit-transition: -webkit-transform 0.3s ease;
	-moz-transition: -moz-transform 0.3s ease;
	-o-transition: -o-transform 0.3s ease;
	transition: transform 0.3s ease;   
 
	&.open{
		transform: translateX(0%);
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		
   	.viewport {
   	   -webkit-overflow-scrolling: touch; 
   	}

		&:after{
			content: '';
		    height: 100%;
		    width: 500%;
		    position: absolute;
		    z-index:0;
		    left: 0;
		    top: 0;
		}
	}

	.viewport-wrap {
		position: relative;
		width: 100%;
		min-width: 260px;
		height: 100%;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		transition: all 0.3s ease;
		z-index: 1; 
	}

	.viewport {
		width: 100%;
		height: 100%;
		position: relative;
		padding: 0;
		position: relative;
		box-sizing: border-box;
		background: $mobileBg ; 
	}

	.navigation{
		height: 100%;
	}
	.nav-group {
		top: 0;
		width: 100%;
		height: 100%;
		padding: 0;
		position: absolute;
		z-index: 1;
		-webkit-transition: -webkit-transform 0.25s ease;
		-moz-transition: -moz-transform 0.25s ease;
		transition: transform 0.25s ease;
		background: $mobileBg ; 
		padding:20px 0;
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%); 

		&.nav-active{
	        transform: translateX(0px);
	        -webkit-transform: translateX(0px);
	        -moz-transform: translateX(0px);
	        -ms-transform: translateX(0px);
	        -o-transform: translateX(0px);
	    }

	    &:nth-child(n+2) {
		    li{
		    	&:first-child{
		    		//background: $home-slider-headings;
				  	margin: -1px -20px;
				  	padding: 0 20px;
		    	}
		    }  
		}
	}

	.nav-group-inner{
		overflow: auto;
		height: 100%;
		padding-bottom: 60px;
	}	

	ul{
		margin:0;
		padding: 0 20px 60px 20px !important; 
	}

	li{
		list-style: none;
		border-bottom: 1px solid $mobile-border;
		&.current{
			background: $currentBg;
			  a{
			  	opacity: 0.7;
			  }
		}
		a{
			color: white;
			font-weight: 600;
			display: block;
			padding: 15px 20px 15px 10px;
			text-transform: uppercase;
			&:hover{ 
				text-decoration:none;
			} 
			&[data-path="/"]{ 
				border-bottom: 1px solid $mobile-border;
				font-size: 16px;
			}

		}

		&.parent{
			 font-size: 24px;
			 font-size: rem-calc(24);
          a{
            text-transform: none;    
            line-height: 1.2;         
          }
		}




	}

	.has-child, .get-menu{
		position: relative;
		&:after{
			content:"";
			background: url("/crc/images/chevron_right.svg") right 2px no-repeat;	
			position: absolute;
			right: 5px !important;
			top: 20px;
			width: 20px;
  			height: 20px;
		}
	}

	.get-menu.loading{
		position: relative;
		&:after{
			content:"";
			background: url("/crc/images/mobile-preloader.svg") right 2px no-repeat;	
			position: absolute;
   	    right: -1px !important;
   	    top: 11px;
   	    width: 31px;
   	    height: 24px;
   	    //animation-name: spin;
   	    //animation-duration: 4000ms;
   		 //animation-iteration-count: infinite;
    		 //animation-timing-function: linear;
 
		}
	}

	.nav-back{
		background: url("/crc/images/mobile-black.svg") 20px center no-repeat $mobile-back;
		background-size: 27px 27px;
		display: inline-block;
		width: 125px;
		text-align: right;
		padding: 15px 22px 15px;
		border-radius: 0px 6px 6px 0px;
		color: $mobileBg;
		font-size: rem-calc(16);
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 20px;
		&:hover{
			text-decoration:none;
		} 

		&:after{
			background-image: none;
		}

	}



	.close{
		position: absolute;
		top: 20px;
		right: -50px;
		width: 50px;
		height: 50px;
		display: inline-block;
		text-align: center;
		background: #3d3e3f;
		color: #fff;
		font-size: 29px;
		font-weight: bold;
		padding-top: 1px;
		cursor: pointer;
		border-radius: 0px 6px 6px 0px;
	}

}


 // Spinning Keyframe animation

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg);  -moz-transform-origin: center;}
    to { -moz-transform: rotate(360deg);  -moz-transform-origin: center;}
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg);  -webkit-transform-origin: center;}
    to { -webkit-transform: rotate(360deg);  -webkit-transform-origin: center;}
}
@-o-keyframes spin {
    from { -o-transform: rotate(0deg);-o-transform-origin: center;}
    to { -o-transform: rotate(360deg); -o-transform-origin: center;}
}
@keyframes spin {
    from {transform:rotate(0deg);transform-origin:  center;}
    to {transform:rotate(360deg);transform-origin:  center;}
}


@media #{$large-up} {
	.flexpanel.open{
		transform: translateX(-280%);
		-webkit-transform: translateX(-280%);
		-moz-transform: translateX(-280%);
		-ms-transform: translateX(-280%);
		-o-transform: translateX(-280%);
	}
}


#menu{
	transform: translateX(-280%);
	-webkit-transform: translateX(-280%);
	-moz-transform: translateX(-280%);
	-o-transform: translateX(-280%);
}

#menu.toggle{
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-o-transform: translateX(0%);

	-webkit-transition: -webkit-transform 0.2s ease;
	-moz-transition: -moz-transform 0.2s ease;
	-o-transition: -o-transform 0.2s ease;
	transition: transform 0.2s ease; 

}

.get-menu.nav-back.nav-title{
	margin-top: 20px;

	&:after{
		content:"";
		background: none;
	}
}

/* --- IE 9 & 8 Mobile Nav Remove -- */

.flexpanel {
	display: none\0; /* IE8, IE9 */ 
}
