html,
body {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

// Stacks of CTAs
.listing {
	article.full-repeater{
    p {
      margin-bottom: 15px;
    }
    .icon {
      padding: 15px 30px;
			
			img {
				max-width: 110px;
			}
    }
	}
}

.no-scroll {
	overflow: hidden;
  position: static;
}

.media-alerts-cta {
	label {
	  display: inline-block;
	  margin-bottom: .5rem;
	  font-size: 14px;
	  text-align: left;
	  font-weight: 600;
	  span {
	    color: #ee0000;
	  }
	}

	input[type="text"] + span.error[style*="inline"], 
	input[type="email"] + span.error[style*="inline"] {
		display: block !important;
	}

  .error-group{
    padding-bottom: 10px;
  }
}

div.focus-trap-wrapper,
div.focus-trap-backdrop{
  outline: none;
  &:focus{
    outline: none;
  }
}