//pagination
ul.pagination{
  padding: 1em 0;
  display: inline-block;
  li{
    text-indent: 0;
    padding-left: 0;
    &:before{
      content:'';
    }
    a{
      background-color: $pagination;
      color:$white;
      &:hover{
        background: $pagination-link-current-active-bg;
        text-decoration: none;
      }
    }
    &.unavailable{
      a{
        background:none;
        &:hover{
          text-decoration:none;
        }
      }
      &.arrow a{
        background:scale-color($pagination, $lightness: 70%);
      }
      &.dots a:hover{
        cursor: pointer;
      }
    }
  }
  &:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden;}
}

.pagination-wrap{
  margin-bottom: 9px;
  padding-top: 10px;
  &.border-top{
    padding-top: 10px; 
  }
}

// Smart Search Pagination

p.navigation{ 
  a{ 
      display: inline-block;
      padding: 0.0625rem 0.625rem 0.0625rem;
      color: #999999;
      background: none;
      border-radius: 3px;
      font-weight: normal;
      font-size: 1em;
      line-height: inherit;
      background-color: #757678;
      color: #FFFFFF;
      transition: background-color 300ms ease-out;
      -webkit-transition: background-color 300ms ease-out;
      -moz-transition: background-color 300ms ease-out;
      -ms-transition: background-color 300ms ease-out;

      &:hover{
        background: $pagination-link-current-active-bg;
        text-decoration: none;
      }
    }
    span{ 
      display: inline-block;
      padding: 0.0625rem 0.625rem 0.0625rem;
      color: #999999;
      background: none;
      border-radius: 3px;
      font-weight: normal;
      font-size: 1em;
      line-height: inherit;
      background: #ee0000;
      color: #FFFFFF;
      transition: background-color 300ms ease-out;
      &:hover{
        background: $pagination-link-current-active-bg;
        text-decoration: none;
      }
    }
}

.repeater{
  h5{
    color: #ee0000;
    font-weight: 600;
  }
}
