.promo-banner{
	padding: 25px 2% 10px;
	background: #262728;
	color: white;

	& > div{
		position: relative;
	}
	.clearfix{
		position: relative;
	}
	.error-group{
		position: absolute;
		bottom: -4px;
	}
	fieldset{
		border: none;
		margin:0;
		padding: 25px 0 0 0;
	}
	label{
		text-align: left;
		color: white;
		margin-bottom: 5px;
	}
	input[type="email"], input[type="text"]{
		float: left;
		max-width: 313px;
		margin-bottom: 20px;
		margin-right: 20px;
	}
	input[type="submit"], .button{
		float: left;
		color: white;
		background: none;
		border: 2px solid white;
		text-transform: uppercase;
		padding: 9px 20px 8px;
		font-weight: 600;
		letter-spacing: 0.1em;
		cursor: pointer;
		border-radius: 3px;
		margin-bottom: 20px;
		transition: all 300ms ease;
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		margin-top: -2px;
		margin-bottom: 20px;

		&:after{
			background:none;
		}

		&:hover{
			background:white;
			color: #3d3e40 !important;
		}
	}
	.button{
		margin-top: 55px;
	}
	.closeBanner{
		position: absolute;
		right: 15px;
		top: -5px;
		font-size: 18px;
		border: 2px solid;
		width: 31px;
		height: 31px;
		text-align: center;
		padding: 0;
		line-height: 26px;
		border-radius: 50%;
		font-weight: 900;
		cursor: pointer;
		transition: all 300ms ease;
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		i{
   		position: relative;
   		top: -1px;
		}
		&:active{
			transform:scale(0.9);
		}

		&:hover{
			background:white;
			color: $bannerBg;
		}
	}
}

@media #{$small-only} { 
	.promo-banner{
		padding: 55px 2% 20px;
		fieldset{
			padding-top: 10px;
		}
		input[type="text"], input[type="email"], input[type="submit"]{
			width: 100%;
			max-width: 900px;
			margin-right: 0px;
		}
		input[type="submit"]{
			margin-bottom: 40px;
		}
		.button{
			margin-top: 10px;
			width: 100%;
		}
		.closeBanner{
			top: -40px;
			right: 10px;
		}
	}
}