#quiz{
	.panel{
		border: none;

		p{
			padding: 0px;
		}
	}
	.pages{
		display: none;

		.option{
			input, label{
				cursor: pointer;
			}
		}
	}
	#thankyou{
		display: none;
	}
	.hide{ 
		display: none;
	}

	.option > div{
		@extend .clearfix;

		label{
			line-height: 23px;
			margin-bottom: 10px;
		}
	}	
}

@media #{$small-only} { 
	#quiz{
		.option > div{
			input{
				float: left;
				margin-top: 5px;
			}
			label{
				width: 80%;
				float: left;
			}
		}
	}
}

@media (min-width: $medium) and (max-width: $large) {
	#quiz{
		.option > div{
			input{
				float: left;
				margin-top: 5px;
			}
			label{
				width: 90%;
				float: left;
				text-align:left;
			}
		}
	}
}

.incorrect{
	border: 1px solid red;
	background: #FFDEDE;
    padding: 5px;
    margin-bottom: 10px;

    input[type="file"], input[type="checkbox"], input[type="radio"], select{
    	margin-bottom: 0;
    }
}

.correct{
	border: 1px solid #44AB00;
	background: url(/crc/images/correct.png) no-repeat 98% 50% #f3fff3;
    padding: 5px;
    margin-bottom: 10px;

    input[type="file"], input[type="checkbox"], input[type="radio"], select{
    	margin-bottom: 0;
    }
}