// This is used to override the inline styles in existing content.

.rich-text {
 // overflow: auto;

  a{
    font-weight:normal;
    &.sm-cta{
      img{
        margin-top:4px;
        margin-left: 0;
      }
    }
  }
  img{
    max-width: 98%;
    height: auto !important;
    margin: 10px;
    @media #{$small-only} {
      margin: 0 auto !important;
      float:none !important;
      display:inherit;
      padding:10px !important;
    }
    &.left{
      padding:1% 3% 3% 0;
    }
    &.right{
      padding:1% 0 3% 3%;
    }
  }

  p.text-center img{
    //max-width:100%;
  }
  .image-with-caption p{
    font-size: rem-calc(13);
    color: #999;
    margin: 5px 0;
  }

  .imgLeft{
    padding: 0px 10px 10px 0px;
    display: inline-block;
    float: left;
    max-width:260px !important;
    width:auto !important;
    @media #{$small-only} {
      margin: 0 auto;
      float:none;
      display:inherit;
    }
    img{
      max-width: 100%;
      height: auto !important;
      padding: 0 3% 3% 0;
      float: left;
      margin: 5px 0;
    }
  }
  .imgRight{
    padding: 0px 0px 10px 10px;
    display: inline-block;
    float: right;
    max-width:260px !important;
   // width:auto !important;
    @media #{$small-only} {
      margin: 0 auto;
      float:none;
      display:inherit;
      padding:10px;
    }
    img{
      max-width: 100%;
      height: auto !important;
      padding:1% 0 3% 3%;
      float: right;
    }
  }
  table{
    img{
      margin:0 auto;
    }
    a {
      &:hover{
        font-weight: 400;
      }
    }
    &.table-3
    {
      td, th{
        width:30% !important;
        white-space: normal;
      }
    }
  }


  iframe{
    //max-width:100% !important;
    //max-height: 100% !important;
    //height:auto;
  }

  ul{
    &.two-col{
      &.no-bullets{
        li{
          list-style:none;
        }
      }
      li{
        float:left;
        width:45%;
        &:nth-child(odd){
          margin-right:45px;
        }
        img{
          padding-left:0;
          margin-left:0;
        }
        p{
          display:block;
        }
      }
    }
    &.three-col{
      &.no-bullets{
        li{
          list-style:none;
        }
      }
      li{
        float:left;
        width:30%;
        &:nth-child(3n+3){
          margin-right:20px;
        }
       img{
          padding-left:0;
          margin-left:0;
        }
        p{
          display:block;
        }
      }
    }
  }
}