.landing {
	.right-rail {
	  h3, h2{
		margin-bottom: 4px;
	  }
	  p{
		margin-bottom:10px;
	  }
	  a.button.small{
		margin-bottom:4px;
		padding:3px 28px 3px 12px;
	  }
	}
}

.right-rail{
	h3, h2{
	    line-height: 23px;
		margin-bottom: 20px;
	}

	.button{
		font-size: 13px;
		padding:3px 28px 3px 12px;
    margin-bottom: 30px;
    	@include radius($button-radius);
	  &:after{
		right:14px;
	  }
	}

	label.button{
		padding:3px 28px 3px 12px;
		input[type="submit"]{
			padding: 0;
			font-size: rem-calc(13);
		}

		&:after{
			right: 12px;
		}
	}
}

.donation-CTA{
	h3{
	  margin-bottom:20px;
	}
	h3 + ul{
	  margin-top: -10px;
	}
	label{
	  vertical-align: top;
	  font-weight: 600;
	}
	ul{
	  margin: 0;
	  padding: 0;
	}
	li{
	  text-indent: 0;
	  padding: 0;
	  margin-bottom: 10px;
	  list-style: none;

	  &:before{
		display:none;
	  }
	  input[type="radio"]{
		margin: 5px 0 0 0;
	  }
	  &.otherAmount{
		margin-bottom: 20px;
		width: 100%;
		*{
		  float: left;
		}
		input[type="radio"]{
		  margin-top: 14px;
		}
		label{
		  margin-top: 9px;
		}
		span{
		  margin-top: 0;

		  span{
			margin:10px 5px 0 5px;
		  }
		}
		input[type="text"]{
		  max-width: 70px;
		  height: 40px;
		  //float: right;
		  margin: 0;
		}
	  }
	}
}

.email-CTA{
	h3{
	  margin-bottom:20px;
	}
}

.news.with-image  {
	img{
	  margin-right:20px;
	  margin-top:5px; 
	}
}
.testimonial-CTA {
	padding: 20px;
	margin: 0 0 20px 0;
	width: 100%;
	.quotes{
	  position: relative;
	  width: 90%;
	  margin: 0 auto;
	  padding: 10px 0 20px;
	  p{
		position: relative;
		&:before{
		  content:'';
		  position: absolute;
		  top: -5px;
		  left: -30px;
		  background: url("/crc/images/icon-quote.svg") no-repeat 0 0;
		  width: 20px;
		  height: 20px;
		}
		&:after{
			display:none;
		}
	  }
	}
}

body .right-rail .testimonial-CTA .quotes {
	padding: 20px 0 !important;
}

.story-CTA{

	margin: 0 auto 30px auto;
	//max-width: 350px;
	width: 100%;
	img {
	  margin-bottom: 10px;
	}
	.h2{
	  margin-bottom: 10px;
	}
	p{
	  margin-bottom: 5px;
	}
}

.text-CTA{
	margin: 0 auto 30px auto;
	//max-width: 350px;
	width: 100%;
}

.landing .text-CTA{
	margin-top:-6px;
	max-width: 100%;
	border-top: 1px solid $key-line;
	a.button{
		font-size: 13px;
	  margin-bottom:0;
	}
	.h2{
	  margin-top:-7px;
	}
}

.right-rail{
	.news, .text-CTA, .story-CTA, .testimonial-CTA, .email-CTA , .wp-container,  .donation-CTA, .font-size.first{
	  border-top: 1px solid $key-line;
    padding-top: 30px !important;
	}
	//overrides inline styling on error msg -- generated by kentico
	.email-CTA input[type="text"] + span.error[style*="inline"] {
	  display: block !important;
	}

	.testimonial-CTA{
		padding-bottom:0px;
	}
	.text-CTA{
		.button{
			padding:3px 28px 3px 12px;
			margin-bottom: 5px;
		}
	}
}

body .right-rail .testimonial-CTA .quotes{
	padding-bottom: 10px !important;
}

// Remove top border from the first right rail CTA
.right-rail div:first-of-type {
	border-top: none;
    padding-top: 0px !important;
}

// Right rail styles to make the first div always grey bg
.right-rail > div:first-of-type {
  padding: 20px !important;
  background: $panel-bg !important;
}

@media #{$medium-only} {
	.right-rail{
	  .donation-CTA{
		display: none;
	  }
	  .email-CTA{
		display: none;
	  }
	 //  .twitter-wrap, .twitter-widget.twtr-tweets{
		// display: none;
	 //  }
	  //Remove top border from cta below hidden cta (either donate or email or twitter)
	  .donation-CTA + script, .email-CTA, .twitter-wrap, .twitter.twtr-tweets{
		+ div{
		  border-top: none;
		  padding-top: 0px !important;
		}
	  }
	  //Adding top border to cta in middle of right rail after hidden cta
	  div + .donation-CTA + script, div + .email-CTA,  div + .twitter-wrap, div + .twitter.twtr-tweets {
		+ div {
			border-top: 1px solid #E0E0E0;
			padding-top: 30px !important;
		}
	  }
	}
}

@media #{$small-only} {
	.right-rail{
	  .donation-CTA{
		display: none;
	  }
	  .email-CTA{
		display: none;
	  }
	 //  .twitter-wrap, .twitter-widget.twtr-tweets{
		// display: none;
	 //  }
	  //Remove top border from cta below hidden cta (either donate or email or twitter)
	  .donation-CTA + script, .email-CTA, .twitter-wrap, .twitter.twtr-tweets{
		+ div{
		  border-top: none;
		  padding-top: 0px !important;
		}
	  }
	}
}
