.recommended{
  padding: 20px;
  margin-bottom:20px;
  background: $panel-bg;


  h5 + article{
    border: none;

    & + article{
      border-top: 1px solid #7f7f7f;
      padding-top: 20px;
    }
  }

  article:last-child{
    border-bottom:none;
    margin-bottom: 0px;
  }

  article{
    margin-bottom: 0px !important;
  }

}

.search-results{
  h5{
    @extend h2;
  }
  a{ 
    h5{
      color: #ee0000;
    }
  }

  .searchBox{
    @extend .clearfix;

    input {
      max-width: 350px;
      float: left;
      margin-right: 20px;
      margin-bottom: 10px;
      margin-top: 10px;

      &[type="submit"]{
        padding: 10px 26px 11px;
      }
    }
  }
  .search-options{
    @extend .clearfix;

    select{
      float: left;
      display: inline-block;
      margin-right: 20px;
      max-width:250px;
    }
  }
}

.search-wrap {
  background: $panel-bg;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  position: relative;
  border: 1px solid #bdbdbd;
  display: block;
  h3, h2 {
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 15px;
    margin: 0 0 15px 0;
  }

  .location-error{
     margin: 0;
     padding: 15px 0 0;
  }
  fieldset {
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0 0 20px 0;

    label {
      font-weight: 700;
      margin-bottom: 5px;
      text-align: left;
      color: #333;
      padding-left: 1px;
    }
    input {
      width: 100%;
      height: 40px;
      padding: 10px;
      margin-bottom: 0px;
    }
    select {
      height: 40px;
      padding: rem-calc(0 10);
      margin-bottom: 0px;
      border-radius: 6px;
    }
  }

  .search-cat, 
  .submit {
    fieldset {
      margin-bottom: 0;
    }
  }
  .search-cat{
     margin-bottom: 15px;
     margin-top: 20px;
  }

  .submit {
    a {
      padding: 12px 15px 12px 4px;
      width: 100%;
      margin-bottom: 0;      
    }
  }

  .and-or {
    p {
      margin: 0;
      padding-top: 32px;
      text-align: center;
      opacity: 0.6;
      @media #{$small-only} {
         text-align: left;
         padding: 10px 0;
      }
    }
  }

  /*--- If the select box has NOT been triggered ---*/

  &.optional-field {

    fieldset {
      margin: 0 0 5px 0;
    }

    .search-cat {
      display: none;
    }
    .submit {
      padding-top: 0;

      fieldset {
        margin: 0;
      }
    }  

  }
  
  .search-field{
    text-align: right;
    
   @media #{$small-only} {
      text-align: left;
   }
   .wrap{
       display: block;
       padding-top: 22px;
       border-top: 1px solid #bdbdbd;
       .button{
          margin-bottom: 0;
       }
    }
 }
 

  &.disabled {
   a.button {
      background: $disabled;
      cursor: default;
      opacity: 0.6;
   }
  }

  /*--- Local Branch ---*/

  &.local-branch {

    &:before {
      content: "";
      display: none;
    }

    .submit {
      margin-top: 26px;
      padding-left: 20px;

      a {
        width: auto;
        padding: 10px 37px 11px 29px;
      }
    }
    fieldset {
      margin-bottom: 0;
    }
    .iyc-filter-button{
        //margin-top: 21px;
    }
  }
}

body.find-local-services, body.find-a-branch-results{
  .search-wrap {
    margin-bottom: 25px;
  }
}

@media #{$small-only} {
    .search-wrap {
      background: $panel-bg;
      padding: 20px;
      margin-bottom: 20px;
      position: relative;

      &:before {
        content: '';
        display: none;
      }

      h3 {
        //border: none;
        margin-bottom: 15px;
        padding-bottom: 0;
      }

      fieldset , &.optional-field fieldset  {
        margin-bottom: 0px;
      }

      .and-or {
        text-align: left;
        padding: 0px 0px 20px 0px
      }

      .search-cat {
        fieldset {
          margin-bottom: 0px;
        }
      }

      .submit {
        padding-top: 0px;
      }

      /*--- Local Branch ---*/

      &.local-branch {

        .submit {
          padding-left: 0px;

          a {
            width: 100%;
            padding: 12px 37px 12px 29px;
          }

          fieldset {
            margin-bottom: 0px;
          }
        }
        fieldset {
          margin-bottom: 20px;
        }
      }

      &.local-branch{
        fieldset{
          margin-bottom: 0px;
        }
        input{
          margin-bottom: 0px;
        }
      }
    }
}


