.left-column.font-size ul a {
	color: $left-nav-color;
}
ul.side-nav li.active ul li ul{
  display: none;
}
ul.side-nav{
  margin-left:0;
//   max-width: 248px;
  padding-left:0;
  min-height: 500px;
  li{
    list-style: none;
    margin: 0;
    padding-left:0;
    padding-bottom:0;

    a{
      background: url("/crc/images/img-chevron.png") no-repeat 10px 11px #fff;
      background-color: $white;
      color: $left-nav-color;
      font-size: rem-calc(14);
      font-weight:600;
      margin-left: 0;
      padding: 4px 26px;
      display: inherit;
      &:hover{
        text-decoration:underline;
      }
      &::before{
        padding-right: 0.5em;
        padding-left: 0.5em;
      }
      &.selected{
        text-decoration: underline;
      }
    }

    &.active{
      background-color: $side-nav-active-child;
      padding: 0;
      margin-bottom: 0;
      &.children{
        border-top:1px solid $key-line;
        border-bottom:1px solid $key-line;
        margin-bottom: 8px;
        &:first-child{
          border-top:none;
          padding-top: 8px;
        }
        > a{
          background: url("/crc/images/img-chevron-down.png") no-repeat 10px 13px;
          background-color: #d8d8d8;
        }
        ul li a{background-color:none;}

      }
      a{
        background: url("/crc/images/img-chevron.png") no-repeat 10px 13px;
        //background-color:$side-nav-active;
        display:block;
        font-weight:600;
      }
      ul{
        display:block;
        margin-left:0;
        padding-bottom:0;
        margin-bottom:0;
        padding-left: 0;
        padding-bottom: 8px;
        li{
          padding-bottom:0;
          margin-bottom:0;
          margin-top:0;

          &.active{
            border:none;
            &.children{
              background-color: $side-nav-bg;
              margin-bottom: 8px;
              ul li a{
                background:none;
                font-size: rem-calc(12);
                padding: 0px 0px 5px 40px;
                &:hover{
                  text-decoration: underline;
                }
              }
            }
            a{

              //background-color: $side-nav-bg;
            }

            ul{
              background-color: $side-nav-bg;
              display:block;
              li{
                display:block;
                a{
                  background-image: none;
                  padding-left: 48px;

                }
                &.active{
                  border:none;
                  a{

                    background-color: $side-nav-bg;
                    &:hover{
                      text-decoration:underline;
                    }
                  }
                }
              }

            }
          }

          a{
            background-image:none;
            background-color: $side-nav-active-child;
            padding-left:25px;
            &:last-child{
             // padding-bottom:10px;
            }
          }
          > a:first-child {
            background-image: none !important;
          }
        }
      }
    }

    li ul li ul{ display:none;}



    ul{
      display: none;
      li{
        list-style-image:none;
        ul{
          li{
            &.children{
              ul{
                display: none;
              }
            }
            display:none;
          }
        }
      }
    }
  }
}

.side-nav {
  li.active {
    a {
      background: red ;
      &:hover{
        text-decoration: underline;
      }
    }
    li{
      a {
        background: white ;
      }
    }
    li.active.children {
      a {
        background: #ededed ;
      }
    }
  }

}


