/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}



// slides

.slider{
  overflow: hidden;
  max-height:620px;
  background-color: $home-slider;
}

.slick-slide {
  position: relative;
  &:hover {
    cursor: pointer;
    img {
      opacity: 1;
    }
  }
  &:after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
  }
  @media #{$large-up}{

    &.gradient-light {
      .caption {
        h1 {
          color: $heading-color;
        }
      }
      &.gradient-left {
        .caption {
          text-align: left !important;
        }
        &:after {
          backface-visibility: hidden;
          top: 0;
          left: 0;
          background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)); /* For Firefox 3.6 to 15 */
          background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
        }
      }
      &.gradient-right {
        .row{
         // left:50%;
        }
        .caption {
          text-align: right !important;
          right:40px;

        }
        &:after {
          backface-visibility: hidden;
          top: 0;
          right: 0;
          background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)); /* For Firefox 3.6 to 15 */
          background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
        }
      }
    }
    &.gradient-dark {
      .caption {
        h1 {
          color: $white;
        }
      }
      &.gradient-left {
        .caption {
          text-align: left !important;
        }
        &:after {
          backface-visibility: hidden;
          top: 0;
          left: 0;
          background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); /* For Firefox 3.6 to 15 */
          background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
        }
      }
      &.gradient-right {
        .caption {
          text-align: right !important;
          right:40px;
        }
        &:after {
          backface-visibility: hidden;
          top: 0;
          right: 0;
          background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); /* For Firefox 3.6 to 15 */
          background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
        }
      }

    }
  }
  @media only screen and (min-width: 970px) {
    &.gradient-light.gradient-right .caption {
      right: 45px;
     }
  }
  @media only screen and (min-width: 1100px) {
    &.gradient-light.gradient-right .caption {
      right: 100px;
    }
  }
  @media only screen and (min-width: 1160px) {
    &.gradient-light.gradient-right .caption {
      right: 0;
    }
  }
  .row {
    position: static;
    height:100%;
    max-height: 600px;
    @media only screen and (max-width: $large) {
      background-color: $home-slider;
    }
    .columns{
      height: 100%;
    }
    @media #{$large-up}{
      position: absolute;
      top: 0;
      left:0;
      margin-left:0;
    }
    @media only screen and (min-width: 1200px) {
      left: 50%;
      margin-left:-600px;
    }
  }


  .caption {
    backface-visibility: hidden;
    text-align: center !important;
    z-index: 5000;
    @media #{$large-up}{
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-60%);
      -moz-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
      transform: translateY(-60%);
      position: absolute;
      display: inline-block;
      text-align: left !important;
    }
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }
    h1 {
      font-size: rem-calc(20);
      line-height: rem-calc(24);
      color: $heading-color;
      @media only screen and (min-width: 952px) and (max-width: 1350px) {
        font-size: rem-calc(35);
        line-height: rem-calc(50);
        max-width: 600px;
      }
      @media screen and (min-width: 1351px){
        font-size: rem-calc(58);
        line-height: rem-calc(74);
        max-width: 600px;
      }

    }
  }
}

// slick buttons
.slick-dots-wrapper{
  background-color:rgba(255,255,255,0.8);
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;
  z-index: 4;
  &#slick-dots-count-1{
    ul.slick-dots li{
      width:10%;
    }
  }
  &#slick-dots-count-2{
    ul.slick-dots li{
      width:50%;
    }
  }
  &#slick-dots-count-3{
    ul.slick-dots li{
      width:33%;
    }
  }
  &#slick-dots-count-4{
    ul.slick-dots{
      max-width:rem-calc(1300);
      li{
        width:25%;
      }
    }
  }

  ul.slick-dots{
    max-width: $row-width;
    margin:0 auto;
    padding:0;
    height:100px;
    li{
      padding:0;
      float:left;
      position: relative;
      list-style: none;
      height:100px;
      border-left:1px solid $border-color;
      text-align: left;
      font-size: 1rem;
      line-height: 1.25;
      &:first-of-type{
        border-left: none;
      }
      &.slick-active button{
        color: $primary-color;

        line, path, circle{
          fill: $primary-color;
        }
        polygon{
          fill: $primary-color;
        }

      }

      &:before{
        content:'';
      }
      button{
        color:$heading-color;
        text-transform: uppercase;
        background-color:transparent;
        font-weight: 600;
        margin: 0;      
        border: none;
        border-top: 6px solid transparent;
        border-bottom: 6px solid $primary-color;
        padding:0 15px;
        height:106px;
        width: 100%;
        display: block;
        position:absolute;
        top: 0;
        @include transition(all, 0.125s, ease);
        text-align: left;
      }

     .vertical-align{
       @include vertical-align;
       position: absolute;
       left: 80px;
       padding-right: 20px;
       z-index: -1;
     } 
     .icon{
        left: 18px;
        max-width: 50px;
        padding-right: 0;
     }

     &:hover button{
       color:$primary-color;
       top:-6px;
       border-top-color: rgba(255,255,255,0.8);
       text-decoration: none;

       line, path, circle{
         fill: $primary-color;
       }
       polygon{
         fill: $primary-color;
       }
       
     }
     span{
       display: table-cell;
       vertical-align: middle;
       position: relative;
       padding-left: 60px;
     }
     img, svg{
       max-width: 47px;
       margin-right: 1rem;
       float: left;
     }
    }
  }
}


.slick-next, .slick-prev{
  display: none !important;
}

//next prev Mobile only
@media only screen and (max-width: $large) {
  .slick-prev, .slick-next {
    display: block !important;
    text-indent: -999em;
    position: absolute;
    width:44px;
    height:44px;

    &:hover{
      background-color: transparent;
    }
  }
  .slick-prev {
    background: url("/crc/images/slider-arrow-left.svg") no-repeat transparent;
    left: 3%;
    top: 33%;
    @media #{$small-only}{
      top:13%;
    }
  }

  .slick-next {
    background: url("/crc/images/slider-arrow-right.svg") no-repeat transparent;
    right: 3%;
    top: 33%;
    @media #{$small-only}{
      top:13%;
    }
  }
  
  
}