
/* Mobile Social Share */

#at4m-dock{
  width: 45px !important;
  height: 50px !important;
  position: fixed;
  border: 113px;
  right: 0px;
  left: inherit !important;
  bottom: 90px;
  border: none !important;
  background: url('/crc/images/social-share.svg') no-repeat !important;

  *{
    opacity: 0 !important;
  }
}

#at4m-dock-toggle{
  display: none;
}


#sTrigger{
	display: none !important;
  position: fixed;
  bottom: 60px;
  z-index: 100000;
  right: 0;
  cursor: pointer;
  width: 50px;
  padding: 10px 0 10px 10px;		

  svg{
  	pointer-events: none;
  }
}

/* RSS Button */

.FeedLink{
	background: url("/crc/images/socialshare-rss.svg") 0px 1px no-repeat;
	width: 49px;
	height: 28px;
	background-size: 46px; 
	display: block;
	*{
		display: none;
	}
}

/* Desktop Social Share */

.social-widget{
	//margin: 0 -1.7rem 5px;
	margin-bottom: 5px;
}

.landing .social-widget{
  margin-bottom:10px;
}
.addthis_button_facebook_like{
	background: url("/crc/images/socialshare-fb.svg") 0px 1px no-repeat;
	width: 49px !important;
	height: 28px !important;
	background-size: 46px;


	& > *{
		opacity: 0 !important;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .addthis_button_facebook_like{

  	margin-top:-1px;

  }
}

.addthis_button_tweet{
	background: url("/crc/images/socialshare-twitter.svg") no-repeat;
	width: 72px !important;
	height: 28px !important;
	background-size: 69px;
	& > *{
		opacity: 0;
	}
}
.addthis_button_email{
	background: url("/crc/images/socialshare-send.svg") no-repeat;
	width: 64px !important;
	height: 28px !important;
	margin-right: 1px;

	background-size: 62px;
	& > *{
		opacity: 0
	}
}
.addthis_counter{
	background: url("/crc/images/socialshare-share.svg") no-repeat;
	width: 73px !important;
	height: 28px !important;

	background-size: 65px;
	& > *{
		opacity: 0
	}
}
.crc-rss{
	text-align: right;
	margin-right: 11px;
}

@media only screen and (max-width: $large) {
	.social-widget{
		display: none;
	}
}

// Add this share dropdown styles

.atm-i{
	padding: 10px 0 15px !important; 
}



// Twitter Feed

#storify-tweets{
	p {
		font-size: 13px;
	}
	img{
		margin-bottom: 7px;
	}
	.user, .username{
		margin-bottom: 5px;
	}
}