/* Stephan's original table styles
table{
	border-top: 1px solid $table-border-color;
	border-bottom: 1px solid $table-border-color;
	border-left: 1px solid $table-border-color;
	padding: 0;
	width: 100%;
	margin-bottom: 20px;

	th, td, {
		padding: 15px 10px;
		text-align: left;
		vertical-align: top;
		border-right: 1px solid $table-border-color;
	}

	th{
		background: $table-header;
	}

	tr{

		&:nth-child(2n){
			background: $table-row;
		}
	}

	td{
		p:last-child{
			margin-bottom:0;
		}
		a{
			&:hover{
				font-weight:600;
				text-decoration: underline;
			}
		}
	}

}*/


td[data-content="Service Type"]{ 
	min-width: 122px;
}

td[data-content="Address"]{
	min-width: 210px;
}
td[data-content="Dist."]{
    min-width: 80px;
}
td[data-content="Contact"]{
    min-width: 165px;
}

table{
  border-top: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;
  border-left: 1px solid $table-border-color;
  padding: 0;
  width: 100% !important;
  margin-bottom: 20px;
  border-spacing:0;
  th, td {
	padding: 15px 10px;
	text-align: left;
	vertical-align: top;
	border-right: 1px solid $table-border-color;
  }

  th{
	background: $table-header;
  }

  tr{
	&:nth-child(2n){
	  background: $table-row;
	}
  }

  td{
	p:last-child{
	  margin-bottom:0;
	}
	a{
	  &:hover{
		font-weight:600;
		text-decoration: underline;
	  }
	}
  }
}

table.no-borders{
  border: none;
  tr{
	border:none;
  }
  td{
	border:none;
  }
}

.jobs-list.no-more-tables th {
  color: $primary-color;
  a{
     padding-right: 20px;
     position: relative;
     display: block;
  }
  a.ASC{
     &:after{
        font-family: 'FontAwesome';
        content: '\f106';
        color: #444;
        font-size: 16px;
        position: absolute;
        right: 6px;
        @media #{$medium-only} {
           display: none;  
        }
     }
  }
  a.DESC{
     &:after{
        font-family: 'FontAwesome';
        content: '\f107';
        color: #444;
        font-size: 16px;
        position: absolute;
        right: 8px;
        top:-2px;
	    display:inline-block;
	    text-decoration: none;
        @media #{$medium-only} {
           display: none;  
        }

     }
  }
  a.loading{
  	&:after{
		background: url("/crc/images/mobile-preloader-dark.svg") 0 0 no-repeat;
		    width: 22px;
    		height: 21px;
    		right: 3px;
    		top: 4%;
    		background-size: 21px;
    		text-indent: -5000px;
	}
  }
  &.headerSortDown{
	&:after{
	  border-top: 5px solid $primary-color;
	  border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	}
  }
}

// Preloader

.pre-loader{
	text-align: center;
	// margin-bottom: -55px;
}

@media #{$medium-only} { /*disable repeater sorting in tablet down*/
    .jobs-list.no-more-tables tr th a, thead.noclick-mobile {
        cursor: default !important;
        color: #222;
        pointer-events: none;
        cursor: default;
    }
    .jobs-list.no-more-tables tr th::after { /*remove triangle filter indicator*/
        content: none;
    }
}
	
@media #{$small-only} {

	/*--- Tables ---*/
	.no-more-tables table{
		min-width: 284px !important;
	}

	 /* Force table to not be like tables anymore */

	.no-more-tables table, 
	.no-more-tables thead, 
	.no-more-tables tbody, 
	.no-more-tables th, 
	.no-more-tables td{
		display: block !important;
		border: none;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.no-more-tables tr {
	  border:1px solid $table-border-color;
	  display: block;
	  margin-bottom: 10px;
		border-borrom:0;
	}

	/*
	Label the data
	*/
	.no-more-tables td:before { 
		content: attr(data-content);
		-ms-word-break: normal;
		word-break: normal;

		/* Non standard for webkit */
		word-break: normal;

		//-webkit-hyphens: auto;
		//-moz-hyphens: auto;
		//-ms-hyphens: auto;
		//hyphens: auto;
	 }

	.no-more-tables td {
	  /* Behave  like a "row" */
	  position: relative;
	  white-space: normal;
	  text-align:left;
	  border-bottom:1px solid $table-border-color;
	  min-height: 100px;
	  padding: 0 10px 20px 40%;
	  	a{
			word-wrap: break-word;
		}

	  &:before {
		/* Now like a table header */
		position: relative;
		left: -60%;
		width: 50%;
		text-align: left;
		font-weight: bold;
		display: block;
		margin: 0;
		padding: 0;
		transform: translateY(100%);
		-moz-transform: translateY(100%);
		-ms-transform: translateY(100%);
		-webkit-transform: translateY(100%);
		-o-transform: translateY(100%);
	  }
	  &:last-child{
		border-bottom:none;
	  }
	}
	
	/* add space to content to force fix row height */
    .jobs-list.no-more-tables tbody td[data-content*="Application Deadline"]::after {
        content: "\00a0"; 
    }
}