.twitter-wrap {
  @extend .border-top;
}

header.twitter-widget-header {
  border-top: 1px solid #e0e0e0;
  padding: 30px 0 20px !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

header.twitter-widget-header h3.h2 {
  margin-bottom: 0;
}

.twitter-widget {
  font-size: 90%;
  padding-top: 12px;
  // border-top: 1px solid #ccc;
  margin-bottom: 20px;

  &:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
  }

  .twtr-tweet-text {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    margin-bottom: 10px;

    &:last-child {
      border: none;
      padding-bottom: 0;
    }

    p:empty {
      display: none;
    }
  }

  .tweet {
    font-size: rem-calc(14);
    margin-bottom: 10px;

    strong {
      position: relative;
      top: -5px;
      display: inline-block;
    }

    & + p {
      position: relative;
      top: -40px;
      left: 49px;
      margin-bottom: -30px;
    }
  }
  
  .user-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;

    p {
      margin-bottom: 0;
      &.strong {
        font-weight: bold;
      }
    }

    .date{
      flex-grow: 2;
      text-align: right;
    }
  }

  ul.meta {
    padding: 0px;
    margin-top: 10px;
    @extend .clearfix;

    li {
      float: left;
      list-style: none;
      position: relative;
      margin: 0 14px 0 0;

      a {
        color: #333;
        font-size: rem-calc(11.5);
      }

      &:first-child {
        margin-left: 0px;
      }
    }

    .reply,
    .retweet,
    .favourite {
      position: relative;
      
      a {
        color: #6b7882;

        &:hover {
          text-decoration: none;
          color: #e00;
        }
        display: inline-flex;

        svg {
          width: 21px;
          height: 21px;
          margin-right: 5px;

          &:hover {
            path {
              fill: #e00;
            }
          }

          path {
            fill: #6b7882;
          }
        }
      }
    }
}
}

.twitter-wrap {
  position: relative;

  & > a {
    display: inline-block;
    background: url("/crc/images/twitter-button.svg") right center no-repeat;
    text-indent: -20000px;
    max-width: 160px;
    width: 100%;
    border: none;
    margin-bottom: 10px;
    margin-top: 0px;
    position: absolute;
    right: 0;
    bottom: -4px;

    &:hover,
    &:active,
    &:focus {
      background: url("/crc/images/twitter-button.svg") right center no-repeat;
    }
  }

  & > h3 {
    display: inline-block;
  }

  p:empty {
    border: 1px solid red;
  }
}

@media (max-width: 980px) {
  .twitter-wrap > a {
    background-size: 91%;

    &:hover {
      background-size: 91%;
    }
  }
}

// Twitter Footer
// .twitter {
//   margin-top: 25px;
//   background-color: $white;
//   border-top: 1px solid $border-color;
//   border-bottom: 1px solid $border-color;
//   padding-top: 24px;
//   padding-left: 10px;
//   padding-right: 10px;
//   padding-bottom: 18px;
//   margin-bottom: -1rem;

//   p {
//     font-size: rem-calc(18);

//     &.tweet-time {
//       display: none;
//     }

//     &:first-child {
//       display: inline-block;
//     }

//     &:nth-child(2) {
//       display: inline-block;
//       font-size: rem-calc(14);
//     }

//     img {
//       padding-right: 10px;
//     }
//   }

//   .svg-wrapper {
//     width: 38px;
//     height: 41px;
//   }
// }

// .home .twitter {
//   background-color: $twitter-bg;
//   border-top: 1px solid $border-color;
//   border-bottom: 1px solid $border-color;

//   @media #{$small-only} {
//     margin-bottom: -2px;
//     margin-top: 0;
//   }

//   @media #{$medium-only} {
//     margin-bottom: -2px;
//     margin-top: 0;
//   }

//   p {
//     &:first-child {
//       display: block;
//       margin-bottom: 0;
//     }

//     &.tweet-time {
//       display: block;
//       font-size: rem-calc(13);
//       color: #757678;
//       margin-bottom: 0;
//     }

//     img {
//       display: block;
//       margin: 0 auto;
//       padding-bottom: 6px;
//     }
//   }
// }

[data-twitter-ready] {
  background-color: $twitter-bg;
  padding: 40px 18px;
  text-align: center;
  margin-bottom: -15px;

  .tweet-header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    max-width: 450px;
    width: 100%;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;

    @media #{$small-only} {
      justify-content: flex-start;
      align-items: flex-start 
    }

    .profile-icon {
      @media #{$small-only} {
        margin-right: 10px;
      }
    }

    .profile {
      display: flex;
      text-align: left;

      @media #{$small-only} {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: 32px;
      }
    }

    .display-name {
      color: #2b2b2b;
      font-weight: bold;
      margin-right: 10px;
    }

    .username {
      color: #6b7882;
    }

    .follow-button {
      position: relative;
    }
  }

  .tweet {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;

    @media #{$small-only} {
      text-align: left;
    }
  }

  .tweet-footer {
    color: #6b7882;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    max-width: 350px;
    width: 100%;

    @media #{$small-only} {
      max-width: none;
    }

    .tweet-action {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 130px;

      .reply,
      .retweet,
      .favourite {
        position: relative;
        
        a {
          color: #6b7882;

          &:hover {
            text-decoration: none;
            color: #e00;
          }
          display: inline-flex;

          svg {
            width: 21px;
            height: 21px;
            margin-right: 5px;

            &:hover {
              path {
                fill: #e00;
              }
            }

            path {
              fill: #6b7882;
            }
          }
        }
      }
    }

    .date {
      font-size: 14px;
      line-height: 17px;
    }
  }
}