.video-player{
	margin: 12px 0 30px;
}

.video-credits{
	font-size: 12px;
	font-style: italic;
}

.video-info{
	p:not(:last-of-type){
		margin-bottom: 0;
	}
}
.transcript{
	padding-bottom: 30px;
}

.transcript-content {
	display: none;
	padding-top: 15px;
}

.hide-text{
	display: none;
}

.video-tags{
	margin: 30px 0;
	span {
		position: relative;
		padding: 0 5px;
		
		a {
			font-size: 10px;
			font-weight: bold;
			line-height: 10px;
			text-decoration: none;
		}

		&:after{
			content: "|";
			position: absolute;
			top: 0;
			right: 0;
		}
		&:last-of-type:after {
	    content:"";
    }
	}
}

.transcript-text{
	height: 0;
	// padding: 2rem 3rem;
	opacity: 0;
	transition: all 0.25s ease;
	display: none;
}

.show-transcript{
  opacity: 1;
  height: initial;
  display: block;
}

.transcript-button{
	background: none;
	font-size: 14px;
	font-weight: 600;
	color: #ee0000;
	border: none;
	padding: 0;
	&:hover,
	&:focus {
		background: none;
		color: #ee0000;
		border: none;
	}
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
