<%@ Page Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_MessageBoards_Content_Properties_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/Dialogs/TabsHeader.master" Title="Message boards - header" Codebehind="Header.aspx.cs" %>