﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/CMSMasterPages/UI/Dialogs/ModalDialogPage.master" Codebehind="CustomTableDetails.aspx.cs" 
    Inherits="CMSModules_ContactManagement_Controls_UI_ActivityDetails_CustomTableDetails" Theme="Default" %>

<asp:Content ID="cntBody" runat="server" ContentPlaceHolderID="plcContent">
    <cms:CustomTableForm ID="form" runat="server" IsLiveSite="false" />
</asp:Content>