<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ExternalSearch.ascx.cs"
    Inherits="CMSModules_ContactManagement_Controls_UI_ActivityDetails_ExternalSearch" %>
<%@ Register Src="~/CMSModules/ContactManagement/Controls/UI/ActivityDetails/DetailsList.ascx" TagName="DetailsList" TagPrefix="cms" %>
<cms:DetailsList runat="server" ID="ucDetails" />
