<%@ Control Language="C#" AutoEventWireup="true" Codebehind="LeaveGroup.ascx.cs" Inherits="CMSModules_ContactManagement_Controls_UI_ActivityDetails_LeaveGroup" %>
<%@ Register Src="~/CMSModules/ContactManagement/Controls/UI/ActivityDetails/JoinGroup.ascx" TagName="JoinGroupDetail" TagPrefix="cms" %>
<cms:JoinGroupDetail runat="server" ID="uc" />
