<%@ Control Language="C#" AutoEventWireup="true" Codebehind="UserContributionDelete.ascx.cs" Inherits="CMSModules_ContactManagement_Controls_UI_ActivityDetails_UserContributionDelete" %>
<%@ Register Src="~/CMSModules/ContactManagement/Controls/UI/ActivityDetails/UserContribution.ascx" TagName="UserContribution" TagPrefix="cms" %>
<cms:UserContribution runat="server" ID="uc" />
