<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Content_CMSDesk_NotAllowed"
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" Title="Content - Not allowed" Codebehind="NotAllowed.aspx.cs" %>

<asp:Content ContentPlaceHolderID="plcContent" runat="server">
</asp:Content>