<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSApp.CRC.webparts.ArchiveFilter" EnableViewState="false"
    Codebehind="ArchiveFilter.ascx.cs" %>
<cms:QueryRepeaterWithEffect id="repItems" runat="server" EnableViewState="False" />
