﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ChildNodeList.ascx.cs" Inherits="CMSApp.CRC.webparts.ChildNodeList" EnableViewState="false" %>
<cms:CMSRepeater runat="server" ID="rptChildNodes" EnableViewState="False"/>