<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_CRC_webparts_CRCBreadcrumbs" Codebehind="/CRC/webparts/CRCBreadcrumbs.ascx.cs" %>
<cms:CMSBreadCrumbs ID="bcElem" runat="server" EnableViewState="false" />
