<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_crc_webparts_PhotoListing" CodeBehind="~/CMSWebParts/crc/webparts/PhotoListing.ascx.cs" %>
<asp:PlaceHolder runat="server" EnableViewState="false">
    <div data-mm-photo-listing
        data-culture='<%= CMS.DocumentEngine.DocumentContext.CurrentDocumentCulture.CultureCode %>'
        data-form-title='<%= ValidationHelper.GetString(GetValue("FormTitle"), "") %>'
        data-form-description='<%= ValidationHelper.GetString(GetValue("FormDescription"),"") %>'
        data-form-footer-description='<%= ValidationHelper.GetString(GetValue("FormFooterDescription"),"") %>'
        data-form-submit-text='<%= ValidationHelper.GetString(GetValue("FormSubmitText"),"") %>'
        data-form-success-message='<%= ValidationHelper.GetString(GetValue("FormSuccessMessage"),"") %>'
        data-name-label='<%= ValidationHelper.GetString(GetValue("NameLabel"),"") %>'
        data-name-placeholder='<%= ValidationHelper.GetString(GetValue("NamePlaceholder"),"") %>'
        data-name-error='<%= ValidationHelper.GetString(GetValue("NameFieldError"),"") %>'
        data-email-label='<%= ValidationHelper.GetString(GetValue("EmailLabel"),"") %>'
        data-email-placeholder='<%= ValidationHelper.GetString(GetValue("EmailPlaceholder"),"") %>'
        data-email-error='<%= ValidationHelper.GetString(GetValue("EmailFieldError"),"") %>'
        data-publication-label='<%= ValidationHelper.GetString(GetValue("PublicationLabel"),"") %>'
        data-publication-placeholder='<%= ValidationHelper.GetString(GetValue("PublicationPlaceholder"),"")%>'
        data-publication-error='<%= ValidationHelper.GetString(GetValue("PublicationFieldError"),"") %>'
        data-filter-button-text='<%= ValidationHelper.GetString(GetValue("FilterButtonText"),"")%>'
        data-category-label='<%= ValidationHelper.GetString(GetValue("CategoriesTitle"),"") %>'
        data-category-placeholder='<%= ValidationHelper.GetString(GetValue("CategoriesPlaceholder"),"") %>'
        data-region-label='<%= ValidationHelper.GetString(GetValue("RegionsTitle"),"") %>'
        data-region-placeholder='<%= ValidationHelper.GetString(GetValue("RegionsPlaceholder"),"") %>'
        data-page-size='<%= ValidationHelper.GetString(GetValue("PageSize"),"")%>'
        data-show-more-text='<%= ValidationHelper.GetString(GetValue("ShowMoreText"), "") %>'
        data-show-less-text='<%= ValidationHelper.GetString(GetValue("ShowLessText"), "") %>'
        data-photo-credits-title='<%= ValidationHelper.GetString(GetValue("PhotoCreditsTitle"), "") %>'
        data-download-photo-title='<%= ValidationHelper.GetString(GetValue("DownloadPhotoTitle"), "") %>'
        data-tags-title='<%= ValidationHelper.GetString(GetValue("TagsTitle"), "") %>'
        data-fill-form-title='<%= ValidationHelper.GetString(GetValue("FillForm"), "") %>'
        data-high-res='<%= ValidationHelper.GetString(GetValue("HighResTitle"), "") %>'
        data-low-res='<%= ValidationHelper.GetString(GetValue("LowResTitle"), "") %>'
    />
</asp:PlaceHolder>
