﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="RegionFilter.ascx.cs" Inherits="CMSApp.CRC.webparts.RegionFilter" EnableViewState="false" %>
<asp:Label ID="lblInfo" runat="server" Visible="false" CssClass="InfoLabel" />
<%--<a href="<%# CMSApp.CRC.TransformationHelper.getCultureDocumentUrl(DocumentListUrl) %>"><%# ResHelper.GetString("CRC.AllRegions") %></a><br/>--%>
<cms:BasicRepeater ID="rptCategoryList" runat="server">
</cms:BasicRepeater>
<asp:Literal ID="ltlList" runat="server"></asp:Literal>