<%@ Control Language="C#" AutoEventWireup="true" Inherits="crc_webparts_RemoveHistory" CodeBehind="~/crc/webparts/RemoveHistory.ascx.cs" %>
<h1>Remove History</h1>
<p>
<asp:Button runat="server" Text="Delete Document History" OnClick="DeleteDocumentHistory_Click" />
<%--<asp:Button runat="server" Text="Delete Object History" OnClick="DeleteObjectHistory_Click" />--%>
</p>