<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSApp.CRC.webparts.TwitterFeed" EnableViewState="false" CodeBehind="TwitterFeed.ascx.cs" %>
<header class="twitter-widget-header">
    <h3 class="h2">Twitter</h3> 
    <a href="https://twitter.com/<%# Username %>" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @<%# Username %></a>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
</header>

<div class="twitter-widget twtr-tweets"></div>
<hr />
