﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="OtherMenu.ascx.cs" Inherits="CMSAdminControls_UI_UniMenu_OnSiteEdit_OtherMenu" %>
<%@ Register Src="~/CMSAdminControls/UI/UniMenu/UniMenuButtons.ascx" TagName="UniMenuButtons"
    TagPrefix="cms" %>
<div class="ActionButtons">
    <cms:UniMenuButtons ID="otherMenu" ShortID="om" runat="server" EnableViewState="false" />
</div>
