<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSAdminControls_ContentRating_Controls_Stars" Codebehind="Stars.ascx.cs" %>
<ajaxToolkit:Rating ID="elemRating" runat="server"
    StarCssClass="rating-star cms-icon-80"
    WaitingStarCssClass="icon-star-full saved-rating-star"
    FilledStarCssClass="icon-star-full"
    EmptyStarCssClass="icon-star-empty"
    />
