﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="Documents.ascx.cs" Inherits="CMSModules_AdminControls_Controls_Documents_Documents" %>
<%@ Register Src="~/CMSAdminControls/UI/UniGrid/UniGrid.ascx" TagName="UniGrid" TagPrefix="cms" %>
<cms:UniGrid ID="gridElem" runat="server" OrderBy="DocumentName" ShortID="g" />
