<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Reporting_Value"
    Codebehind="~/CMSWebParts/Reporting/Value.ascx.cs" %>
<%@ Register Src="~/CMSModules/Reporting/Controls/ReportValue.ascx" TagName="ReportValue"
    TagPrefix="cms" %>
<cms:ReportValue runat="server" ID="ucValue" />
