<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_ImportExport_Controls_Import_Site_board_board" Codebehind="board_board.ascx.cs" %>
<asp:Panel runat="server" ID="pnlCheck" CssClass="wizard-section" BackColor="transparent">
    <cms:CMSCheckBox ID="chkObject" runat="server" Visible="false" />
</asp:Panel>
