﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="cms_pagetemplate.ascx.cs" Inherits="CMSModules_ImportExport_Controls_Import_Site_cms_pagetemplate" %>
<asp:Panel runat="server" ID="pnlCheck" CssClass="wizard-section">
    <cms:CMSCheckBox ID="chkVariants" runat="server" Visible="false" />
</asp:Panel>
