<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Blogs_BlogPostUnsubscription" Codebehind="~/CMSWebparts/Blogs/BlogPostUnsubscription.ascx.cs" %>
<%@ Register Src="~/CMSModules/Blogs/Controls/Unsubscription.ascx" TagName="Unsubscription"
    TagPrefix="cms" %>
<cms:Unsubscription runat="server" ID="unsubscription" />