<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_CustomTables_CustomTableDataSource" Codebehind="~/CMSWebParts/CustomTables/CustomTableDataSource.ascx.cs" %>
    
<cms:CustomTableDataSource ID="srcTables" runat="server" />
