﻿<%@ Page Language="C#" AutoEventWireup="true" Codebehind="UIElementControlPage.aspx.cs"
    Theme="Default" Inherits="CMSModules_AdminControls_Pages_UIElementControlPage"
    MasterPageFile="~/CMSMasterPages/UI/EmptyPage.master" %>

<asp:Content runat="server" ID="pnlContentWrapper" ContentPlaceHolderID="plcContent">
    <asp:PlaceHolder runat="server" ID="pnlControl" />
</asp:Content>
