@import '_settings.scss';

:local(.tag) {
  border-radius: 100px;
  background-color: #ebebeb;
  padding: 5px 10px;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;

  span {
  overflow-wrap: break-word;
    color: #383838;
  }

  &:hover {
    text-decoration: none;
  }

  // @media #{$medium-up} {
  //   margin-right: 15px;
  // }
}

:local(.text) {
  color: $primary-color;
  font-size: 11px;
  font-weight: bold;
  line-height: 11px;
  padding-right: 5px;
}

:local(.cross) {
  height: 12px;
  width: 10px;
  color: #383838;
  font-size: 12px !important;
  line-height: 12px !important;
}

:local(.list) {
  margin: 0;
  padding: 0;
  display: inline;

  li {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    // padding-right: 5px;
    padding-bottom: 0;
    list-style: none;
  }
}