﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="DiscountFilter.ascx.cs" Inherits="CMSModules_Ecommerce_Controls_Filters_DiscountFilter" %>

<cms:CMSDropDownList runat="server" ID="drpStatus" UseResourceStrings="true" CssClass="DropDownField" EnableViewState="false" />
