﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.Controls.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.Controls" Assembly="CMS.Controls" %><a href="<%# Eval("NodeAliasPath") %>"><%# Eval("Title") %></a>
<p class="posted">Posted on <%# FormatDateTime(Eval("ReleaseDate"), "dd MMMM yyyy")%></p>