<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSModules/AdminControls/Controls/UIControls/CustomControl.ascx.cs" Inherits="CMSModules_AdminControls_Controls_UIControls_CustomControl" %>
<asp:Label ID="lblError" runat="server" EnableViewState="false" Visible="false" />