<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSModules/AdminControls/Controls/UIControls/DisabledModuleInfo.ascx.cs"
    Inherits="CMSModules_AdminControls_Controls_UIControls_DisabledModuleInfo" %>
<%@ Register Src="~/CMSAdminControls/Basic/DisabledModuleInfo.ascx" TagPrefix="cms"
    TagName="DM" %>
<cms:DM runat="server" ID="dModule" />
