<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSModules/AdminControls/Controls/UIControls/HeaderActions.ascx.cs"
    Inherits="CMSModules_AdminControls_Controls_UIControls_HeaderActions" %>
<%@ Register Src="~/CMSAdminControls/UI/PageElements/HeaderActions.ascx" TagName="HeaderActions"
    TagPrefix="cms" %>
<cms:HeaderActions runat="server" ID="headerElem" PanelCssClass="cms-edit-menu" UseSmallIcons="true" IsLiveSite="false" />
