<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSModules/AdminControls/Controls/UIControls/MessagesPlaceholder.ascx.cs"
    Inherits="CMSModules_AdminControls_Controls_UIControls_MessagesPlaceholder" %>
<cms:MessagesPlaceHolder ID="plcMess" runat="server" />