<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSModules/AdminControls/Controls/UIControls/MetaFileList.ascx.cs"
    Inherits="CMSModules_AdminControls_Controls_UIControls_MetaFileList" %>
<%@ Register Src="~/CMSModules/AdminControls/Controls/MetaFiles/FileList.ascx" TagPrefix="cms" TagName="FileList" %>

<cms:FileList runat="server" id="elemFileList" />
