<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSModules/AdminControls/Controls/UIControls/ObjectEditPanel.ascx.cs"
    Inherits="CMSModules_AdminControls_Controls_UIControls_ObjectEditPanel" %>
<%@ Register Src="~/CMSModules/Objects/Controls/Locking/ObjectEditPanel.ascx" TagName="ObjectEditPanel"
    TagPrefix="cms" %>
<cms:ObjectEditPanel runat="server" ID="EditPanel" IsLiveSite="false" />
