<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSModules/AdminControls/Controls/UIControls/Text.ascx.cs"
    Inherits="CMSModules_AdminControls_Controls_UIControls_Text" %>
<asp:Literal ID="ltlText" runat="server" EnableViewState="false" />