<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSModules/AdminControls/Controls/UIControls/WebPartSystemProperties.ascx.cs"
    Inherits="CMSModules_AdminControls_Controls_UIControls_WebPartSystemProperties" %>
<%@ Register Src="~/CMSModules/AdminControls/Controls/Class/FieldEditor/FieldEditor.ascx"
    TagName="FieldEditor" TagPrefix="cms" %>
<cms:FieldEditor ID="fieldEditor" runat="server" IsLiveSite="false" />
