h1, h2, h3, h4, h5, h6 { color: #414244; border-bottom: 1px solid #bcbcbc; padding-bottom: 20px; margin-bottom: 30px; font-weight: normal; }
h1 { font-size: 2em; font-weight: bold; }
h2 { font-size: 1.5em; }
h4 { font-size: 1.3em; border-bottom: none; padding-bottom: 0; margin-bottom: 20px;  }
p { color: #414244; font-size: 1em; line-height: 1.3em; }

.row { display: block; width: 100%; overflow: hidden; padding-top: 45px; }

.tax-calculator { padding: 0 100px; }
.tax-calculator aside {background: #f5f5f5; padding: 20px; margin: 0; display: inline-block; width: 88%; }
.tax-calculator aside { display: block; overflow: hidden; }
.tax-calculator aside dl { display: block; width: 100%; overflow: hidden; margin-bottom: 20px;}
.tax-calculator aside dl.top-border { border-top: 1px solid #bcbcbc; padding-top: 20px;}
.tax-calculator aside dt { float: left; width: 60%; font-size: 0.9em; font-weight: normal;}
.tax-calculator aside dd { float: right; width: 35%; font-size: 0.9em; font-weight: normal; text-align: right; }
.tax-calculator input[type=text] { width: 375px; display: block; padding: 3px; margin-bottom: 18px; }
.tax-calculator input[type=button] { background: red; color: white; text-transform: uppercase; border: none; padding: 5px 8px;}
.tax-calculator input[type=button]:hover { background: #cc0000;}
.tax-calculator input[type=radio] { margin-right: 5px; }
.tax-calculator select { width: 385px; display: block; padding: 3px; margin-bottom: 18px; }
.tax-calculator label { color: #000; font-size: 1em; display: block; margin-bottom: 10px; }
.tax-calculator .radio-buttons-container { margin-left: 190px; margin-top: -25px;}
.tax-calculator .donate-now { border: 1px solid red; padding: 20px; font-size: 1.2em; }
.tax-calculator .donate-now p { font-weight: bold; }
.tax-calculator .donate-now > a { margin: 15px auto 0px; width: auto; display: table; background: red; color: white; text-transform: uppercase; text-decoration: none; padding: 5px 8px; font-size: 0.85em; }
.tax-calculator .donate-now > a:hover {background: #cc0000; }
.tax-calculator .footnote { border-top: 1px solid #bcbcbc; margin-top: 50px; padding-top: 50px; font-size: 0.8em; }

.donation-info { float: left; width: 455px;}
.tax-credit-info { float: left; width: 315px;}

.first-time-donor { float: left; width: 455px;}
.bonus-credit-info { float: left; width: 315px;}

