<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_PortalEngine_UI_WebParts_GetWebPartProperties" Codebehind="GetWebPartProperties.aspx.cs" %>

<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title>Webpart properties export</title>
</head>
<body>
    <form id="form1" runat="server">
    </form>
</body>
</html>
