<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Localization_languageselectionwithflags"  Codebehind="~/CMSWebParts/Localization/languageselectionwithflags.ascx.cs" %>

<asp:Literal runat="server" ID="ltrDivOpen" EnableViewState="false" />
<asp:Literal ID="ltlHyperlinks" runat="server" EnableViewState="false" />
<asp:Literal runat="server" ID="ltrDivClose" EnableViewState="false" />
