<%@ Page Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Newsletters_CMSPages_GetNewsletterIssue" Codebehind="GetNewsletterIssue.aspx.cs" %>

<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title>Untitled Page</title>
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
</head>
<body>
    <form id="form1" runat="server">
        <asp:Label runat="server" ID="lblIssueText" />
    </form>
</body>
</html>
