<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Ecommerce_Products_ProductFilter" Codebehind="~/CMSWebParts/Ecommerce/Products/ProductFilter.ascx.cs" %>
<%@ Register Src="~/CMSModules/Ecommerce/Controls/Filters/ProductFilter.ascx" TagName="ProductFilter"
    TagPrefix="cms" %>
<cms:ProductFilter ID="filterElem" runat="server" />
