﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="OptionCategorySelectionControlSelector.ascx.cs"
    Inherits="CMSModules_Ecommerce_FormControls_OptionCategorySelectionControlSelector" %>

<cms:CMSDropDownList ID="drpSelectionTypeEnum" runat="server" CssClass="DropDownField" EnableViewState="true" />

