﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SelectProductsTreeMode.ascx.cs"
    Inherits="CMSModules_Ecommerce_FormControls_SelectProductsTreeMode" %>

<cms:CMSCheckBox ID="chkTreeMode" runat="server" AutoPostBack="true" CssClass="checkbox-no-label"/>

