﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="RadioButtonsControl.ascx.cs"
    Inherits="CMSFormControls_Basic_RadioButtonsControl" %>
<cms:CMSRadioButtonList ID="list" runat="server" />
