<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SelectCategory.ascx.cs"
    Inherits="CMSApp.CRC.modules.Properties.Controls.CMSModules_Categories_Controls_SelectCategory" %>
<cms:CMSDropDownList runat="server" ID="drpCategories" CssClass="DropDownField" />
