﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ChatUserIsOnlineFilter.ascx.cs" 
Inherits="CMSModules_Chat_Controls_UI_ChatUser_ChatUserIsOnlineFilter" %>

<cms:CMSDropDownList ID="drpIsOnline" runat="server" CssClass="ContentDropdown" />
