@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
/*Define Variables*/
/*Define Variables End*/
#personal-disaster {
  width: 970px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: 'Open Sans', sans-serif; 
  margin:0 auto;
  padding:0;
}
#personal-disaster ul li { 
    list-style: none;  
    background:none; 
}
  #personal-disaster * {
    box-sizing: border-box; }
  #personal-disaster h1 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 54px;
    font-weight: bold !important; }
  #personal-disaster h2 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 40px;
    font-weight: bold  !important;
    color: #d61f26; }
  #personal-disaster h3 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    font-size: 19px;
    line-height: 23px;
    font-weight: 900 !important;
    color: #d61f26; }
  #personal-disaster strong {
    margin-bottom: 25px;
    display: inline-block;
    font-weight:bold;
    font-size:17px; }
  #personal-disaster a {
    color: #d22020;
    text-decoration: none; }
#personal-disaster a:hover { 
    text-decoration:underline;
}
  #personal-disaster p {
    margin: 0 0 15px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; }
    #personal-disaster p.small {
      color: #d1d3d4;
      font-size: 12px; }
    #personal-disaster p a {
      font-weight: bold;
      color: #d61f26; }
  #personal-disaster ul {
    margin: 0; }
    #personal-disaster ol {
    padding-left:20px;
    font-size:17px;}
  #personal-disaster .stats {
    color: #abacad !important;
    font-size: 48px;
    line-height: 54px;
    font-weight: bold;
    margin: 0 0 0px 0; }
  #personal-disaster .header {
    text-align: center; }
    #personal-disaster .header h1, #personal-disaster .header p, #personal-disaster .header strong {
      color: #fff; }
    #personal-disaster .header strong {
      margin-bottom: 10px; }
    #personal-disaster .header > div {
      background: url("/CRC/infographics/images/personal_disaster/header-bg.jpg"); 
      padding-top: 10px; }
    #personal-disaster .header .roof {
      background: url("/CRC/infographics/images/personal_disaster/roof_bg.png") center center no-repeat;
      height: 160px;
      margin-top: 5px;
      background-size: contain; }
  #personal-disaster .main {
    border-left: 15px solid #abacad;
    border-right: 15px solid #abacad; }
    #personal-disaster .main strong, #personal-disaster .main p {
      color: #747678; }
    #personal-disaster .main .across-canada {
      padding: 30px 0;
      text-align: center;
      border-bottom: 15px solid #abacad; }
      #personal-disaster .main .across-canada li {
        padding-bottom: 0px; }
    #personal-disaster .main .in-the-home {
      text-align: center;
      padding: 30px 0 0 0;
      border-bottom: 15px solid #abacad; }
      #personal-disaster .main .in-the-home .stats-wrap p {
        margin: 0 !important; }
      #personal-disaster .main .in-the-home .stats-wrap:first-child, #personal-disaster .main .in-the-home .stats-wrap:last-child {
        margin-top: 8px; }
      #personal-disaster .main .in-the-home .causes {
        background: #e3f1f5;
        padding: 30px 0 10px 0;
        margin-top: 10px; }
        #personal-disaster .main .in-the-home .causes ul {
          margin-top: 20px; }
          #personal-disaster .main .in-the-home .causes ul li {
            width: 25%;
            min-height: 150px; }
            #personal-disaster .main .in-the-home .causes ul li P {
              margin-bottom: 0px; }
            #personal-disaster .main .in-the-home .causes ul li:nth-child(2) img {
              padding-left: 27px; }
            #personal-disaster .main .in-the-home .causes ul li:nth-child(3) img {
              padding-left: 10px; }
            #personal-disaster .main .in-the-home .causes ul li:nth-child(4) img {
              padding-left: 25px; }
            #personal-disaster .main .in-the-home .causes ul li:nth-child(5) img {
              padding-left: 20px; }
            #personal-disaster .main .in-the-home .causes ul li:nth-child(6) img {
              padding-left: 35px; }
            #personal-disaster .main .in-the-home .causes ul li:nth-child(7) img {
              padding-left: 20px; }
            #personal-disaster .main .in-the-home .causes ul li:nth-child(8) img {
              padding-left: 20px; }
    #personal-disaster .main .protecting, #personal-disaster .main .respond {
      padding: 30px 0;
      text-align: center;
      border-bottom: 15px solid #abacad; }
      #personal-disaster .main .protecting h4, #personal-disaster .main .respond h4 {
        text-transform: uppercase;
        font-weight:bold !important;
      }
      #personal-disaster .main .protecting div ol, #personal-disaster .main .respond div ol {
        text-align: left;
        color: #d22020;
        font-weight: 900; }
        #personal-disaster .main .protecting div ol li, #personal-disaster .main .respond div ol li {
          margin-bottom: 5px; }
          #personal-disaster .main .protecting div ol li p, #personal-disaster .main .respond div ol li p {
            font-weight: normal;
            margin-bottom: 0px; }
      #personal-disaster .main .protecting div a.cta, #personal-disaster .main .respond div a.cta {
        text-align: left;
        display:block;
        font-weight: 900;
        font-size: 16px;
        padding-left: 12px; }
    #personal-disaster .main .respond {
      padding-bottom: 20px; }
      #personal-disaster .main .respond li {
        padding-bottom: 5px; }
        #personal-disaster .main .respond li img {
          min-height: 75px; }
        #personal-disaster .main .respond li.push-two {
          margin-left: 16.66667%; }
  #personal-disaster .footer {
    padding: 30px 0 10px 0;
    text-align: center;
    background: #004b6c; }
    #personal-disaster .footer h1, #personal-disaster .footer p, #personal-disaster .footer strong, #personal-disaster .footer a {
      color: #fff; }
    #personal-disaster .footer ul {
      display: block;
      max-width: 760px;
      width: 100%;
      padding-bottom:20px;
      margin: 0 auto; }
      #personal-disaster .footer ul li.food div {
        background: url("/CRC/infographics/images/personal_disaster/iebg_food.png") center center no-repeat ; }
      #personal-disaster .footer ul li.warmth div {
        background: url("/CRC/infographics/images/personal_disaster/iebg_warnth.png") center center no-repeat; }
      #personal-disaster .footer ul li.comfort div {
        background: url("/CRC/infographics/images/personal_disaster/iebg_comfort.png") center center no-repeat; }
      #personal-disaster .footer ul li.food div {
        background: url("/CRC/infographics/images/personal_disaster/food_bg.png") center 97px no-repeat rgba(255, 255, 255, 0.7); }
      #personal-disaster .footer ul li.warmth div {
        background: url("/CRC/infographics/images/personal_disaster/warmth_bg.png") center 120px no-repeat rgba(255, 255, 255, 0.7); }
      #personal-disaster .footer ul li.comfort div {
        background: url("/CRC/infographics/images/personal_disaster/comfort_bg.png") center 97px no-repeat rgba(255, 255, 255, 0.7); }
      #personal-disaster .footer ul li a {
        text-decoration: none; }
        #personal-disaster .footer ul li a div {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          padding-top: 30px;
          margin: 0 auto;
          transition: all ease .5s; }
          #personal-disaster .footer ul li a div p, #personal-disaster .footer ul li a div span {
            font-size: 24px;
            line-height: 24px;
            margin: 0;
            color: #004b6c;
            text-transform: uppercase; }
          #personal-disaster .footer ul li a div p {
            font-size: 30px; }
          #personal-disaster .footer ul li a div:hover {
            background-color: #fff; }
           #personal-disaster .footer ul li a div:hover {
            background-color: transparent \9; }

body.FRCA #personal-disaster .footer ul li a div p, body.FRCA #personal-disaster .footer ul li a div p { 
    font-size:20px
}

body.FRCA #personal-disaster h1 { 
    font-size:38px
}


/*Updated CSS for Footer Issue*/

.footer li > div{
  padding: 90px 0;
  border-radius: 140px;
  cursor: pointer;
  text-align: center;
  width: 200px;
  height: 200px;
  transition:background-color 0.3s ease;
  margin: 0 auto;
}

.footer li > div:hover{
  background-color: white !important;
}

.footer li > div a{
  padding:50px 28px 90px;
}

.footer li > div a span{
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  color: #004b6c;
  text-transform: uppercase;
  position: relative;
  top: -60px;
}

.footer li p a {
  font-size: 30px;
  position: relative;
  top:-60px;
  font-family: 'Open Sans', sans-serif !important;
  color: rgb(0, 75, 108) !important;
  font-weight: normal !important;
  text-transform: uppercase;
}