﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/CMSMasterPages/UI/Dialogs/ModalDialogPage.master" Codebehind="GooglePlusAccessTokenPage.aspx.cs" Inherits="CMSModules_SocialMedia_Pages_GooglePlusAccessTokenPage" Theme="Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="plcContent" runat="server">
    <cms:AlertLabel runat="server" ID="lblStatus" AlertType="Error" />
</asp:Content>
