﻿<%@ Page Title="LinkedIn Access Token" Language="C#" MasterPageFile="~/CMSMasterPages/UI/Dialogs/ModalDialogPage.master"
    AutoEventWireup="true" Inherits="CMSModules_SocialMedia_Pages_LinkedInAccessTokenPage"
    Theme="Default" Codebehind="LinkedInAccessTokenPage.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="plcContent" runat="server">
    <cms:AlertLabel runat="server" ID="lblStatus" AlertType="Error" />
</asp:Content>
