﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.Controls.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.Controls" Assembly="CMS.Controls" %><li>
  <a href="<%# CMSApp.CRC.TransformationHelper.GetBlogFilterPath("category", EvalText("CategoryName")) %>"><%# Eval("CategoryDisplayName") %></a>
</li>