<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Community_Groups_GroupsDataSource" Codebehind="~/CMSWebParts/Community/Groups/GroupsDataSource.ascx.cs" %>
<%@ Register TagPrefix="cms" Namespace="CMS.Community" Assembly="CMS.Community" %>
<cms:GroupsDataSource ID="srcGroups" runat="server" />
