﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TimelineCTADisplay.ascx.cs" Inherits="CMSApp.CRCTimeline.WebParts.TimelineCTADisplay" %>
<cms:CMSRepeater runat="server" ID="rptCTA" EnableViewState="False" TransformationName="crctimeline.GenericCTA.default" />