﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/DocumentWizard/DocumentWizardButton.ascx.cs" Inherits="CMSWebParts_DocumentWizard_DocumentWizardButton" %>
<%@ Register src="~/CMSAdminControls/UI/UniControls/UniButton.ascx" tagname="UniButton" tagprefix="cms" %>
<cms:UniButton runat="server" ID="btn" />

