@import '_settings.scss';

:local(.related-videos-container){
	padding-top: 30px;
	border-top: 1px solid #e0e0e0;
}

:local(.related-list){
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	margin: 0 -15px;
}

:local(.media-item) {
	width: 25%;

	@media #{$medium-only} {
		width: 50%;
	}

	@media #{$small-only} {
		width: 100%;
	}
}