<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Reporting_CMSPages_GetReportGraph"
    Codebehind="GetReportGraph.aspx.cs" %>

<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title>GetReportGraph</title>
</head>
<body>
    <form id="form1" runat="server">
    </form>
</body>
</html>
