<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSInlineControls_DocumentAttachments" Codebehind="DocumentAttachments.ascx.cs" %>
<%@ Register Src="~/CMSModules/Content/Controls/Attachments/DocumentAttachments/DocumentAttachments.ascx" TagName="DocumentAttachments"
    TagPrefix="cms" %>
<div>
    <cms:DocumentAttachments ID="ucAttachments" runat="server" />
</div>
