/* =============================================================================
   Bootstrap v2.0.4 using parts of 960 Grid (Oh, and Normalize.css too)
   ========================================================================== */

.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:28px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:hover,a:active{outline:0;}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{max-width:100%;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
#map_canvas img{max-width:none;}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;}
button,input{*overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
body{margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;line-height:18px;color:#333333;background-color:#ffffff;}
.row{margin-left:0;*zoom:1;}.row:before,.row:after{display:table;content:"";}
.row:after{clear:both;}
[class*="span"]{float:left;margin-left:10px;margin-right:10px;}
.container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{width:960px;}
.span1{width:60px;}
.span2{width:140px;}
.span3{width:220px;}
.span4{width:300px;}
.span5{width:380px;}
.span6{width:450px;}
.span7{width:540px;}
.span8{width:620px;}
.span9{width:700px;}
.span10{width:780px;}
.span11{width:860px;}
.span12{width:940px;}
.last { margin-right: 0 !important;}
.container{margin-right:auto;margin-left:auto;*zoom:1;}.container:before,.container:after{display:table;content:"";}
.container:after{clear:both;}
ul,ol{padding:0;margin:0 0 9px 25px;}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0;}
ul{list-style:disc;}
ol{list-style:decimal;}
li{line-height:18px;}
dl{margin-bottom:18px;}
dt,dd{line-height:18px;}
dt{font-weight:bold;line-height:17px;}
dd{margin-left:9px;}
.dl-horizontal dt{float:left;width:120px;clear:left;text-align:right;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.dl-horizontal dd{margin-left:130px;}
hr{margin:18px 0;border:0;border-top:1px solid #eeeeee;border-bottom:1px solid #ffffff; clear: both; }
strong{font-weight:bold;}
em{font-style:italic;}
.muted{color:#999999;}
abbr[title]{cursor:help;border-bottom:1px dotted #999999;}
abbr.initialism{font-size:90%;text-transform:uppercase;}
q:before,q:after,blockquote:before,blockquote:after{content:"";}
address{display:block;margin-bottom:18px;font-style:normal;line-height:18px;}
small{font-size:100%;}
cite{font-style:normal;}

/* =============================================================================
   HTML and Body
   ========================================================================== */

html { background-color: #c6c6c6; background: url('/RCCP/images//main_background.png') repeat-x #c6c6c6; }
body {
    width: 960px;
    margin: 0 auto;
    -webkit-box-shadow: 2px 10px  #888,  -2px 0 10px #888;   
    -moz-box-shadow: 2px 0 10px #888,  -2px 0 10px #888;   
    box-shadow: 2px 0 10px #888,  -2px 0 10px #888;
}

/* =============================================================================
   Tantalizing Typography
   ========================================================================== */

h1, h2, h3, h4, h5, h6, th { font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; text-rendering: optimizeLegibility; font-weight: 400; }
p, td, li, a, dd, dt, legend { font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; text-rendering: optimizeLegibility; font-weight: 400; }

h1, h2, h3, h4, h5, h6 { color: #111; line-height: 1.15em; }
a h1, a h2, a h3, a h4, a h5 { color: #d80019; }
h1 { font-size: 2.4em; margin: 0.4em 0 0.3em; }
h2 { font-size: 2.1em; margin: 0.4em 0 0.35em; }
h3 { font-size: 1.8em; margin: 0.4em 0 0.4em; }
h4 { font-size: 1.6em; margin: 0.4em 0 0.5em; }
h5 { font-size: 1.3em; margin: 0.4em 0 0.5em; }
h6 { font-size: 1em; margin: 0.4em 0 0.5em; font-weight: bold; text-transform: uppercase; color: #000;}
h4 + h6 { margin-top: 1.5em; }
p { line-height: 1.5; margin: 0; margin-bottom: 1em; padding-right: 0; font-size: 1em; font-weight: normal; color: #000; }
.light { font-weight: 300; }
.heavy { font-weight: 700; }
.serif { font-family: Georgia, "Times New Roman", Times, serif; }
.sans-serif { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.monospace { font-family: Menlo, Monaco, "Courier New", monospace; }
.fancy { color: #666; font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif; font-style: italic; font-weight: normal; }
.caps { font-variant: small-caps; letter-spacing: 1px; text-transform: lowercase; font-weight:bold; padding:0 2px; }
.hidden { display: none; visibility: hidden; }
.center { text-align: center; }
.small { font-size: 0.8em; }
.large { font-size: 1.2em; }
.hide { display: none; }
.quiet { color: #666; }
.loud { color: #000; }
.highlight { background: #ff0;}
.uppercase { text-transform: uppercase; }
.top { margin-top: 0; padding-top: 0; }
.bottom { margin-bottom: 0; padding-bottom: 0; }
.thin { font-weight: lighter; }
.letterpress { color: #333; text-shadow: 0 1px 0 #777, 0 -1px 0 #000; }
.embossed { text-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.75) }
.dropcap { font-size: 500%; line-height  :0.8em; margin-right :0.04em; margin-bottom:-0.15em; float:left; }
.quote { margin: 2% 10%; padding: 1% 3%; font-style: italic }
.quote:before {
    font-size: 1500%;
    font-family: Arial, serif;
    content: '\201c';
    position: relative;
    left: -15%;
    top: -1%;
    line-height: 0.7em;
    margin-bottom: -2em;
    color: #dddddd\0; /* hack for IE only */
    opacity: 0.1;
    float: left;
}

/* =============================================================================
   Teriffic Tables
   ========================================================================== */

table {width:100%;margin-bottom:18px;background-color:transparent;border-collapse:collapse;border-spacing:0;border:0;}
table th,table td{padding:4px 4px 4px 25px;line-height:18px;text-align:left;vertical-align:top;font-size:1em;}
table th{font-weight:bold;}
table thead th{vertical-align:bottom;}
table tbody tr:nth-child(odd) td,table tbody tr:nth-child(odd) th{background-color:#e5e5e5;}
table tbody tr:hover td,table tbody tr:hover th{background-color:#f5f5f5;}

/* =============================================================================
   Friendly Forms
   ========================================================================== */

/* Set overall font size */
form{margin:0;font-size: 13px !important;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;font-size:13px !important;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
.box-sizing{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.reset{margin:0;padding:0;border:0;outline:0;text-decoration:none;font-size:100%;list-style:none;background:none;-moz-box-shadow:0,transparent 0 0 0;-webkit-box-shadow:0,transparent 0 0 0;box-shadow:0,transparent 0 0 0;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.no-user-select{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.ie-refresh{content:".";line-height:0;text-indent:-9999px;}
.ui-input{font-family:sans-serif;height:33px;line-height:33px;padding:0 .8em;}
.responsiveWidth{width:87.54863813229572% !important;}
.ideal-field-width{width:469px;}
.ideal-form{-webkit-transition:height 1s ease-in-out;-moz-transition:height 1s ease-in-out;-ms-transition:height 1s ease-in-out;-o-transition:height 1s ease-in-out;font-size:15px;font-family:sans-serif;line-height:22.5px;background:#ffffff;}.ideal-form *{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;border:0;outline:0;text-decoration:none;font-size:100%;list-style:none;background:none;-moz-box-shadow:0,transparent 0 0 0;-webkit-box-shadow:0,transparent 0 0 0;box-shadow:0,transparent 0 0 0;}
.ideal-form:before,.ideal-form:after{content:"";display:table;}
.ideal-form:after{clear:both;}
.ideal-form .ideal-wrap{float:left;clear:both;position:relative;margin:.5em 0;}
.ideal-form .ideal-full-width{width:100%;}
.ideal-form .ideal-wrap:first-child{margin-top:0;}
.ideal-form .ideal-label,.ideal-form .ideal-field{float:left;position:relative;}
.ideal-form .ideal-label{top:.4em;max-width:auto;margin:0 1.5em 0 0;text-align:left;color:#222222;}
/* Set Padding */
.ideal-form input[type="text"],.ideal-form input[type="password"],.ideal-form input[type="email"],.ideal-form input[type="number"],.ideal-form input[type="search"],.ideal-form input[type="url"],.ideal-form input[type="tel"],.ideal-form textarea,.ideal-form select{font-size:14px;font-family:sans-serif;padding:6px;width:225px;border:1px solid #aaaaaa;background:#ffffff;outline:0;color:#666666;border-radius:3px;-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.15),transparent 0 0 0;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.15),transparent 0 0 0;box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.15),transparent 0 0 0;-webkit-transition:background 0.3s ease-in-out;-moz-transition:background 0.3s ease-in-out;-ms-transition:background 0.3s ease-in-out;-o-transition:background 0.3s ease-in-out;}
.ideal-form textarea{resize:none;}
.ideal-form input[type="radio"],.ideal-form input[type="checkbox"]{margin-right:.5em;}
.ideal-form button,.ideal-form input[type="reset"],.ideal-form input[type="submit"]{font-family:sans-serif;height:33px;line-height:33px;padding:0 .8em;padding:0 1.2em;margin-right:1em;margin-bottom:1em;}
.ideal-form button,.ideal-form select,.ideal-form input[type="reset"],.ideal-form input[type="submit"]{font-size:85%;}
.ideal-form .ideal-heading{display:block;position:relative;background-color:#ffffff;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));background-image:-webkit-linear-gradient(#ffffff, #ffffff);background-image:-moz-linear-gradient(#ffffff, #ffffff);background-image:-o-linear-gradient(top, #ffffff, #ffffff);filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#ffffff', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#ffffff', GradientType=0))";-moz-box-shadow:inset #ffffff 0 1px 0,transparent 0 0 0;-webkit-box-shadow:inset #ffffff 0 1px 0,transparent 0 0 0;box-shadow:inset #ffffff 0 1px 0,transparent 0 0 0;border-color:#aaaaaa;border-style:solid;border-width:0 0 1px 0;color:#1f4f73;margin:2em 0 1.2em 0;padding:0 0 15px 0;border-radius:0;font-family:sans-serif;}.ideal-form .ideal-heading h1,.ideal-form .ideal-heading h2,.ideal-form .ideal-heading h3,.ideal-form .ideal-heading h4,.ideal-form .ideal-heading h5,.ideal-form .ideal-heading h6{display:block;margin:0;padding:0 0 .5em 0;font-size:130%;}
.ideal-form .ideal-heading p{margin:0;padding:0;}
.ideal-form .ideal-heading h1,.ideal-form .ideal-heading h2,.ideal-form .ideal-heading h3,.ideal-form .ideal-heading h4,.ideal-form .ideal-heading h5,.ideal-form .ideal-heading h6,.ideal-form .ideal-heading p{padding-left:0;padding-right:15px;}
.ideal-form .ideal-heading.first-child{margin-top:0;}
.ideal-form hr{border:0;}
.ideal-form .ideal-separator{margin:2em 0 1.2em 0;border-color:#aaaaaa;border-style:solid;border-width:0 0 1px 0;}
.ideal-form .ideal-icon{position:absolute;top:50%;margin-top:-8px;right:-24px;height:16px;width:16px;}
.ideal-form textarea~.ideal-icon-valid,.ideal-form textarea~.ideal-icon-invalid,.ideal-form .ideal-select~.ideal-icon-valid,.ideal-form .ideal-select~.ideal-icon-invalid,.ideal-form .ideal-radiocheck .ideal-icon-valid,.ideal-form .ideal-radiocheck .ideal-icon-invalid{top:7.5px;margin-top:0;}
.ideal-form .ideal-icon-valid{background:url("/RCCP/images//valid.png") no-repeat;}
.ideal-form .ideal-icon-invalid{background:url("/RCCP/images//invalid.png") no-repeat;cursor:pointer;}
.ideal-form .invalid input[type="text"],.ideal-form .invalid input[type="password"],.ideal-form .invalid input[type="email"],.ideal-form .invalid input[type="number"],.ideal-form .invalid input[type="search"],.ideal-form .invalid input[type="url"],.ideal-form .invalid input[type="tel"],.ideal-form .invalid textarea,.ideal-form .invalid select{background:#faebeb;color:#8f2424;border:1px solid #d14848;}
.ideal-form .valid input[type="text"],.ideal-form .valid input[type="password"],.ideal-form .valid input[type="email"],.ideal-form .valid input[type="number"],.ideal-form .valid input[type="search"],.ideal-form .valid input[type="url"],.ideal-form .valid input[type="tel"],.ideal-form .valid textarea,.ideal-form .valid select{background:#edf7fc;color:#1a719d;border:1px solid #3ea9df;}
.ideal-form .valid textarea,.ideal-form .invalid textarea{color:#666666;background:#ffffff;}
.ideal-form .ideal-error{position:absolute;width:187px;right:-219px;margin-right:-10px;top:15px;z-index:999;padding:.8em 1.2em;font-size:85%;background-color:#1f4f73;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#1f4f73), to(#2a6b9b));background-image:-webkit-linear-gradient(#1f4f73, #2a6b9b);background-image:-moz-linear-gradient(#1f4f73, #2a6b9b);background-image:-o-linear-gradient(top, #1f4f73, #2a6b9b);filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#1f4f73', EndColorStr='#2a6b9b', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#1f4f73', EndColorStr='#2a6b9b', GradientType=0))";color:#f9fcfe;border-bottom:1px solid #1f4f73;-moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.3),transparent 0 0 0;-webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.3),transparent 0 0 0;box-shadow:0px 1px 1px rgba(0, 0, 0, 0.3),transparent 0 0 0;border-radius:0 3px 3px 3px;}
.ideal-form .ideal-error:after{content:"";position:absolute;top:0;left:-18px;border-style:solid;border-width:0 10px 10px 10px;border-color:transparent;border-right-color:#1f4f73;}
.ideal-form .ideal-full-width .ideal-error{right:0;margin-right:20px;border-radius:3px 0 3px 3px;}.ideal-form .ideal-full-width .ideal-error:after{left:100%;margin-left:-1px;border-color:transparent;border-left-color:#1f4f73;}
.ideal-form .ideal-error.hidden{visibility:hidden;}
.ideal-form.stack .ideal-field,.ideal-form.stack .ideal-full-width,.ideal-form.stack .ideal-heading,.ideal-form.stack .ideal-separator,.ideal-form.stack .ideal-error{width:87.54863813229572% !important;}
.ideal-form.stack .ideal-wrap,.ideal-form.stack input[type="text"],.ideal-form.stack input[type="password"],.ideal-form.stack input[type="email"],.ideal-form.stack input[type="number"],.ideal-form.stack input[type="search"],.ideal-form.stack input[type="url"],.ideal-form.stack input[type="tel"],.ideal-form.stack textarea,.ideal-form.stack select{width:100% !important;max-width:337.5px;}
.ideal-form.stack .ideal-label{text-align:left;padding-bottom:.5em;top:0;}
.ideal-form.stack .ideal-error{position:relative;float:left;clear:left;right:0;margin-right:0;top:100%;margin-top:.3em;border-radius:3px;}
.ideal-form.stack .ideal-error:after{content:".";line-height:0;text-indent:-9999px;position:absolute;top:0;margin-top:-18px;left:50%;z-index:1;margin-left:-10px;border-style:solid;border-width:10px;border-color:transparent transparent #1f4f73 transparent;}
.ideal-form.stack .ideal-error.hidden{position:absolute;}
.ideal-tabs-content:before,.ideal-tabs-content:after{content:"";display:table;}
.ideal-tabs-content:after{clear:both;}
.ideal-tabs{}.ideal-tabs .arrow{content:'';position:absolute;z-index:1;right:-30.5px;border-width:19px 19px 19px 12.666666666666666px;border-style:solid;border-color:transparent transparent transparent #e6e8e8;}
.ideal-tabs .separator{content:'';position:absolute;z-index:1;right:-30.5px;border-width:19px 19px 19px 12.666666666666666px;border-style:solid;border-color:transparent transparent transparent #e6e8e8;border-left-color:#b1b7b7;right:-31.5px;}
.ideal-tabs .ideal-tabs-wrap{overflow:hidden;margin-bottom:2em;border-radius:3px;background-color:#ffffff;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e8e8));background-image:-webkit-linear-gradient(#ffffff, #e6e8e8);background-image:-moz-linear-gradient(#ffffff, #e6e8e8);background-image:-o-linear-gradient(top, #ffffff, #e6e8e8);filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#e6e8e8', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#e6e8e8', GradientType=0))";-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.08),inset 0 1px 0 rgba(255, 255, 255, 0.5);-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.08),inset 0 1px 0 rgba(255, 255, 255, 0.5);box-shadow:0 1px 1px rgba(0, 0, 0, 0.08),inset 0 1px 0 rgba(255, 255, 255, 0.5);border:1px solid #b1b7b7;border-bottom-color:#969f9f;border-radius:3px;color:#000000;}
.ideal-tabs .ideal-tabs-tab{float:left;position:relative;padding:0 1.5em 0 2.5em;height:37.5px;line-height:37.5px;cursor:pointer;background:#e6e8e8;color:#4b5151;font-size:85%;-webkit-transition:padding-right 0.15s ease-in-out;-moz-transition:padding-right 0.15s ease-in-out;-ms-transition:padding-right 0.15s ease-in-out;-o-transition:padding-right 0.15s ease-in-out;}.ideal-tabs .ideal-tabs-tab:first-child{padding-left:1.5em;border-radius:3px 0 0 3px;}
.ideal-tabs .ideal-tabs-tab:after{content:'';position:absolute;z-index:1;right:-30.5px;border-width:19px 19px 19px 12.666666666666666px;border-style:solid;border-color:transparent transparent transparent #e6e8e8;}
.ideal-tabs .ideal-tabs-tab:before{content:'';position:absolute;z-index:1;right:-30.5px;border-width:19px 19px 19px 12.666666666666666px;border-style:solid;border-color:transparent transparent transparent #e6e8e8;border-left-color:#b1b7b7;right:-31.5px;}
.ideal-tabs .ideal-tabs-tab span{position:relative;padding-left:2em;margin-left:-2em;display:inline-block;height:100%;z-index:2;}
.ideal-tabs .ideal-tabs-tab-active{color:#2191c9;background:#ffffff;font-weight:bold;padding-right:3.5em;cursor:default;}.ideal-tabs .ideal-tabs-tab-active:hover{text-decoration:none;}
.ideal-tabs .ideal-tabs-tab-active:after{border-left-color:#ffffff;}
.ideal-tabs .ideal-tabs-tab-counter{display:none;}
.ideal-tabs .ideal-tabs-tab-active .ideal-tabs-tab-counter{display:block;position:absolute;right:9.5px;top:50%;margin-top:-9.5px;height:19px;width:19px;border:1px solid #d14848;color:#d14848;line-height:19px;text-align:center;font-size:10.5px;font-style:normal;border-radius:10em;}
.ideal-tabs .ideal-tabs-tab-active .ideal-tabs-tab-counter-zero{color:#2191c9;border-color:#2191c9;}
.ideal-form.stack .ideal-tabs .ideal-tabs-wrap{width:87.54863813229572% !important;background:none;}
.ideal-form.stack .ideal-tabs .ideal-tabs-tab{clear:both;width:100%;padding-left:1.5em;border-bottom:1px solid #969f9f;border-top:1px solid white;}.ideal-form.stack .ideal-tabs .ideal-tabs-tab:after,.ideal-form.stack .ideal-tabs .ideal-tabs-tab:before{border:0;}
.ideal-form.stack .ideal-tabs .ideal-tabs-tab:first-child{border-radius:3px 3px 0 0;}
.ideal-form.stack .ideal-tabs .ideal-tabs-tab:last-child{border-bottom:0;border-radius:0 0 3px 3px;}
.drop-arrow{content:"";position:absolute;right:10px;top:50%;margin-top:-1.9607843137254903px;border-style:solid;border-width:5.882352941176471px;}
.ideal-select,.ideal-select *{padding:0;margin:0;}
.ideal-select,.ideal-select-sub{list-style:none;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.ideal-select-title,.ideal-select-item{font-family:sans-serif;height:33px;line-height:33px;padding:0 .8em;display:block;cursor:pointer;}
.ideal-select{width:225px;font-size:85%;}
.ideal-select-title{background-color:#ffffff;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e8e8));background-image:-webkit-linear-gradient(#ffffff, #e6e8e8);background-image:-moz-linear-gradient(#ffffff, #e6e8e8);background-image:-o-linear-gradient(top, #ffffff, #e6e8e8);filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#e6e8e8', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#e6e8e8', GradientType=0))";-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.08),inset 0 1px 0 rgba(255, 255, 255, 0.5);-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.08),inset 0 1px 0 rgba(255, 255, 255, 0.5);box-shadow:0 1px 1px rgba(0, 0, 0, 0.08),inset 0 1px 0 rgba(255, 255, 255, 0.5);border:1px solid #b1b7b7;border-bottom-color:#969f9f;border-radius:3px;color:#4b5151;padding-right:3em;position:relative;}.ideal-select-title:after{content:"";position:absolute;right:10px;top:50%;margin-top:-1.9607843137254903px;border-style:solid;border-width:5.882352941176471px;border-color:#7c8686 transparent transparent transparent;}
.ideal-select-focus .ideal-select-title,.ideal-select-title:hover{border:1px solid #95b5cc;border-bottom-color:#739dbb;background-color:#ffffff;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dae5ed));background-image:-webkit-linear-gradient(#ffffff, #dae5ed);background-image:-moz-linear-gradient(#ffffff, #dae5ed);background-image:-o-linear-gradient(top, #ffffff, #dae5ed);filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#dae5ed', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dae5ed', GradientType=0))";color:#314f64;}.ideal-select-focus .ideal-select-title:after,.ideal-select-title:hover:after{content:"";position:absolute;right:10px;top:50%;margin-top:-1.9607843137254903px;border-style:solid;border-width:5.882352941176471px;border-color:#5284a9 transparent transparent transparent;}
.ideal-select-open .ideal-select-title{border-radius:3px 3px 0 0;}.ideal-select-open .ideal-select-title:after{content:"";position:absolute;right:10px;top:50%;margin-top:-1.9607843137254903px;border-style:solid;border-width:5.882352941176471px;border-color:transparent transparent #5284a9 transparent;margin-top:-8.823529411764707px;}
.ideal-select-sub{max-height:175px;height:175px \9;overflow-y:scroll;position:absolute;min-width:100%;z-index:999;color:#666666;border:1px solid #b3b3b3;border-top:0;border-radius:0 0 3px 3px;background-color:#ffffff;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));background-image:-webkit-linear-gradient(#ffffff, #ffffff);background-image:-moz-linear-gradient(#ffffff, #ffffff);background-image:-o-linear-gradient(top, #ffffff, #ffffff);filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#ffffff', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#ffffff', GradientType=0))";-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2),transparent 0 0 0;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2),transparent 0 0 0;box-shadow:0 1px 1px rgba(0, 0, 0, 0.2),transparent 0 0 0;}
.ideal-select-item{height:25px;text-overflow:ellipsis;overflow:hidden;line-height:25px;-moz-box-shadow:none,transparent 0 0 0;-webkit-box-shadow:none,transparent 0 0 0;box-shadow:none,transparent 0 0 0;}.ideal-select-item:last-child{border-radius:0 0 3px 3px;}
.ideal-select-item:hover,.ideal-select-item-selected{background-color:#1f4f73;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#1f4f73), to(#2a6b9b));background-image:-webkit-linear-gradient(#1f4f73, #2a6b9b);background-image:-moz-linear-gradient(#1f4f73, #2a6b9b);background-image:-o-linear-gradient(top, #1f4f73, #2a6b9b);filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#1f4f73', EndColorStr='#2a6b9b', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#1f4f73', EndColorStr='#2a6b9b', GradientType=0))";-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3),transparent 0 0 0;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3),transparent 0 0 0;box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3),transparent 0 0 0;color:#ffffff;}
.ideal-select-list{width:auto;}.ideal-select-list.ideal-select-focus .title:after .ideal-select-title:after,.ideal-select-list .ideal-select-title:hover{content:".";line-height:0;text-indent:-9999px;border:0;}
.ideal-select-list.ideal-select-open .ideal-select-title,.ideal-select-list .ideal-select-title{border-radius:3px 3px 0 0;}.ideal-select-list.ideal-select-open .ideal-select-title:after,.ideal-select-list .ideal-select-title:after{content:".";line-height:0;text-indent:-9999px;border:0;}
.ideal-select-list .ideal-select-sub{min-width:auto \9;width:100% \9;position:relative;}
.ideal-form.stack .ideal-select-list{width:100%;}
.ideal-radiocheck{min-width:225px;max-width:469px;position:relative;padding:1.6em 0;font-size:85%;color:#666666;border-radius:3px;border:1px solid #aaaaaa;background-color:#ffffff;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));background-image:-webkit-linear-gradient(#ffffff, #ffffff);background-image:-moz-linear-gradient(#ffffff, #ffffff);background-image:-o-linear-gradient(top, #ffffff, #ffffff);filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#ffffff', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#ffffff', GradientType=0))";}.ideal-radiocheck label,.ideal-radiocheck input{cursor:pointer;}
.ideal-radiocheck label{-webkit-transition:background .15s ease-in-out, color .15s ease-in-out, border .15s ease-in-out;-moz-transition:background .15s ease-in-out, color .15s ease-in-out, border .15s ease-in-out;-ms-transition:background .15s ease-in-out, color .15s ease-in-out, border .15s ease-in-out;-o-transition:background .15s ease-in-out, color .15s ease-in-out, border .15s ease-in-out;float:left;clear:both;margin:0 1em;padding:.4em .8em;padding-left:40px;border:1px solid transparent;border-radius:3px;}
.ideal-check,.ideal-radio{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;position:absolute;margin-left:-30px;background:url("/RCCP/images//radiocheck.png") left top no-repeat;width:20px;height:20px;}
.ideal-radio{background-position:left bottom;}
.ideal-check.checked{background-position:right top;}
.ideal-radio.checked{background-position:right bottom;}
.ideal-radiocheck label.focus{background:#ffffff;border:1px solid transparent;color:#333333;font-weight:bold;position:relative;}
.ideal-full-width .ideal-radiocheck{max-width:100%;width:100%;}
.ideal-form.stack .ideal-radiocheck{min-width:0;}
.ideal-button{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#ffffff;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e8e8));background-image:-webkit-linear-gradient(#ffffff, #e6e8e8);background-image:-moz-linear-gradient(#ffffff, #e6e8e8);background-image:-o-linear-gradient(top, #ffffff, #e6e8e8);filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#e6e8e8', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#e6e8e8', GradientType=0))";-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.08),inset 0 1px 0 rgba(255, 255, 255, 0.5);-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.08),inset 0 1px 0 rgba(255, 255, 255, 0.5);box-shadow:0 1px 1px rgba(0, 0, 0, 0.08),inset 0 1px 0 rgba(255, 255, 255, 0.5);border:1px solid #b1b7b7;border-bottom-color:#969f9f;border-radius:3px;color:#4b5151;font-size:85%;}.ideal-button:hover,.ideal-button:focus{border:1px solid #95b5cc;border-bottom-color:#739dbb;background-color:#ffffff;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dae5ed));background-image:-webkit-linear-gradient(#ffffff, #dae5ed);background-image:-moz-linear-gradient(#ffffff, #dae5ed);background-image:-o-linear-gradient(top, #ffffff, #dae5ed);filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#dae5ed', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dae5ed', GradientType=0))";color:#314f64;}
.ideal-button:active{background:#dae5ed;filter:0;-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2),inset 0 4px 2px rgba(0, 0, 0, 0.08);-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2),inset 0 4px 2px rgba(0, 0, 0, 0.08);box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2),inset 0 4px 2px rgba(0, 0, 0, 0.08);}
.ideal-file-wrap{width:225px;overflow:hidden;}
input.ideal-file-filename{padding-right:75px !important;height:33px;font-size:85% !important;}
button.ideal-file-upload{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#ffffff;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e8e8));background-image:-webkit-linear-gradient(#ffffff, #e6e8e8);background-image:-moz-linear-gradient(#ffffff, #e6e8e8);background-image:-o-linear-gradient(top, #ffffff, #e6e8e8);filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#e6e8e8', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#e6e8e8', GradientType=0))";-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.08),inset 0 1px 0 rgba(255, 255, 255, 0.5);-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.08),inset 0 1px 0 rgba(255, 255, 255, 0.5);box-shadow:0 1px 1px rgba(0, 0, 0, 0.08),inset 0 1px 0 rgba(255, 255, 255, 0.5);border:1px solid #b1b7b7;border-bottom-color:#969f9f;border-radius:3px;color:#4b5151;font-size:85%;position:absolute;right:0;margin:0;height:33px;border-radius:0 3px 3px 0;}button.ideal-file-upload:hover,button.ideal-file-upload:focus{border:1px solid #95b5cc;border-bottom-color:#739dbb;background-color:#ffffff;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dae5ed));background-image:-webkit-linear-gradient(#ffffff, #dae5ed);background-image:-moz-linear-gradient(#ffffff, #dae5ed);background-image:-o-linear-gradient(top, #ffffff, #dae5ed);filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#dae5ed', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dae5ed', GradientType=0))";color:#314f64;}
button.ideal-file-upload:active{background:#dae5ed;filter:0;-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2),inset 0 4px 2px rgba(0, 0, 0, 0.08);-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2),inset 0 4px 2px rgba(0, 0, 0, 0.08);box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2),inset 0 4px 2px rgba(0, 0, 0, 0.08);}
.ideal-form.stack .ideal-file-wrap{width:100%;}
.ui-datepicker,.ui-datepicker *{margin:0;padding:0;border:0;outline:0;text-decoration:none;font-size:100%;list-style:none;background:none;-moz-box-shadow:0,transparent 0 0 0;-webkit-box-shadow:0,transparent 0 0 0;box-shadow:0,transparent 0 0 0;}
.ui-datepicker{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;display:none;position:relative;z-index:2;margin-top:-1px;padding:.75em;border:1px solid #aaaaaa;min-width:14em;background:#ffffff;border-radius:0 0 3px 3px;font-size:85%;-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2),transparent 0 0 0;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2),transparent 0 0 0;box-shadow:0 1px 1px rgba(0, 0, 0, 0.2),transparent 0 0 0;}.ui-datepicker .ui-datepicker-header{position:relative;margin-bottom:.75em;}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{position:absolute;top:0;cursor:pointer;}
.ui-datepicker .ui-datepicker-next{right:0;}
.ui-datepicker .ui-datepicker-prev{left:0;}
.ui-datepicker .ui-datepicker-title{text-align:center;color:#222222;}
.ui-datepicker table{width:100%;}
.ui-datepicker th{font-weight:bold;border:0;padding-bottom:.1em;color:#222222;}
.ui-datepicker tr{text-align:right;}.ui-datepicker tr a{display:block;margin:.1em;padding:.1em .2em;border-radius:3px;}
.ui-datepicker tr a.ui-state-default{color:#999999;}
.ui-datepicker tr a.ui-state-hover,.ui-datepicker tr a.ui-state-active{color:#1a8fc9;font-weight:bold;}
.ui-datepicker .ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.ui-datepicker .ui-icon-circle-triangle-w,.ui-datepicker .ui-icon-circle-triangle-e{background:url("/RCCP/images//datepicker.png") no-repeat;width:16px;height:16px;}
.ui-datepicker .ui-icon-circle-triangle-e{background-position:right;}
input.hasDatepicker.open{border-radius:3px 3px 0 0;}
.ie9 .ideal-form{}.ie9 .ideal-form *{border-radius:0 !important;}
.ie9 .ideal-tabs .ideal-tabs-tab-counter{border-radius:10em !important;}
.ie8 .ideal-form{}.ie8 .ideal-form input[type="password"]{font-family:Arial;}
.ie8 .ideal-form .ideal-error{filter:0;}
.ie8 .ideal-form .ideal-tabs-tab{padding:0 1.5em;border-right:1px solid #aaaaaa;}.ie8 .ideal-form .ideal-tabs-tab:after,.ie8 .ideal-form .ideal-tabs-tab:before{border:0;}
.ie8 .ideal-form .ideal-tabs-tab-active{padding-right:3.5em;}
.ie8 .ideal-form .ideal-select-open .ideal-select-title:after{border-color:#5284a9 transparent transparent transparent;margin-top:-1.9607843137254903px;}
.ie8 .ideal-form.stack .ideal-tabs-tab{border-left:0;border-right:0;}

/* =============================================================================
   Luscious Lists
   ========================================================================== */

ul { list-style-type: none; margin: 0 0 8px 0;}
li {
    font-weight: 400;
    background: url('/RCCP/images//bullet_red.png') 0 7px no-repeat;
    padding: 0 0 8px 18px;
}
ol li { background: none; padding-left: 5px; }
ul.unstyled,ol.unstyled{ margin-left:0; list-style:none; overflow: hidden; }
ul.unstyled li { background:none; padding-left: 0; }
ul.unstyled li img { float: left; padding: 10px 10px 5px 0; }

/* =============================================================================
   Inspiring Image Styles (Default)
   ========================================================================== */

h1 + img, h2 + img, h3 + img, h4 + img, h5 + img, h6 + img { padding-top: 0.75em; }
.alignleft, .imgLeft { margin: 0.4em 1.25em 0.4em 0; display: inline; float: left; }
.alignright, .imgRight { margin: 0.4em 0 0.4em 1.25em; display: inline; float: right; }
.aligncenter, .imgCenter { margin: 0.4em auto; display: block; clear: both; }
.span7 ul li + img { background: none !important; }

/* =============================================================================
   'Content Box' Styles (Can option be added to text editor in Kentico?)
   ========================================================================== */

.content-box {
    padding: 5px 20px 5px 20px;
    border-color:rgb(213,213,213);
    background: #efefef; /* Fallback for you-know-who */
    border-width:1px;
    border-style:solid;
    max-width: 78%;
    height: auto;
    -moz-box-shadow:0px 5px 5px 0px rgba(0,0,0,0.26);
    -webkit-box-shadow:0px 5px 5px 0px rgba(0,0,0,0.26);
    box-shadow:0px 5px 5px 0px rgba(0,0,0,0.26);
    background-image:-moz-linear-gradient(50% 0% -90deg,rgb(229,229,229) 0%,rgb(204,204,204) 100%); 
    background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(229,229,229)),color-stop(1, rgb(204,204,204)));
    background-image:-webkit-linear-gradient(-90deg,rgb(229,229,229) 0%,rgb(204,204,204) 100%);
    background-image:-o-linear-gradient(-90deg,rgb(229,229,229) 0%,rgb(204,204,204) 100%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 15px; 
}
.content-box strong { text-transform: uppercase; }
.content-box li { padding-bottom: 5px; font-size: 0.9em; }
.content-box ul { display: block; padding-top: 5px; }
.content-box img { float: left; margin: 5px 10px 0 15px;}
.content-box h6 { text-transform: none; }

/* =============================================================================
   Hard Coded 'How to Access Services' Box
   ========================================================================== */

.span3 .content-box.access { padding-top: 10px; }
.span7 .content-box.access { max-width: 90%; height: 80px; }
.content-box.access h6 { margin-bottom: 0.2em; }
.phone { font-weight: 300; font-size: 1.4em; margin-top: -11px; }
.content-box img { margin-top: 12px; }

/* =============================================================================
   Basic Sidebar Widget Styles
   ========================================================================== */

.widget { font-size: 1em; font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.widget h1, .widget h2, .widget h3, .widget h4, .widget h5, .widget h6 {
    font-size: 1.1em;
    font-weight: 400;
    text-transform: none;
}
.widget h1 + a, .widget h2 + a, .widget h3 + a, .widget h4 + a, .widget h5 + a, .widget h6 + a { font-weight: 700; }
.widget a:last-child { font-weight: 400; font-size: 0.85em; display: block; margin-top: 0.4em; }
.widget { border-top: 1px solid #dfdfdf; padding-top: 10px; }
.span3 .widget:first-child { border-top: none; }

/* =============================================================================
   Lovable Links
   ========================================================================== */

a { cursor: pointer;}
p > a.readMore { margin-top: -10px; }
a { color: #c30017; text-decoration: none; font-weight: 400; }
a:hover { text-decoration: underline; }
a.readMore { font-size: 1em; margin: 0; padding-bottom: 1.5em; float: left; text-align: left; outline: 0;} /*width: 100%;*/

/* =============================================================================
   Bodacious Bread Crumbs
   ========================================================================== */

ul.breadcrumb { float: left; height: 35px; line-height: 12px; font-size: 12px; padding: 16px 0 0 10px; width: 100%; } 
ul.breadcrumb * { background: none; font-size: 0.9em; margin: 0; padding: 0; }
ul.breadcrumb a { font-size: 1em; }
.ie7 ul.breadcrumb * { padding-right: 15px; }

/* =============================================================================
   Beefy Blockquotes
   ========================================================================== */

blockquote{ padding:0; margin:0 0 20px; }
blockquote p{ margin-bottom:0.5em; font-size:0.9em; font-weight:300; line-height:1.5; max-width: 85%; font-style: italic; }
blockquote > p:before { float: left; content: '\201C \00A0'; font-size: 26px; color: #d80019; font-weight: 700; margin-top: -10px; font-family: sans-serif; }
blockquote > p:after  { content: '\201D'; font-size: 26px; color: #d80019; font-weight: 700; float: right; padding-left: 10px; margin-top: -8px; font-family: sans-serif }
.span3 blockquote > p:before { padding-bottom: 100%; }
.span7 blockquote p:before { padding-bottom: 50px; }
.span7 blockquote { margin-bottom: 0; }

/* =============================================================================
   Heroic Headers
   ========================================================================== */

header { padding: 0 10px 0 3px; }
header h1 { float: left; text-indent: -9999px; width: 1px; height: 1px; }
header dl { float: right; padding: 55px 5px 0 0; margin: 0;}
.ie7 header dl { padding-top: 50px; }
header dt { font-size: 1em; }
header dd { font-size: 1.5em; margin: 0;font-weight: 300; text-align: center; }
header a.banner { width: 287px;}

/* =============================================================================
   Marvelous Main Nav
   ========================================================================== */

nav.main { height: 24px; line-height: 24px; background: #c30017; margin: 0; padding: 0 0 0 10px; }
nav.main ul li { background: none; padding-bottom: 0; float: left; margin: 0 2px; list-style-type: none; }
nav.main ul li a { 
    line-height: 24px;
    vertical-align: middle;
    display: block; 
    font-weight: bold; 
    color: #fff; 
    padding: 0 4px;
    -webkit-transition: background 0.2s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: background 0.2s ease-out;  /* FF4+ */
    -ms-transition: background 0.2s ease-out;  /* IE10 */
    -o-transition: background 0.2s ease-out;  /* Opera 10.5+ */
    transition: background 0.2s ease-out;
    font-size: 1.2em;
}
nav.main ul li a:hover { background: #d9d9d9; color: #333; text-decoration: none; }
nav.main ul li a.active, nav.main ul li.HighLighted a { background: #d9d9d9; color: #333; }

/* =============================================================================
   Homepage Banner
   ========================================================================== */

.banner { margin: 0; position: relative; }
.banner .caption { position: absolute; right: 42px; top: 85px; width: 440px; }
.banner .caption h1,.banner .caption h2,.banner .caption h3,.banner .caption h4, .banner .caption p {  color: #fff; color: rgba(255,255,255,0.65); font-weight: 400; }
.banner .caption p { font-size: 1.4em; font-weight: 300; line-height: 1.4; margin-top: -8px; margin-bottom: 5px;}
.banner .caption h1{ font-size: 2.6em; }
a.banner { float: left;}

/* =============================================================================
   Homepage CTA's
   ========================================================================== */

.span4 img, ul.services img {
    max-width: 300px; padding-bottom: 0px;
    -webkit-box-shadow:0px 0px 0px #000000;
    -webkit-transition-duration: 0.5s;
    -moz-box-shadow:0px 0px 0px #000000;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    box-shadow:0px 0px 0px #000000;
    margin-bottom: 10px;
}
.span4 img:hover, ul.services img:hover
{
    -webkit-box-shadow:0px 0px 5px #666;
    -moz-box-shadow:0px 0px 5px #666;
    box-shadow:0px 0px 5px #666;
}
.span4 p { margin-bottom: 0.5em; }
.span4 h4 { padding: 0.4em 0 0.25em 0; }
.span4 a.readMore { padding-bottom: 0; }

/* =============================================================================
   Homepage Main Content
   ========================================================================== */

.span6 { padding-top: 20px; }
.row .span6:first-child { margin-left: 30px; }
.row .span6 ul { width: 97%; }
.span6 img {  max-width: 450px; padding-top: 10px; }
.ie7 .span6 { padding-top: 30px; }
.ie7 .span6 img { padding-top: 5px; }

/* =============================================================================
   Subpage Main Content
   ========================================================================== */

.span7 { border-top: 1px solid #dfdfdf; padding: 8px 0; }
.span7 img { max-width: 530px; margin-bottom: 10px; }
.ie7 .span7 { padding-top: 30px; }
.ie7 .span7 img { padding-top: 5px; }

/* =============================================================================
   Google Map
   ========================================================================== */

#map_canvas { width: 200px; height: 200px; border: solid 1px #dfdfdf; margin-top: 20px; }
.map_canvas { width: 200px; height: 200px; border: solid 1px #dfdfdf; margin-top: 20px; }

/* =============================================================================
   Scintillating Sidebar Nav
   ========================================================================== */
nav.sidebar ul li { background: none; margin: 0; padding: 0; line-height: 1.5; }
nav.sidebar ul li a { font-weight: 400; font-size: 1em; line-height: 1.1; display: inline-block; padding-bottom: 10px; }
nav.sidebar ul li.HighLighted a { font-weight: bold; }
.span2 { padding-top: 1px; }

/* =============================================================================
   Job Listing Page
   ========================================================================== */

dl.posting dt { float: left; font-weight: 700; line-height: 16px; width: 18%;}
dl.posting dd { line-height: 16px; width: 82%; }
a.to-careers { display: block; font-size: 12px; }
.careers-list h6 { float: left; margin-right: 50px; }
.careers-list table { margin-top: 20px;}

/* =============================================================================
   News Page
   ========================================================================== */

p.posted { font-size: 0.85em; color: #555; }
h4 + p.posted { margin-top: -0.75em; }


/* =============================================================================
   Services Landing Page
   ========================================================================== */

ul.services img, ul.services li { float: left; padding-top: 0; }
ul.services p {padding-top: 0;}
ul.services li { float: left; width: 260px; margin: 15px 15px 0 0; padding: 0; background: none; border-top: 1px solid #ccc; }
ul.services li:nth-child(even) { margin-right: 0; }
ul.services li p, ul.services li a { margin-bottom: 1em; }
ul.services a.readMore { margin-bottom: 0; }
ul.services span.title-container { height: 72px; display: block; position: relative; }
ul.services h4 { position: absolute; left: 0; bottom: 3px; }
ul.services span.title-container h4:hover { text-decoration: underline; }

/* =============================================================================
   FAQ Page
   ========================================================================== */

a.top { margin: 1em 0 2.8em 0; text-align: right; display: block; }


/* =============================================================================
   Fab Footer
   ========================================================================== */

footer {border-top: 1px solid #c4c4c4; padding-top: 5px; margin: 150px 10px 35px 10px; *zoom:1; }
footer ul { padding: 0; margin: 0; }
footer ul li { background: none; margin: 0; padding: 0; float: left; }
footer ul li:after { content: " | "; }
footer ul li.last-child:after { content: ""; }
footer ul li a { padding: 0 10px; color: #666; }
footer .copyright { float: left; width: 960px; background-color: #d9d9d9; color: #000; margin: 30px 0 20px -10px; padding: 0; 
                    background-image:-moz-linear-gradient(50% 0% -90deg,rgb(178,178,178) 0%,rgb(151,151,151) 100%); 
                    background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(178,178,178)),color-stop(1, rgb(151,151,151)));
                    background-image:-webkit-linear-gradient(-90deg,rgb(178,178,178) 0%,rgb(151,151,151) 100%);
                    background-image:-o-linear-gradient(-90deg,rgb(178,178,178) 0%,rgb(151,151,151) 100%);
                    background-image:-ms-linear-gradient(-90deg,rgb(178,178,178) 0%,rgb(151,151,151) 100%);
                    background-image:linear-gradient(-90deg,rgb(178,178,178) 0%,rgb(151,151,151) 100%);
                    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffb2b2b2,endColorstr=#ff979797,GradientType=0)";
                    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffb2b2b2,endColorstr=#ff979797,GradientType=0);
}
footer .copyright p { font-size: 0.85em; font-weight: 700; float: right; margin: 0; padding: 2px 20px; }

/* Left Nav */
footer nav.left { float: left; margin-left: -10px; }

/* Right Nav */
footer nav.right { float: right; margin-right: -10px; }

/* =============================================================================
   Primo Print styles
   ========================================================================== */

@media print {
    body { width: 100% !important; margin:0 !important; padding:0 !important; line-height: 1.4; word-spacing: 1.1pt; letter-spacing: 0.2pt; font-family: Garamond,"Times New Roman", serif; color: #000; background: none; font-size: 12pt; box-shadow:none; }
    h1,h2,h3,h4,h5,h6 { font-family: Helvetica, Arial, sans-serif; }
    h1{ font-size: 19pt; }
    h2{ font-size: 17pt; }
    h3{ font-size: 15pt; }
    h4,h5,h6{ font-size: 12pt; }
	
	p {
		font-size: 12pt;
	}
    code { font: 10px monospace;}
    blockquote { margin: 1.3em; padding: 1em; font-size: 10pt; }
    hr { background-color: #ccc; }
    img { float: left; margin: 1em 1.5em 1.5em 0; }
    a img { border: none; }
    a:link, a:visited { background: transparent; font-weight: 700; text-decoration: underline; color: #333; }
    a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }
    a[href^="http://"] { color: #000; }
    table { margin: 1px; text-align:left; }
    th { border-bottom: 1px solid #333;  font-weight: bold; }
    td { border-bottom: 1px solid #333; }
    th,td { padding: 4px 10px 4px 0; }
    tfoot { font-style: italic; }
    caption { background: #fff; margin-bottom: 2em; text-align: left; }
    thead { display: table-header-group; }
    tr { page-break-inside: avoid; }
    #header, #footer, #navigation, #sidebar,nav.main, .span4, .span3, .span2, footer, button { display: none; }
	.span7{
		width:100%;
	}
	
}

.map
    {
        /*width: 200px;
        height: 200px;*/
        border: 1px solid #000;
        margin-top: 15px;
    }