<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Syndication_Documents_CMSRSSFeed" Codebehind="~/CMSWebParts/Syndication/Documents/CMSRSSFeed.ascx.cs" %>
<cms:CMSDocumentsDataSource ID="srcDocuments" runat="server" />
<cms:RSSFeed ID="rssFeed" runat="server" />
