@import '_settings.scss';

:local(.wrapper) {
  // flex-grow: 1;
  @media #{$small-only} {
    width: 100%;
  }

  @media #{$medium-only} {
    width: 50%;
  }

  margin-bottom: 30px;
  padding: 0 15px;
  width: 33.33%;
  display: flex;
}

:local(.container) {
  border: 1px solid #e0e0e0;
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

:local(.image) {
  max-width: 100% !important;
  margin: 0 !important;
}

:local(.information) {
  padding: 15px 5px;
}

:local(.title) {
  font-size: 19.2px;
  line-height: 26px;
  margin-bottom: 15px;
}

:local(.description) {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 15px;
}

:local(.sub-description) {
  font-size: 12px;
  font-style: italic;
  line-height: 17px;
  margin-bottom: 15px;
}

:local(.tags) {
  border-top: 1px solid #e0e0e0;
  padding: 20px 0;

  li{
    padding-right: 5px;
    &:after {
      content: "|";
      position: absolute;
      top: 0;
      right: 0;
    }
    &:last-of-type:after {
        content: "" !important;
    }
  }
}

:local(.tag-title) {
  font-size: 11px;
  font-weight: 600;
  line-height: 22px;
  display: inline-block;
  margin-right: 5px;
}

:local(.tag) {
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  white-space: pre-wrap;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }
}
