<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/General/AdminActions.ascx.cs"
    Inherits="CMSWebParts_General_AdminActions" %>
<asp:Literal runat="server" ID="ltlAdminActions" EnableViewState="false" />