<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/General/javascript.ascx.cs"
    Inherits="CMSWebParts_General_javascript" %>
<asp:Literal ID="ltlInlineScript" runat="server" EnableViewState="false" />