<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_General_usercontrol" Codebehind="~/CMSWebParts/General/usercontrol.ascx.cs" %>
<asp:Label ID="lblError" runat="server" EnableViewState="false" Visible="false" />