<%@ Page Title="Facebook Access Token" Language="C#" MasterPageFile="~/CMSMasterPages/UI/Dialogs/ModalDialogPage.master" AutoEventWireup="true" Inherits="CMSModules_SocialMarketing_Pages_FacebookPageAccessTokenDialog" Codebehind="FacebookPageAccessTokenDialog.aspx.cs" Theme="Default" %>