﻿<%@ Page Language="C#" AutoEventWireup="false" Codebehind="Insights.aspx.cs" Inherits="CMSModules_SocialMarketing_Pages_Insights" %>
<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title>Insights</title>
</head>
<frameset border="0" id="colsFrameset" runat="server">
    <frame name="analyticsTree" id="analyticsTree" runat="server" scrolling="no" frameborder="0" />
    <frame name="analyticsDefault" id="analyticsDefault" runat="server" />
</frameset>
</html>
