﻿<%@ Page Title="LinkedIn Access Token" Language="C#" MasterPageFile="~/CMSMasterPages/UI/Dialogs/ModalDialogPage.master"
    AutoEventWireup="true" Inherits="CMSModules_SocialMarketing_Pages_LinkedInCompanyAccessTokenDialog"
    Theme="Default" Codebehind="LinkedInCompanyAccessTokenDialog.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="plcContent" runat="server">
    
</asp:Content>
