﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSAdminControls_Silverlight_MultiFileUploader_MultiFileUploader"
    Codebehind="MultiFileUploader.ascx.cs" %>
<%@ Register TagPrefix="cms" Namespace="CMS.UIControls" Assembly="CMS.UIControls" %>
<cms:SilverlightApplication ID="slApplication" runat="server">
</cms:SilverlightApplication>
<asp:HiddenField ID="hdnUploaderOptions" runat="server" />
