@import "settings"; 
@import
      "foundation/components/block-grid",
      "foundation/components/visibility",
      "foundation/components/grid";

@import "core/definitions";

@import "base/reset";
@import "base/text";
@import "base/grid";

@import "core/generics";
@import "web";
 
body {
  font-size: 120%;
}

a {
  color: $DefaultTextColor;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: $DefaultTextColor !important;
}

// hidden elements
.social-media-links,
.language-toggle,
.form-input,
#navigation-bar,
#right-rail,
#sthoverbuttons,
.post-categories,
.post-tags,
.page-comments,
#page-footer{
  display: none;
}

#page-header {

  h5.main-logo {
    background: none;

    a {
      left: 0;
      text-decoration: none;
    }

    span {
      font-weight: bold;
    }

  }
}

#page-body {

  #main-content {
    width: 100%;
  }

}

.blog-post {
  &.detail {
    .post-body {
      img {
        display: inline !important;
        width: auto !important;
      }
    }
  }
}