.ie8{
  .site-header {
    min-height: 160px;
   }

  .donate-bar{
    a.secondary{
     // position:absolute;
    }
    .form{
      border:1px solid red;
    }
  }
  .hide-for-large-up{
    display: none;
  }
  .flexpanel{
    display: none !important;
  }
}

.no-svg{
  body{
    //min-width: 1140px;
  }
}