// Navigation Links Styles
@mixin navLinks($font-size) {
  font-family:"Open Sans", Arial, sans-serif;
  font-size:rem-calc($font-size);
  color:$heading-color;
  text-transform: uppercase;
  @include transition(color, 200ms);
}

// Navigation Links Hover State
@mixin navLinksHover(){
  text-decoration: none;
  color:$primary-color;
  @include transition(color, 200ms);
}

// Images as Links Hover State
@mixin imgLinksHover(){
  opacity: 1;
  @include transition(opacity, 200ms);
  -webkit-backface-visibility: hidden;
  &:hover {
    opacity: 0.6;
    @include transition(opacity, 200ms);
  }
}


// Background Gradient left or right, light or dark
@mixin backgroundGradient($position, $rgba){
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(right, rgba(255,0,0,0), rgba(255,255,255,0.8)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(255,0,0,0), rgba(255,255,255,0.8)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(255,0,0,0), rgba(255,255,255,0.8)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, rgba(255,0,0,0), rgba(255,255,255,0.8));
}


// Transitions (for all applicable browsers)
@mixin transition($property:all, $speed:300ms, $ease:ease-out) {
  transition: $property $speed $ease;
  -webkit-transition: $property $speed $ease;
  -moz-transition: $property $speed $ease;
  -ms-transition: $property $speed $ease;
  -o-tranition: $property $speed $ease;
}