@media only screen and (max-width: 59.438em) { //1024px
  .site-main.home{
    margin-top: -15px;
  }
  // Mobile Header
  .top-bar{
    border-bottom:1px solid $dark-border-color;
    .menu-btn{
      border-bottom: 1px solid $dark-border-color;
      a{
        color:$white;
        text-transform: uppercase;
        font-weight:bold;

      }
    }
    .menu-icon{
      background-color:$white;
      border-top:1px solid $border-color;
      border-left:1px solid $border-color;
    }
    .donate{
      background:$primary-color;
      border-top:1px solid $primary-color;
      a{
        color:$white;
        text-transform: uppercase;
        font-weight: bold;
      }

    }
  }

  // Mobile Footer
  .mobile-footer{
    p{
      font-size: rem-calc(14);
    }

    nav{
      ul {
        margin-left: 0;
        li{
          list-style: none;
          margin-left: 0;
          border-bottom:1px solid $white;
          background: $mobile-buttons;
          &:last-child{ background-color: $primary-color; }
          a{
            @include navLinks(14);
            color: $white;
            font-weight:bold;
            text-align:center;
            padding:0.75em 0;
            display: block;
          }
        }
      }
    }

    ul.social{
      width: 205px;
      margin:0 auto;
      li{
        margin-left: 1.5em;
        &:first-child{
          margin-left: 0;
        }
      }
    }

    .subscribe{
      padding-top:1rem;
    }

  }

  .panel{
    margin-bottom: 1em;
  }

  #feedbackify{ display:none;}
  .slick-dots-wrapper{display:none;}
}

@media #{$small-only} {
  .articles{
    article{
      img{
        margin-bottom: 20px !important;
      }
       div:last-child{
        padding-left: 0px;
       }
    }
  }
  
}

