
// Import Open Sans | Google Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

// Cabin | https://www.google.com/fonts#UsePlace:use/Collection:Cabin
@import url(http://fonts.googleapis.com/css?family=Cabin:400,500);

//Covered By Your Grace | https://www.google.com/fonts/specimen/Covered+By+Your+Grace
@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

body{
  font-size: rem-calc(14);
  font-family: $font-family-sans-serif;

}

h1, .h1{
  font-size:rem-calc(25);
  line-height:rem-calc(32);
  font-weight:600;
}

h2, .h2{
  font-size:rem-calc(18);
  line-height:rem-calc(30);
  font-weight:600;
  margin-bottom: 20px;
  margin-top: 0px;
}
h3, .h3{
  font-size:rem-calc(16);
  line-height:rem-calc(22);;
  font-weight:bold;
  color: $heading-color;
  //margin-bottom: 20px;
  margin-top: 0px;
}
h4, .h4{
  font-size:rem-calc(14);
  line-height:rem-calc(24);
  font-weight:600;
  color: $heading-color;
  margin-bottom: 20px;
  margin-top: 0px;
}

.panel h3{
  color: $primary-color;
  padding-top: 1em;
  margin-bottom: 0;
}

p{
  font-size: rem-calc(14);
}
a{
  text-decoration:none;
  &:hover{
    text-decoration: none;
  }
  p{
    color: $body-font-color;
  }
  h3{
    color:$primary-color;
  }
}