@import "settings";
//@import "foundation";


// Or selectively include components
 @import
 //  "foundation/components/accordion",
 //  "foundation/components/alert-boxes",
   "foundation/components/block-grid",
 //  "foundation/components/breadcrumbs",
 //  "foundation/components/button-groups",
   "foundation/components/buttons",
   "foundation/components/clearing",
 //  "foundation/components/dropdown",
 //  "foundation/components/dropdown-buttons",
 //  "foundation/components/flex-video",
   "foundation/components/forms",
   "foundation/components/visibility",
   "foundation/components/grid",
   "foundation/components/inline-lists",
 //  "foundation/components/joyride",
 //  "foundation/components/keystrokes",
   "foundation/components/labels",
 //  "foundation/components/magellan",
 //  "foundation/components/orbit",
   "foundation/components/pagination",
 //  "foundation/components/panels",
 //  "foundation/components/pricing-tables",
 //  "foundation/components/progress-bars",
 //  "foundation/components/reveal",
 //  "foundation/components/side-nav",
 //  "foundation/components/split-buttons",
 //  "foundation/components/sub-nav",
 //  "foundation/components/switches",
 //  "foundation/components/tables",
 //  "foundation/components/tabs",
 //  "foundation/components/thumbs",
 //  "foundation/components/tooltips",
   "foundation/components/top-bar",
 //  "foundation/components/type",
   "foundation/components/offcanvas";
   
@import "mixins";
@import "variables";
@import "typography";
@import "components/buttons";
@import "components/forms";
@import "components/sideNav";
@import "components/breadcrumbs";
@import "components/pagination";
@import "components/slickSlider";
@import "components/accordion";
@import "components/banner";
@import "components/gmaps";
@import "components/search"; 
@import "components/tables";
@import "components/promoBanner";
@import "components/shareTheLove";
@import "components/rightRailCTA";
@import "components/mobileNav";
@import "components/mainNav";
@import "mobile";
@import "ie8";

html{
 /* background: $footer-color;*/
}

p{
  font-size: rem-calc(14);
}
a{
  text-decoration:none;
  &:hover{
    text-decoration: underline;
    color: scale-color($primary-color, $lightness: -20%);
  }
  p{
    color: $body-font-color;
  }
  img{
    @include imgLinksHover(); // adds the fade transition to/from on hover.
  }
}

.caption{
  font-size: 13px;
  color: #ccc;
  display: inline-block;
  padding: 5px 0.9375em;
  display:block;
}

.error{
  background: none;
  color: $primary-color;
  font-style: normal;
  padding: 0;
  font-size: 14px;
}

// One off classes
.block{ display:block; }
.uppercase{ text-transform: uppercase;}
.bold{ font-weight:500;}
.border-top{
  border-top: 1px solid $key-line;
  padding-top: 16px;

}

.border-bottom{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $key-line;
}

.border-top-bottom{
  border-top: 1px solid $key-line;
  border-bottom: 1px solid $key-line;
}

// Intro text area styles

.intro-wrap{
  margin-bottom: 20px;
}

// Site Header
.site-header{
  height:185px;
  padding-top: 10px;
  position:relative;

  .logo{
    position:absolute;
    top:20px;
    a img:hover{
      opacity: 1;
    }
    @media only screen and (max-width: 65.313em) {
      top:0;
    }
  }

  .utility-nav {
    margin-top:5px;
    li{
      @include navLinks(12.5);
    }
    a{
      @include navLinks(12.5);
      &:hover{
        @include navLinksHover();
      }
    }
    nav{
      li{
        &:last-child{
          border-right: 2px solid $border-color;
          padding-right: 1em;
        }
      }
    }
    .inline-list{
      margin-left:0;
    }
    .social-icons{
      a{
        @include imgLinksHover();
      }
    }
  }
  .province-dd-wrap{
    ul{
      float:right;
      list-style: none;
      margin-top: 5px;
      li{
        &:last-child{
          border-right:none;
          padding-right:0;
        }
      }
    }
  }

  .social-icons li{
    margin-left: 0.5rem;
    max-width: 30px;
  }
  .search{
    margin-top: 10px;
    position: relative;
    input[type="text"]{
      width:200px;
      -webebkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      transition: all .5s ease;
      position: absolute;
      right: 40px;
      &:focus{
        width:350px;
      }
    }
    a{
      &.search-btn {
        @include imgLinksHover();
        display: block;
        right: 2px;
        top: 2px;
        width: 30px;
        position: absolute;
        img{
          display:inline-block;
          height:30px;
          width:30px;
        }
      }
    }
  }

  .drp-down{
    margin-top: 3px;
    padding-left: 15px;
    ul{
      li{
        list-style:none;
        &:last-child{
          border-right:none;
        }
      }
    }
  }
}

// Site Footer
.site-footer{
  .copyright{
    background: $footer-color;
    color: $white;
    padding: 18px 0;
  }

  p{
    margin-bottom: 0;
    position: relative;
    font-size: rem-calc(13);
    float: left;
  }
  ul{
    margin-bottom: 0;
  }
  a{
    color:inherit;
    font-size: rem-calc(13);
    &:hover{
      @include navLinksHover();
    }
  }

}

// Site Main
.site-main{
  padding-top:1rem;
}

// Mobile Footer
.mobile-footer{
  margin-top: 1.250em;
}

.twitter{
  background-color: $white;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding-top:1.250em; //20px
  padding-left: 10px;
  padding-right: 10px;
  p{
    &.time{
      display:none;
    }
    img{
      padding-right: 10px;
    }
  }
}


// Home Page
.home{
  .site-main{
    padding-top:0;
  }
  .twitter {
    background-color: $twitter-bg;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding-top: 1.250em; //20px
    p{
      &.time{
        display:block;
      }
      img {
        display: block;
        margin: 0 auto;
        padding-bottom: 10px;
      }
    }
  }
}

@media #{$medium-only} {
  .home .site-main{
    padding-top:1px;
  }
}
.donate-bar{
  background-color: $donate-bar-bg;
  .row{
    padding: 0.5rem 0;
  }
  p{
    padding: 0.2rem 0 0 0;
    margin-bottom:0;
    color:$white;
  }
  a{
    margin-bottom:0;
  }
  input{
    margin-bottom: 0;
    border-color: #ccc;
    &[type="text"]{
      width: 90px;
      height:30px;
      font-size: 0.8rem;
      float: left;
      margin: 0 20px 0 0;
      @include transition(width, 200ms);
      &:focus{
        width:110px;
      }
    }
    &[type="radio"] + label{
      margin-right:1.1rem;
      color:$white;
    }
  }

  .form{
    float:right;
  }
}

.slider{
  img{
    width:100%;
  }
}


.panel{
  padding:1px;
  border:1px solid $border-color;
  h3, p{
    padding-left:  1em;
    padding-right:  1em;
  }
  img{
    width: 100%;
  }

}

.subscribe{
  background: $border-color;
  padding:1.563em; // 15px
  img{
    width: 20%;
  }
  h2{
    font-size: rem-calc(25);
    color:$heading-color;
    font-weight: 400;
    width: 75%;
    margin-top:-0.313em; // 5px
    margin-left: 0.313em;
  }
  p{
    padding-left: 0;
  }
  hr{
    border-top:1px solid $primary-color;
  }
}
%cta-panel-base {
  @extend .panel;
}

.horizontal-panel {
  @extend %cta-panel-base;
}

// CTAs
section{
  &.ctas{
    padding: 2em 0;
  }
}

// Fully clickable CTAs
a.cta{
  display: block;
  @include transition(all);
  p span{
    color:$primary-color;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #000;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
  }
  i{
    font-size: 0.68em;
  }
  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    @include transition(box-shadow, 200ms);
    text-decoration:none;
    h3{
      text-decoration: underline;
      color: scale-color($primary-color, $lightness: -20%);
      &:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
    p{
      text-decoration:none;
      span{
        text-decoration: underline;
        color: scale-color($primary-color, $lightness: -20%);
      }
    }
    img{
      opacity: 1;
    }
  }
}

.cta{
  &.bg{
    background-color: $cta-with-bg;
  }
}
.panel{
  h3{
    font-size: rem-calc(16);
    font-weight:400;
    margin-left:0em;
    line-height: 1.5em;
    padding-bottom:0.5em;
  }
  img{
    padding:0;
  }
}

.home .panel h3{
  font-size:rem-calc(23);
  padding-left:0.5em;
}

// Listing pages
.listing{
  padding-bottom:1em;

  p{
    margin-bottom: 0;
    a {
      margin-top:10px;
    }
  }
  a{
    margin-bottom: 0;
    display: inline-block;
  }
  &.no-borders{
    article{
      border:none !important;
      padding: 1.5em 0;
    }
    &:first-child article{
      padding-top:0;
    }
  }
   article{
    padding: 1em 0;
    border-top: 1px solid $key-line !important;
    a{
      width:100%;
    }
    &:first-child{
      border:none !important;
    }
    &:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden;}
      border:none;
    }
    &:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden;}

    .large-4{
      padding-left: 0px;
    }


  .desc{
    a *{ margin-bottom:0;}
    a:first-child{
      margin: -3px 0 10px 0; // Negative margin applied to horizontally align image & title due to line-height
    }
    &.large-12{
      padding-left: 0px;
    }
  }

  &:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden;}

  &:first-child{
    border: none;
  }



  @media #{$medium-up}{
    img{
      width:100%;
    }
  }
  @media #{$small-only} {
    .desc{
      padding-left: 0;
    }
    img{
      margin-bottom: 1em;
    }
  }
}

.grid{
  .row{
    padding-bottom: 20px;
  }
}

//Listing Modules
.news{
  margin-bottom: 20px;
  article{
    margin-bottom: 15px;
    *{
      margin-bottom: 0;
    }
  }
  a{
    i{
      font-size:0.68em;
    }

  }
}

// CTA Block

.intro-cta{
  padding: 25px 15px 25px 15px;
  margin-bottom: 20px; 

  p{
    font-weight: 600;
    font-size: rem-calc(18);
    margin-bottom: 30px;
  }

  &.light{
    background: white;

    p{
      color: $heading-color;
    }

  }
  &.dark{
    background: $heading-color;

    p{
      color: white;
    }
  }

  *{
    margin: 0px;
  }

}


// Main Content styles
main{
  a{
    font-weight: 600;
  }
  ul {
    list-style: none;
    padding:0 0 1em 1em;
    margin:0;
    li {
      font-size: rem-calc(14);
      padding-bottom:0.5em;
      list-style-image: url("../images/red-bullet.png") ;

    }
    &.no-bullet{
      padding-left:0;
      li{
        list-style-image: none;
      }
    }
  }
  input[type="text"], input[type="email"]{
    height: 40px;
    margin-bottom: 20px;
  }
}

/*
.rich-text {
  img{
    max-width: 50%;
    height: auto !important;
    margin: 10px;
    &.left{
      padding:1% 3% 3% 0;
    }
    &.right{
      padding:1% 0 3% 3%;
    }
  }
  p.text-center img{
    max-width:100%;
  }

  .imgLeft{
    max-width: 50%;

    img{
      max-width: 100%;
      height: auto !important;
      padding: 0 3% 3% 0;
      float: left;
    }
  }
  .imgRight{
    max-width: 50%;

    img{
      max-width: 100%;
      height: auto !important;
      padding:1% 0 3% 3%;
      float: right;
    }
  }
}


*/

// Lists | block grid
[class*="block-grid-"] > li {
  text-indent:0;
  &:before{
    content:'';
  }
}

// Lists | Programs & Services

.program-services{
  li {
    text-align: center;
    padding: 10px 2% 40px 2%;

    img{
      margin-bottom: 10px;
    }

    p,a {
      color: $primary-color;
      font-weight: 600;
      margin-bottom: 0;
    }
    &:hover a {
      text-decoration: underline;

      line, path, line{
        stroke:red;
      }
    }
  }
}

.course-details{
  .duration{
    font-style: italic;
  }
  .description{
    img{
      max-width:50%;
    }
  }
}

// nested links ie: targetting elements other than text in a link
.nested-links{
  a{
    p{
      color:$primary-color;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

ul.pdf-list{
  padding-left:0;
  li{
    background: url("../images/icon-pdf.png") no-repeat;
    padding-left:25px;
    list-style-image: none;
  }
}

.img-full img{ width:100%;}


.panel-wrap{
  background: $panel-bg;
  padding: 15px;
  margin-bottom: 20px;

  ul{
    padding: 0;

    li{
      list-style: none;
      &:last-child{
        margin-bottom:0px;
      }
    }
  }
  p:last-child{
    margin-bottom:0px;
  }
}

/* --- Add This --- */

#at4m-dock, #at4m-dock-toggle, .at4m-dock-toggle{
  display: none !important;
  visibility: hidden !important;
}

#sTrigger{
  position: fixed;
  bottom: 20px;
  z-index: 100;
  left: 0;
  cursor: pointer;
}

/* --- ROS Banner --- */

.ros-banner{
  text-align: center;
  bottom: 0;
  left: 0;
  padding: 3px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background:white;
}


@media #{$small-only} {
  .columns > .panel-wrap, .column > .panel-wrap{
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }
}

//Kentico styles
.live-site .cmsdesk-widget-title {
  display: none !important;
}
