﻿<%@ Control Language="C#" AutoEventWireup="false" Codebehind="AvailableUrlShortenerSelector.ascx.cs" Inherits="CMSModules_SocialMarketing_FormControls_AvailableUrlShortenerSelector" %>
<cms:CMSDropDownList ID="UrlShortenerDropDownList" runat="server" EnableViewState="false" CssClass="DropDownField" />
