<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_WebServices_RepeaterForWebService" Codebehind="~/CMSWebParts/WebServices/RepeaterForWebService.ascx.cs" %>

<cms:BasicRepeater ID="basicRepeater" runat="server" />
<cms:WebServiceDataSource ID="wsDataSource" runat="server" />