<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Text_editabletext" Codebehind="~/CMSWebParts/Text/editabletext.ascx.cs" %>
<%@ Register src="~/CMSModules/PortalEngine/Controls/Editable/EditableText.ascx" tagname="EditableText" tagprefix="cms" %>
<cms:EditableText ID="ucEditableText" runat="server" />



