﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/Text/Link.ascx.cs"
    Inherits="CMSWebParts_Text_Link" %>
<%@ Register Src="~/CMSAdminControls/UI/UniControls/UniButton.ascx" TagName="UniButton"
    TagPrefix="cms" %>
<cms:UniButton ID="btnElem" runat="server" />
