<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSPages_Dialogs_CaptchaImage" Codebehind="CaptchaImage.aspx.cs" %>

<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title>Untitled Page</title>
</head>
<body>
    <form id="JpegImage" method="post" runat="server">
    </form>
</body>
</html>
