:local(.container) {
  position: relative;
}

:local(.context) {
  position: relative;
  min-height: 66px;
  overflow: hidden;
}

:local(.button) {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
}