<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_SharePoint_SharePointDataSource_files_SharePointDatasource" Codebehind="~/CMSWebParts/SharePoint/SharePointDatasource_files/SharePointDatasource.ascx.cs" %>
<asp:Literal ID="ltlRawXml" runat="server" EnableViewState="false" Visible="false" />