<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Viewers_Query_querydatalist" Codebehind="~/CMSWebParts/Viewers/Query/querydatalist.ascx.cs" %>
<cms:QueryDataList ID="lstItems" runat="server" />
