<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Viewers_Query_QueryRepeaterWithEffect"
    Codebehind="~/CMSWebParts/Viewers/Query/QueryRepeaterWithEffect.ascx.cs" %>
<cms:QueryRepeaterWithEffect id="repItems" runat="server" />
