<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Viewers_Query_querydatagrid" Codebehind="~/CMSWebParts/Viewers/Query/querydatagrid.ascx.cs" %>
    
<cms:QueryDataGrid ID="gridItems" runat="server" DataBindByDefault="false" />