﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="Version.ascx.cs" Inherits="CMSInstall_Controls_LayoutPanels_Version" %>
<asp:Panel ID="pnlVersion" runat="server" CssClass="install-info-footer" EnableViewState="False">
    <div class="cms-support">
        <asp:Label ID="lblSupport" runat="server" />
    </div>
    <div class="cms-version">
        <asp:Label ID="lblVersion" runat="server" />
    </div>
    <div class="ClearBoth">
    </div>
</asp:Panel>
