﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="Warning.ascx.cs" Inherits="CMSInstall_Controls_LayoutPanels_Warning" %>
<asp:PlaceHolder ID="plcWarning" runat="server" EnableViewState="False" >
    <div class="install-panel-info">
        <div style="text-align: left;">
            <asp:Label ID="lblWarning" runat="server" CssClass="ErrorLabel hidden" />
        </div>
    </div>
</asp:PlaceHolder>
