@import '_settings.scss';

:local(.image-container) {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/crc/images/video-play.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

:local(.video-length) {
  display: inline-block;
  background-color: #383838;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  padding: 3px 10px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}