﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.Controls.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.Controls" Assembly="CMS.Controls" %><div class="course-details">
	<%# (ValidationHelper.GetString(Eval("Duration"),"") != "")? "<div class=\"duration\">" + ResHelper.GetString("CRC.Duration")+": "+Eval("Duration") + "</div>" : "" %>
	<div class="description">
		<%# Eval("FullDescription") %>
	</div>
</div>