<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSAdminControls_UI_DocumentFlags" Codebehind="DocumentFlags.ascx.cs" %>
<asp:Literal ID="ltlFlags" runat="server" EnableViewState="false" />