:local(.form-group) {
  display: inline;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;

  label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    span {
      color: #ee0000;
    }
  }

  input[type="text"],
  input[type="email"] {
    margin-bottom: 10px;
    &::-webkit-contacts-auto-fill-button {
      visibility: hidden;
      display: none !important;
      pointer-events: none;
      position: absolute;
      right: 0;
    }
  }
  span.error {
    font-size: 13px;
  }
}

:local(.form-input) {
  display: inline-block;
}