// Transitions (for all applicable browsers)
@mixin transition($property:all, $speed:300ms, $ease:ease-out) {
  transition: $property $speed $ease;
  -webkit-transition: $property $speed $ease;
  -moz-transition: $property $speed $ease;
  -ms-transition: $property $speed $ease;
  -o-tranition: $property $speed $ease;
}

// Vertical align itemss
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Navigation Links Hover State
@mixin navLinksHover() {
  text-decoration: none;
  color: $primary-color;
  @include transition(color, 200ms);
}

// Navigation Links Styles
@mixin navLinks($font-size) {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: rem-calc($font-size);
  color: $heading-color;
  text-transform: uppercase;
  @include transition(color, 200ms);
}

// Images as Links Hover State
@mixin imgLinksHover() {
  opacity: 1;
  @include transition(opacity, 200ms);
  -webkit-backface-visibility: hidden;
  &:hover {
    opacity: 0.6;
    @include transition(opacity, 200ms);
  }
}



@mixin border-radius($top, $right, $bottom, $left) {
  border-radius: $top $right $bottom $left;
  -moz-border-radius: $top $right $bottom $left;
  -webkit-border-radius: $top $right $bottom $left;
}

@mixin transform($transforms) {

  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;

}