$home-slider: #eff0ed; // light grey
$home-slider-headings: #757678; // dark grey
$home-slider-active-btn: #b7b5b5; //light grey
$grey-btn: #a1a1a1; //medium grey

$heading-color: #383838; // dark grey

$medium: 40.063em;
$large: 59.438em;

$row-width: rem-calc(1170);

$border-color: #e0e0e0; // light grey

$footer-color: #3d3e3f; // dark grey

$body-font-color: #494242;
$crc-red: #ee0000;

$mobile-menu-bg: #ecedea;
$learn-more-bg: #f0f1ee;
$form-inputs: #b0b0b0;