@import "variables";

*, *:before, *:after {
  box-sizing: border-box;
}

// ---------------------- //

.grid-container {

  $grid-width: 1200px;
  $col-width: 8.33%;

  width: $grid-width;
  margin: 0 auto;

  overflow: hidden;

  .grid-row {
    width: 100%;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  [class*='grid-col-'] {
    float: left;
    padding: 0 20px;
  }

  @for $i from 1 through 12 {

    .grid-col-#{$i} {
      width: $col-width * $i;
    }

  }

}

// ---------------------- //

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-size: 87.5%;
}

body {
  font-size: 1em;
  line-height: 1.4;
  font-family: "Open Sans", Arial, sans-serif;
  color: $body-font-color;
}

.fallback .page-header a img{
	border: none;
  }

.page-container {
  min-width: 100%;
}

.page-header, .page-footer {
  padding: 10px 0;
}

.page-header {
  .logo {
    max-width: 220px;
    position: relative;
    left: 20px;
    top: 20px;
    height: 65px;
  }
}

.donate-btn {

  float: right;
  position: relative;
  margin-top: 50px;
  padding-bottom: 10px;

  a {

    display: inline-block;
    background: $crc-red;
    color: white;

    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 22px;
    border-radius: 4px;
  }

}

.page-footer {
  color: #fff;
  background: $body-font-color;
}

.timeline-item {

  position: relative;
  overflow: hidden;
  min-height: 520px;
  height:auto !important;
  height: 520px;

  .item-bg-img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .item-details {

    position: relative;
    width: 420px;
    margin: 0 0 80px;

    &.even {
      float: left;
      left: 42px;
    }

    &.odd {
      float: right;
      right: 42px;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      opacity: 0.80;
      z-index: 0;
    }

    h2 {
      font-family: "Libre Baskerville", serif;
      font-size: 1.8em;
      text-align: center;
      margin: 12px 0 32px;
    }

    a {
      display: block;
      color: $crc-red;
      text-transform: uppercase;
      font-size: 0.85em;
      font-weight: bold;
      text-decoration: none;
      margin: 0 0 9px;
    }

    p {
      font-size: 1em;
      margin: 6px 0 12px;
    }
  }

  .item-details-content {
    position: relative;
    z-index: 1;
    padding: 24px 32px;
  }
 }