@charset 'utf-8';
@import 'settings';
@import 'foundation/foundation.scss';
//@import 'motion-ui';
$global-flexbox: true;
@include foundation-global-styles;
//@include foundation-grid;
@include foundation-flex-grid;
//@include foundation-typography;
//@include foundation-button;
//@include foundation-forms;
// @include foundation-range-input;
//@include foundation-accordion;
//@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
//@include foundation-button-group;
//@include foundation-callout;
//@include foundation-close-button;
@include foundation-menu;
//@include foundation-menu-icon;
//@include foundation-drilldown-menu;
//@include foundation-dropdown;
//@include foundation-dropdown-menu;
//@include foundation-flex-video;
//@include foundation-label;
//@include foundation-media-object;
//@include foundation-off-canvas;
//@include foundation-orbit;
//@include foundation-pagination;
//@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
//@include foundation-slider;
@include foundation-sticky;
//@include foundation-reveal;
//@include foundation-switch;
//@include foundation-table;
//@include foundation-tabs;
//@include foundation-thumbnail;
//@include foundation-title-bar;
@include foundation-tooltip;
//@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;
//@include motion-ui-transitions;
//@include motion-ui-animations;
@import "variables";
@import "mixins";
@import "components/slickSlider";
@import "components/typography";
@import "components/forms";
@import "components/lightbox";
@import "cmsdesk";
//@import "mobile";
body {
    color: $body-font-color;
    &.no-scroll {
        overflow: hidden;
        position: initial;
        @include breakpoint(medium down) {
            position: fixed;
        }
        @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
            position: fixed;
        }
    }
}

ul,
ol {
    li {
        margin-bottom: 10px;
    }
}

ul.inline-list {
    list-style: none;
    padding-left: 3px;
    margin-top: 5px;
    li {
        float: left;
        padding-left: 0.5rem;
        //&:before{
        //  content: '';
        //}
    }
}

.skip {
    opacity: 0;
    &:focus {
        opacity: 1;
    }
}

#close-filters::focus {
    opacity: 1;
    display: block;
    outline: 1px solid red;
}

a {
    text-decoration: underline;
    &:hover {
        color: $dark-red;
        text-decoration: underline;
    }
    &.uppercase {
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        color: $crc-red;
        font-size: rem-calc(11);
        letter-spacing: .5px;
        &:hover {
            text-decoration: underline;
        }
    }
    &.btn {
        text-decoration: none;
        color: $white;
        display: inline-block;
        &.sticky {
            margin-top: 5px;
            &.stick {
                transition: .5s;
                @include breakpoint(medium down) {
                    position: fixed;
                    top: 0;
                    z-index: 300;
                }
            }
            @include breakpoint(medium only) {
                width: 96%;
            }
            @include breakpoint(small only) {
                width: 94%;
            }
        }
    }
}

button,
.btn {
    text-transform: uppercase;
    text-align: center;
    padding: 14px 32px 14px 32px;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: rem-calc(12);
    display: inline-block;
    @include border-radius(5px, 5px, 5px, 5px);
    @include transition(background-color);
    &.small-btn {
        padding: 10px 15px;
        width: auto;
    }
}

.red-btn {
    background-color: $crc-red;
    color: $white;
    &:hover {
        background-color: darken($crc-red, 5%);
    }
    &.disabled {
        background-color: $medium-gray;
        opacity: .6;
    }
}

.grey-btn {
    background-color: $grey-btn;
    color: white;
    &:hover {
        background-color: darken($grey-btn, 5%);
    }
}

// Site Header
header {
    text-transform: uppercase;
    position: relative;
    height: 160px;
    @include breakpoint(medium down) {
        height: 105px;
    }
    a {
        text-decoration: none;
        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }
}

// language toggle
.has-tip {
    cursor: help;
    &:focus,
    &:hover {
        border-bottom: dotted 1px #6b0000;
        color: #e00;
    }
}

.utility-nav {
    span[data-tooltip] {
        opacity: .5;
    }
}

.logo {
    position: absolute;
    top: 55px;
    z-index: 11;
    margin-left: 5px;
    // width: 150px;
    a {
        display: block;
        position: relative;
        z-index: 1;
        width: 220px;
        body.FRCA & {
            width: 245px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    img:hover {
        opacity: 1;
    }
    @include breakpoint(medium down) {
        top: 25px;
        left: 15px;
        margin-left: 0;
        z-index: 0;
        a {
            width: 170px;
            body.FRCA & {
                width: 188px;
            }
        }
    }
}

.utility-nav {
    //margin-top: 5px;
    // margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
        &:hover {
            text-decoration: underline;
        }
    }
    nav {
        font-size: rem-calc(11);
    }
    .social-icons {
        a {
            padding: 12px 0;
            @include imgLinksHover();
        }
    }
}

.main-nav {
    font-family: $body-font-family;
    font-weight: bold;
    font-size: rem-calc(13);
    transform: translateX(0);
    letter-spacing: .5px;
    li {
        padding: 0 1rem;
        &:last-child {
            padding-right: 0;
        }
        a {
            padding: .2rem 0;
            border-bottom: 2px solid transparent;
            &:hover {
                border-bottom: 2px solid $crc-red;
            }
            &.active,
            &.CMSListMenuLinkHighlighted {
                border-bottom: 2px solid $crc-red;
                @include breakpoint(medium down) {
                    border-bottom: none;
                }
            }
        }
    }
}

//Mobile Menu
.menu-overlay {
    z-index: 10;
    top: 40px;
    position: relative;
    &:before {
        content: '';
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        z-index: 0;
        -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
        transition: opacity 0.5s, visibility 0s 0.5s;
    }
    @include breakpoint(medium down) {
        &.open {
            &:before {
                opacity: 1;
                visibility: visible;
                -webkit-transition: opacity 0.5s;
                transition: opacity 0.5s;
            }
            .main-nav {
                visibility: visible;
                li {
                    opacity: 1;
                    -webkit-transform: rotateX(0deg);
                    transform: rotateX(0deg);
                }
            }
        }
        .main-nav {
            background-color: rgba(236, 237, 234, 0.95);
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 95%;
            -webkit-perspective: 1200px;
            perspective: 1200px;
            text-align: center;
            padding: 50px 0;
            z-index: 10;
            visibility: hidden;
            li {
                opacity: 0.4;
                -webkit-transform: translateY(-85%) rotateX(70deg);
                transform: translateY(-85%) rotateX(70deg);
                -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
                transition: transform 0.5s, opacity 0.5s;
                &:after {
                    display: block;
                    height: 1px;
                    border-top: 1px solid $crc-red;
                    margin: 15px auto 10px;
                    width: 25px;
                    content: '';
                }
                &:last-child:after {
                    border-top: none;
                }
            }
            a {
                display: inherit;
                text-transform: capitalize;
                font-weight: bold;
                font-size: rem-calc(15);
                &.CMSListMenuLinkHighlighted {
                    border-bottom: 2px solid transparent;
                    color: $dark-red;
                }
                &:hover {
                    border-bottom: 2px solid transparent;
                }
            }
        }
    }
}

.menu-btn-open {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5px;
    border: 1px solid $light-gray;
    border-radius: 4px;
    padding: 10px 20px;
    top: 30px;
    right: 15px;
    position: absolute;
}

.menu-btn-close {
    background: url("/CRCTimeline/UI/img/icon-close.png") no-repeat;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 35px;
    height: 40px;
    z-index: 2;
    display: block;
    padding: 0;
}

.CMSListMenuUL {
    @extend .menu;
    @extend .align-right;
}

ul.menu {
    padding: 0;
}

.footer-subscribe {
    margin: -.625rem;
    margin-bottom: 25px;
    @include breakpoint (medium) {
        display: none;
    }
    .timeline-email-widget {
        color: #383838;
        background-color: #e0e0e0;
        padding: 0;
        max-width: 100%;

        .email-cta {
            padding-bottom: 50px;
            @include breakpoint(medium) {
                padding-bottom: 80px;
            }
        }
        h2 {
            text-align: center;
            @include breakpoint (medium) {
                display: inline-block;
                text-align: left;
                width: 50%;
                position: relative;
            }
        }

        p {
            font-size: 0.9375rem;
            @include breakpoint(medium) {
                display: inline-block;
                text-align: left;
                width: 50%;
                position: relative;
            }
        }

        #form.input {
            p {
                text-align: left;
            }
            @include breakpoint(medium) {
                display: inline-block;
                width: 50%;
                position: absolute;
                top: 20px;
                right: 0;
                padding: 0 30px;

                p {
                    width: 85%;
                }
            }
        }

        .thank-you {
            @include breakpoint(medium) {
                width: 50%;
                display: inline-block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                p {
                    text-align: center;
                    width: 100%
                }
            }
        }

        button {
            position: relative;
            bottom :0;
            left: 0;
            width: 100%;
        }

        .secondary-link {

        }
    }
}

// Site Footer
footer {
    background-color: $dark-gray;
    color: $white;
    margin-top: rem-calc(160);
    padding: rem-calc(10);
    p,
    a,
    span {
        font-size: rem-calc(11);
    }
    a {
        text-align: right;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            color: inherit;
        }
    }
    #menuElem li span {
        text-align: center;
        flex-flow: row nowrap;
        display: block;
        padding: 0.7rem 1rem;
        line-height: 1;
    }
    // mobile breakpoints for mobile footer element//
    @include breakpoint(medium down) {
        .menu {
            display: block;
            li {
                a {
                    display: block;
                }
            }
        }
        a,
        p {
            text-align: center;
        }
        ul {
            padding-left: 0;
        }
    }
}

// Site Main
.site-main {
    padding-top: 1rem;
}

main {
    position: relative;
    z-index: 0;
}

//Object Detail
figure {
    text-align: center;
}

.table {
    font-size: rem-calc(13);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5px;
    dt {
        color: $dark-red;
        width: 30%;
        clear: left;
        float: left;
        margin-bottom: 10px;
    }
    dd {
        color: $medium-gray;
        float: left;
        margin: 0;
        width: 70%;
        a {
            display: inline;
        }
    }
}

.item-details {
    a {
        border-bottom: 2px solid $light-gray;
        margin-right: 20px;
        line-height: 25px;
        text-decoration: none;
        &:hover {
            color: $dark-red;
            border-bottom: 2px solid $dark-red;
        }
    }
}

.details {
    margin-top: 40px;
    @include breakpoint(medium down) {
        margin-top: 0;
    }
    +.share {
        position: relative;
        bottom: inherit;
        left: 0;
        transform: translateX(0);
        opacity: 1;
        @include breakpoint(medium down) {
            display: block;
        }
        &.no-hover {
            display: block;
        }
        p {
            float: left;
            padding-right: 20px;
        }
        .addthis_toolbox {
            margin: inherit;
            width: auto;

          .addthis_button_link {
            position: relative;
            top: -1px;
            left: -5px;
          }
        }
        .social-icons {
            float: left;
        }
    }
}

a.back,
a.previous,
a.next,
a.arrow,
span.arrow {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: rem-calc(14);
    margin-bottom: 50px;
    margin-top: 10px;
    position: relative;
    text-decoration: none;
}

a.back,
a.previous {
    margin-left: 20px;
    &:before {
        content: url('/CRCTimeline/UI/img/icon-arrow-back.png');
        left: -20px;
        position: absolute;
        padding-top: 1px;
        @include transition(left,
        100ms);
    }
    &:hover {
        text-decoration: none;
        color: inherit;
        &:before {
            left: -25px;
            @include transition(left,
            100ms);
        }
    }
}

a.next,
a.arrow,
span.arrow {
    margin-right: 20px;
    text-decoration: none;
    color: inherit;
    &:after {
        content: url('/CRCTimeline/UI/img/icon-arrow-forward.png');
        position: absolute;
        right: -20px;
        padding-top: 1px;
        @include transition(right,
        100ms);
    }
    &:hover {
        &:after {
            right: -25px;
            @include transition(right,
            100ms);
        }
    }
}

//supporting assets
.supporting-assets {
    figure {
        margin: 43px 0;
    }
    .asset {
        margin-bottom: 30px;
        p {
            @extend figcaption;
        }
    }
}

.items-row {
    max-width: $global-width;
    width: 100%;
    margin: 0 auto;
    padding-top: 80px;
    position: relative;
}

.items {
    position: relative;
    &.no-hover {
        .item {
            &:hover {
                text-decoration: none;
                >.overlay {
                    display: none;
                }
                >.item-desc {
                    opacity: 1;
                }
            }
        }
    }
}

#timeline-container {
    position: relative;
    @include breakpoint(medium down) {
        margin: 0 10px;
    }
    .item {
        height: 515px;
        @include breakpoint(medium down) {
            height: auto;
            margin: 0 auto;
        }
    }
    .loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        border-bottom: solid 3px $crc-red;
        z-index: 50;
    }
    .app {
        position: relative;
        overflow: hidden;
        min-height: 800px;
    }
    .error {
        padding: 50px;
        p {
            color: $crc-red;
            text-align: center;
        }
    }
}

.item-container {
    @include breakpoint(large) {
        width: 30%;
    }
    @include breakpoint(medium only) {
        width: 45%;
        .item {
            width: 100%;
        }
    }
    @include breakpoint(small only) {
        width: 97%;
        .item {
            width: 100%;
        }
    }
    @include breakpoint(medium down) {
        min-height: 200px;
    }
    position: relative;
    height: 515px;
    float: left;
    margin: 0 1.5% 30px 1.5%;
    text-align: center;
    @include breakpoint(small only) {
        height: 450px;
    }
    &.related-items.no-hover {
        .item {
            &:hover {
                text-decoration: none;
                >.overlay {
                    display: none;
                }
                >.item-desc {
                    opacity: 1;
                }
            }
        }
    }
    &:hover {
        >.overlay {
            @include transition(opacity);
            opacity: 1;
        }
        >.item-desc {
            opacity: 0;
        }
        outline: none;
        color: inherit;
    }
}

.item {
    position: relative;
    width: 100%;
    float: left;
    margin: 0 1.5% 30px 1.5%;
    text-align: center;
    position: relative;
    text-decoration: none;
    &:hover,
    &.hover {
        >.overlay {
            @include transition(opacity);
            opacity: 1;
        }
        >.item-desc {
            opacity: 0;
        }
        outline: none;
        color: inherit;
        @include breakpoint(medium down) {
            text-decoration: none;
        }
        +.share {
            @include transition(opacity);
            opacity: 1;
            &.no-hover {
                opacity: 0;
            }
            @include breakpoint(medium down) {
                opacity: 0;
            }
        }
    }
    &.hover {
        +.share {
            transition: none;
        }
    }
    .overlay {
        @include transition(opacity);
        opacity: 0;
        position: absolute;
        top: 0;
        background-color: rgba(236, 237, 234, 0.9);
        padding: 20px 50px 20px 50px;
        text-align: left;
        height: 100%;
        width: 100%;
        .item-desc {
            padding: 0;
            text-align: center;
        }
        p {
            margin-bottom: 0;
        }
        .social-icons,
        .social-share {
            padding-left: 0;
            margin-top: 0;
            display: inline-block;
        }
        span {
            @extend a.uppercase;
        }
    }
    // Mobile breakpoints for .item
    @include breakpoint(medium down) {
        // when hovering over an item on mobile
        &:hover {
            >.overlay {
                display: none;
            }
            >.item-desc {
                opacity: 1;
            }
        }
    }
    @include breakpoint(medium only) {
        width: 45%;
    }
    @include breakpoint(small only) {
        width: 97%;
    }
}

.item-img {
    position: relative;
    display: block;
    min-height: 400px;
    img {
        transform: translate(-50%, -100%);
        top: 100%;
        position: absolute;
        left: 50%;
        max-height: 100%;
    }
    @include breakpoint(medium down) {
        min-height: 0;
        height: auto;
        img {
            position: inherit;
            top: 0;
            transform: translate(0, 0);
            left: 0;
        }
    }
}

.item-desc {
    padding: 0 20px;
    opacity: 1;
    h3 {
        margin-bottom: 10px;
    }
    p {
        font-weight: bold;
        font-size: rem-calc(12);
        margin-top: 0px;
        line-height: 1.3rem;
    }
}

.addthis_toolbox {
    margin: 0 auto;
    width: 95px;
}

.share {
    position: absolute;
    text-align: center;
    bottom: 63px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    @include breakpoint(medium down) {
        display: none;
    }
    &.no-hover {
        display: none;
    }
    .social-icons {
        padding: 0;
    }
    img {
        max-width: 25px;
    }
    p {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .5px;
        font-size: rem-calc(11);
        margin-bottom: 0;
    }
    li {
        &:first-child {
            padding-left: 0;
        }
    }
    a {
        position: relative;
        @include imgLinksHover();
    }
}

.social-icons {
    a {
        @include imgLinksHover();
    }
    .svg-wrapper {
        &.facebook {
            width: 25px;
            height: 25px;
        }
        &.twitter {
            width: 25px;
            height: 25px;
        }
    }
}

.divider {
    color: $crc-red;
    width: 20px;
    margin: 0 auto;
    margin-bottom: 7px;
    border-top: 1px solid;
    display: block;
}

.timeline {
    position: absolute;
    right: 60px;
    top: 70px;
    padding-top: 50px;
    h4 {
        @include transform(rotate(90deg));
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        font-size: rem-calc(10);
        color: $dark-gray;
        opacity: 0.6;
        width: 120px;
        margin-right: 7px;
    }
    ul {
        list-style: none;
        margin-top: 50px;
        margin-left: 15px;
        li {
            margin-bottom: 20px;
            height: 12px;
        }
        a {
            width: 12px;
            height: 12px;
            background: $light-gray;
            display: block;
            position: relative;
            @include border-radius(100%,
            100%,
            100%,
            100%);
            &:hover {
                border: 2px solid $crc-red;
                width: 12px;
                height: 12px;
                background: $white;
                >.tooltip-text {
                    visibility: visible;
                    top: -14px;
                    left: 26px;
                }
            }
            &.active {
                background: $crc-red;
                >.tooltip-text {
                    visibility: visible;
                }
            }
            &.disabled {
                border: 2px solid $light-gray;
                width: 12px;
                height: 12px;
                background: $white;
                cursor: not-allowed;
                >.tooltip-text {
                    display: none;
                }
            }
            .tooltip-text {
                visibility: hidden;
                width: 73px;
                background-color: $crc-red;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                top: -12px;
                left: 28px;
                font-size: rem-calc(12);
                font-weight: bold;
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 100%;
                    margin-top: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent $crc-red transparent transparent;
                }
            }
        }
    }
    // mobile breakpoints for .timeline //
    @include breakpoint(1400px down) {
        right: -45px;
        ul a {
            &.active {
                >.tooltip-text {
                    left: -100px;
                }
            }
            &:hover {
                >.tooltip-text {
                    left: -102px;
                }
            }
            .tooltip-text::after {
                border-color: transparent transparent transparent $crc-red;
                right: -13%;
            }
        }
    }
}

// Filters
.filters-container {
    position: relative;
    // Mobile breakpints for .filters-container//
    @include breakpoint(medium down) {
        .topics {
            opacity: 0.4;
            -webkit-transform: translateY(-85%) rotateX(70deg);
            transform: translateY(-85%) rotateX(70deg);
            -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
            transition: transform 0.5s, opacity 0.5s;
        }
        .menu-btn-close {
            display: none;
        }
        &.mobile-overlay {
            content: '';
            opacity: 1;
            visibility: visible;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 100%;
            z-index: 10;
            -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
            transition: opacity 0.5s, visibility 0s 0.5s;
            .menu-btn-close {
                display: block;
                position: fixed;
                top: 35px;
                right: 8%;
                z-index: 6;
                padding: 0;
            }
            .filters {
                opacity: 1;
                -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
                transform: translateY(0%);
                -webkit-transition: opacity 0.5s;
                // transition: opacity 0.5s;
                transition: none;
                height: auto;
                top: 25px !important;
                max-height: 94%;
                overflow: auto;
                -webkit-overflow-scrolling: touch;
                .filter-button {
                    display: none;
                }
            }
            .topics {
                opacity: 1;
                -webkit-transform: translateY(0%) rotateX(0deg);
                transform: translateY(0%) rotateX(0deg);
            }
        }
    }
}

#close-filters {
    opacity: 0;
    &:focus {
        opacity: 1;
    }
}

.display-none {
    display: none;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.filters {
    background-color: rgba(236, 237, 234, 0.95);
    border-bottom: 3px solid $crc-red;
    font-size: rem-calc(15);
    line-height: rem-calc(22);
    font-weight: bold;
    padding: 45px 0 25px 25px;
    width: 100%;
    position: absolute;
    z-index: 4;
    transform: translateY(0%);
    @include transition(transform);
    @include breakpoint(medium down) {
        button.red-btn {
            transition: none;
        }
    }
    .topics {
        width: 53%;
    }
    .objects {
        width: 41%;
        margin-left: 5%;
    }
    .topics,
    .objects {
        float: left;
        ul {
            padding-left: 0;
            //  -webkit-column-count: 2;
            //  -moz-column-count: 2;
            //  column-count: 2;
            float: left;
            height: auto;
            list-style: none;
            width: 100%;
            li {
                position: relative;
                margin-bottom: 18px;
                width: auto;
                transition: padding 50ms;
                float: left;
                width: 50%;
                padding-right: 15px;
                @include breakpoint(medium down) {
                    transition: none;
                    width: 100%;
                }
                &:nth-child(2n+1) {
                    clear: left;
                }
                &.selected {
                    color: $crc-red;
                    display: list-item;
                    padding-left: 16px;
                    &:before {
                        content: '';
                        display: block;
                        width: 12px;
                        height: 12px;
                        background: url('../../img/icon-checkmark.png') no-repeat center center;
                        position: absolute;
                        top: 5px;
                        left: 0;
                    }
                }
                &.disabled {
                    color: #a9a3a3;
                    span {
                        text-decoration: line-through;
                    }
                    button:hover {
                        color: #a9a3a3;
                        cursor: not-allowed;
                    }
                }
                button {
                    text-align: left;
                    padding: 1px 0;
                    line-height: 1.4;
                    @include breakpoint(medium down) {
                        transition: none;
                    }
                    &:hover {
                        color: $crc-red;
                        @include breakpoint(landscape) {
                            color: inherit;
                        }
                    }
                }
            }
        }
        p {
            color: $dark-red;
            text-transform: uppercase;
            font-size: rem-calc(13);
            font-weight: bold;
            letter-spacing: .5px;
        }
    }
    &.closed {
        transform: translateY(-100%);
        @include transition(transform);
        &.hovered {
            transform: translateY(-96.5%);
            @include transition(transform,
            200ms);
        }
        .filter-button {
            &:after {
                content: url('/CRCTimeline/UI/img/icon-arrow-down-white.png');
                padding-left: 7px;
            }
        }
    }
    // mobile breakpoints for .filters //
    @include breakpoint(medium down) {
        border-bottom: none;
        width: 90%;
        margin-left: 5%;
        .topics {
            padding-top: 30px;
        }
        .topics,
        .objects {
            float: left;
            width: 80%;
            margin-left: 15px;
        }
        &.closed {
            transition: none;
        }
    }
    @include breakpoint(small only) {
        .topics,
        .objects {
            ul {
                column-count: 1;
                li {
                    max-width: none;
                }
            }
        }
    }
}

.filter-button-container {
    position: relative;
}

.filter-button {
    position: absolute;
    bottom: 0;
    z-index: 1;
    transform: translateY(100%);
    @include breakpoint(1200px down) {
        left: 10px;
    }
    @include transition(top);
    &:after {
        content: url('/CRCTimeline/UI/img/icon-chevron-up.png');
        padding-left: 7px;
    }
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: 2px solid -webkit-focus-ring-color;
    }
    // Mobile breakpoints for .filter-button
    @include breakpoint(medium down) {
        width: 90%;
        bottom: -55px;
        left: 50%;
        transform: translateX(-50%);
        @include border-radius(5px,
        5px,
        5px,
        5px);
    }
}

.btns-container {
    &.top {
        position: absolute;
        top: 20px;
        left: 5%;
    }
    &.bottom {
        text-align: right;
        justify-content: flex-end;
        @include breakpoint(medium down) {
            justify-content: flex-start;
            padding-left: 15px;
        }
    }
}

.reset-btn {
    @extend a.uppercase;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    &.disabled {
        color: $medium-gray;
    }
}

hr {
    border-top: 1px solid $light-gray;
    border-bottom: none;
    &.spacer {
        margin: 100px 0;
        @include breakpoint(medium down) {
            margin: 0;
        }
    }
}

.content {
    margin-top: rem-calc(50);
    margin-bottom: rem-calc(90);
    ul {
        list-style: none;
        padding-left: 1.6rem;
        margin: 0;
        li {
            padding-left: 1em;
            text-indent: -.7em;
            &:before {
                content: '\2022';
                color: $dark-red;
                padding-right: 4px;
            }
        }
    }
    .social-icons {
        padding-top: 10px;
        li {
            &:before {
                content: ' ';
            }
        }
    }
}

.intro {
    margin-bottom: 100px;
    &.small-intro {
        margin-bottom: 40px;
    }
}

//CTAs
.panel {
    border: 1px solid $light-gray;
    position: relative;
    // padding-bottom: 30px;
    @include breakpoint(medium down) {
        margin-bottom: 30px;
    }
    .cta-content {
        position: relative;
        padding-bottom: 45px;
    }
    h2 {
        margin-top: 0;
    }
    .desc {
        padding: 30px;
        margin-bottom: 50px;
    }
    button,
    a.btn {
        position: absolute;
        bottom: 45px;
        left: 30px;
    }
}

.email-cta {
    background-color: rgba(236, 237, 234, 0.9);
    padding: 30px;
    input {
        width: 100%;
    }
    label p {
        width: 85%;
    }
    button.red-btn {
        padding-top: 17px;
        padding-bottom: 17px;
    }
    .secondary-link {
        @extend a.uppercase;
        // @include breakpoint(1120px){
        //   position: absolute;
        //   bottom: 45px;
        //   left: inherit;
        //   right: 30px;
        // }
        @include breakpoint(small) {
            position: absolute;
            bottom: 15px;
            left: 30px;
        }
    }
}

.grey-cta {
    background-color: rgba(236, 237, 234, 0.9);
    padding: 30px;
    a.btn {
        position: relative;
        bottom: 0;
        left: 0;
        margin: 15px 0 30px;
    }
    .secondary-link {
        position: relative;
        text-transform: none;
        font-weight: normal;
        text-decoration: underline;
        color: $crc-red;
        display: block;
        &:hover {
            text-decoration: none;
        }
    }
}

.tribute {
    margin-top: 40px;
}

// Get Involved
// Upcoming Events
.event {
    padding-bottom: 50px;
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: rem-calc(20);
    }
    a.more {
        @extend a.uppercase;
    }
    .date {
        font-size: rem-calc(11);
        font-family: $header-font-family;
    }
}

//Submit an item
.ugc-items-row {
    margin-top: -10px;
    padding-top: 0;
}

.ugc-items {
    .item-desc {
        height: auto;
        p {
            font-weight: normal;
            &.submitted-by {
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
    .item {
        &:hover>.item-desc {
            opacity: 1;
        }
        @include breakpoint(large) {
            width: 30%;
            float: left;
            height: 515px;
        }
    }
}

// Give in Tribute
.gifts {
    margin-top: 30px;
    @include breakpoint(small only) {
        margin-top: 0;
    }
    .columns {
        margin-bottom: 30px;
    }
}

.gift {
    text-align: center;
    border: 1px solid $light-gray;
    padding: 0 30px 30px 30px;
    h2 {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .tribute {
        margin-bottom: 0;
        font-family: "Libre Baskerville", serif;
    }
    .amount {
        margin-top: 10px;
        font-weight: bold;
        font-size: rem-calc(12);
    }
    .submitted-by {
        text-transform: uppercase;
        font-weight: bold;
        font-size: rem-calc(12);
    }
}

// Highlights
.highlight {
    position: relative;
    h2 {
        text-align: center;
        &:after {
            content: "";
            width: 20px;
            height: 1px;
            background-color: $dark-red;
            display: block;
            margin: 0 auto;
            margin-top: 20px;
        }
    }
    a {
        display: block;
        color: $crc-red;
        text-transform: uppercase;
        font-size: rem-calc(11);
        font-weight: bold;
        text-decoration: none;
    }
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .details {
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 2;
        margin: 50px 0;
        padding: 20px 50px 30px 50px;
    }
    @include breakpoint(medium down) {
        img {
            position: relative;
        }
        .details {
            margin: 20px 0;
            padding: 0px 50px 20px 50px;
        }
    }
}

.learn-more {
    text-align: center;
    background: $learn-more-bg;
    padding: 70px 0 110px 0;
    margin-bottom: -10rem;
}

.disruptive-email {
    width: 640px;
    background: #f0f1ee;
    position: fixed;
    bottom: 0;
    right: -670px;
    padding: 0 30px;
    min-height: 150px;
    z-index: 100000;
    @include transition(right);
    input[type="text"] {
        width: 420px;
        margin-bottom: 20px;
        height: 40px;
        &.error {
            margin-bottom: 0;
            &::-webkit-input-placeholder {
                /* Chrome */
                color: $crc-red;
            }
            &:-ms-input-placeholder {
                /* IE 10+ */
                color: $crc-red;
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                color: $crc-red;
                opacity: 1;
            }
            &:-moz-placeholder {
                /* Firefox 4 - 18 */
                color: $crc-red;
                opacity: 1;
            }
        }
    }
    button {
        padding: 14px 20px 15px 20px;
        height: 37px;
        margin-left: 10px;
    }
    label {
        p {
            width: 94%;
            font-size: rem-calc(14);
        }
        &.error {
            font-weight: bold;
            font-size: rem-calc(12);
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    &.show {
        bottom: 0;
        right: 0;
    }
    .close {
        background: url('/CRCTimeline/UI/img/icon-x.png') $crc-red 50% 50% no-repeat;
        border-radius: 100%;
        position: absolute;
        left: -30px;
        top: -20px;
    }
    .thank-you {
        min-height: 150px;
        p {
            font-size: rem-calc(26);
            text-align: center;
            &:before {
                content: "";
                background: url("/CRCTimeline/UI/img/icon-checkmark2.png") no-repeat 0 0;
                width: 17px;
                height: 18px;
                display: inline-block;
                padding-right: 30px;
            }
        }
    }
}

.clip-tooltip {
    display: none;
    position: absolute;
    padding: 5px 12px;
    font-size: 0.85rem;
    font-weight: bold;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    &:after {
        top: 100%;
        left: 50%;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-style: solid;
        border-width: 12px 12px 0 12px;
        border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
        transform: translateX(-50%);
    }
}

.filters-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 3;
}

.FRCA {
    .email-cta .secondary-link {
        bottom: 15px;
        left: 30px;
    }
    .main-nav {
        font-size: 0.8em;
        li {
            padding: 0 .5rem;
        }
    }
    @include breakpoint(small only) {
        .reset-btn {
            margin-top: 20px;
            margin-left: 0;
        }
        .btns-container.top {
            left: 13%;
            z-index: 1;
        }
        .filters .topics {
            padding-top: 45px;
        }
    }
}

.svg-wrapper {
    display: inline-block;
    width: 29px;
    height: 30px;
    svg {
        width: 100%;
        height: auto;
    }
}