<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_DataSources_DocumentsDataSource" Codebehind="~/CMSWebParts/DataSources/DocumentsDataSource.ascx.cs" %>
<cms:CMSDocumentsDataSource ID="srcDocuments" runat="server" />
