<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_DataSources_QueryDataSource" Codebehind="~/CMSWebParts/DataSources/QueryDataSource.ascx.cs" %>
<cms:CMSQueryDataSource ID="srcElem" runat="server" />
