<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_DataSources_XMLDataSource" Codebehind="~/CMSWebParts/DataSources/XMLDataSource.ascx.cs" %>
<cms:XMLDataSource ID="srcXml" runat="server" />