﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.Controls.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.Controls" Assembly="CMS.Controls" %><%@ Register TagPrefix="cc1" Namespace="CMS.GlobalHelper" Assembly="CMS.GlobalHelper" %>

<%# IfCompare(ImageHelper.IsImage((string)Eval("AttachmentExtension")), true,"<li><div style='text-align:center;'><div style='font-size: 11px;line-height: 12px;position:relative;z-index:1000;margin:auto;'><a target='_blank' href='" + GetAbsoluteUrl(GetAttachmentUrl(Eval("AttachmentName"), Eval("NodeAliasPath")), Eval<int>("AttachmentSiteID")) + "'><img style='border: none;' src='" + GetAttachmentIconUrl(Eval("AttachmentExtension"), null) + "' alt='" + Eval("AttachmentName") + "' /></a></div><p>" + ResHelper.GetString("attach.openfile") + "</p></div></li>",
"<li><img src='" + GetAbsoluteUrl(GetAttachmentUrl(Eval("AttachmentName"), Eval("NodeAliasPath")), Eval<int>("AttachmentSiteID")) + "?maxsidesize=150' class='cloudcarousel2d' alt='" + Eval("AttachmentTitle", true) + "' title='" + Eval("AttachmentDescription", true) + "' /></li>") %>