﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.Controls.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.Controls" Assembly="CMS.Controls" %><item>
     <guid isPermaLink="false"><%# Eval("NodeGUID") %></guid>
     <title><%# EvalCDATA("DocumentName") %></title>
     <description><%# EvalCDATA("NodeAliasPath") %></description>
     <pubDate><%# GetRSSDateTime(Eval("DocumentCreatedWhen")) %></pubDate>
     <link><![CDATA[<%# GetAbsoluteUrl(GetDocumentUrlForFeed(), Eval("SiteName")) %>]]></link>     	
</item>
