/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
  font-size: $baseFontSize;
  font-family: $baseFontFamily;
  line-height: $baseLineHeight;
}

pre,
code {
  font-family: "DejaVu Sans Mono", Menlo, Consolas, monospace;
}

hr {
  border: 0 solid #ccc;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
  font-size: 1.8em;
  color: $DefaultTextColor;
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
  color: $DefaultTextColor;
}

h3 {
  font-size: 1.15em;
  text-transform: uppercase;
}

h4 {
  font-size: 1.025em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.825em;
  text-transform: uppercase;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h5 {

  margin: 0 0 8px 0;
  line-height: 1.2;

  a {
    color: $baseColorRed01;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

p,
dl,
hr,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}

select {
  background-color: #fafafa;
  border-color: #cccccc;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  color: rgba(0, 0, 0, 0.75);
  font-family: "Open Sans",Arial,sans-serif;
  font-size: 14px;
  height: 2.3125rem;
  line-height: normal;
  padding: 0.5rem;
  margin: 0;
}
#mobile-categories{
   p{
      color: #666;
      margin: 0 0 10px;
      padding:0;
      font-weight: 600; 
   }
   padding-bottom: 25px;
}
.home #mobile-categories{
   padding-bottom: 5px;   
}

.normal {
  font-weight: normal;
}

p {
  margin: 0 0 16px;
}