<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_SmartSearch_SearchResults" Codebehind="~/CMSWebParts/SmartSearch/SearchResults.ascx.cs" %>
<%@ Register src="~/CMSModules/SmartSearch/Controls/SearchResults.ascx" tagname="SearchResults" tagprefix="cms" %>
<cms:SearchResults ID="srchResults" runat="server" />
