<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_BannerManagement_Controls_BannerEdit" Codebehind="BannerEdit.ascx.cs" %>
<cms:UIForm runat="server" ID="EditForm" ObjectType="cms.banner" Width="100%" DefaultFieldLayout="TwoColumns"  />
