<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_BannerManagement_Controls_CategoryEdit" Codebehind="CategoryEdit.ascx.cs" %>

<cms:UIForm runat="server" ID="EditForm" ObjectType="cms.bannercategory" />

