﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.Controls.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.Controls" Assembly="CMS.Controls" %><table>
  <tr>
    <td>Tab Text:</td>
    <td><%# Eval("Tab") %></td>
  </tr>
  <tr>
    <td>Playlist XML File:</td>
    <td><%# Eval("Playlist") %></td>
  </tr>
</table>
