<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSFormControls_Macros_MacroSyntaxHighlighter"
    Codebehind="MacroSyntaxHighlighter.ascx.cs" %>
<%@ Register Src="~/CMSAdminControls/UI/Macros/MacroEditor.ascx" TagName="MacroEditor"
    TagPrefix="cms" %>
<cms:MacroEditor runat="server" ID="txtMacro" />
