<div class="nav-group-inner">
    <% if (typeof root === "undefined"){ %>
    <div class="title">
        <a href="<%= url %>" class="nav-back nav-title"><%= title %></a>
    </div>
    <% } %>
    <ul>

        <% if( !hideLink ) {%>
        <li>
            <a href="<%= url %>" class="nav-child">Overview</a>
        </li>
        <% }%>

        <% _.each( children, function(child, index) { %>
        <li>
            <a href="<%= child.url %>" data-index="<%= index %>"
               class="nav-child <% if( !_.isEmpty(child.children)) { %> has-child <% } %>">
                <%= child.title %>
            </a>
        </li>
        <% }); %>
    </ul>

</div>

