<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Syndication_WebServiceRSSFeed" Codebehind="~/CMSWebParts/Syndication/WebServiceRSSFeed.ascx.cs" %>

<cms:WebServiceDataSource ID="srcWebService" runat="server" />
<cms:RSSFeed runat="server" ID="rssFeed" />
