<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_ImportExport_Controls_Global_Import_Documents" Codebehind="Import_Documents.ascx.cs" %>

<div class="radio-list-vertical">
    <cms:CMSRadioButton ID="radImportDoc" runat="server" GroupName="coupleDoc" Checked="True" />
    <cms:CMSRadioButton ID="radDoNotImportDoc" runat="server" GroupName="coupleDoc" />
</div>
