﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="OptionCategoryEdit.ascx.cs"
    Inherits="CMSModules_Ecommerce_Controls_UI_ProductOptions_OptionCategoryEdit" %>

<cms:UIForm runat="server" ID="editOptionCategory" ObjectType="ecommerce.optioncategory" RedirectUrlAfterCreate="" />
