﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SelectVariantCategory.ascx.cs" Inherits="CMSModules_Ecommerce_Controls_UI_ProductOptions_SelectVariantCategory" %>
<cms:CMSPanel ID="chboxPanel" runat="server" CssClass="form-horizontal" />
