﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SelectOptionCategoryType.ascx.cs" Inherits="CMSModules_Ecommerce_Controls_UI_ProductOptions_SelectOptionCategoryType" %>

<cms:CMSDropDownList ID="drpTypes" runat="server" />