﻿<%@ Page Language="C#" AutoEventWireup="true"
    Codebehind="Polls_Answer_Results.aspx.cs" Inherits="CMSModules_Polls_Tools_Polls_Answer_Results"
    MasterPageFile="~/CMSMasterPages/UI/Dialogs/ModalDialogPage.master" Title="Answer Results" Theme="default" EnableEventValidation="false" %>

<asp:Content ID="cntBody" runat="server" ContentPlaceHolderID="plcContent">
    <asp:PlaceHolder ID="plcBizForm" runat="server" />
</asp:Content>
