<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_SocialMedia_SocialBookmarking" Codebehind="~/CMSWebParts/SocialMedia/SocialBookmarking.ascx.cs" %>
<asp:Literal runat="server" ID="ltlIcons" EnableViewState="false" />
