<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_SocialMedia_YouTubeVideo" Codebehind="~/CMSWebParts/SocialMedia/YouTubeVideo.ascx.cs" %>
<asp:Literal ID="ltlPlaceholder" runat="Server" EnableViewState="false" />
<asp:Literal ID="ltlScript" runat="Server" EnableViewState="false" />